Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[ADD] web_time_range_menu_custom
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/__init__.py
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/i18n/web_time_range_menu_custom.pot
  web_time_range_menu_custom/readme/CONTRIBUTORS.rst
  web_time_range_menu_custom/readme/DESCRIPTION.rst
  web_time_range_menu_custom/static/description/icon.png
  web_time_range_menu_custom/static/description/index.html
  web_time_range_menu_custom/static/src/js/control_panel_controller.js
  web_time_range_menu_custom/static/src/js/control_panel_model.js
  web_time_range_menu_custom/static/src/js/control_panel_view_parameters.js
  web_time_range_menu_custom/static/src/js/domain.js
  web_time_range_menu_custom/static/src/js/search_facet.js
  web_time_range_menu_custom/static/src/js/time_range_menu.js
  web_time_range_menu_custom/static/src/xml/time_range_menu.xml
  web_time_range_menu_custom/templates/assets.xml
Due: prettier, eslint

[FIX] web_time_range_menu_custom: Mix custom and 'no custom' periods
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/static/src/js/control_panel_model.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_time_range_menu_custom/i18n/it.po
Due: none

[IMP] web_time_range_menu_custom: pre-commit auto fixes
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/pyproject.toml
  web_time_range_menu_custom/readme/CONTRIBUTORS.md
  web_time_range_menu_custom/readme/CONTRIBUTORS.rst
  web_time_range_menu_custom/readme/DESCRIPTION.md
  web_time_range_menu_custom/readme/DESCRIPTION.rst
  web_time_range_menu_custom/readme/USAGE.md
  web_time_range_menu_custom/readme/USAGE.rst
  web_time_range_menu_custom/static/description/index.html
Due: prettier

[MIG] web_time_range_menu_custom: Migration to 16.0
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/i18n/web_time_range_menu_custom.pot
  web_time_range_menu_custom/readme/USAGE.rst
  web_time_range_menu_custom/static/description/custom_period_option.png
  web_time_range_menu_custom/static/description/index.html
  web_time_range_menu_custom/static/src/js/comparison_menu.esm.js
  web_time_range_menu_custom/static/src/js/date_selector.esm.js
  web_time_range_menu_custom/static/src/js/dates.esm.js
  web_time_range_menu_custom/static/src/js/filter_menu.esm.js
Due: prettier, eslint

[MIG] web_time_range_menu_custom: Migration to 15.0
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/i18n/web_time_range_menu_custom.pot
  web_time_range_menu_custom/readme/CONTRIBUTORS.rst
  web_time_range_menu_custom/readme/DESCRIPTION.rst
  web_time_range_menu_custom/static/description/index.html
  web_time_range_menu_custom/static/src/js/control_panel_controller.js
  web_time_range_menu_custom/static/src/js/control_panel_model.js
  web_time_range_menu_custom/static/src/js/control_panel_view_parameters.js
  web_time_range_menu_custom/static/src/js/date_selector.esm.js
  web_time_range_menu_custom/static/src/js/dates.esm.js
  web_time_range_menu_custom/static/src/js/domain.js
  web_time_range_menu_custom/static/src/js/search_facet.js
  web_time_range_menu_custom/static/src/js/time_range_menu.js
  web_time_range_menu_custom/static/src/scss/web_time_range_menu_custom.scss
  web_time_range_menu_custom/static/src/xml/comparison_menu.xml
  web_time_range_menu_custom/static/src/xml/date_selector.xml
  web_time_range_menu_custom/static/src/xml/filter_menu.xml
  web_time_range_menu_custom/static/src/xml/time_range_menu.xml
  web_time_range_menu_custom/templates/assets.xml
Due: prettier, eslint

[MIG] web_time_range_menu_custom: Migration to 17.0
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/i18n/es.po
  web_time_range_menu_custom/i18n/web_time_range_menu_custom.pot
  web_time_range_menu_custom/static/description/index.html
  web_time_range_menu_custom/static/src/js/comparison_menu.esm.js
  web_time_range_menu_custom/static/src/js/dates.esm.js
  web_time_range_menu_custom/static/src/js/filter_menu.esm.js
  web_time_range_menu_custom/static/src/js/search_bar_menu.esm.js
  web_time_range_menu_custom/static/src/xml/comparison_menu.xml
  web_time_range_menu_custom/static/src/xml/date_selector.xml
  web_time_range_menu_custom/static/src/xml/filter_menu.xml
  web_time_range_menu_custom/static/src/xml/search_bar_menu.xml
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_time_range_menu_custom/i18n/es.po
Due: none

[IMP] web_time_range_menu_custom: Dates include today but other granularities not
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/static/description/index.html
  web_time_range_menu_custom/static/src/js/dates.esm.js
Due: prettier, eslint

[IMP] web_time_range_menu_custom: black, isort, prettier
  web_time_range_menu_custom/static/src/js/control_panel_controller.js
  web_time_range_menu_custom/static/src/js/control_panel_model.js
  web_time_range_menu_custom/static/src/js/control_panel_view_parameters.js
  web_time_range_menu_custom/static/src/js/domain.js
  web_time_range_menu_custom/static/src/js/search_facet.js
  web_time_range_menu_custom/static/src/js/time_range_menu.js
Due: prettier, eslint

[IMP] web_time_range_menu_custom: pre-commit auto fixes
  web_time_range_menu_custom/static/src/js/date_selector.esm.js
  web_time_range_menu_custom/static/src/js/dates.esm.js
  web_time_range_menu_custom/static/src/xml/date_selector.xml
Due: prettier, eslint

[MIG] web_time_range_menu_custom: Migration to 18.0
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/__manifest__.py
  web_time_range_menu_custom/static/description/index.html
  web_time_range_menu_custom/static/src/js/date_selector.esm.js
  web_time_range_menu_custom/static/src/js/dates.esm.js
  web_time_range_menu_custom/static/src/js/search_bar_menu.esm.js
  web_time_range_menu_custom/static/src/js/search_model.esm.js
Due: prettier, eslint

[UPD] Update web_time_range_menu_custom.pot
  web_time_range_menu_custom/i18n/web_time_range_menu_custom.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_time_range_menu_custom/README.rst
  web_time_range_menu_custom/static/description/index.html
Due: none

[FIX] web_pivot_computed_measure: Restore registry after tests
  web_pivot_computed_measure/tests/test_ui_pivot.py
Due: none

[FIX] Update copier to 1.38
  .copier-answers.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-mandatory
  README.md
Due: prettier

[BOT] post-merge updates
  README.md
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/description/index.html
Due: none

[ADD] web_toggle_chatter
  web_toggle_chatter/README.rst
  web_toggle_chatter/__init__.py
  web_toggle_chatter/__manifest__.py
  web_toggle_chatter/pyproject.toml
  web_toggle_chatter/readme/CONTRIBUTORS.md
  web_toggle_chatter/readme/DESCRIPTION.md
  web_toggle_chatter/static/description/icon.png
  web_toggle_chatter/static/description/index.html
  web_toggle_chatter/static/img/demo.gif
  web_toggle_chatter/static/src/js/web_toggle_chatter.esm.js
  web_toggle_chatter/static/src/scss/web_toggle_chatter.scss
  web_toggle_chatter/static/src/xml/web_toggle_chatter.xml
  web_toggle_chatter/static/tests/web_toggle_chatter.test.js
Due: prettier, eslint

[UPD] Update web_toggle_chatter.pot
  web_toggle_chatter/i18n/web_toggle_chatter.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_toggle_chatter/README.rst
  web_toggle_chatter/static/description/index.html
Due: none

[IMP] web_filter_header_button: put buttons in their own row
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/readme/ROADMAP.md
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/filter_button/filter_button.xml
Due: prettier

[IMP] web_filter_header_button: show groupBy filters
  web_filter_header_button/demo/ir_module_module_view.xml
  web_filter_header_button/static/src/control_panel/control_panel_model_extension.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.esm.js
Due: prettier, eslint

[FIX] web_filter_header_button: Exclude field-type filters to avoid errors referring self
  web_filter_header_button/static/src/search/search_model_patch.esm.js
Due: prettier, eslint

[UPD] Update web_filter_header_button.pot
  web_filter_header_button/i18n/web_filter_header_button.pot
Due: none

Added translation using Weblate (Italian)
  web_filter_header_button/i18n/it.po
Due: none

[FIX] web_filter_header_button: custom view compatibility
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.xml
Due: prettier

[BOT] post-merge updates
  web_filter_header_button/README.rst
  web_filter_header_button/static/description/index.html
Due: none

[IMP] web_filter_header_button: pre-commit auto fixes
  web_filter_header_button/pyproject.toml
  web_filter_header_button/static/src/filter_button/filter_button.xml
Due: prettier

[MIG] web_filter_header_button: Migration to 18.0
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/readme/USAGE.md
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.esm.js
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/control_panel/control_panel_model_extension.esm.js
  web_filter_header_button/static/src/control_panel/control_panel_patch.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.xml
  web_filter_header_button/static/src/search/search_arch_parser_patch.esm.js
  web_filter_header_button/static/src/search/search_model_patch.esm.js
Due: prettier, eslint

[ADD] web_filter_header_button: New module
  web_filter_header_button/README.rst
  web_filter_header_button/__init__.py
  web_filter_header_button/__manifest__.py
  web_filter_header_button/demo/ir_module_module_view.xml
  web_filter_header_button/i18n/web_filter_header_button.pot
  web_filter_header_button/readme/CONFIGURE.md
  web_filter_header_button/readme/CONTEXT.md
  web_filter_header_button/readme/CONTRIBUTORS.md
  web_filter_header_button/readme/DESCRIPTION.md
  web_filter_header_button/readme/ROADMAP.md
  web_filter_header_button/readme/USAGE.md
  web_filter_header_button/static/description/icon.png
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.esm.js
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/control_panel/control_panel_model_extension.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.xml
Due: prettier, eslint

Added translation using Weblate (Turkish)
  web_theme_classic/i18n/tr.po
Due: none

[ADD] web_chatter_position_toggle: add toggle button for chatter position
  web_chatter_position_toggle/README.rst
  web_chatter_position_toggle/__init__.py
  web_chatter_position_toggle/__manifest__.py
  web_chatter_position_toggle/pyproject.toml
  web_chatter_position_toggle/readme/CONTRIBUTORS.md
  web_chatter_position_toggle/readme/DESCRIPTION.md
  web_chatter_position_toggle/readme/USAGE.md
  web_chatter_position_toggle/static/description/icon.png
  web_chatter_position_toggle/static/description/index.html
  web_chatter_position_toggle/static/src/js/form_controller.esm.js
  web_chatter_position_toggle/static/src/scss/form_controller.scss
  web_chatter_position_toggle/static/src/xml/form_controller.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_toggle_chatter/i18n/it.po
Due: none

[IMP] web_timeline: Add multi group_by support
  web_timeline/static/src/views/timeline/timeline_arch_parser.esm.js
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[FIX] web_dark_mode: always use dark mode on new tabs
  web_dark_mode/models/ir_http.py
Due: none

Updated from template
  .copier-answers.yml
  .gitattributes
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-mandatory
  README.md
Due: prettier

[REM] web_timeline: Maintainer
  web_timeline/__manifest__.py
Due: none

[BOT] post-merge updates
  README.md
  web_timeline/README.rst
  web_timeline/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/static/description/index.html
Due: none

Added translation using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

