Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[BOT] post-merge updates
  web_session_auto_close/README.rst
  web_session_auto_close/__manifest__.py
  web_session_auto_close/static/description/index.html
Due: none

[FIX] web_session_auto_close: Increase default timeout
  web_session_auto_close/controllers/main.py
  web_session_auto_close/models/res_config_settings.py
  web_session_auto_close/static/src/js/session_auto_close.esm.js
Due: prettier, eslint

[UPD] Update web_session_auto_close.pot
  web_session_auto_close/i18n/web_session_auto_close.pot
Due: none

[BOT] post-merge updates
  web_session_auto_close/README.rst
  web_session_auto_close/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_session_auto_close/i18n/it.po
Due: none

[18.0][MIG] web_session_auto_close
  web_session_auto_close/README.rst
  web_session_auto_close/__init__.py
  web_session_auto_close/__manifest__.py
  web_session_auto_close/controllers/__init__.py
  web_session_auto_close/controllers/main.py
  web_session_auto_close/models/__init__.py
  web_session_auto_close/models/res_config_settings.py
  web_session_auto_close/pyproject.toml
  web_session_auto_close/readme/CONFIGURE.md
  web_session_auto_close/readme/CONTRIBUTORS.md
  web_session_auto_close/readme/CONTRIBUTORS.rst
  web_session_auto_close/readme/DESCRIPTION.md
  web_session_auto_close/readme/DESCRIPTION.rst
  web_session_auto_close/readme/HISTORY.rst
  web_session_auto_close/readme/USAGE.rst
  web_session_auto_close/static/description/index.html
  web_session_auto_close/static/src/js/bus_service.js
  web_session_auto_close/static/src/js/local_storage_mixin.js
  web_session_auto_close/static/src/js/session.js
  web_session_auto_close/static/src/js/session_auto_close.esm.js
  web_session_auto_close/static/src/js/web_client.js
  web_session_auto_close/views/assets_backend.xml
  web_session_auto_close/views/assets_common.xml
  web_session_auto_close/views/res_config_settings.xml
Due: prettier, eslint

[IMP] web_editor_class_selector: pre-commit stuff
  web_editor_class_selector/README.rst
  web_editor_class_selector/pyproject.toml
  web_editor_class_selector/readme/DESCRIPTION.md
  web_editor_class_selector/readme/DESCRIPTION.rst
  web_editor_class_selector/readme/ROADMAP.md
  web_editor_class_selector/readme/ROADMAP.rst
  web_editor_class_selector/readme/USAGE.md
  web_editor_class_selector/readme/USAGE.rst
  web_editor_class_selector/static/description/index.html
Due: prettier

Added translation using Weblate (Italian)
  web_editor_class_selector/i18n/it.po
Due: none

[ADD] web_editor_class_selector: new module to add custom CSS in HTML editor. This module allows users to create custom CSS classes, which can then be selected and applied directly in the HTML editor.
  web_editor_class_selector/README.rst
  web_editor_class_selector/__init__.py
  web_editor_class_selector/__manifest__.py
  web_editor_class_selector/demo/web_editor_class_demo.xml
  web_editor_class_selector/i18n/web_editor_class_selector.pot
  web_editor_class_selector/models/__init__.py
  web_editor_class_selector/models/web_editor_class.py
  web_editor_class_selector/readme/DESCRIPTION.rst
  web_editor_class_selector/readme/ROADMAP.rst
  web_editor_class_selector/readme/USAGE.rst
  web_editor_class_selector/security/ir.model.access.csv
  web_editor_class_selector/static/description/icon.png
  web_editor_class_selector/static/description/index.html
  web_editor_class_selector/static/src/js/backend/html_field.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/OdooEditor.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/commands.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/utils.esm.js
  web_editor_class_selector/static/src/js/wysiwyg/wysiwyg.esm.js
  web_editor_class_selector/static/src/scss/demo_styles.scss
  web_editor_class_selector/static/src/xml/web_editor.xml
  web_editor_class_selector/views/menus.xml
  web_editor_class_selector/views/web_editor_class_views.xml
Due: prettier, eslint

[FIX] web_editor_class_selector: Avoid errors when custom CSS class is not present
  web_editor_class_selector/README.rst
  web_editor_class_selector/__manifest__.py
  web_editor_class_selector/static/description/index.html
  web_editor_class_selector/static/src/js/odoo-editor/OdooEditor.esm.js
Due: prettier, eslint

Update translation files
  web_editor_class_selector/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_editor_class_selector/i18n/it.po
Due: none

[IMP] web_editor_class_selector: Order classes by sequence
  web_editor_class_selector/README.rst
  web_editor_class_selector/__manifest__.py
  web_editor_class_selector/i18n/web_editor_class_selector.pot
  web_editor_class_selector/models/web_editor_class.py
  web_editor_class_selector/static/description/index.html
  web_editor_class_selector/views/web_editor_class_views.xml
Due: prettier

[MIG] web_editor_class_selector: Migration to version 18.0
  web_editor_class_selector/README.rst
  web_editor_class_selector/__manifest__.py
  web_editor_class_selector/static/description/index.html
  web_editor_class_selector/static/src/js/css_selector/css_selector.esm.js
  web_editor_class_selector/static/src/js/css_selector/css_selector.xml
  web_editor_class_selector/static/src/js/css_selector/css_selector_plugin.esm.js
  web_editor_class_selector/static/src/js/fields/html_field.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/OdooEditor.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/commands.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/toolbar.esm.js
  web_editor_class_selector/static/src/js/utils/utils.esm.js
  web_editor_class_selector/static/src/js/wysiwyg/wysiwyg.esm.js
  web_editor_class_selector/static/src/xml/web_editor.xml
  web_editor_class_selector/views/web_editor_class_views.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_editor_class_selector/README.rst
  web_editor_class_selector/static/description/index.html
Due: none

[UPD] Update web_editor_class_selector.pot
  web_editor_class_selector/i18n/web_editor_class_selector.pot
Due: none

[MIG] web_editor_class_selector: Migration to 17.0
  web_editor_class_selector/README.rst
  web_editor_class_selector/__manifest__.py
  web_editor_class_selector/i18n/web_editor_class_selector.pot
  web_editor_class_selector/models/web_editor_class.py
  web_editor_class_selector/static/description/index.html
  web_editor_class_selector/static/src/js/backend/html_field.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/OdooEditor.esm.js
  web_editor_class_selector/static/src/js/odoo-editor/toolbar.esm.js
  web_editor_class_selector/static/src/js/wysiwyg/wysiwyg.esm.js
  web_editor_class_selector/static/src/xml/web_editor.xml
Due: prettier, eslint

[IMP] web_editor_class_selector: pre-commit auto fixes
  web_editor_class_selector/demo/web_editor_class_demo.xml
  web_editor_class_selector/static/src/xml/web_editor.xml
  web_editor_class_selector/views/menus.xml
  web_editor_class_selector/views/web_editor_class_views.xml
Due: prettier

Translated using Weblate (Italian)
  web_font_size_report_layout/i18n/it.po
Due: none

[FIX] web_responsive: remove invalid hotkey prop from DropdownItem
  web_responsive/static/src/views/form/status_bar_buttons.xml
Due: prettier

Added translation using Weblate (Chinese (Simplified))
  web_company_color/i18n/zh_CN.po
Due: none

Added translation using Weblate (Croatian)
  web_company_color/i18n/hr.po
Due: none

[ADD] icon.png
  web_company_color/i18n/web_company_color.pot
  web_company_color/static/description/icon.png
  web_company_color/static/description/index.html
Due: none

Added translation using Weblate (Dutch)
  web_company_color/i18n/nl.po
Due: none

[IMP] web_company_color: black, isort, prettier
  web_company_color/__manifest__.py
  web_company_color/hooks.py
  web_company_color/models/res_company.py
  web_company_color/tests/test_res_company.py
  web_company_color/utils.py
  web_company_color/view/assets.xml
  web_company_color/view/res_company.xml
Due: prettier

[FIX] web_company_color: changed scss sanitized values
  web_company_color/models/res_company.py
  web_company_color/tests/test_res_company.py
Due: none

Added translation using Weblate (German)
  web_company_color/i18n/de.po
Due: none

[FIX] web_company_color: Resilient tests
  web_company_color/__manifest__.py
  web_company_color/tests/test_res_company.py
Due: none

[MIG] web_company_color: Migration to 14.0
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/i18n/web_company_color.pot
  web_company_color/models/ir_qweb.py
  web_company_color/readme/CONTRIBUTORS.rst
  web_company_color/static/description/index.html
Due: none

Added translation using Weblate (Catalan)
  web_company_color/i18n/ca.po
Due: none

[MIG] web_widget_color: Migration to 13.0
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/hooks.py
  web_company_color/i18n/hr.po
  web_company_color/i18n/web_company_color.pot
  web_company_color/i18n/zh_CN.po
  web_company_color/models/__init__.py
  web_company_color/models/assetsbundle.py
  web_company_color/models/ir_qweb.py
  web_company_color/models/res_company.py
  web_company_color/readme/CONTRIBUTORS.rst
  web_company_color/static/description/index.html
  web_company_color/view/assets.xml
Due: prettier

web_company_color 12.0.1.1.0
  web_company_color/__manifest__.py
Due: none

[12.0][ADD] web_company_color (#1253)
  web_company_color/README.rst
  web_company_color/__init__.py
  web_company_color/__manifest__.py
  web_company_color/hooks.py
  web_company_color/models/__init__.py
  web_company_color/models/res_company.py
  web_company_color/readme/CONTRIBUTORS.rst
  web_company_color/readme/DESCRIPTION.rst
  web_company_color/readme/ROADMAP.rst
  web_company_color/readme/USAGE.rst
  web_company_color/static/description/index.html
  web_company_color/tests/__init__.py
  web_company_color/tests/test_res_company.py
  web_company_color/utils.py
  web_company_color/view/assets.xml
  web_company_color/view/res_company.xml
Due: prettier

Translated using Weblate (Chinese (Simplified))
  web_company_color/i18n/zh_CN.po
Due: none

Added translation using Weblate (Italian)
  web_company_color/i18n/it.po
Due: none

Translated using Weblate (French)
  web_company_color/i18n/fr.po
Due: none

[BOT] post-merge updates
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/static/description/index.html
Due: none

[FIX] web_company_color: Colors where not shown correctly
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/models/res_company.py
  web_company_color/static/description/index.html
Due: none

Translated using Weblate (Spanish)
  web_company_color/README.rst
  web_company_color/i18n/es.po
  web_company_color/static/description/index.html
Due: none
