Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Translated using Weblate (Italian)
  web_m2x_options_manager/i18n/it.po
Due: none

[UPD] Update web_m2x_options_manager.pot
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
Due: none

Workaround changes introduced upstream with https://github.com/odoo/odoo/commit/aba7785
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier, eslint

[UPD] Update web_widget_product_label_section_and_note_name_visibility.pot
  web_widget_product_label_section_and_note_name_visibility/i18n/it.po
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note_name_visibility.pot
Due: none

[ADD] web_widget_product_label_section_and_note: New module to unify the product and name into a single column.
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__init__.py
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note.pot
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.rst
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.rst
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.rst
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.rst
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.rst
  web_widget_product_label_section_and_note_name_visibility/static/description/icon.png
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/views/account_move_views.xml
Due: prettier, eslint

[MIG] web_widget_product_label_section_and_note: Migration to version 17.0
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/static/src/core/utils/autoresize.esm.js
Due: prettier, eslint

[IMP] web_widget_product_label_section_and_note_name_visibility: pre-commit auto fixes
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/views/account_move_views.xml
Due: prettier

[MIG] web_widget_product_label_section_and_note_name_visibility: Migration to version 18.0
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.md
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.md
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.md
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/static/src/core/utils/autoresize.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/core/utils/product_and_label_autoresize.esm.js
  web_widget_product_label_section_and_note_name_visibility/views/account_move_views.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_widget_product_label_section_and_note_name_visibility/i18n/it.po
Due: none

[BOT] post-merge updates
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
Due: none

[IMP] web_widget_product_label_section_and_note: pre-commit auto fixes
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/pyproject.toml
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.md
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.rst
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.md
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.rst
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.rst
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.md
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.rst
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.md
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.rst
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
Due: prettier

[BOT] post-merge updates
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
Due: none

[IMP] web_widget_product_label_section_and_note_full_label: Migration to 19.0
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier, eslint

[ADD] Introduce x2many_searchable module for inline quick search in embedded lists
  web_x2many_searchable/README.rst
  web_x2many_searchable/__init__.py
  web_x2many_searchable/__manifest__.py
  web_x2many_searchable/pyproject.toml
  web_x2many_searchable/readme/CONTRIBUTORS.md
  web_x2many_searchable/readme/DESCRIPTION.md
  web_x2many_searchable/readme/ROADMAP.md
  web_x2many_searchable/readme/USAGE.md
  web_x2many_searchable/static/description/01.png
  web_x2many_searchable/static/description/02.png
  web_x2many_searchable/static/description/03.png
  web_x2many_searchable/static/description/index.html
  web_x2many_searchable/static/src/js/x2many_searchable.esm.js
  web_x2many_searchable/static/src/xml/x2many_searchable.xml
  web_x2many_searchable/static/tests/x2many_searchable.test.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

[ADD] Add SCSS styling for x2many search panel and update XML layout
  web_x2many_searchable/__manifest__.py
  web_x2many_searchable/static/src/scss/x2many_searchable.scss
  web_x2many_searchable/static/src/xml/x2many_searchable.xml
Due: prettier

Update web_pwa_customize/__manifest__.py
  web_pwa_customize/__manifest__.py
Due: none

[ADD] web_diagram_builder: CSV import/export and node/link detail views
  web_diagram_builder/models/web_diagram_builder_import.py
  web_diagram_builder/models/web_diagram_builder_import_report.py
  web_diagram_builder/models/web_diagram_builder_import_result.py
  web_diagram_builder/views/web_diagram_builder_import_report_views.xml
  web_diagram_builder/views/web_diagram_builder_import_result_views.xml
  web_diagram_builder/views/web_diagram_builder_import_views.xml
  web_diagram_builder/views/web_diagram_builder_link_views.xml
  web_diagram_builder/views/web_diagram_builder_node_views.xml
Due: prettier

[ADD] web_diagram_builder: French (fr_CA) translations
  web_diagram_builder/__init__.py
  web_diagram_builder/__manifest__.py
  web_diagram_builder/i18n/fr.po
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

[UPD] Update web_timeline.pot
  web_timeline/i18n/web_timeline.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_timeline/README.rst
  web_timeline/static/description/index.html
Due: none

[ADD] web_diagram: add navigation help popup with bilingual support
  web_diagram/__init__.py
  web_diagram/__manifest__.py
  web_diagram/i18n/fr.po
  web_diagram/i18n/fr_CA.po
  web_diagram/i18n/web_diagram.pot
  web_diagram/models/__init__.py
  web_diagram/models/diagram_nav_help.py
  web_diagram/security/ir.model.access.csv
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/xml/base_diagram.xml
  web_diagram/views/diagram_nav_help_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier, eslint

[IMP] web_diagram: UX improvements (Export SVG, create=False, record name as title)
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/xml/base_diagram.xml
  web_diagram_builder/i18n/fr.po
Due: prettier, eslint

[IMP] web_diagram: migrate renderer from Raphael.js to Cytoscape.js
  web_diagram/__manifest__.py
  web_diagram/controllers/main.py
  web_diagram/static/lib/js/cytoscape-dagre.min.js
  web_diagram/static/lib/js/cytoscape.min.js
  web_diagram/static/lib/js/dagre.min.js
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/xml/base_diagram.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier, eslint

[ADD] web_diagram_builder: in-app tutorial (help wizard + Quick Guide menu)
  web_diagram_builder/__manifest__.py
  web_diagram_builder/data/web_diagram_builder_guide_data.xml
  web_diagram_builder/i18n/fr.po
  web_diagram_builder/models/web_diagram_builder.py
  web_diagram_builder/models/web_diagram_builder_help.py
  web_diagram_builder/static/src/js/diagram_help_widget.js
  web_diagram_builder/static/src/xml/diagram_help_widget.xml
  web_diagram_builder/views/web_diagram_builder_help_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier, eslint

[FIX] web_diagram: fix Odoo 18 diagram view validation
  web_diagram/__manifest__.py
  web_diagram/controllers/main.py
  web_diagram/models/ir_ui_view.py
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/tests/__init__.py
  web_diagram/tests/test_ir_ui_view.py
Due: prettier, eslint

[ADD] web_diagram_builder: find path between two nodes
  web_diagram_builder/__manifest__.py
  web_diagram_builder/i18n/fr.po
  web_diagram_builder/models/__init__.py
  web_diagram_builder/models/web_diagram_builder.py
  web_diagram_builder/models/web_diagram_builder_path.py
  web_diagram_builder/security/ir.model.access.csv
  web_diagram_builder/views/web_diagram_builder_path_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

[ADD] web_diagram_builder: add Python unit tests
  web_diagram_builder/tests/__init__.py
  web_diagram_builder/tests/test_web_diagram_builder.py
Due: none

[ADD] web_m2x_dialog_no_create
  web_m2x_dialog_no_create/README.rst
  web_m2x_dialog_no_create/__init__.py
  web_m2x_dialog_no_create/__manifest__.py
  web_m2x_dialog_no_create/models/__init__.py
  web_m2x_dialog_no_create/models/ir_http.py
  web_m2x_dialog_no_create/models/res_company.py
  web_m2x_dialog_no_create/models/res_config_settings.py
  web_m2x_dialog_no_create/pyproject.toml
  web_m2x_dialog_no_create/readme/CONFIGURE.md
  web_m2x_dialog_no_create/readme/CONTRIBUTORS.md
  web_m2x_dialog_no_create/readme/DESCRIPTION.md
  web_m2x_dialog_no_create/static/description/index.html
  web_m2x_dialog_no_create/static/src/select_create_dialog.esm.js
  web_m2x_dialog_no_create/static/src/select_create_dialog.xml
  web_m2x_dialog_no_create/static/tests/select_create_dialog.test.js
  web_m2x_dialog_no_create/views/res_config_settings_views.xml
Due: prettier, eslint

[IMP] web_notify:Allow notify with sound
  web_notify/README.rst
  web_notify/__manifest__.py
  web_notify/models/res_users.py
  web_notify/readme/USAGE.md
  web_notify/static/description/index.html
  web_notify/static/src/components/audio_player.esm.js
  web_notify/static/src/components/audio_player.xml
  web_notify/static/src/js/services/notification_services.esm.js
  web_notify/static/src/services/effect_service.esm.js
  web_notify/static/src/services/notification_sound_service.esm.js
  web_notify/tests/test_res_users.py
Due: prettier, eslint

[FIX] web_concurrent_edit_global_warning: Prevent warning on new record and improve warn flow
  web_concurrent_edit_global_warning/static/src/views/form/form_status_indicator/form_status_indicator.esm.js
  web_concurrent_edit_global_warning/static/src/views/form/form_status_indicator/form_status_indicator.xml
Due: prettier, eslint

[ADD] web_diagram_builder: initial module
  web_diagram_builder/__init__.py
  web_diagram_builder/__manifest__.py
  web_diagram_builder/data/web_diagram_builder_template_data.xml
  web_diagram_builder/models/__init__.py
  web_diagram_builder/models/ir_model.py
  web_diagram_builder/models/web_diagram_builder.py
  web_diagram_builder/models/web_diagram_builder_link.py
  web_diagram_builder/models/web_diagram_builder_node.py
  web_diagram_builder/models/web_diagram_builder_template.py
  web_diagram_builder/security/ir.model.access.csv
  web_diagram_builder/static/description/index.html
  web_diagram_builder/views/menu.xml
  web_diagram_builder/views/web_diagram_builder_template_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

[ADD] web_diagram_builder: French (fr_CA) translations
  web_diagram_builder/i18n/fr.po
Due: none

[ADD] web_diagram_builder: in-app tutorial (help wizard + Quick Guide menu)
  web_diagram_builder/data/ir_cron_data.xml
  web_diagram_builder/data/web_diagram_builder_guide_data.xml
  web_diagram_builder/models/web_diagram_builder_help.py
  web_diagram_builder/static/src/js/diagram_help_widget.js
  web_diagram_builder/static/src/xml/diagram_help_widget.xml
  web_diagram_builder/views/web_diagram_builder_help_views.xml
Due: prettier, eslint

[ADD] web_diagram_builder: find path between two nodes
  web_diagram_builder/models/web_diagram_builder_path.py
  web_diagram_builder/views/web_diagram_builder_path_views.xml
Due: prettier

[MIG] web_diagram: migrate Cytoscape-based diagram view to Odoo 16
  web_diagram/__init__.py
  web_diagram/__manifest__.py
  web_diagram/controllers/main.py
  web_diagram/models/ir_ui_view.py
  web_diagram/readme/DEVELOPER.rst
  web_diagram/readme/ROADMAP.rst
  web_diagram/readme/SECURITY.rst
  web_diagram/static/lib/js/cytoscape-dagre.min.js
  web_diagram/static/lib/js/cytoscape.min.js
  web_diagram/static/lib/js/dagre.min.js
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_model.js
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/js/graph.js
  web_diagram/static/src/scss/diagram_view.scss
  web_diagram/static/src/xml/base_diagram.xml
  web_diagram/static/tests/diagram_tests.js
  web_diagram/tools/graph.py
Due: prettier, eslint

[ADD] web_diagram: add navigation help popup with bilingual support
  web_diagram/i18n/fr.po
  web_diagram/i18n/fr_CA.po
  web_diagram/i18n/web_diagram.pot
  web_diagram/models/__init__.py
  web_diagram/models/diagram_nav_help.py
  web_diagram/security/ir.model.access.csv
  web_diagram/views/diagram_nav_help_views.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

