Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[MIG] web_pivot_computed_measure: Migration to 16.0
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
  web_pivot_computed_measure/readme/ROADMAP.rst
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_controller.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_renderer.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_view.esm.js
  web_pivot_computed_measure/static/src/test/test.esm.js
  web_pivot_computed_measure/static/src/view.xml
Due: prettier, eslint

[FIX] web_pivot_computed_measure: Add test: true to tours according to previous version
  web_pivot_computed_measure/static/src/test/test.esm.js
Due: prettier, eslint

[MIG] web_pivot_computed_measure: Migration to 13.0
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/i18n/es.po
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
  web_pivot_computed_measure/readme/CONTRIBUTORS.rst
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/js/pivot_model.js
Due: prettier, eslint

[BOT] post-merge updates
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/description/index.html
Due: none

Translated using Weblate (Slovenian)
  web_pivot_computed_measure/i18n/sl.po
Due: none

Translated using Weblate (Italian)
  web_pivot_computed_measure/i18n/it.po
Due: none

[ADD] web_pivot_computed_measure
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__init__.py
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
  web_pivot_computed_measure/readme/CONTRIBUTORS.rst
  web_pivot_computed_measure/readme/DESCRIPTION.rst
  web_pivot_computed_measure/readme/ROADMAP.rst
  web_pivot_computed_measure/readme/USAGE.rst
  web_pivot_computed_measure/static/description/icon.png
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/js/pivot_model.js
  web_pivot_computed_measure/static/src/xml/web_pivot_computed_measure.xml
  web_pivot_computed_measure/view/assets.xml
Due: prettier, eslint

Update translation files
  web_pivot_computed_measure/i18n/ca.po
  web_pivot_computed_measure/i18n/es.po
  web_pivot_computed_measure/i18n/it.po
Due: none

[MIG] web_pivot_computed_measure: Migration to 18.0
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_controller.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_renderer.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_view.xml
  web_pivot_computed_measure/static/src/report_view_measures/report_view_measures.esm.js
  web_pivot_computed_measure/static/src/report_view_measures/report_view_measures.xml
  web_pivot_computed_measure/static/src/test/test.esm.js
  web_pivot_computed_measure/static/src/view.xml
  web_pivot_computed_measure/tests/test_ui_pivot.py
Due: prettier, eslint

[FIX] web_pivot_computed_mensure: warning odoo-module and sort-imports
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.esm.js
  web_pivot_computed_measure/static/src/helpers/utils.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_controller.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_renderer.esm.js
  web_pivot_computed_measure/static/src/report_view_measures/report_view_measures.esm.js
  web_pivot_computed_measure/static/src/test/test.esm.js
Due: prettier, eslint

[IMP] web_pivot_computed_measure: pre-commit auto fixes
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/pyproject.toml
  web_pivot_computed_measure/readme/CONTRIBUTORS.md
  web_pivot_computed_measure/readme/CONTRIBUTORS.rst
  web_pivot_computed_measure/readme/DESCRIPTION.md
  web_pivot_computed_measure/readme/ROADMAP.md
  web_pivot_computed_measure/readme/ROADMAP.rst
  web_pivot_computed_measure/readme/USAGE.md
  web_pivot_computed_measure/readme/USAGE.rst
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.xml
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_view.xml
  web_pivot_computed_measure/static/src/view.xml
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_pivot_computed_measure/i18n/es.po
Due: none

Added translation using Weblate (Slovenian)
  web_pivot_computed_measure/i18n/sl.po
Due: none

[UPD] Update web_pivot_computed_measure.pot
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
Due: none

Translated using Weblate (Spanish)
  web_pivot_computed_measure/i18n/es.po
Due: none

Added translation using Weblate (Italian)
  web_pivot_computed_measure/i18n/ca.po
  web_pivot_computed_measure/i18n/it.po
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
Due: none

Added translation using Weblate (Catalan)
  web_pivot_computed_measure/i18n/ca.po
Due: none

[MIG] web_pivot_computed_measure: Migration to 15.0
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/i18n/es.po
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
  web_pivot_computed_measure/readme/CONTRIBUTORS.rst
  web_pivot_computed_measure/readme/ROADMAP.rst
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.esm.js
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.scss
  web_pivot_computed_measure/static/src/dropdown_item_custom_measure/dropdown_item_custom_measure.xml
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/js/pivot_model.js
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_view.xml
  web_pivot_computed_measure/static/src/test/test.esm.js
  web_pivot_computed_measure/static/src/view.xml
  web_pivot_computed_measure/tests/__init__.py
  web_pivot_computed_measure/tests/res_users_fake.py
  web_pivot_computed_measure/tests/test_ui_pivot.py
  web_pivot_computed_measure/view/assets.xml
Due: prettier, eslint

[FIX] web_pivot_computed_measure: Error when using filter created with favorites
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_view.esm.js
Due: prettier, eslint

[UPD] Update web_widget_section_and_note_text_scrollable.pot
  web_widget_section_and_note_text_scrollable/i18n/web_widget_section_and_note_text_scrollable.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_section_and_note_text_scrollable/README.rst
  web_widget_section_and_note_text_scrollable/static/description/index.html
Due: none

[MIG] web_pivot_computed_measure: Migration to 19.0
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/readme/CONTRIBUTORS.md
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/test/test.esm.js
  web_pivot_computed_measure/tests/__init__.py
  web_pivot_computed_measure/tests/test_ui_pivot.py
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_company_context_highlight/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_company_context_highlight/i18n/it.po
Due: none

[IMP] web_widget_x2many_matrix: Sticky header, footer rows and main, totals columns
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/scss/web_widget_x2many_2d_matrix.scss
Due: prettier

[FIX] web_widget_x2many_2d_matrix: Enable keyboard navigation
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

Translated using Weblate (Portuguese (Brazil))
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
Due: none

[FIX] setup focus
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Use widget for formatting aggregates
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

web_widget_x2many_matrix: fix issue with limit of records
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/abstract_view_matrix_limit_extend.js
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: Include x_axis_clickable and y_axis_clickable attrs
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: Use new JS modularized API.
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[IMP] handle readonly flag
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[14.0][MIG] web_widget_x2many_2d_matrix
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

[IMP] web_widget_x2many_2d_matrix: black, isort
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_view.js
  web_widget_x2many_2d_matrix/static/src/js/abstract_view_matrix_limit_extend.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/scss/web_widget_x2many_2d_matrix.scss
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Forced render mode to list on small screens
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_view.js
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Init correctly the view
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] README.rst
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

