Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[BOT] post-merge updates
  README.md
  web_notify/README.rst
  web_notify/__manifest__.py
  web_notify/static/description/index.html
Due: none

[ADD] web_theme_focus: minimal focus backend theme
  web_theme_focus/README.rst
  web_theme_focus/__init__.py
  web_theme_focus/__manifest__.py
  web_theme_focus/i18n/tr.po
  web_theme_focus/i18n/web_theme_focus.pot
  web_theme_focus/models/__init__.py
  web_theme_focus/models/res_users.py
  web_theme_focus/pyproject.toml
  web_theme_focus/readme/CONTRIBUTORS.md
  web_theme_focus/readme/DESCRIPTION.md
  web_theme_focus/readme/ROADMAP.md
  web_theme_focus/static/description/icon.png
  web_theme_focus/static/description/index.html
  web_theme_focus/static/src/img/app_switcher_background_light.svg
  web_theme_focus/static/src/js/app_theme.esm.js
  web_theme_focus/static/src/scss/apps_menu.dark.scss
  web_theme_focus/static/src/scss/apps_menu.scss
  web_theme_focus/static/src/scss/navbar.dark.scss
  web_theme_focus/static/src/scss/navbar.scss
  web_theme_focus/tests/__init__.py
  web_theme_focus/tests/test_apps_menu_theme.py
Due: prettier, eslint

[19.0][ADD] web_search_deactivate_autosearch
  README.md
  web_search_deactivate_autosearch/README.rst
  web_search_deactivate_autosearch/__init__.py
  web_search_deactivate_autosearch/__manifest__.py
  web_search_deactivate_autosearch/pyproject.toml
  web_search_deactivate_autosearch/readme/CONTRIBUTORS.md
  web_search_deactivate_autosearch/readme/DESCRIPTION.md
  web_search_deactivate_autosearch/readme/USAGE.md
  web_search_deactivate_autosearch/static/description/icon.png
  web_search_deactivate_autosearch/static/description/index.html
  web_search_deactivate_autosearch/static/src/search/search_bar/search_bar.esm.js
  web_search_deactivate_autosearch/static/src/search/search_bar/search_bar.xml
  web_search_deactivate_autosearch/static/src/search/search_model.esm.js
Due: prettier, eslint

[MIG] web_widget_char_size: Migration to 19.0
  README.md
  web_widget_char_size/__manifest__.py
Due: none

[18.0][ADD] web_live_price_formatter: format prices in real time
  web_live_price_formatter/README.rst
  web_live_price_formatter/__init__.py
  web_live_price_formatter/__manifest__.py
  web_live_price_formatter/pyproject.toml
  web_live_price_formatter/readme/DESCRIPTION.rst
  web_live_price_formatter/readme/FEATURES.rst
  web_live_price_formatter/readme/USAGE.rst
  web_live_price_formatter/static/src/js/unit_price_format.js
Due: prettier, eslint

Update unit_price_format.js
  web_live_price_formatter/static/src/js/unit_price_format.js
Due: prettier, eslint

Create CONTRIBUTORS.rst
  web_live_price_formatter/readme/CONTRIBUTORS.rst
Due: none

[MIG] : Migration to 17.0
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none

Added translation using Weblate (Italian)
  web_font_size_report_layout/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_font_size_report_layout/i18n/it.po
Due: none

[IMP] Adds a font size selector (pt) to the Document Layout wizard
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/__init__.py
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/__init__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/models/res_company.py
  web_font_size_report_layout/pyproject.toml
  web_font_size_report_layout/readme/CONTRIBUTORS.md
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/readme/INSTALL.md
  web_font_size_report_layout/readme/USAGE.md
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/static/src/scss/report_font_size.scss
  web_font_size_report_layout/tests/__init__.py
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
  web_font_size_report_layout/views/base_document_layout_views.xml
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[IMP] web_font_size_report_layout: pre-commit auto fixes
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/index.html
Due: none

[BOT] post-merge updates
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/icon.png
  web_font_size_report_layout/static/description/index.html
Due: none

[UPD] Update web_font_size_report_layout.pot
  web_font_size_report_layout/i18n/web_font_size_report_layout.pot
Due: none

[IMP] web_font_size_report_layout: pre-commit auto fixes
  web_font_size_report_layout/views/base_document_layout_views.xml
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[MIG] web_font_size_report_layout: Migration to 18.0
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/models/res_company.py
  web_font_size_report_layout/readme/INSTALL.md
  web_font_size_report_layout/tests/__init__.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[IMP] web_widget_dropdown_dynamic: pre-commit auto fixes
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/pyproject.toml
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/readme/CREDITS.md
  web_widget_dropdown_dynamic/readme/CREDITS.rst
  web_widget_dropdown_dynamic/readme/DESCRIPTION.md
  web_widget_dropdown_dynamic/readme/DESCRIPTION.rst
  web_widget_dropdown_dynamic/readme/USAGE.md
  web_widget_dropdown_dynamic/readme/USAGE.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: prettier

Added translation using Weblate (Slovenian)
  web_widget_dropdown_dynamic/i18n/sl.po
Due: none

[16.0][MIG]web_widget_dropdown_dynamic: Migrate to version 16.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/de.po
  web_widget_dropdown_dynamic/i18n/es.po
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/readme/CREDITS.rst
  web_widget_dropdown_dynamic/readme/USAGE.rst
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/basic_model.esm.js
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[16.0][MIG] web_widget_dropdown_dynamic
  web_widget_dropdown_dynamic/__manifest__.py
Due: none

Added translation using Weblate (Turkish)
  web_widget_dropdown_dynamic/i18n/tr.po
Due: none

Added translation using Weblate (Italian)
  web_widget_dropdown_dynamic/i18n/it.po
Due: none

[IMP] web_widget_dropdown_dynamic: license change
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__init__.py
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

[MIG] web_widget_dropdown_dynamic: Migration to 18.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/de.po
  web_widget_dropdown_dynamic/i18n/es.po
  web_widget_dropdown_dynamic/i18n/it.po
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

[IMP] web_widget_dropdown_dynamic: black, isort, prettier
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[MIG] web_widget_dropdown_dynamic: Migration to 17.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__init__.py
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/demo/ir_filters_view.xml
  web_widget_dropdown_dynamic/demo/ir_model_fields.xml
  web_widget_dropdown_dynamic/i18n/de.po
  web_widget_dropdown_dynamic/i18n/es.po
  web_widget_dropdown_dynamic/i18n/it.po
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/models/__init__.py
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/readme/USAGE.md
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/basic_model.esm.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

[19.0][MIG] web_widget_dropdown_dynamic: Migration to 19.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/demo/ir_filters_view.xml
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic.test.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
  web_widget_dropdown_dynamic/tests/__init__.py
  web_widget_dropdown_dynamic/tests/test_ir_filters.py
Due: prettier, eslint

[MIG] web_widget_dropdown_dynamic: Migration to 14.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

[MIG] web_widget_dropdown_dynamic: Migration to 15.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/templates/assets.xml
Due: prettier

[IMP] web_widget_dropdown_dynamic: Remove QUnit import from tests
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_widget_dropdown_dynamic/i18n/es.po
Due: none

Translated using Weblate (Spanish)
  web_widget_dropdown_dynamic/i18n/es.po
Due: none

Translated using Weblate (Italian)
  web_widget_dropdown_dynamic/i18n/it.po
Due: none

Added translation using Weblate (German)
  web_widget_dropdown_dynamic/i18n/de.po
Due: none

[IMP] web_widget_dropdown_dynamic: black, isort, prettier
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[IMP] web_field_required_invisible_manager: chatter
  web_field_required_invisible_manager/__manifest__.py
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/views/views.xml
Due: prettier

Translated using Weblate (Slovenian)
  web_m2x_options/i18n/sl.po
Due: none

Translated using Weblate (Slovenian)
  web_environment_ribbon/i18n/sl.po
Due: none

[IMP] web_pwa_customize: apple-touch-icon + settings visibility
  web_pwa_customize/README.rst
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/readme/CONTEXT.md
  web_pwa_customize/readme/CONTRIBUTORS.md
  web_pwa_customize/readme/DESCRIPTION.md
  web_pwa_customize/static/description/index.html
  web_pwa_customize/tests/test_web_pwa_customize.py
  web_pwa_customize/views/res_config_settings_views.xml
  web_pwa_customize/views/webclient_templates.xml
Due: prettier

[FIX] web_pwa_customize: redirect-header assertions were environment-brittle
  web_pwa_customize/tests/test_web_pwa_customize.py
Due: none
