Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] Adding res.users chatter_position read/write test
  web_responsive/models/inherited_res_users.py
  web_responsive/tests/__init__.py
  web_responsive/tests/test_res_users.py
Due: none

[IMP] Code
  web_responsive/models/inherited_res_users.py
Due: none

Fix linter
  web_responsive/tests/test_res_users.py
Due: none

[FIX][web_responsive] Long-named multicompanies nice in XS (#688)
  web_responsive/__manifest__.py
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/xml/navbar.xml
Due: prettier

[FIX] web_responsive: AppDrawer in Chromium
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[CLEAN] Comments
  web_responsive/models/inherited_res_users.py
Due: none

[IMP] web_responsive: Refactor code
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[10.0][IMP][web_responsive] (#569)
  web_responsive/README.rst
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/navbar.less
Due: prettier

[IMP] web_responsive: Readme
  web_responsive/README.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/formview.gif
  web_responsive/static/img/listview.gif
Due: none

[FIX] Read/Write permissions
  web_responsive/models/inherited_res_users.py
Due: none

[IMP] web_responsive: Readme
  web_responsive/README.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/appmenu.gif
Due: none

[IMP] Sticky Statusbar
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: Execution permission
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
Due: prettier, eslint

[10.0][IMP] web_responsive: Load default kanban view for small screen
  web_responsive/README.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[UPD] README.rst
  web_responsive/static/description/index.html
Due: none

[IMP] web_responsive: Menu wait for action
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] Chatter Position
  web_responsive/static/src/js/web_responsive.js
  web_responsive/views/inherited_view_users_form_simple_modif.xml
Due: prettier, eslint

[FIX] web_responsive: Other minor fixes * Add Tecnativa as author * Remove untestable JS method * Rename to web_responsive
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__openerp__.py
  web_responsive/static/description/icon.png
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

Translated using Weblate (French (France))
  web_responsive/i18n/fr_FR.po
Due: none

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[IMP] web_responsive: Adjust roadmap
  web_responsive/readme/ROADMAP.rst
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[IMP] web_responsive: Adapt test to 13.0
  web_responsive/tests/test_res_users.py
Due: none

[IMP] web_responsive: Scrollable dropdowns
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/dropdown_scroll.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] Improve responsiveness in large screens: don't let the icons separate too much from each other
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/xml/apps.xml
Due: prettier

[FIX] web_responsive: fix hotkey combinations in a shortcut template
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/menu.xml
Due: prettier

Translated using Weblate (Russian)
  web_responsive/i18n/ru.po
Due: none

Added translation using Weblate (French (France))
  web_responsive/i18n/fr_FR.po
Due: none

[FIX] error on grouped mobile kanban with zero groups
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/kanban_renderer_mobile.js
Due: prettier, eslint

[IMP] web_responsive: Chatter on small screen
  web_responsive/static/img/chatter.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web-responsive: Document Viewer
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/document_viewer.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/document_viewer.xml
Due: prettier, eslint

[IMP] web_responsive: Cut long filters names in the filters menu
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Support long titles
  web_responsive/README.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[UPD] README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

pre-commit update: prettier xml indent
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/document_viewer.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier

[IMP] web_responsive: Apply pre-commit changes
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/menu.xml
Due: prettier

[FIX] web_responsive: Close Menu on Discard
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: AppDrawer Discard
  web_responsive/README.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

