Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Translated using Weblate (Spanish)
  web_m2x_options/README.rst
  web_m2x_options/i18n/es.po
Due: none

[FIX] web_m2x_options: fix test_ir_config_parameter
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/i18n/zh_CN.po
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/tests/test_ir_config_parameter.py
Due: none

[FIX] web_m2x_options: fix usage errors
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/readme/USAGE.rst
Due: none

[FIX] web_m2x_options: fix search_more behaviour
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[MIG]web_m2x_options: Migration to 17.0
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/nl.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/zh_CN.po
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/CONTRIBUTORS.md
  web_m2x_options/readme/DESCRIPTION.md
  web_m2x_options/readme/ROADMAP.md
  web_m2x_options/readme/USAGE.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/base.xml
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/components/relational_utils.esm.js
  web_m2x_options/tests/test_ir_config_parameter.py
Due: prettier, eslint

Limit name_search to 160 like Odoo core does
  web_m2x_options/__openerp__.py
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

Translated using Weblate (German)
  web_m2x_options/i18n/de.po
Due: none

Added translation using Weblate (Spanish (Bolivia))
  web_m2x_options/i18n/es_BO.po
Due: none

[FIX] pre-commit
  web_m2x_options/README.rst
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/i18n/zh_CN.po
  web_m2x_options/views/view.xml
Due: prettier

move all addons to __unported__, set all addons as not installable
  web_m2x_options/README.rst
  web_m2x_options/__init__.py
  web_m2x_options/__openerp__.py
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[IMP] web_m2x_options: black, isort, prettier
  web_m2x_options/README.rst
  web_m2x_options/pyproject.toml
  web_m2x_options/readme/CONTRIBUTORS.md
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/readme/CREDITS.md
  web_m2x_options/readme/CREDITS.rst
  web_m2x_options/readme/DESCRIPTION.md
  web_m2x_options/readme/DESCRIPTION.rst
  web_m2x_options/readme/ROADMAP.md
  web_m2x_options/readme/ROADMAP.rst
  web_m2x_options/readme/USAGE.md
  web_m2x_options/readme/USAGE.rst
Due: prettier

[FIX] when all is undefined, fall back to core's default
  web_m2x_options/static/src/xml/base.xml
Due: prettier

[REF] web_m2x_options: eslint fix
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[IMP] web_m2x_options: balck and eslint fix
  web_m2x_options/__manifest__.py
Due: none

[15.0][MIG] web_widget_bokeh_chart
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

Translated using Weblate (Portuguese (Brazil))
  web_m2x_options/i18n/pt_BR.po
Due: none

Translated using Weblate (French)
  web_m2x_options/i18n/fr.po
Due: none

[FIX] open option on many2many_tags
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

Update translation files
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/zh_CN.po
Due: none

[13.0][FIX] issue of field dropdown
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[16.0] web_m2x_options: impossible to open a mass mailing
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[MIG] web_m2x_options: Migration to 11.0
  web_m2x_options/README.rst
  web_m2x_options/__init__.py
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/models/__init__.py
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/readme/DESCRIPTION.rst
  web_m2x_options/readme/ROADMAP.rst
  web_m2x_options/readme/USAGE.rst
  web_m2x_options/static/src/js/form.js
  web_m2x_options/static/src/xml/base.xml
  web_m2x_options/views/view.xml
Due: prettier, eslint

[REF] web_m2x_options: better imp and fixes
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

web_m2x_options: s/ev.handleObj.selector/currentTarget * many2many with `options={'open': True}` it always open the first element with this fix it will open the right one
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[MIG] web_m2x_options: Migration to 13.0
  web_m2x_options/__manifest__.py
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[15.0][FIX] Remove tests from init
  web_m2x_options/__init__.py
Due: none

[IMP] web_m2x_options: Efficiency
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/static/src/js/form.js
  web_m2x_options/static/src/js/ir_options.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_m2x_options/i18n/it.po
Due: none

Update translation files
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/es_BO.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/zh_CN.po
Due: none

Added translation using Weblate (Dutch)
  web_m2x_options/i18n/nl.po
Due: none

[ADD] Option open for One2Many fields
  web_m2x_options/readme/USAGE.rst
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[BOT] post-merge updates
  web_m2x_options/README.rst
  web_m2x_options/static/description/index.html
Due: none

[10.0][ADD] option to deactivate color picker on many2many_tags (#713)
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[IMP] web_m2x_options: Added limit for o2m field entries
  web_m2x_options/README.rst
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/USAGE.rst
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

- Rename web_m2o_enhanced to web_m2x_options - Add static/description/index.html
  web_m2x_options/README.rst
  web_m2x_options/__init__.py
  web_m2x_options/__openerp__.py
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[16.0][MIG] web_m2x_options: Migration to 16.0
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/readme/CONTRIBUTORS.rst
  web_m2x_options/readme/CREDITS.rst
  web_m2x_options/static/src/components/base.xml
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/components/relational_utils.esm.js
  web_m2x_options/static/src/js/form.js
  web_m2x_options/static/src/js/ir_options.js
  web_m2x_options/static/src/xml/base.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

