Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_domain_field: Accept empty domain
  test-requirements.txt
  web_domain_field/README.rst
  web_domain_field/__manifest__.py
  web_domain_field/readme/CONTRIBUTORS.rst
  web_domain_field/static/description/index.html
  web_domain_field/static/lib/js/pyeval.js
  web_domain_field/static/tests/tours/false_domain.js
  web_domain_field/tests/__init__.py
  web_domain_field/tests/fake_model_views.xml
  web_domain_field/tests/ir.model.access.csv
  web_domain_field/tests/models.py
  web_domain_field/tests/test_domain_field.py
  web_domain_field/views/web_domain_field.xml
Due: prettier, eslint

[18.0][FIX] web_widget_x2many_2d_matrix: fix sticky header/column overlap
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

[FIX] Odoo 18.0 Access Error Log Message
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[fix] Functional multilabels for timeline view
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[MIG] web_timeline: Migration to 19.0
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/tests/web_timeline_view.test.js
  web_timeline/tests/test_web_timeline.py
Due: prettier, eslint

Functional Click Throughs
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

[IMP] web_dark_mode: pre-commit auto fixes
  web_dark_mode/README.rst
  web_dark_mode/__manifest__.py
  web_dark_mode/static/description/index.html
  web_dark_mode/static/src/scss/secondary_variables.dark.scss
Due: prettier

[MIG] web_dark_mode Migrate to 19.0 The relevant changes to odoo code: https://github.com/odoo/odoo/commit/2120e4c6539b0ad8fadaf249c883b0529ad613f4
  web_dark_mode/models/ir_http.py
  web_dark_mode/views/res_users_views.xml
Due: prettier

[MIG] web_dark_mode Migrate styles
  web_dark_mode/static/src/core/badge/badge.dark.scss
  web_dark_mode/static/src/core/bottom_sheet/bottom_sheet.dark.scss
  web_dark_mode/static/src/core/colorlist/colorlist.dark.scss
  web_dark_mode/static/src/core/notebook/notebook.dark.scss
  web_dark_mode/static/src/core/tags_list/tags_list.dark.scss
  web_dark_mode/static/src/views/form/form_controller.dark.scss
  web_dark_mode/static/src/views/kanban/kanban_controller.dark.scss
Due: prettier

Removing debugging statements
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

Appeasing the linting gods.
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Deprecated but functional
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Linting?
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Linting
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

Lint
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Helps if i can spell
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

whitespace
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Allow creating new on m2m groupings
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

lint
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
Due: prettier, eslint

[FIX] web_notify_channel_message
  web_notify_channel_message/models/__init__.py
  web_notify_channel_message/models/mail_channel.py
  web_notify_channel_message/models/res_users.py
  web_notify_channel_message/tests/__init__.py
  web_notify_channel_message/tests/test_notify_channel_message.py
Due: none

[UPD] Update web_notify_channel_message.pot
  web_notify_channel_message/i18n/web_notify_channel_message.pot
Due: none

[BOT] post-merge updates
  README.md
  web_notify_channel_message/README.rst
  web_notify_channel_message/__manifest__.py
  web_notify_channel_message/static/description/index.html
Due: none

[FIX] web_notify_channel_message
  web_notify_channel_message/models/res_users.py
Due: none

[IMP] dynamic color based on other field's value in list view
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/readme/USAGE.md
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_pivot_computed_measure/i18n/it.po
Due: none

Allow M2M creation of jobs
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_export_html_as_text/i18n/it.po
Due: none

[ADD] web_export_html_as_text
  web_export_html_as_text/README.rst
  web_export_html_as_text/__init__.py
  web_export_html_as_text/__manifest__.py
  web_export_html_as_text/models/__init__.py
  web_export_html_as_text/models/models.py
  web_export_html_as_text/readme/CONFIGURE.rst
  web_export_html_as_text/readme/CONTRIBUTORS.rst
  web_export_html_as_text/readme/DESCRIPTION.rst
  web_export_html_as_text/readme/ROADMAP.rst
  web_export_html_as_text/static/description/index.html
  web_export_html_as_text/static/src/js/export_html_to_text.esm.js
  web_export_html_as_text/static/src/xml/export_dialog.xml
  web_export_html_as_text/tests/__init__.py
  web_export_html_as_text/tests/test_export_html_text.py
  web_export_html_as_text/tests/test_models.py
Due: prettier, eslint

[MIG] web_export_html_as_text: Migration to 18.0
  web_export_html_as_text/README.rst
  web_export_html_as_text/__manifest__.py
  web_export_html_as_text/pyproject.toml
  web_export_html_as_text/readme/CONFIGURE.md
  web_export_html_as_text/readme/CONTRIBUTORS.md
  web_export_html_as_text/readme/CONTRIBUTORS.rst
  web_export_html_as_text/readme/DESCRIPTION.md
  web_export_html_as_text/readme/ROADMAP.md
  web_export_html_as_text/readme/ROADMAP.rst
  web_export_html_as_text/static/description/index.html
  web_export_html_as_text/static/src/js/export_html_to_text.esm.js
  web_export_html_as_text/static/src/xml/export_dialog.xml
  web_export_html_as_text/tests/test_models.py
Due: prettier, eslint

Translated using Weblate (Italian)
  web_export_html_as_text/i18n/it.po
Due: none

[BOT] post-merge updates
  web_export_html_as_text/README.rst
  web_export_html_as_text/static/description/icon.png
  web_export_html_as_text/static/description/index.html
Due: none

[UPD] Update web_export_html_as_text.pot
  web_export_html_as_text/i18n/web_export_html_as_text.pot
Due: none

[IMP] web_widget_one2many_tree_line_duplicate: make duplicate icon hideable
  web_widget_one2many_tree_line_duplicate/static/src/list/list_renderer.esm.js
  web_widget_one2many_tree_line_duplicate/static/src/list/list_renderer.xml
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: Allow to set field color from another field
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: Allow to set row colors from specific fields for entire list
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/demo/ir_config_parameter.xml
  web_tree_dynamic_colored_field/demo/res_groups.xml
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.md
  web_tree_dynamic_colored_field/readme/DESCRIPTION.md
  web_tree_dynamic_colored_field/readme/ROADMAP.md
  web_tree_dynamic_colored_field/readme/USAGE.md
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[MIG] web_edit_xmlid: Migration to 18.0
  web_edit_xmlid/__manifest__.py
  web_edit_xmlid/readme/DESCRIPTION.md
  web_edit_xmlid/readme/USAGE.md
  web_edit_xmlid/static/img/xmlid-create.jpg
  web_edit_xmlid/static/img/xmlid-created.jpg
  web_edit_xmlid/static/img/xmlid-creating.jpg
  web_edit_xmlid/static/img/xmlid-edit.jpg
  web_edit_xmlid/static/img/xmlid-edited.jpg
  web_edit_xmlid/static/img/xmlid-editing.jpg
  web_edit_xmlid/static/src/core/debug/debug_menu_items.xml
  web_edit_xmlid/static/src/js/tools/debug_manager.js
  web_edit_xmlid/static/src/views/debug_items.js
  web_edit_xmlid/static/src/xml/base.xml
  web_edit_xmlid/views/assets.xml
Due: prettier, eslint

[MIG] web_edit_xmlid: Migration to 14.0
  web_edit_xmlid/__manifest__.py
  web_edit_xmlid/models/models.py
  web_edit_xmlid/static/src/js/tools/debug_manager.js
Due: prettier, eslint
