Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


fix error: env.services.rpc is not a function
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.md
  web_ir_actions_act_window_message/static/description/index.html
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_msg_component.esm.js
Due: prettier, eslint

[UPD] Update web_m2x_options_manager.pot
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

[UPD] Update web_widget_url_advanced.pot
  web_widget_url_advanced/i18n/web_widget_url_advanced.pot
Due: none

[MIG] web_widget_url_advanced: Migration to 15.0
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/static/src/js/url_widget.js
  web_widget_url_advanced/templates/assets.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_widget_url_advanced/i18n/it.po
Due: none

[MIG] web_widget_url_advanced: Migration to 13.0
  web_widget_url_advanced/__manifest__.py
Due: none

Added translation using Weblate (Spanish)
  web_widget_url_advanced/i18n/es.po
Due: none

[IMP] web_widget_url_advanced: black, isort, prettier
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/static/src/js/url_widget.js
Due: prettier, eslint

[UPD] README.rst
  web_widget_url_advanced/static/description/index.html
Due: none

web_widget_url_advanced 14.0.1.0.1
  web_widget_url_advanced/__manifest__.py
Due: none

[UPD] README.rst
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/static/description/index.html
Due: none

[IMP] Merge 'web_widget_prefixed_url'
  web_widget_url_advanced/readme/CONTRIBUTORS.rst
  web_widget_url_advanced/readme/DESCRIPTION.rst
  web_widget_url_advanced/readme/USAGE.rst
  web_widget_url_advanced/static/src/js/url_widget.js
Due: prettier, eslint

[IMP] web_widget_url_advanced: pre-commit auto fixes
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/pyproject.toml
  web_widget_url_advanced/readme/CONTRIBUTORS.md
  web_widget_url_advanced/readme/CONTRIBUTORS.rst
  web_widget_url_advanced/readme/DESCRIPTION.md
  web_widget_url_advanced/readme/DESCRIPTION.rst
  web_widget_url_advanced/readme/ROADMAP.md
  web_widget_url_advanced/readme/ROADMAP.rst
  web_widget_url_advanced/readme/USAGE.md
  web_widget_url_advanced/readme/USAGE.rst
  web_widget_url_advanced/static/description/index.html
Due: prettier

[MIG] web_widget_url_advanced: Migration to 12.0
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/readme/CONTRIBUTORS.rst
  web_widget_url_advanced/readme/ROADMAP.rst
  web_widget_url_advanced/static/description/index.html
  web_widget_url_advanced/static/src/js/url_widget.js
  web_widget_url_advanced/templates/assets.xml
Due: prettier, eslint

[ADD] web_widget_url_advanced
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/__init__.py
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/readme/CONTRIBUTORS.rst
  web_widget_url_advanced/readme/DESCRIPTION.rst
  web_widget_url_advanced/readme/USAGE.rst
  web_widget_url_advanced/static/description/after.png
  web_widget_url_advanced/static/description/before.png
  web_widget_url_advanced/static/description/icon.png
  web_widget_url_advanced/static/description/index.html
  web_widget_url_advanced/static/src/js/url_widget.js
  web_widget_url_advanced/templates/assets.xml
Due: prettier, eslint

web_widget_url_advanced: fix display in tree view
  web_widget_url_advanced/static/src/js/url_widget.js
Due: prettier, eslint

[UPD] Brainbean Apps => CorporateHub
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/readme/CONTRIBUTORS.rst
Due: none

[MIG] web_widget_url_advanced: Migration to 18.0
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/readme/CONTRIBUTORS.md
  web_widget_url_advanced/readme/DESCRIPTION.md
  web_widget_url_advanced/readme/USAGE.md
  web_widget_url_advanced/static/description/index.html
  web_widget_url_advanced/static/src/fields/url_field.esm.js
Due: prettier, eslint

[IMP] web_widget_url_advanced: pre-commit auto fixes
  web_widget_url_advanced/static/src/fields/url_field.xml
Due: prettier

web_widget_url_advanced 13.0.1.1.0
  web_widget_url_advanced/__manifest__.py
Due: none

[MIG] web_widget_url_advanced: Migration to 17.0
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/readme/CONTRIBUTORS.md
  web_widget_url_advanced/readme/ROADMAP.md
  web_widget_url_advanced/readme/USAGE.md
  web_widget_url_advanced/static/description/index.html
  web_widget_url_advanced/static/src/fields/url_field.esm.js
  web_widget_url_advanced/static/src/fields/url_field.xml
  web_widget_url_advanced/static/src/js/url_widget.js
Due: prettier, eslint

[IMP] web_widget_url_advanced: black, isort
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/readme/ROADMAP.rst
  web_widget_url_advanced/static/src/js/url_widget.js
  web_widget_url_advanced/templates/assets.xml
Due: prettier, eslint

Update translation files
  web_widget_url_advanced/i18n/es.po
  web_widget_url_advanced/i18n/zh_CN.po
Due: none

[14.0][MIG] web_widget_url_advanced
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/readme/CONTRIBUTORS.rst
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_widget_url_advanced/i18n/zh_CN.po
Due: none
