Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_widget_x2many_2d_matrix: remove bg-colors to work with Odoo EE dark mode.
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

[BOT] post-merge updates
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[FIX] web_widget_x2many_2d_matrix: adapt test invocation to upstream changes
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
  web_widget_x2many_2d_matrix/tests/test_web_widget_x2many_2d_matrix.py
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: don't break non-many2one value fields
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[MIG] web_widget_x2many_2d_matrix: Migration to 19.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: restore pre-v16 functionality (clickable)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: update maintainers
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[BOT] post-merge updates
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[18.0][FIX]: web_widget_x2many_2d_matrix: limit options values to x2many fields.
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: restore pre-v17 functionality (axes)
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[IMP] web_widget_plotly: black, isort, prettier
  web_widget_plotly_chart/__init__.py
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/static/src/js/widget_plotly.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier, eslint

[16.0][MIG] Migration to v16.0
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
  web_widget_plotly_chart/static/src/js/widget_plotly.js
  web_widget_plotly_chart/static/src/js/widget_plotly.xml
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.18.2.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.7.0.min.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier, eslint

Added translation using Weblate (Portuguese (Brazil))
  web_widget_plotly_chart/i18n/pt_BR.po
Due: none

[12.0][NEW] web_widget_plotly_chart
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__init__.py
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/readme/CONTRIBUTORS.rst
  web_widget_plotly_chart/readme/CREDITS.rst
  web_widget_plotly_chart/readme/DESCRIPTION.rst
  web_widget_plotly_chart/readme/INSTALL.rst
  web_widget_plotly_chart/readme/USAGE.rst
  web_widget_plotly_chart/static/description/example.png
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/lib/plotly/plotly-latest.min.js
  web_widget_plotly_chart/static/src/js/widget_plotly.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier, eslint

[UPD] README.rst
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/static/description/index.html
Due: none

[UPD] Update web_widget_plotly_chart.pot
  web_widget_plotly_chart/i18n/web_widget_plotly_chart.pot
Due: none

Added translation using Weblate (Spanish)
  web_widget_plotly_chart/i18n/es.po
Due: none

Added translation using Weblate (Italian)
  web_widget_plotly_chart/i18n/it.po
Due: none

Added translation using Weblate (Catalan)
  web_widget_plotly_chart/i18n/ca.po
Due: none

[17.0][MIG] Migrate web_widget_plotly_chart
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/pyproject.toml
  web_widget_plotly_chart/readme/CONTRIBUTORS.md
  web_widget_plotly_chart/readme/CONTRIBUTORS.rst
  web_widget_plotly_chart/readme/CREDITS.md
  web_widget_plotly_chart/readme/CREDITS.rst
  web_widget_plotly_chart/readme/DESCRIPTION.md
  web_widget_plotly_chart/readme/DESCRIPTION.rst
  web_widget_plotly_chart/readme/INSTALL.md
  web_widget_plotly_chart/readme/INSTALL.rst
  web_widget_plotly_chart/readme/USAGE.md
  web_widget_plotly_chart/readme/USAGE.rst
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
  web_widget_plotly_chart/static/src/js/widget_plotly.xml
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.18.2.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.32.0.min.js
Due: prettier, eslint

Added translation using Weblate (Danish)
  web_widget_plotly_chart/i18n/da.po
Due: none

[MIG] web_widget_plotly_chart: Migration to 14.0
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/readme/INSTALL.rst
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/lib/plotly/plotly-latest.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.7.0.min.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier

Update translation files
  web_widget_plotly_chart/i18n/ca.po
  web_widget_plotly_chart/i18n/da.po
  web_widget_plotly_chart/i18n/es.po
  web_widget_plotly_chart/i18n/pt_BR.po
Due: none

[FIX] image path
  web_widget_plotly_chart/readme/DESCRIPTION.rst
Due: none

[ADD] icon.png
  web_widget_plotly_chart/static/description/icon.png
Due: none

Update translation files
  web_widget_plotly_chart/i18n/it.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

