Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] recaptured actual description screenshots
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/img/appmenu.gif
  web_responsive/static/img/appsearch.gif
  web_responsive/static/img/big_checkboxes.gif
  web_responsive/static/img/breadcrumbs.gif
  web_responsive/static/img/calendar.gif
  web_responsive/static/img/chatter.gif
  web_responsive/static/img/chatter_sided.gif
  web_responsive/static/img/chatter_topbar.gif
  web_responsive/static/img/device_rotation.gif
  web_responsive/static/img/document_viewer.gif
  web_responsive/static/img/dropdown_scroll.gif
  web_responsive/static/img/form_buttons.gif
  web_responsive/static/img/formview.gif
  web_responsive/static/img/hamburger.gif
  web_responsive/static/img/kanban.gif
  web_responsive/static/img/listview.gif
  web_responsive/static/img/mobile_search.gif
  web_responsive/static/img/navbar.gif
  web_responsive/static/img/search_panel.gif
  web_responsive/static/img/shortcuts.gif
  web_responsive/static/img/usermenu.gif
  web_responsive/static/img/viewtype.gif
Due: none

[FIX] make base odoo JS tests working with web_responsive module
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

Translated using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

[16.0][FIX] web_responsive: Fixed full-screen apps menu
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

web_responsive 16.0.1.1.1
  web_responsive/__manifest__.py
Due: none

oca-github-bot post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

web_responsive 16.0.1.0.5
  web_responsive/__manifest__.py
Due: none

Translated using Weblate (Italian)
  web_responsive/i18n/it.po
Due: none

[FIX] web_responsive: Show View Type Always
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

Added translation using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

web_responsive 15.0.1.1.5
  web_responsive/__manifest__.py
Due: none

web_responsive 16.0.1.0.2
  web_responsive/__manifest__.py
Due: none

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

Update translation files
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/zh_CN.po
Due: none

[IMP] web_responsive: public message chatter color
  web_responsive/README.rst
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/chatter-colors.gif
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

web_responsive 16.0.1.1.2
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: Wrap text when display_name is too long
  web_responsive/__manifest__.py
  web_responsive/static/src/views/form/form_controller.scss
Due: prettier

Revert "[FIX] web_responsive: Update z-index in apps menu.scss to fix overlapping issue:"
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/zh_CN.po
Due: none

[FIX] kanban mode for popup in Many2One fields on mobile
  web_responsive/static/src/legacy/js/web_responsive.js
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
Due: prettier, eslint

[FIX] web_responsive: fix dropdown caret visibility on website
  web_responsive/static/src/legacy/scss/website_apps_menu.scss
Due: prettier

web_responsive 15.0.1.1.1
  web_responsive/__manifest__.py
Due: none

Translated using Weblate (Croatian)
  web_responsive/i18n/hr.po
Due: none

[FIX] Split button templates to show translated labels
  web_responsive/static/src/legacy/xml/form_buttons.xml
Due: prettier

[FIX] web_responsive: Update z-index in apps menu.scss to fix overlapping issue:
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

[IMP] web_responsive: Adapt label width
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/label_size_large.png
  web_responsive/static/img/label_size_small.png
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
  web_responsive/static/src/legacy/scss/web_responsive.scss
  web_responsive/static/src/legacy/scss/website_apps_menu.scss
Due: prettier

[FIX] web_responsive: Can't access web using superuser
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

[FIX] web_responsive: Align menu for dates in filters
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

