Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX] web_widget_x2many_2d_matrix: make the possibility to have alternative values for headers of rows and columns working
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] web_widget_x2many_2d_matrix dev status to Production/stable
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[IMP] web_widget_x2many_2d_matrix: Check is aggregatable
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[MIG] web_widget_x2_many_2d_matrix: Migration to 16.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_view.js
  web_widget_x2many_2d_matrix/static/src/js/abstract_view_matrix_limit_extend.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

Translated using Weblate (German)
  web_widget_x2many_2d_matrix/i18n/de.po
Due: none

[IMP] web_widget_x2many_2d_matrix: Many2one value field
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: many2one domain issue
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

[16.0][FIX] web_widget_x2many_2d_matrix: cells with no data error
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[FIX]: web_widget_x2many_2d_matrix: Editable boolean
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/views/fields/boolean/boolean_field.esm.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: pre-commit auto fixes
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/pyproject.toml
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/readme/DESCRIPTION.md
  web_widget_x2many_2d_matrix/readme/DESCRIPTION.rst
  web_widget_x2many_2d_matrix/readme/HISTORY.md
  web_widget_x2many_2d_matrix/readme/HISTORY.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.md
  web_widget_x2many_2d_matrix/readme/ROADMAP.rst
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/views/fields/boolean/boolean_field.esm.js
Due: prettier, eslint

[MIG] web_widget_x2many_2d_matrix: Migration to 17.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
  web_widget_x2many_2d_matrix/static/src/views/fields/boolean/boolean_field.esm.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: allow to set options and attrs for field value
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[MIG] web_widget_x2many_2d_matrix: Migration to 18.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: remove bg-colors to work with Odoo EE dark mode.
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

[IMP] web_widget_x2many_2d_matrix: Fix domain issue
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: update maintainers
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[18.0][FIX]: web_widget_x2many_2d_matrix: limit options values to x2many fields.
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: don't break non-many2one value fields
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[ADD] web_widget_x2many_2d_matrix: tests
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
  web_widget_x2many_2d_matrix/tests/__init__.py
  web_widget_x2many_2d_matrix/tests/test_web_widget_x2many_2d_matrix.py
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: restore pre-v16 functionality (nodes)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.md
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
Due: prettier, eslint

[ADD] hbrunn as maintainer, HE as author
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[FIX] web_widget_x2many_2d_matrix: restore pre-v16 functionality (clickable)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: demo page on group form
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
Due: prettier

[IMP] web_widget_x2many_2d_matrix: don't choke on missing data
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: adapt test invocation to upstream changes
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
  web_widget_x2many_2d_matrix/tests/test_web_widget_x2many_2d_matrix.py
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: restore pre-v17 functionality (axes)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[UPD] Update web_widget_pattern.pot
  web_widget_pattern/i18n/web_widget_pattern.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_pattern/README.rst
  web_widget_pattern/static/description/index.html
Due: none

[ADD] web_filter_paste_multiline: creation of module
  web_filter_paste_multiline/README.rst
  web_filter_paste_multiline/__init__.py
  web_filter_paste_multiline/__manifest__.py
  web_filter_paste_multiline/pyproject.toml
  web_filter_paste_multiline/readme/CONTRIBUTORS.md
  web_filter_paste_multiline/readme/DESCRIPTION.md
  web_filter_paste_multiline/readme/USAGE.md
  web_filter_paste_multiline/static/description/index.html
  web_filter_paste_multiline/static/description/paste_after.png
  web_filter_paste_multiline/static/description/paste_before.png
  web_filter_paste_multiline/static/src/list_paste_multiline.esm.js
  web_filter_paste_multiline/static/src/list_paste_multiline.xml
  web_filter_paste_multiline/static/tests/list_paste_multiline.test.js
  web_filter_paste_multiline/tests/__init__.py
  web_filter_paste_multiline/tests/test_web_filter_paste_multiline.py
Due: prettier, eslint

[MIG] web_no_bubble: Migration to 11.0
  web_no_bubble/README.rst
  web_no_bubble/__manifest__.py
  web_no_bubble/i18n/web_no_bubble.pot
  web_no_bubble/views/web_no_bubble.xml
Due: prettier

[10.0] Add module web_no_bubble
  web_no_bubble/README.rst
  web_no_bubble/__init__.py
  web_no_bubble/__manifest__.py
  web_no_bubble/static/description/icon.png
  web_no_bubble/static/src/css/web_no_bubble.css
  web_no_bubble/views/web_no_bubble.xml
Due: prettier

[MIG] web_no_bubble: Migration to 14.0
  web_no_bubble/README.rst
  web_no_bubble/__manifest__.py
  web_no_bubble/i18n/es.po
  web_no_bubble/i18n/web_no_bubble.pot
  web_no_bubble/readme/CONTRIBUTORS.rst
  web_no_bubble/static/description/index.html
  web_no_bubble/views/web_no_bubble.xml
Due: prettier

[16.0][MIG] web_no_bubble
  web_no_bubble/README.rst
  web_no_bubble/__manifest__.py
  web_no_bubble/i18n/web_no_bubble.pot
  web_no_bubble/static/description/index.html
  web_no_bubble/static/src/css/web_no_bubble.scss
Due: prettier

[MIG] web_no_bubble: Migration to 15.0
  web_no_bubble/README.rst
  web_no_bubble/__manifest__.py
  web_no_bubble/i18n/fr_FR.po
  web_no_bubble/i18n/hr.po
  web_no_bubble/i18n/web_no_bubble.pot
  web_no_bubble/i18n/zh_CN.po
  web_no_bubble/readme/CONTRIBUTORS.rst
  web_no_bubble/static/description/index.html
  web_no_bubble/views/web_no_bubble.xml
Due: prettier

[IMP] web_no_bubble: black, isort
  web_no_bubble/__manifest__.py
Due: none

[IMP] pre-commit run after update
  web_no_bubble/static/src/css/web_no_bubble.scss
  web_no_bubble/views/web_no_bubble.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

