Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[UPD] Update web_responsive_company.pot
  web_responsive_company/i18n/web_responsive_company.pot
Due: none

[BOT] post-merge updates
  README.md
  web_responsive_company/README.rst
  web_responsive_company/__manifest__.py
  web_responsive_company/static/description/index.html
Due: none

Update translation files
  web_responsive_company/i18n/fa.po
  web_responsive_company/i18n/fr.po
  web_responsive_company/i18n/it.po
Due: none

[FIX] web_dialog_size: fetch the size configuration once per session
  web_dialog_size/static/src/js/web_dialog_size.esm.js
Due: prettier, eslint

[MIG] web_notify_upgrade: Migration to 18.0
  web_notify_upgrade/__manifest__.py
  web_notify_upgrade/models/ir_model.py
Due: none

[BOT] post-merge updates
  web_notify_upgrade/README.rst
  web_notify_upgrade/static/description/index.html
Due: none

[16.0][MIG] web_notify_upgrade
  web_notify_upgrade/README.rst
  web_notify_upgrade/__manifest__.py
  web_notify_upgrade/static/description/index.html
Due: none

[IMP] web_notify_upgrade: pre-commit execution
  web_notify_upgrade/README.rst
  web_notify_upgrade/pyproject.toml
  web_notify_upgrade/readme/CONTRIBUTORS.md
  web_notify_upgrade/readme/CONTRIBUTORS.rst
  web_notify_upgrade/readme/DESCRIPTION.md
  web_notify_upgrade/readme/DESCRIPTION.rst
  web_notify_upgrade/static/description/index.html
Due: prettier

[16.0] web_notify_upgrade: fr translation
  web_notify_upgrade/README.rst
  web_notify_upgrade/i18n/fr.po
  web_notify_upgrade/i18n/it.po
  web_notify_upgrade/models/ir_model.py
  web_notify_upgrade/readme/DESCRIPTION.rst
  web_notify_upgrade/static/description/index.html
  web_notify_upgrade/static/description/notify.png
Due: none

[UPD] Update web_notify_upgrade.pot
  web_notify_upgrade/i18n/web_notify_upgrade.pot
Due: none

Translated using Weblate (Slovenian)
  web_notify_upgrade/i18n/sl.po
Due: none

[ADD] web_notify_upgrade
  web_notify_upgrade/README.rst
  web_notify_upgrade/__init__.py
  web_notify_upgrade/__manifest__.py
  web_notify_upgrade/models/__init__.py
  web_notify_upgrade/models/ir_model.py
  web_notify_upgrade/readme/CONTRIBUTORS.rst
  web_notify_upgrade/readme/DESCRIPTION.rst
  web_notify_upgrade/static/description/index.html
Due: none

Added translation using Weblate (Slovenian)
  web_notify_upgrade/i18n/sl.po
Due: none

[BOT] post-merge updates
  web_notify_upgrade/README.rst
  web_notify_upgrade/__manifest__.py
  web_notify_upgrade/static/description/icon.png
  web_notify_upgrade/static/description/index.html
Due: none

[IMP] web_notify_upgrade: auto fixes
  web_notify_upgrade/README.rst
  web_notify_upgrade/__manifest__.py
  web_notify_upgrade/static/description/index.html
Due: none

[MIG] web_notify_upgrade: Migration to 19.0
  web_notify_upgrade/models/ir_model.py
Due: none

[MIG] web_sheet_full_width: Migration to 13.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.less
Due: prettier

[13.0][MIG] web_sheet_full_width: * less -> scss * fragment readme + add a pointer to web_responsive
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/i18n/web_sheet_full_width.pot
  web_sheet_full_width/readme/CONTRIBUTORS.rst
  web_sheet_full_width/readme/DESCRIPTION.rst
  web_sheet_full_width/static/description/index.html
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
  web_sheet_full_width/templates/assets.xml
Due: prettier

[MIG] web_sheet_full_width: Migration to 14.0
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
Due: prettier

Added translation using Weblate (Italian)
  web_sheet_full_width/i18n/it.po
Due: none

Added translation using Weblate (Galician)
  web_sheet_full_width/i18n/gl.po
Due: none

[MIG] web_sheet_full_width: Migration to 15.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/i18n/web_sheet_full_width.pot
  web_sheet_full_width/static/description/index.html
  web_sheet_full_width/templates/assets.xml
Due: prettier

[FIX] web_sheet_full_width: PEP8
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/i18n/web_sheet_full_width.pot
Due: none

Added translation using Weblate (Spanish)
  web_sheet_full_width/i18n/es.po
Due: none

[MIG] web_sheet_full_width: Migration to 16.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/i18n/es.po
  web_sheet_full_width/i18n/web_sheet_full_width.pot
  web_sheet_full_width/static/description/index.html
Due: none

[IMP] web_sheet_full_width: black, isort, prettier
  web_sheet_full_width/__init__.py
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.less
  web_sheet_full_width/templates/assets.xml
Due: prettier

[BOT] post-merge updates
  README.md
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
Due: none

[UPD] Update web_font_size_report_layout.pot
  web_font_size_report_layout/i18n/web_font_size_report_layout.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/index.html
Due: none

[UPD] Update web_search_deactivate_autosearch.pot
  web_search_deactivate_autosearch/i18n/web_search_deactivate_autosearch.pot
Due: none

[19.0][MIG] web_sheet_full_width: Migration to 19.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/pyproject.toml
  web_sheet_full_width/readme/CONTRIBUTORS.md
  web_sheet_full_width/readme/CONTRIBUTORS.rst
  web_sheet_full_width/readme/DESCRIPTION.md
  web_sheet_full_width/readme/DESCRIPTION.rst
  web_sheet_full_width/static/description/index.html
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
Due: prettier

[FIX] web_form_view_resizable: fix migration to make it work with pdf viewer
  web_form_view_resizable/README.rst
  web_form_view_resizable/static/src/js/form_view_resizable.esm.js
  web_form_view_resizable/static/src/scss/form_view_resizable.scss
Due: prettier, eslint

[19.0][MIG] web_widget_dropdown_dynamic: Migration to 19.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/demo/ir_filters_view.xml
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic.test.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
  web_widget_dropdown_dynamic/tests/__init__.py
  web_widget_dropdown_dynamic/tests/test_ir_filters.py
  web_widget_dropdown_dynamic/tests/test_web_widget_dropdown_dynamic.py
Due: prettier, eslint

[19.0][FIX] web_dialog_size: preserve standard Dialog sizes
  web_dialog_size/static/src/js/web_dialog_size.esm.js
Due: prettier, eslint

[18.0][IMP] web_responsive: add opt-in setting for automatic PDF invoice preview opening
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/i18n/de.po
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/ir_http.py
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/readme/DESCRIPTION.md
  web_responsive/readme/USAGE.md
  web_responsive/static/description/index.html
  web_responsive/static/img/auto_open_invoice_preview.png
  web_responsive/static/src/components/file_viewer/auto_open.esm.js
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

[ADD] web_widget_autocomplete: add Char widget
  web_widget_autocomplete/README.rst
  web_widget_autocomplete/__init__.py
  web_widget_autocomplete/__manifest__.py
  web_widget_autocomplete/pyproject.toml
  web_widget_autocomplete/readme/CONFIGURE.md
  web_widget_autocomplete/readme/CONTRIBUTORS.md
  web_widget_autocomplete/readme/CREDITS.md
  web_widget_autocomplete/readme/DESCRIPTION.md
  web_widget_autocomplete/readme/USAGE.md
  web_widget_autocomplete/static/description/index.html
  web_widget_autocomplete/static/src/autocomplete_field.esm.js
  web_widget_autocomplete/static/src/autocomplete_field.xml
  web_widget_autocomplete/static/tests/autocomplete_field.test.js
  web_widget_autocomplete/tests/__init__.py
  web_widget_autocomplete/tests/test_web_widget_autocomplete.py
Due: prettier, eslint

[ADD] web_widget_autocomplete_demo: city ZIP fill
  web_widget_autocomplete_demo/README.rst
  web_widget_autocomplete_demo/__init__.py
  web_widget_autocomplete_demo/__manifest__.py
  web_widget_autocomplete_demo/models/__init__.py
  web_widget_autocomplete_demo/models/res_partner.py
  web_widget_autocomplete_demo/pyproject.toml
  web_widget_autocomplete_demo/readme/CONFIGURE.md
  web_widget_autocomplete_demo/readme/CONTRIBUTORS.md
  web_widget_autocomplete_demo/readme/CREDITS.md
  web_widget_autocomplete_demo/readme/DESCRIPTION.md
  web_widget_autocomplete_demo/readme/USAGE.md
  web_widget_autocomplete_demo/static/description/index.html
  web_widget_autocomplete_demo/tests/__init__.py
  web_widget_autocomplete_demo/tests/test_res_partner.py
  web_widget_autocomplete_demo/views/res_partner_views.xml
Due: prettier

[FIX] web_widget_pattern: isolate HOOT filter
  web_widget_pattern/tests/test_web_widget_pattern.py
Due: none

[DON'T MERGE] test-requirements.txt
  test-requirements.txt
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

