Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_refresher: add auto refresh on interval
  web_refresher/__manifest__.py
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[IMP] Slightly more elegent form of loading
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[FIX] parse int from localstorage
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[FIX] Moving state to local storage and defaulting the value on load
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[CHORE] web_refresher: one more lint fix
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[CHORE] lint
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[FIX] web_refresher: linting
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[LINT] fix lint errors
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[IMP] web_refresher: make the interval text cleaner
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

Hide on small view auto refresh
  web_refresher/static/src/xml/refresher.xml
Due: prettier

[IMP] add per page settings and a default
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[FIX] Fixing up the "default" setting when not yet set
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

fix: memory leak due to held refrence blocking GC
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[LINT] Always with the lint failures
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

Migration of web_tree_dynamic_colored_field to 10.0
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/views/web_tree_dynamic_colored_field.xml
Due: prettier

web_tree_dynamic_colored_field: Assume that color may not start with 'color_field'
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

Update README because of wrong license
  web_tree_dynamic_colored_field/README.rst
Due: none

web_tree_dynamic_colored_field: Parse field options with pyeval
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

web_tree_dynamic_colored_field v9
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__init__.py
  web_tree_dynamic_colored_field/__openerp__.py
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: Update README.rst (#899)
  web_tree_dynamic_colored_field/README.rst
Due: none

web_tree_dynamic_colored_field: Migration to 12.0
  web_tree_dynamic_colored_field/__init__.py
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.rst
  web_tree_dynamic_colored_field/readme/DESCRIPTION.rst
  web_tree_dynamic_colored_field/readme/USAGE.rst
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
  web_tree_dynamic_colored_field/views/web_tree_dynamic_colored_field.xml
Due: prettier, eslint

[MIG] web_tree_dynamic_colored_field: Migration to 11.0
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__init__.py
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
  web_tree_dynamic_colored_field/static/src/xml/web_tree_dynamic_colored_field.xml
  web_tree_dynamic_colored_field/views/web_tree_dynamic_colored_field.xml
Due: prettier, eslint

[FIX] Issue #906
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

web_tree_dynamic_colored_field: correct options examples in readme
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
Due: none

delete unused code, move files to standard locations
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__openerp__.py
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
  web_tree_dynamic_colored_field/static/src/xml/web_tree_dynamic_colored_field.xml
  web_tree_dynamic_colored_field/views/web_tree_dynamic_colored_field.xml
Due: prettier, eslint

[IMP] rename module to 'web_tree_dynamic_colored_field'
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__init__.py
  web_tree_dynamic_colored_field/__openerp__.py
  web_tree_dynamic_colored_field/static/description/icon.png
  web_tree_dynamic_colored_field/static/js/web_tree_dynamic_colored_field.js
  web_tree_dynamic_colored_field/static/xml/web_tree_dynamic_colored_field.xml
  web_tree_dynamic_colored_field/views/web_tree_dynamic_colored_field.xml
Due: prettier, eslint

Run pre-commit and fix js issues after rebase on new config
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
  web_tree_dynamic_colored_field/views/web_tree_dynamic_colored_field.xml
Due: prettier, eslint

[REF] web_tree_dynamic_colored_field: Black python code
  web_tree_dynamic_colored_field/__manifest__.py
Due: none

remove pyeval class and fixup
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/i18n/es.po
  web_tree_dynamic_colored_field/i18n/fi.po
  web_tree_dynamic_colored_field/i18n/nl_NL.po
  web_tree_dynamic_colored_field/i18n/sl.po
  web_tree_dynamic_colored_field/i18n/web_tree_dynamic_colored_field.pot
  web_tree_dynamic_colored_field/i18n/zh_CN.po
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: pre-commit auto fixes
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/static/description/index.html
Due: none

Remove support of dynamic colors on <tree>
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/readme/DESCRIPTION.rst
  web_tree_dynamic_colored_field/readme/ROADMAP.rst
  web_tree_dynamic_colored_field/readme/USAGE.rst
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

[MIG] web_tree_dynamic_colored_field: Migration to 13.0
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/readme/DESCRIPTION.rst
  web_tree_dynamic_colored_field/readme/USAGE.rst
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

[FIX] web_tree_dynamic_colored_field: warning odoo-module
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

run pre-commit with new prettiers
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/i18n/es.po
  web_tree_dynamic_colored_field/i18n/fi.po
  web_tree_dynamic_colored_field/i18n/nl_NL.po
  web_tree_dynamic_colored_field/i18n/sl.po
  web_tree_dynamic_colored_field/i18n/web_tree_dynamic_colored_field.pot
  web_tree_dynamic_colored_field/static/description/index.html
Due: prettier

Added translation using Weblate (Italian)
  web_tree_dynamic_colored_field/i18n/it.po
Due: none

[MIG] web_tree_dynamic_colored_field: Migration to 18.0
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/i18n/it.po
  web_tree_dynamic_colored_field/i18n/sl.po
  web_tree_dynamic_colored_field/i18n/web_tree_dynamic_colored_field.pot
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[UPD] web_tree_dynamic_colored_field: readme usage section
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/readme/USAGE.rst
  web_tree_dynamic_colored_field/static/description/index.html
Due: none

[MIG] web_tree_dynamic_colored_field: Migration to 17.0
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/i18n/web_tree_dynamic_colored_field.pot
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.md
  web_tree_dynamic_colored_field/readme/CREDITS.md
  web_tree_dynamic_colored_field/readme/ROADMAP.md
  web_tree_dynamic_colored_field/readme/USAGE.md
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
  web_tree_dynamic_colored_field/static/src/xml/list.xml
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field : Add bg_color_field option
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.rst
  web_tree_dynamic_colored_field/readme/USAGE.rst
  web_tree_dynamic_colored_field/static/src/js/web_tree_dynamic_colored_field.js
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: pre-commit auto fixes (before v17)
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/pyproject.toml
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.md
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.rst
  web_tree_dynamic_colored_field/readme/CREDITS.md
  web_tree_dynamic_colored_field/readme/DESCRIPTION.md
  web_tree_dynamic_colored_field/readme/DESCRIPTION.rst
  web_tree_dynamic_colored_field/readme/ROADMAP.md
  web_tree_dynamic_colored_field/readme/ROADMAP.rst
  web_tree_dynamic_colored_field/readme/USAGE.md
  web_tree_dynamic_colored_field/readme/USAGE.rst
  web_tree_dynamic_colored_field/static/description/index.html
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

