Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_timeline: Wrap fields_get arg into a list
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_timeline/i18n/it.po
Due: none

Make is_redirect_home field visible in user form
  web_responsive/views/res_users_views.xml
Due: prettier

[MIG][19.0] web_widget_open_tab: Migration to 19.0
  web_widget_open_tab/README.rst
  web_widget_open_tab/__init__.py
  web_widget_open_tab/__manifest__.py
  web_widget_open_tab/demo/res_users_view.xml
  web_widget_open_tab/i18n/ca.po
  web_widget_open_tab/i18n/de.po
  web_widget_open_tab/i18n/es.po
  web_widget_open_tab/i18n/it.po
  web_widget_open_tab/i18n/ja.po
  web_widget_open_tab/i18n/pt_BR.po
  web_widget_open_tab/i18n/web_widget_open_tab.pot
  web_widget_open_tab/models/__init__.py
  web_widget_open_tab/models/ir_model.py
  web_widget_open_tab/models/ir_ui_view.py
  web_widget_open_tab/pyproject.toml
  web_widget_open_tab/readme/CONTRIBUTORS.md
  web_widget_open_tab/readme/DESCRIPTION.md
  web_widget_open_tab/readme/ROADMAP.md
  web_widget_open_tab/readme/USAGE.md
  web_widget_open_tab/static/description/icon.png
  web_widget_open_tab/static/description/index.html
  web_widget_open_tab/static/src/js/open_tab_widget.esm.js
  web_widget_open_tab/static/src/xml/open_tab_widget.xml
  web_widget_open_tab/tests/__init__.py
  web_widget_open_tab/tests/test_main.py
  web_widget_open_tab/views/ir_model_views.xml
Due: prettier, eslint

[FIX] web_save_discard_button: readme
  web_save_discard_button/README.md
  web_save_discard_button/README.rst
  web_save_discard_button/static/description/index.html
Due: prettier

[BOT] post-merge updates
  README.md
  web_save_discard_button/README.rst
  web_save_discard_button/__manifest__.py
  web_save_discard_button/static/description/index.html
Due: none

[ADD] web_font_size_report_layout: web_font_size_report_layout module added.
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/__init__.py
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/__init__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/models/res_company.py
  web_font_size_report_layout/pyproject.toml
  web_font_size_report_layout/readme/CONTRIBUTORS.md
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/readme/INSTALL.md
  web_font_size_report_layout/readme/USAGE.md
  web_font_size_report_layout/static/description/icon.png
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/static/src/scss/report_font_size.scss
  web_font_size_report_layout/tests/__init__.py
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/views/base_document_layout_views.xml
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[MIG] web_remember_tree_column_width: Migration to 19.0
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/__manifest__.py
  web_remember_tree_column_width/readme/CONTRIBUTORS.md
  web_remember_tree_column_width/static/description/index.html
Due: none

[UPD] Update web_remember_tree_column_width.pot
  web_remember_tree_column_width/i18n/web_remember_tree_column_width.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/static/description/index.html
Due: none

[UPD] web_m2x_options_manager: overhaul
  test-requirements.txt
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/hooks.py
  web_m2x_options_manager/i18n/es.po
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/migrations/15.0.2.0.0/pre-mig.py
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_model_fields.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/common.py
  web_m2x_options_manager/tests/test_ir_model.py
  web_m2x_options_manager/tests/test_ir_model_fields.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/tools.py
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

[ADD] Adds web forms
  requirements.txt
  web_form/README.rst
  web_form/__init__.py
  web_form/__manifest__.py
  web_form/controllers/__init__.py
  web_form/controllers/web_form.py
  web_form/models/__init__.py
  web_form/models/res_partner.py
  web_form/models/web_form.py
  web_form/models/web_form_default.py
  web_form/models/web_form_input.py
  web_form/models/web_form_line.py
  web_form/pyproject.toml
  web_form/readme/CONTEXT.md
  web_form/readme/CONTRIBUTORS.md
  web_form/readme/DESCRIPTION.md
  web_form/readme/USAGE.md
  web_form/security/groups.xml
  web_form/security/web_form.xml
  web_form/security/web_form_default.xml
  web_form/security/web_form_input.xml
  web_form/static/description/icon.png
  web_form/static/description/index.html
  web_form/tests/__init__.py
  web_form/tests/test_web_form.py
  web_form/tools.py
  web_form/views/templates.xml
  web_form/views/web_form.xml
Due: prettier

[BOT] post-merge updates
  README.md
  web_widget_open_tab/README.rst
  web_widget_open_tab/__manifest__.py
  web_widget_open_tab/static/description/index.html
Due: none

[16.0][ADD] web_sort_menu: Module web_sort_menu
  web_sort_menu/README.rst
  web_sort_menu/__init__.py
  web_sort_menu/__manifest__.py
  web_sort_menu/readme/CONTRIBUTORS.rst
  web_sort_menu/readme/DESCRIPTION.rst
  web_sort_menu/readme/USAGE.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
  web_sort_menu/static/src/js/sort_app_menu.esm.js
  web_sort_menu/static/src/xml/sort_app_menu.xml
Due: prettier, eslint

[MIG] web_sort_menu: Migration to 18.0
  web_sort_menu/README.rst
  web_sort_menu/__manifest__.py
  web_sort_menu/pyproject.toml
  web_sort_menu/readme/CONTRIBUTORS.md
  web_sort_menu/readme/CONTRIBUTORS.rst
  web_sort_menu/readme/DESCRIPTION.md
  web_sort_menu/readme/DESCRIPTION.rst
  web_sort_menu/readme/USAGE.md
  web_sort_menu/readme/USAGE.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
  web_sort_menu/static/src/js/sort_app_menu.esm.js
  web_sort_menu/static/src/xml/sort_app_menu.xml
Due: prettier, eslint

web_search_with_and: Migration to 11.0
  web_search_with_and/README.rst
  web_search_with_and/__init__.py
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/web_search_with_and.pot
Due: none

Port web_search_with_and to version 12.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/web_search_with_and.pot
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/readme/DESCRIPTION.rst
  web_search_with_and/readme/USAGE.rst
  web_search_with_and/static/description/index.html
Due: none

Added translation using Weblate (Portuguese)
  web_search_with_and/i18n/pt.po
Due: none

- migration web_search_with_and
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/data/data.xml
  web_search_with_and/i18n/web_search_with_and.pot
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_search_with_and/i18n/es.po
Due: none

web_search_with_and: Migration to 14.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/web_search_with_and.pot
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/control_panel_model_extension.js
  web_search_with_and/static/src/js/search.js
  web_search_with_and/static/src/js/search_bar.js
  web_search_with_and/views/assets.xml
Due: prettier, eslint

web_search_with_and: black, isort, prettier
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_search_with_and/i18n/it.po
Due: none

web_search_with_and: Migration to 15.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/web_search_with_and.pot
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/control_panel_model_extension.js
  web_search_with_and/static/src/js/search_bar.js
  web_search_with_and/views/assets.xml
Due: prettier, eslint

[16.0][MIG] web_search_with_and.
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/es.po
  web_search_with_and/i18n/it.po
  web_search_with_and/i18n/pt.po
  web_search_with_and/i18n/web_search_with_and.pot
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/control_panel_model_extension.js
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_bar.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

[MIG] web_search_with_and: Migration to 18.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/web_search_with_and.pot
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

[MIG] web_search_with_and: Migration to 17.0
  web_search_with_and/__manifest__.py
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

[IMP] web_search_with_and: black, isort, prettier
  web_search_with_and/README.rst
  web_search_with_and/pyproject.toml
  web_search_with_and/readme/CONTRIBUTORS.md
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/readme/DESCRIPTION.md
  web_search_with_and/readme/DESCRIPTION.rst
  web_search_with_and/readme/USAGE.md
  web_search_with_and/readme/USAGE.rst
  web_search_with_and/static/description/index.html
Due: prettier

[IMP] web_search_with_and: black, isort, prettier
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

[FIX] web_search_with_and: support add custom filter
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/search_bar.esm.js
Due: prettier, eslint

[MIG] web_search_with_and: Migration to 19.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

Added translation using Weblate (Turkish)
  web_search_with_and/i18n/tr.po
Due: none

[UPD] Update web_search_with_and.pot
  web_search_with_and/i18n/web_search_with_and.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

[ADD] web_widget_date_more_filters: New module
  setup/web_widget_date_more_filters/odoo/addons/web_widget_date_more_filters
  setup/web_widget_date_more_filters/setup.py
  web_widget_date_more_filters/README.rst
  web_widget_date_more_filters/__init__.py
  web_widget_date_more_filters/__manifest__.py
  web_widget_date_more_filters/i18n/fr.po
  web_widget_date_more_filters/readme/CONTRIBUTORS.rst
  web_widget_date_more_filters/readme/DESCRIPTION.rst
  web_widget_date_more_filters/static/description/index.html
  web_widget_date_more_filters/static/src/js/web_widget_date_more_filters.esm.js
  web_widget_date_more_filters/static/tests/widget_filter_menu_tests.esm.js
Due: prettier, eslint

[ADD] web_select_all_companies
  web_select_all_companies/README.rst
  web_select_all_companies/__init__.py
  web_select_all_companies/__manifest__.py
  web_select_all_companies/i18n/fr.pot
  web_select_all_companies/i18n/web_select_all_companies.pot
  web_select_all_companies/readme/CONTRIBUTORS.rst
  web_select_all_companies/readme/DESCRIPTION.rst
  web_select_all_companies/static/description/index.html
  web_select_all_companies/static/description/select_all_companies.gif
  web_select_all_companies/static/src/js/switch_all_company_menu.esm.js
  web_select_all_companies/static/src/scss/switch_all_company_menu.scss
  web_select_all_companies/static/src/xml/switch_all_company_menu.xml
Due: prettier, eslint

[ADD] icon.png
  web_select_all_companies/static/description/icon.png
Due: none

Update translation files
  web_select_all_companies/i18n/fr.po
Due: none
