Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Added translation using Weblate (Spanish)
  web_dialog_size/i18n/es.po
Due: none

Added translation using Weblate (Italian)
  web_dialog_size/i18n/it.po
Due: none

Added translation using Weblate (German)
  web_dialog_size/i18n/de.po
Due: none

[15.0][MIG] web_dialog_size: migration to 15.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_draggable.esm.js
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/DialogDraggable.xml
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/templates/assets.xml
Due: prettier, eslint

[IMP] web_dialog_size: Migration to 16.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/de.po
  web_dialog_size/i18n/es.po
  web_dialog_size/i18n/fr.po
  web_dialog_size/i18n/it.po
  web_dialog_size/i18n/nl.po
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/i18n/zh_CN.po
  web_dialog_size/readme/CONFIGURATION.rst
  web_dialog_size/readme/CONFIGURE.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_draggable.esm.js
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/DialogDraggable.xml
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier, eslint

Translated using Weblate (Italian)
  web_dialog_size/i18n/it.po
Due: none

[FIX] web_dialog_size: Fixes on legacy Dialogs
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier, eslint

[IMP] web_dialog_size: pre-commit auto fixes
  web_dialog_size/README.rst
  web_dialog_size/pyproject.toml
  web_dialog_size/readme/CONFIGURE.md
  web_dialog_size/readme/CONFIGURE.rst
  web_dialog_size/readme/CONTRIBUTORS.md
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/readme/DESCRIPTION.md
  web_dialog_size/readme/DESCRIPTION.rst
  web_dialog_size/readme/ROADMAP.md
  web_dialog_size/readme/ROADMAP.rst
  web_dialog_size/static/description/index.html
Due: prettier

[MIG] web_dialog_size: Migration to 17.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/readme/CONTRIBUTORS.md
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_draggable.esm.js
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/DialogDraggable.xml
  web_dialog_size/static/src/xml/select_create_dialog.xml
  web_dialog_size/static/src/xml/web_dialog_header.xml
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier, eslint

[UPD] Update web_dialog_size.pot
  web_dialog_size/i18n/web_dialog_size.pot
Due: none

[BOT] post-merge updates
  web_dialog_size/README.rst
  web_dialog_size/static/description/index.html
Due: none

[MIG] web_dialog_size: Migration to 18.0
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/ExpandButton.xml
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 19.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/readme/CONTRIBUTORS.md
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_header.xml
Due: prettier, eslint

[FIX] web_dialog_size: Correct resizing of content when maximizing
  web_dialog_size/static/src/js/web_dialog_size.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
Due: none

[19.0][FIX] web_dialog_size: preserve standard Dialog sizes
  web_dialog_size/static/src/js/web_dialog_size.esm.js
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 20.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/select_create_dialog.xml
  web_dialog_size/static/src/xml/web_dialog_header.xml
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_copy_confirm/i18n/es.po
Due: none

[UPD] Update web_loading_block_ui.pot
  web_loading_block_ui/i18n/web_loading_block_ui.pot
Due: none

[UPD] Update web_responsive_attachment_preview.pot
  web_responsive_attachment_preview/i18n/web_responsive_attachment_preview.pot
Due: none

[FIX] web_responsive_company : use small images to make faster display of the list of companies
  web_responsive_company/static/src/xml/web_responsive_company.xml
Due: prettier

[IMP] web_environment_ribbon: Improved README
  web_environment_ribbon/README.rst
Due: none

[IMP] Change module name and every references to old name module in path
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__openerp__.py
  web_environment_ribbon/static/description/screenshot.png
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/view/base_view.xml
Due: prettier

ADD web_environment_ribbon - Minor improvement of transparency to allow top menu visibility
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

[UPD] README.rst
  web_environment_ribbon/static/description/index.html
Due: none

OCA Transbot updated translations from Transifex
  web_environment_ribbon/i18n/de.po
  web_environment_ribbon/i18n/fr.po
  web_environment_ribbon/i18n/hr.po
  web_environment_ribbon/i18n/nl_NL.po
  web_environment_ribbon/i18n/pt_BR.po
  web_environment_ribbon/i18n/sl.po
Due: none

[IMP] web_environment_ribbon: Add icon
  web_environment_ribbon/static/description/icon.png
Due: none

[IMP] Add default 'ribbon.name' configuration parameter
  web_environment_ribbon/README.rst
  web_environment_ribbon/__openerp__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

Translated using Weblate (Chinese (Simplified))
  web_environment_ribbon/i18n/zh_CN.po
Due: none

[IMP] web_environment_ribbon increase margin
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

[FIX] web_environment_ribbon : Fix menu_navbar overlap
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

[IMP] ribbon: no need for the backend model to have a table
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/security/web_environment_ribbon_backend.xml
Due: prettier

Added translation using Weblate (Portuguese)
  web_environment_ribbon/i18n/pt.po
Due: none

[IMP] Make web_environment_ribbon more generic
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_environment_ribbon/i18n/es.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

