Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


web_notify 14.0.1.0.1
  web_notify/__manifest__.py
Due: none

[IMP] pre-commit run after update
  web_notify/static/src/js/web_client.js
  web_notify/static/src/js/widgets/notification.js
  web_notify/static/src/scss/webclient.scss
  web_notify/views/res_users_demo.xml
  web_notify/views/web_notify.xml
Due: prettier, eslint

[IMP] web_notify: pre-commit auto fixes
  web_notify/README.rst
  web_notify/pyproject.toml
  web_notify/readme/CONTRIBUTORS.md
  web_notify/readme/CONTRIBUTORS.rst
  web_notify/readme/DESCRIPTION.md
  web_notify/readme/DESCRIPTION.rst
  web_notify/readme/INSTALL.md
  web_notify/readme/INSTALL.rst
  web_notify/readme/USAGE.md
  web_notify/readme/USAGE.rst
  web_notify/static/description/index.html
Due: prettier

[MIG] web_notify: Migration to 11.0
  web_notify/__manifest__.py
  web_notify/i18n/da.po
  web_notify/i18n/de.po
  web_notify/i18n/es.po
  web_notify/i18n/nl_NL.po
  web_notify/i18n/pt_BR.po
  web_notify/i18n/web_notify.pot
  web_notify/models/res_users.py
  web_notify/static/src/js/web_client.js
  web_notify/tests/test_res_users.py
  web_notify/views/web_notify.xml
Due: prettier, eslint

[MIG] web_notify: if not target then take self.partner_id
  web_notify/models/res_users.py
Due: none

Prevent to send web notifications to other users
  web_notify/__manifest__.py
  web_notify/i18n/web_notify.pot
  web_notify/models/res_users.py
  web_notify/tests/test_res_users.py
Due: none

[14.0][MIG] web_notify: Migration to version 14.0
  web_notify/README.rst
  web_notify/__manifest__.py
  web_notify/i18n/nl.po
  web_notify/readme/CONTRIBUTORS.rst
  web_notify/static/description/index.html
Due: none

[IMP] web_notify: allow passing custom parameters to notifications
  web_notify/models/res_users.py
  web_notify/tests/test_res_users.py
Due: none

[IMP] web_notify: black, isort, prettier
  web_notify/static/src/js/web_client.js
  web_notify/static/src/js/widgets/notification.js
Due: prettier, eslint

[MIG] web_notify: Migration to 18.0
  web_notify/README.rst
  web_notify/__manifest__.py
  web_notify/i18n/da.po
  web_notify/i18n/de.po
  web_notify/i18n/es.po
  web_notify/i18n/hr.po
  web_notify/i18n/it.po
  web_notify/i18n/nl.po
  web_notify/i18n/nl_NL.po
  web_notify/i18n/pt_BR.po
  web_notify/i18n/web_notify.pot
  web_notify/i18n/zh_CN.po
  web_notify/models/res_users.py
  web_notify/readme/CREDITS.md
  web_notify/static/description/index.html
  web_notify/static/src/js/services/notification.esm.js
  web_notify/static/src/js/services/notification_services.esm.js
  web_notify/tests/test_res_users.py
Due: prettier, eslint

[MIG] web_notify: Migration to 16.0
  web_notify/__manifest__.py
  web_notify/static/src/js/services/notification_services.esm.js
Due: prettier, eslint

[UPD] Update web_dashboard_tile.pot
  web_dashboard_tile/i18n/web_dashboard_tile.pot
Due: none

[BOT] post-merge updates
  README.md
  web_dashboard_tile/README.rst
  web_dashboard_tile/__manifest__.py
  web_dashboard_tile/static/description/index.html
Due: none

Update translation files
  web_dashboard_tile/i18n/fr.po
  web_dashboard_tile/i18n/it.po
Due: none

[BOT] post-merge updates
  README.md
  web_responsive_company/README.rst
  web_responsive_company/__manifest__.py
  web_responsive_company/static/description/index.html
Due: none

feat(bus_record_events): enhance useRecordStream with component status check
  bus_record_events/static/src/js/hooks/use_record_stream.esm.js
Due: prettier, eslint

feat(bus_record_events): refactor notification processing for deduplication
  bus_record_events/static/src/js/services/bus_record_event_service.esm.js
Due: prettier, eslint

feat(bus_record_events): implement debouncing for record event notifications
  bus_record_events/static/src/js/hooks/use_record_stream.esm.js
Due: prettier, eslint

feat(bus_record_events): add onMounted lifecycle hook to useRecordStream
  bus_record_events/static/src/js/hooks/use_record_stream.esm.js
Due: prettier, eslint

feat(bus.bus): add index on bus_bus(channel, id) to optimize notifications
  bus_record_events/models/__init__.py
  bus_record_events/models/bus_bus.py
Due: none

feat(bus_record_events): enforce internal user check for record event permissions
  bus_record_events/models/ir_websocket.py
  bus_record_events/tests/test_bus_record_events.py
Due: none

feat(bus_record_events): add test for burst notifications handling in BusListView
  bus_record_events/static/tests/unit/views/bus_list_view_tests.esm.js
Due: prettier, eslint

feat(bus_record_events): add debounce utility and update tests for debounced notifications
  bus_record_events/__manifest__.py
  bus_record_events/static/tests/helpers/test_utils.esm.js
  bus_record_events/static/tests/unit/hooks/use_record_stream_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_calendar_view_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_form_view_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_graph_view_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_kanban_view_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_list_view_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_pivot_view_tests.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_filter_header_button/README.rst
  web_filter_header_button/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_filter_header_button/i18n/it.po
Due: none

[IMP] web_filter_header_button: show groupBy filters
  web_filter_header_button/demo/ir_module_module_view.xml
  web_filter_header_button/static/src/control_panel/control_panel_model_extension.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.esm.js
Due: prettier, eslint

[MIG] web_filter_header_button: Migration to 18.0
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/readme/USAGE.md
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.esm.js
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/control_panel/control_panel_model_extension.esm.js
  web_filter_header_button/static/src/control_panel/control_panel_patch.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.xml
  web_filter_header_button/static/src/search/search_arch_parser_patch.esm.js
  web_filter_header_button/static/src/search/search_model_patch.esm.js
Due: prettier, eslint

[UPD] Update web_filter_header_button.pot
  web_filter_header_button/i18n/web_filter_header_button.pot
Due: none

[IMP] web_filter_header_button: put buttons in their own row
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/readme/ROADMAP.md
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/filter_button/filter_button.xml
Due: prettier

[FIX] web_filter_header_button: Exclude field-type filters to avoid errors referring self
  web_filter_header_button/static/src/search/search_model_patch.esm.js
Due: prettier, eslint

[FIX] web_filter_header_button: custom view compatibility
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.xml
Due: prettier

[IMP] web_filter_header_button: pre-commit auto fixes
  web_filter_header_button/pyproject.toml
  web_filter_header_button/static/src/filter_button/filter_button.xml
Due: prettier

[ADD] web_filter_header_button: New module
  web_filter_header_button/README.rst
  web_filter_header_button/__init__.py
  web_filter_header_button/__manifest__.py
  web_filter_header_button/demo/ir_module_module_view.xml
  web_filter_header_button/i18n/web_filter_header_button.pot
  web_filter_header_button/readme/CONFIGURE.md
  web_filter_header_button/readme/CONTEXT.md
  web_filter_header_button/readme/CONTRIBUTORS.md
  web_filter_header_button/readme/DESCRIPTION.md
  web_filter_header_button/readme/ROADMAP.md
  web_filter_header_button/readme/USAGE.md
  web_filter_header_button/static/description/icon.png
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.esm.js
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/control_panel/control_panel_model_extension.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.esm.js
  web_filter_header_button/static/src/filter_button/filter_button.xml
Due: prettier, eslint

[IMP] bus_record_events: optimize mixin notification performance
  bus_record_events/models/bus_event_mixin.py
  bus_record_events/static/tests/unit/services/bus_record_event_service_tests.esm.js
  bus_record_events/static/tests/unit/views/bus_list_view_tests.esm.js
  bus_record_events/tests/test_bus_record_events.py
Due: prettier, eslint

docs(bus_record_events): performance benefits of UNLOGGED bus.bus table
  bus_record_events/readme/CONFIGURE.md
Due: none

[FIX] web_responsive: 'AppsMenuPreferences' does not have a static props description
  web_responsive/static/src/components/apps_menu/apps_menu_preferences.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_excel_export_dynamic_expand.pot
  web_excel_export_dynamic_expand/i18n/web_excel_export_dynamic_expand.pot
Due: none

[BOT] post-merge updates
  web_excel_export_dynamic_expand/README.rst
  web_excel_export_dynamic_expand/static/description/icon.png
  web_excel_export_dynamic_expand/static/description/index.html
Due: none
