Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[OU-FIX] web_disable_export_group: Proper migration scripts
  web_disable_export_group/__manifest__.py
  web_disable_export_group/migrations/14.0.1.1.0/post-migration.py
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
Due: none

[MIG] web_disable_export_group: Migration to 13.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/templates/tour_assets.xml
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_disable_export_group.py
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 12.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
Due: prettier

Update translation files
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/zh_CN.po
Due: none

[MIG] web_disable_export_group: Migration to version 18.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/readme/CONFIGURE.md
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/views/list/export_all/export_all.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
Due: prettier, eslint

Added translation using Weblate (French)
  web_disable_export_group/i18n/fr.po
Due: none

[MIG] web_disable_export_group: Migration to 19.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/fr.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/views/list/export_all/export_all.esm.js
  web_disable_export_group/static/tests/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[MIG] web_notify_upgrade: Migration to 19.0
  web_notify_upgrade/README.rst
  web_notify_upgrade/__manifest__.py
  web_notify_upgrade/i18n/web_notify_upgrade.pot
  web_notify_upgrade/models/ir_model.py
  web_notify_upgrade/static/description/index.html
  web_notify_upgrade/tests/__init__.py
  web_notify_upgrade/tests/test_web_notify_upgrade.py
Due: none

[IMP] web_group_expand: disable buttons when they would be a no-op
  web_group_expand/readme/CONTRIBUTORS.md
  web_group_expand/readme/DESCRIPTION.md
  web_group_expand/static/src/js/list_controller.esm.js
  web_group_expand/static/src/xml/list_controller.xml
Due: prettier, eslint

[ADD] web_required_field_indicator: initial version
  setup/web_required_field_indicator/odoo/addons/web_required_field_indicator
  setup/web_required_field_indicator/setup.py
  web_required_field_indicator/README.rst
  web_required_field_indicator/__init__.py
  web_required_field_indicator/__manifest__.py
  web_required_field_indicator/i18n/pt_BR.po
  web_required_field_indicator/i18n/web_required_field_indicator.pot
  web_required_field_indicator/readme/CONTRIBUTORS.md
  web_required_field_indicator/readme/DESCRIPTION.md
  web_required_field_indicator/readme/USAGE.md
  web_required_field_indicator/static/description/icon.png
  web_required_field_indicator/static/description/index.html
  web_required_field_indicator/static/src/js/form_compiler.esm.js
  web_required_field_indicator/static/src/js/record_invalid_fields_notification.esm.js
  web_required_field_indicator/static/src/scss/notebook_required_field_indicator.scss
Due: prettier, eslint

[IMP/FIX] web_dashboard_tile:
  web_dashboard_tile/README.rst
  web_dashboard_tile/__manifest__.py
  web_dashboard_tile/models/tile_tile.py
  web_dashboard_tile/readme/CONFIGURE.rst
  web_dashboard_tile/security/ir.model.access.csv
  web_dashboard_tile/security/res_groups.xml
  web_dashboard_tile/static/description/index.html
  web_dashboard_tile/views/menu.xml
  web_dashboard_tile/views/tile_tile.xml
Due: prettier

[ADD] web_company_context_highlight: Highlight the current company context
  web_company_context_highlight/README.rst
  web_company_context_highlight/__init__.py
  web_company_context_highlight/__manifest__.py
  web_company_context_highlight/models/__init__.py
  web_company_context_highlight/models/ir_http.py
  web_company_context_highlight/models/res_config_settings.py
  web_company_context_highlight/pyproject.toml
  web_company_context_highlight/readme/CONFIGURE.md
  web_company_context_highlight/readme/DESCRIPTION.md
  web_company_context_highlight/static/description/index.html
  web_company_context_highlight/static/img/web_company_context_highlight_config_color.png
  web_company_context_highlight/static/img/web_company_context_highlight_multiple_companies_selected.png
  web_company_context_highlight/static/img/web_company_context_highlight_one_company_selected.png
  web_company_context_highlight/static/src/js/switch_company_menu.esm.js
  web_company_context_highlight/static/src/scss/switch_company_menu.scss
  web_company_context_highlight/static/src/xml/switch_company_menu.xml
  web_company_context_highlight/static/tests/tours/web_company_context_highlight_tour.esm.js
  web_company_context_highlight/tests/__init__.py
  web_company_context_highlight/tests/test_tour.py
  web_company_context_highlight/views/res_config_settings_views.xml
Due: prettier, eslint

[UPD] Update web_company_context_highlight.pot
  web_company_context_highlight/i18n/web_company_context_highlight.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_company_context_highlight/README.rst
  web_company_context_highlight/static/description/icon.png
  web_company_context_highlight/static/description/index.html
Due: none

[MIG] backport web_company_context_highlight from 19.0 to 16.0.
  setup/web_company_context_highlight/odoo/addons/web_company_context_highlight
  setup/web_company_context_highlight/setup.py
  web_company_context_highlight/README.rst
  web_company_context_highlight/__init__.py
  web_company_context_highlight/__manifest__.py
  web_company_context_highlight/models/__init__.py
  web_company_context_highlight/models/ir_http.py
  web_company_context_highlight/models/res_config_settings.py
  web_company_context_highlight/readme/CONFIGURE.md
  web_company_context_highlight/readme/DESCRIPTION.md
  web_company_context_highlight/readme/ROADMAP.md
  web_company_context_highlight/static/description/index.html
  web_company_context_highlight/static/img/web_company_context_highlight_config_color.png
  web_company_context_highlight/static/img/web_company_context_highlight_multiple_companies_selected.png
  web_company_context_highlight/static/img/web_company_context_highlight_one_company_selected.png
  web_company_context_highlight/static/src/js/switch_company_menu.esm.js
  web_company_context_highlight/static/src/scss/switch_company_menu.scss
  web_company_context_highlight/static/src/xml/switch_company_menu.xml
  web_company_context_highlight/static/tests/tours/web_company_context_highlight_tour.esm.js
  web_company_context_highlight/tests/__init__.py
  web_company_context_highlight/tests/test_tour.py
  web_company_context_highlight/views/res_config_settings_views.xml
Due: prettier, eslint

[IMP] web_responsive_company: improve UX, displaying number of selected companies. Based on V19.0 module : web_company_context_highlight. (https://github.com/OCA/web/pull/3611/)
  web_responsive_company/static/src/scss/web_responsive_company.scss
  web_responsive_company/static/src/xml/web_responsive_company.xml
Due: prettier

[FIX] web_field_tooltip: make tooltip_show_add_helper_allowed self-readable
  web_field_tooltip/models/res_users.py
Due: none

[FIX] web_dashboard_tile: avoid error is admin define a specific action
  web_dashboard_tile/models/tile_tile.py
Due: none

[IMP] web_responsive: add dark mode support for the apps menu
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.dark.scss
Due: prettier

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_widget_section_and_note_text_scrollable/i18n/it.po
Due: none

[MIG] web_widget_section_and_note_text_scrollable: Migration to 19.0
  web_widget_section_and_note_text_scrollable/README.rst
  web_widget_section_and_note_text_scrollable/__manifest__.py
  web_widget_section_and_note_text_scrollable/readme/CONTRIBUTORS.md
  web_widget_section_and_note_text_scrollable/static/description/index.html
  web_widget_section_and_note_text_scrollable/static/src/product_label_section_and_note_field_scrollable.scss
  web_widget_section_and_note_text_scrollable/static/src/section_and_note_text_scrollable.scss
Due: prettier

[ADD] web_widget_section_and_note_text_scrollable
  web_widget_section_and_note_text_scrollable/README.rst
  web_widget_section_and_note_text_scrollable/__init__.py
  web_widget_section_and_note_text_scrollable/__manifest__.py
  web_widget_section_and_note_text_scrollable/i18n/web_widget_section_and_note_text_scrollable.pot
  web_widget_section_and_note_text_scrollable/pyproject.toml
  web_widget_section_and_note_text_scrollable/readme/CONTRIBUTORS.md
  web_widget_section_and_note_text_scrollable/readme/DESCRIPTION.md
  web_widget_section_and_note_text_scrollable/static/description/icon.png
  web_widget_section_and_note_text_scrollable/static/description/index.html
  web_widget_section_and_note_text_scrollable/static/description/scroll_line_description.gif
  web_widget_section_and_note_text_scrollable/static/description/scroll_note.gif
  web_widget_section_and_note_text_scrollable/static/src/section_and_note_text_scrollable.scss
Due: prettier

Translated using Weblate (French)
  web_advanced_search/i18n/fr.po
Due: none

[FIX] web_advanced_search: Make linter happy
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

web_advanced_search 16.0.1.0.2
  web_advanced_search/__manifest__.py
Due: none

[IMP] web_advanced_search: Don't block modal filter menu
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_advanced_search/i18n/it.po
Due: none

Translated using Weblate (Turkish)
  web_advanced_search/i18n/tr.po
Due: none

Translated using Weblate (Chinese (Simplified))
  web_advanced_search/i18n/zh_CN.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  web_advanced_search/i18n/pt_BR.po
Due: none

Added translation using Weblate (Polish)
  web_advanced_search/i18n/pl.po
Due: none

[IMP] web_advanced_search: Restore debug mode
  web_advanced_search/README.rst
  web_advanced_search/readme/USAGE.rst
  web_advanced_search/static/description/index.html
  web_advanced_search/static/img/debug_mode.png
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

web_advanced_search: fix 1st domain node load
  web_advanced_search/README.rst
  web_advanced_search/__manifest__.py
  web_advanced_search/readme/CONTRIBUTORS.rst
  web_advanced_search/readme/HISTORY.rst
  web_advanced_search/static/description/index.html
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

[IMP] web_advanced_search: black, isort
  web_advanced_search/__manifest__.py
  web_advanced_search/static/src/js/human_domain.js
  web_advanced_search/static/src/js/web_advanced_search.js
  web_advanced_search/static/src/xml/web_advanced_search.xml
  web_advanced_search/views/templates.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_advanced_search/README.rst
  web_advanced_search/__manifest__.py
  web_advanced_search/static/description/index.html
Due: none

Translated using Weblate (Dutch)
  web_advanced_search/i18n/nl.po
Due: none

[UPD] README.rst
  web_advanced_search/README.rst
  web_advanced_search/static/description/index.html
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_advanced_search/i18n/zh_CN.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

