Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX]web_timeline: open_popup_action param in new record
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_responsive_attachment_preview/i18n/it.po
Due: none

Added translation using Weblate (Italian)
  web_loading_block_ui/i18n/it.po
Due: none

[UPD] Update web_environment_ribbon.pot
  web_environment_ribbon/i18n/web_environment_ribbon.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

[MIG] web_tree_many2one_clickable: Migration to 14.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 12.0.
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/CONFIGURATION.rst
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/readme/DESCRIPTION.rst
  web_tree_many2one_clickable/static/src/xml/assets.xml
Due: prettier

[ADD] web_tree_many2one_clickable
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__init__.py
  web_tree_many2one_clickable/__openerp__.py
  web_tree_many2one_clickable/static/description/icon.png
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/asset.xml
Due: prettier, eslint

web_tree_many2one_clickable: Check if the node is a field
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[BOT] post-merge updates
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/static/description/index.html
Due: none

[IMP] pre-commit run after update
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/assets.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: Fix pre-commit + improve readme
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/ROADMAP.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 15.0
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/assets.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_tree_many2one_clickable/i18n/it.po
Due: none

pre-commit update: prettier xml indent
  web_tree_many2one_clickable/views/assets.xml
Due: prettier

[MIG] web_tree_many2one_clickable: Migrated to 10.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[17.0][MIG] web_tree_many2one_clickable
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/it.po
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/CONTRIBUTORS.md
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
Due: prettier, eslint

Added translation using Weblate (Chinese (Simplified))
  web_tree_many2one_clickable/i18n/zh_CN.po
Due: none

support reference fields in many2one_clickable widget
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 19.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
Due: prettier, eslint

[MOD] Pass context defined on tree view field
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 13.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/ROADMAP.rst
  web_tree_many2one_clickable/static/description/index.html
Due: none

[IMP] web_tree_many2one_clickable: black, isort, prettier
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/pyproject.toml
  web_tree_many2one_clickable/readme/CONTRIBUTORS.md
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/readme/DESCRIPTION.md
  web_tree_many2one_clickable/readme/DESCRIPTION.rst
  web_tree_many2one_clickable/readme/ROADMAP.md
  web_tree_many2one_clickable/readme/ROADMAP.rst
  web_tree_many2one_clickable/readme/USAGE.md
  web_tree_many2one_clickable/static/description/index.html
Due: prettier

[UPD] Update web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
Due: none

[BOT] post-merge updates
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/description/index.html
Due: none

[MIG] web_tree_many2one_clickable: Migration to 18.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/readme/CONFIGURE.md
  web_tree_many2one_clickable/readme/CONTRIBUTORS.md
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 11.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__init__.py
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/data/ir_config_parameter.xml
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/static/src/xml/assets.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: Imports should be sorted alphabetically
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
Due: prettier, eslint

[14.0] [FIX] Clicking on a field with context
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 12.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/static/src/xml/assets.xml
  web_tree_many2one_clickable/views/assets.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: Readme - USAGE
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/readme/DESCRIPTION.rst
  web_tree_many2one_clickable/readme/USAGE.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/img/clickable.gif
Due: none

[FIX] Allow set web_tree_many2one_clickable.default as True
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 9.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__init__.py
  web_tree_many2one_clickable/__openerp__.py
  web_tree_many2one_clickable/data/ir_config_parameter.xml
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/asset.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: black, isort
  web_tree_many2one_clickable/__manifest__.py
Due: none

[IMP] web_tree_many2one_clickable: pre-commit auto fixes
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
Due: prettier

[MIG] web_tree_many2one_clickable: Migration to 16.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/i18n/zh_CN.po
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.scss
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: pre-commit auto fixes
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

