Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[MIG] web_widget_bokeh_chart: Migration to 12.0
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__init__.py
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
  web_widget_bokeh_chart/readme/CREDITS.rst
  web_widget_bokeh_chart/readme/DESCRIPTION.rst
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/readme/USAGE.rst
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[BOT] post-merge updates
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/description/index.html
Due: none

[UPD] README.rst
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/static/description/index.html
Due: none

[10.0][MIG] web_widget_bokeh_chart
  web_widget_bokeh_chart/__manifest__.py
Due: none

Update translation files
  web_widget_bokeh_chart/i18n/zh_CN.po
Due: none

web_widget_bokeh_chart 15.0.1.1.1
  web_widget_bokeh_chart/__manifest__.py
Due: none

[MIG] web_widget_bokeh_chart: Migration to 16.0
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.1.1.min.js
  web_widget_bokeh_chart/static/src/xml/bokeh.xml
Due: prettier, eslint

[MIG] bokeh library to version 1.1.0
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/readme/USAGE.rst
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-0.12.7.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-0.12.7.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-1.1.0.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-0.12.7.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-0.12.7.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-1.1.0.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-1.1.0.js
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[UPD] Update web_widget_bokeh_chart.pot
  web_widget_bokeh_chart/i18n/web_widget_bokeh_chart.pot
Due: none

[IMP] pre-commit run after update
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.js
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier, eslint

[FIX] web_widget_bokeh_chart: Correct bokeh library versio in installation
  web_widget_bokeh_chart/readme/INSTALL.rst
Due: none

[15.0][MIG] web_widget_bokeh_chart
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/readme/USAGE.rst
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.4.2.min.js
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier, eslint

web_widget_bokeh_chart 15.0.1.1.0
  web_widget_bokeh_chart/__manifest__.py
Due: none

[13.0][MIG] web_widget_bokeh_chart
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/description/index.html
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
Due: prettier

pre-commit update: prettier xml indent
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[FIX] requirement for bokeh should specify the version
  web_widget_bokeh_chart/__manifest__.py
Due: none

[UPD] Eficent -> ForgeFlow
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
Due: none

web_widget_bokeh_chart 16.0.1.0.2
  web_widget_bokeh_chart/__manifest__.py
Due: none

[12.0][IMP][web_widget_bokeh_chart] Render readonly the widget to permit dynamic updates
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.js
Due: prettier, eslint

[12.0] web_widget_bokeh_chart: update documentation and set a maintainer.
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/static/description/index.html
Due: none

[MIG] web_widget_bokeh_chart: Migration to 18.0
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/description/index.html
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_json_chart.esm.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.6.3.min.js
Due: prettier, eslint

web_widget_bokeh_chart 12.0.1.0.1
  web_widget_bokeh_chart/__manifest__.py
Due: none

[IMP] web_widget_bokeh_chart: black, isort, prettier
  web_widget_bokeh_chart/static/src/xml/bokeh.xml
Due: prettier

[FIX] Display bug web_widget_bokeh_chart
  web_widget_bokeh_chart/static/src/css/custom-bokeh.css
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[DOC] web_widget_bokeh_chart
  web_widget_bokeh_chart/readme/USAGE.rst
Due: none

[IMP] web_widget_bokeh_chart: Upgrade library version
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-1.1.0.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-1.1.0.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.3.1.min.js
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[MIG] web_widget_bokeh_chart: pre-commit auto fixes
  requirements.txt
  web_widget_bokeh_chart/__manifest__.py
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

