Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_advanced_search: pre-commit execution
  web_advanced_search/static/src/js/control_panel/custom_filter_item.js
Due: prettier, eslint

[FIX] - advanced search, combination of several OR operators
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

[FIX] web_advanced_search: 2 fixes
  web_advanced_search/__openerp__.py
  web_advanced_search/static/src/js/web_advanced_search_x2x.js
Due: prettier, eslint

[FIX] web_advanced_search: `undefined` in x2m fields
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

OCA Transbot updated translations from Transifex
  web_advanced_search/i18n/de.po
  web_advanced_search/i18n/es.po
  web_advanced_search/i18n/fr.po
  web_advanced_search/i18n/hr.po
  web_advanced_search/i18n/nl_NL.po
  web_advanced_search/i18n/pt_BR.po
  web_advanced_search/i18n/web_advanced_search_x2x.pot
Due: none

web_advanced_search 13.0.1.0.1
  web_advanced_search/__manifest__.py
Due: none

[UPD] Update web_advanced_search.pot
  web_advanced_search/i18n/web_advanced_search.pot
Due: none

Update translation files
  web_advanced_search/i18n/de.po
  web_advanced_search/i18n/es.po
  web_advanced_search/i18n/fr.po
  web_advanced_search/i18n/hr.po
  web_advanced_search/i18n/nl.po
  web_advanced_search/i18n/nl_NL.po
  web_advanced_search/i18n/pt_BR.po
Due: none

web_advanced_search 15.0.1.1.1
  web_advanced_search/__manifest__.py
Due: none

[MIG][REF] web_advanced_search: Rename, refactor, migrate
  web_advanced_search/README.rst
  web_advanced_search/__init__.py
  web_advanced_search/__manifest__.py
  web_advanced_search/i18n/web_advanced_search.pot
  web_advanced_search/readme/CONTRIBUTORS.rst
  web_advanced_search/readme/DESCRIPTION.rst
  web_advanced_search/readme/ROADMAP.rst
  web_advanced_search/readme/USAGE.rst
  web_advanced_search/static/src/css/web_advanced_search.less
  web_advanced_search/static/src/css/web_advanced_search_x2x.less
  web_advanced_search/static/src/js/human_domain.js
  web_advanced_search/static/src/js/web_advanced_search.js
  web_advanced_search/static/src/js/web_advanced_search_x2x.js
  web_advanced_search/static/src/xml/web_advanced_search.xml
  web_advanced_search/static/src/xml/web_advanced_search_x2x.xml
  web_advanced_search/views/templates.xml
Due: prettier, eslint

web_advanced_search 14.0.1.0.1
  web_advanced_search/__manifest__.py
Due: none

[IMP] web_advanced_search: pre-commit auto fixes
  web_advanced_search/README.rst
  web_advanced_search/pyproject.toml
  web_advanced_search/readme/CONTRIBUTORS.md
  web_advanced_search/readme/CONTRIBUTORS.rst
  web_advanced_search/readme/DESCRIPTION.md
  web_advanced_search/readme/HISTORY.md
  web_advanced_search/readme/HISTORY.rst
  web_advanced_search/readme/ROADMAP.md
  web_advanced_search/readme/ROADMAP.rst
  web_advanced_search/readme/USAGE.md
  web_advanced_search/readme/USAGE.rst
  web_advanced_search/static/description/index.html
Due: prettier

[MIG] web_advanced_search: Migration to 19.0
  web_advanced_search/README.rst
  web_advanced_search/__manifest__.py
  web_advanced_search/readme/HISTORY.md
  web_advanced_search/static/description/index.html
  web_advanced_search/static/src/js/DomainSelector.esm.js
  web_advanced_search/static/src/js/RecordPicker.esm.js
  web_advanced_search/static/src/js/dropdown.esm.js
  web_advanced_search/static/src/js/utils.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/advanced_filter_item.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/custom_filter_item.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/filter_menu.esm.js
  web_advanced_search/static/src/search/filter_menu/advanced_filter_item.esm.js
  web_advanced_search/static/src/search/filter_menu/advanced_filter_item.xml
  web_advanced_search/static/src/search/filter_menu/custom_filter_item.esm.js
  web_advanced_search/static/src/search/filter_menu/custom_filter_item.xml
  web_advanced_search/static/src/search/filter_menu/filter_menu.esm.js
  web_advanced_search/static/src/search/filter_menu/filter_menu.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/description/index.html
Due: none

[18.0] web_pivot_computed_measure: run tests when item is visible
  web_pivot_computed_measure/static/src/test/test.esm.js
Due: prettier, eslint

Update translation files
  web_pivot_computed_measure/i18n/ca.po
  web_pivot_computed_measure/i18n/es.po
  web_pivot_computed_measure/i18n/it.po
  web_pivot_computed_measure/i18n/tr.po
Due: none

[18.0][FIX] web_pivot_computed_measure: fix tests
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/demo/demo_users_pivot_view.xml
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
  web_pivot_computed_measure/static/src/test/test.esm.js
  web_pivot_computed_measure/tests/res_users_fake.py
  web_pivot_computed_measure/tests/test_ui_pivot.py
Due: prettier, eslint

Added translation using Weblate (Turkish)
  web_pivot_computed_measure/i18n/tr.po
Due: none

[IMP] web_pivot_computed_measure: black, isort, prettier
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/js/pivot_model.js
  web_pivot_computed_measure/static/src/xml/web_pivot_computed_measure.xml
  web_pivot_computed_measure/view/assets.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/static/description/index.html
Due: none

[IMP+FIX] web_pivot_computed_measure: Time Ranges Comparison + Change custom_events addition
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/js/pivot_model.js
Due: prettier, eslint

Update translation files
  web_pivot_computed_measure/i18n/ca.po
  web_pivot_computed_measure/i18n/es.po
  web_pivot_computed_measure/i18n/it.po
Due: none

[FIX] web_pivot_computed_measure: Use config instead of perform loadData
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
Due: prettier, eslint

[FIX] web_pivot_computed_measure: Use js eval to avoid different types operation error
  web_pivot_computed_measure/static/src/helpers/utils.esm.js
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
Due: prettier, eslint

[IMP] web_pivot_computed_measure: black, isort, prettier
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/js/pivot_model.js
Due: prettier, eslint

[18.0][IMP] web_pivot_computed_measure: increate test tour delay time
  web_pivot_computed_measure/tests/test_ui_pivot.py
Due: none

Translated using Weblate (Spanish)
  web_pivot_computed_measure/i18n/es.po
Due: none

[IMP] web_pivot_computed_measure: Saving vertical space
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/src/js/pivot_controller.js
  web_pivot_computed_measure/static/src/scss/web_pivot_computed_measure.scss
  web_pivot_computed_measure/static/src/xml/web_pivot_computed_measure.xml
  web_pivot_computed_measure/view/assets.xml
Due: prettier, eslint

[FIX] web_pivot_computed_measure: Not found measures whan changing to pivot view
  web_pivot_computed_measure/static/src/pivot/pivot_model.esm.js
Due: prettier, eslint

[FIX] web_pivot_computed_measure: Proper trailing line in RST
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/readme/DESCRIPTION.rst
  web_pivot_computed_measure/static/description/index.html
Due: none

[IMP] web_pivot_computed_measure: Function that eval operations
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/helpers/utils.esm.js
Due: prettier, eslint

[UPD] Update web_pivot_computed_measure.pot
  web_pivot_computed_measure/i18n/web_pivot_computed_measure.pot
Due: none

Translated using Weblate (Italian)
  web_pivot_computed_measure/i18n/it.po
Due: none

[FIX] web_pivot_computed_measure: Error when computed measure takes Infinity value
  web_pivot_computed_measure/README.rst
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/i18n/ca.po
  web_pivot_computed_measure/i18n/es.po
  web_pivot_computed_measure/static/description/index.html
  web_pivot_computed_measure/static/src/pivot/pivot_renderer.esm.js
Due: prettier, eslint
