Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_systray_button_init_action_set_tour: increase timeout of tour
  web_systray_button_init_action/tests/test_web_systray_button_init_action.py
Due: none

fixup! [FIX] web_systray_button_init_action_set_tour: increase timeout of tour
  web_systray_button_init_action/static/src/tours/tour.esm.js
Due: prettier, eslint

[FIX][14.0] web_disable_export_group force pip library creation
  web_disable_export_group/__manifest__.py
Due: none

[ADD] web_json_widget
  web_json_widget/README.rst
  web_json_widget/__init__.py
  web_json_widget/__manifest__.py
  web_json_widget/pyproject.toml
  web_json_widget/readme/CONTRIBUTORS.md
  web_json_widget/readme/CREDITS.md
  web_json_widget/readme/DESCRIPTION.md
  web_json_widget/readme/USAGE.md
  web_json_widget/static/description/index.html
  web_json_widget/static/src/components/json_editor/json_editor.css
  web_json_widget/static/src/components/json_editor/json_editor.esm.js
  web_json_widget/static/src/components/json_editor/json_editor.xml
  web_json_widget/static/src/lib/dark-theme.css
  web_json_widget/static/src/lib/img/jsoneditor-icons.svg
  web_json_widget/static/src/lib/vanilla-jsoneditor.min.css
  web_json_widget/static/src/lib/vanilla-jsoneditor.min.js
Due: prettier, eslint

[ADD] web_json_widget_demo
  web_json_widget_demo/README.rst
  web_json_widget_demo/__init__.py
  web_json_widget_demo/__manifest__.py
  web_json_widget_demo/models/__init__.py
  web_json_widget_demo/models/res_partner.py
  web_json_widget_demo/pyproject.toml
  web_json_widget_demo/readme/DESCRIPTION.md
  web_json_widget_demo/static/description/index.html
  web_json_widget_demo/views/res_partner_view.xml
Due: prettier

Translated using Weblate (Turkish)
  web_dark_mode/i18n/tr.po
Due: none

web_dark_mode 16.0.1.0.1
  web_dark_mode/__manifest__.py
Due: none

Translated using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

[BOT] post-merge updates
  web_dark_mode/README.rst
  web_dark_mode/__manifest__.py
  web_dark_mode/static/description/index.html
Due: none

[FIX] web_dark_mode: Add fields to field lists
  web_dark_mode/models/res_users.py
Due: none

Translated using Weblate (Spanish)
  web_dark_mode/i18n/es.po
Due: none

[UPD] README.rst
  web_dark_mode/README.rst
  web_dark_mode/static/description/index.html
Due: none

Added translation using Weblate (French)
  web_dark_mode/i18n/fr.po
Due: none

Added translation using Weblate (Croatian)
  web_dark_mode/i18n/hr.po
Due: none

Added translation using Weblate (Turkish)
  web_dark_mode/i18n/tr.po
Due: none

[ADD][16.0] Module web_dark_mode
  web_dark_mode/README.rst
  web_dark_mode/__init__.py
  web_dark_mode/__manifest__.py
  web_dark_mode/models/__init__.py
  web_dark_mode/models/ir_http.py
  web_dark_mode/models/res_users.py
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/readme/DESCRIPTION.rst
  web_dark_mode/readme/ROADMAP.rst
  web_dark_mode/static/description/index.html
  web_dark_mode/static/src/js/switch_item.esm.js
  web_dark_mode/static/src/scss/variables.scss
  web_dark_mode/tests/__init__.py
  web_dark_mode/tests/test_dark_mode.py
  web_dark_mode/views/res_users_views.xml
Due: prettier, eslint

[ADD] icon.png
  web_dark_mode/static/description/icon.png
Due: none

[FIX] web_dark_mode: Fix uninstallation
  web_dark_mode/models/ir_http.py
Due: none

Added translation using Weblate (Chinese (zh))
  web_dark_mode/i18n/zh.po
Due: none

Added translation using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

Added translation using Weblate (Spanish)
  web_dark_mode/i18n/es.po
Due: none

Translated using Weblate (Croatian)
  web_dark_mode/i18n/hr.po
Due: none

[UPD] Update web_dark_mode.pot
  web_dark_mode/i18n/web_dark_mode.pot
Due: none

Added translation using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

Translated using Weblate (French)
  web_dark_mode/i18n/fr.po
Due: none

[IMP] web_dark_mode: pre-commit execution
  web_dark_mode/README.rst
  web_dark_mode/pyproject.toml
  web_dark_mode/readme/CONTRIBUTORS.md
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/readme/DESCRIPTION.md
  web_dark_mode/readme/DESCRIPTION.rst
  web_dark_mode/readme/ROADMAP.md
  web_dark_mode/static/description/index.html
Due: prettier

[MIG] web_dark_mode: Migration to 18.0
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/js/switch_item.esm.js
Due: prettier, eslint

[IMP] Adds a font size selector (pt) to the Document Layout wizard
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/__init__.py
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/__init__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/models/res_company.py
  web_font_size_report_layout/pyproject.toml
  web_font_size_report_layout/readme/CONTRIBUTORS.md
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/readme/INSTALL.md
  web_font_size_report_layout/readme/USAGE.md
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/static/src/scss/report_font_size.scss
  web_font_size_report_layout/views/base_document_layout_views.xml
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[FIX] web_widget_text_markdown: fix white-space
  web_widget_text_markdown/static/src/css/web_widget_text_markdown.css
Due: prettier

fixup!
  web_json_widget/__manifest__.py
  web_json_widget/static/lib/dark-theme.css
  web_json_widget/static/lib/img/jsoneditor-icons.svg
  web_json_widget/static/lib/vanilla-jsoneditor.min.css
  web_json_widget/static/lib/vanilla-jsoneditor.min.js
  web_json_widget/static/src/components/json_editor/json_editor.esm.js
  web_json_widget_demo/views/res_partner_view.xml
Due: prettier, eslint

[IMP] web_json_widget: pre-commit auto fixes
  web_json_widget/README.rst
  web_json_widget/static/description/index.html
Due: none

Update README.rst
  web_font_size_report_layout/README.rst
Due: none

[FIX] web_font_size_report_layout: readme
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/tests/__init__.py
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none

[ADD] web_font_size_report_layout: tests
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none

[FIX] web_font_size_report_layout: tests
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none

[FIX] web_font_size_report_layout: tests
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none

[FIX] web_font_size_report_layout: tests
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none
