Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_widget_dropdown_dynamic: black, isort, prettier
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
  web_widget_dropdown_dynamic/templates/assets.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

[UPD] Update web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
Due: none

Translated using Weblate (Turkish)
  web_widget_dropdown_dynamic/i18n/tr.po
Due: none

Translated using Weblate (German)
  web_widget_dropdown_dynamic/i18n/de.po
Due: none

Update translation files
  web_widget_dropdown_dynamic/i18n/de.po
  web_widget_dropdown_dynamic/i18n/es.po
  web_widget_dropdown_dynamic/i18n/it.po
Due: none

Added translation using Weblate (Turkish)
  web_widget_dropdown_dynamic/i18n/tr.po
Due: none

[MIG] web_widget_dropdown_dynamic: Migration to 15.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/templates/assets.xml
Due: prettier

[IMP] web_widget_dropdown_dynamic: black, isort, prettier
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[MIG] web_widget_dropdown_dynamic: Migration to 13.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/ROADMAP.rst
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[MIG] web_widget_dropdown_dynamic: Migration to 18.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_widget_dropdown_dynamic/i18n/es.po
Due: none

[MIG] web_widget_dropdown_dynamic: Migration to 14.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

[UPD] Brainbean Apps => CorporateHub
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

Added translation using Weblate (German)
  web_widget_dropdown_dynamic/i18n/de.po
Due: none

Added translation using Weblate (Spanish)
  web_widget_dropdown_dynamic/i18n/es.po
Due: none

[IMP] web_sheet_full_width: black, isort, prettier
  web_sheet_full_width/__init__.py
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.less
  web_sheet_full_width/templates/assets.xml
Due: prettier

web_sheet_full_width 15.0.1.0.1
  web_sheet_full_width/__manifest__.py
Due: none

[MIG] web_sheet_full_width: Migration to 15.0
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/templates/assets.xml
Due: prettier

new:[web_sheet_full_width] give openchatter full width too.
  web_sheet_full_width/static/src/css/web_sheet_full_width.css
Due: prettier

fix: full width for sheet v9
  web_sheet_full_width/README.rst
  web_sheet_full_width/__openerp__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.css
Due: prettier

[UPD] README.rst
  web_sheet_full_width/static/description/index.html
Due: none

[MIG] web_sheet_full_width: Migration to 14.0
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
Due: prettier

[ADD] web_sheet_full_width
  web_sheet_full_width/__init__.py
  web_sheet_full_width/__openerp__.py
  web_sheet_full_width/static/description/icon.png
  web_sheet_full_width/static/src/css/web_sheet_full_width.css
  web_sheet_full_width/view/qweb.xml
Due: prettier

[MIG] Make modules uninstallable
  web_sheet_full_width/__openerp__.py
Due: none

[UPD] README.rst
  web_sheet_full_width/README.rst
  web_sheet_full_width/static/description/index.html
Due: none

[FIX] web_sheet_full_width: fix assets.xml in manifest and missing parenthesis in readme.
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
Due: none

10.0 port web sheet full width (#449)
  web_sheet_full_width/README.rst
  web_sheet_full_width/__init__.py
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.css
  web_sheet_full_width/static/src/css/web_sheet_full_width.less
  web_sheet_full_width/view/qweb.xml
Due: prettier

[FIX] Bugfix in web_sheet_full_width for enterprise edition (#530)
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.less
Due: prettier

[FIX] web_sheet_full_width: PEP8
  web_sheet_full_width/__manifest__.py
Due: none

fix: add disclaimer for licence incompatibility with odoo enterprise
  web_sheet_full_width/README.rst
Due: none

Add OCA as author of OCA addons
  web_sheet_full_width/__openerp__.py
Due: none

[UPD] Update web_sheet_full_width.pot
  web_sheet_full_width/i18n/web_sheet_full_width.pot
Due: none

Update translation files
  web_sheet_full_width/i18n/es.po
Due: none

fix: remove comments and empty line in README.rst
  web_sheet_full_width/README.rst
Due: none
