Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_systray_button_init_action: pre-commit auto fixes
  web_systray_button_init_action/README.rst
  web_systray_button_init_action/static/description/index.html
Due: none

[MIG] web_systray_button_init_action: Migration to 19.0
  web_systray_button_init_action/__manifest__.py
  web_systray_button_init_action/static/src/button/button.esm.js
  web_systray_button_init_action/static/src/tours/tour.esm.js
  web_systray_button_init_action/tests/test_web_systray_button_init_action.py
Due: prettier, eslint

[IMP] web_toggle_chatter: run the JS test in CI and fix it for 19.0
  web_toggle_chatter/static/tests/web_toggle_chatter.test.js
  web_toggle_chatter/tests/__init__.py
  web_toggle_chatter/tests/test_web_toggle_chatter.py
Due: prettier, eslint

[IMP] web_systray_button_init_action: re-expose Home Action on the user form
  web_systray_button_init_action/__manifest__.py
  web_systray_button_init_action/views/res_users_views.xml
Due: prettier

web_notify: remove unsupported messageIsHtml prop
  web_notify/static/src/js/services/notification_services.esm.js
Due: prettier, eslint

[FIX] web_remember_tree_column_width: Include non-stored columns to remember width
  web_remember_tree_column_width/__manifest__.py
  web_remember_tree_column_width/static/src/scss/main.scss
Due: prettier

[ADD] web_widget_mermaid from v12.0
  web_widget_mermaid/README.rst
  web_widget_mermaid/__init__.py
  web_widget_mermaid/__manifest__.py
  web_widget_mermaid/demo/res_users_flowchart.xml
  web_widget_mermaid/i18n/ca.po
  web_widget_mermaid/i18n/es.po
  web_widget_mermaid/i18n/fr.po
  web_widget_mermaid/i18n/pt_BR.po
  web_widget_mermaid/i18n/web_widget_mermaid.pot
  web_widget_mermaid/readme/CONTRIBUTORS.rst
  web_widget_mermaid/readme/DESCRIPTION.rst
  web_widget_mermaid/readme/USAGE.rst
  web_widget_mermaid/static/description/flowchart_example.png
  web_widget_mermaid/static/description/icon.png
  web_widget_mermaid/static/description/index.html
  web_widget_mermaid/static/src/js/web_widget_mermaid.js
  web_widget_mermaid/static/src/scss/web_widget_mermaid_default_theme.scss
  web_widget_mermaid/view/web_widget_mermaid_view.xml
Due: prettier, eslint

[FIX] pre-commit issues (prettier)
  web_widget_mermaid/demo/res_users_flowchart.xml
  web_widget_mermaid/static/src/js/web_widget_mermaid.js
Due: prettier, eslint

[IMP] Add themeVariables to defaultConfig
  web_widget_mermaid/static/src/js/web_widget_mermaid.js
Due: prettier, eslint

[UPD] Readme fragments
  web_widget_mermaid/README.rst
  web_widget_mermaid/readme/CONTRIBUTORS.rst
  web_widget_mermaid/readme/USAGE.rst
  web_widget_mermaid/static/description/index.html
Due: none

[FIX] ESLint messages
  web_widget_mermaid/static/src/js/web_widget_mermaid.js
Due: prettier, eslint

[IMP] web_widget_mermaid: pre-commit auto fixes
  web_widget_mermaid/README.rst
  web_widget_mermaid/pyproject.toml
  web_widget_mermaid/readme/CONTRIBUTORS.md
  web_widget_mermaid/readme/CONTRIBUTORS.rst
  web_widget_mermaid/readme/DESCRIPTION.md
  web_widget_mermaid/readme/DESCRIPTION.rst
  web_widget_mermaid/readme/USAGE.md
  web_widget_mermaid/readme/USAGE.rst
  web_widget_mermaid/static/description/index.html
Due: prettier

[MIG] web_widget_mermaid: Migration to 18.0
  web_widget_mermaid/README.rst
  web_widget_mermaid/__manifest__.py
  web_widget_mermaid/demo/res_users_flowchart.xml
  web_widget_mermaid/readme/CONTRIBUTORS.md
  web_widget_mermaid/readme/USAGE.md
  web_widget_mermaid/static/description/index.html
  web_widget_mermaid/static/lib/mermaid-11.12.2/mermaid.js
  web_widget_mermaid/static/lib/mermaid-11.12.2/mermaid.min.js
  web_widget_mermaid/static/src/js/web_widget_mermaid.esm.js
  web_widget_mermaid/static/src/js/web_widget_mermaid.js
  web_widget_mermaid/static/src/scss/web_widget_mermaid.scss
  web_widget_mermaid/static/src/xml/web_widget_mermaid.xml
Due: prettier, eslint

[IMP] Add assets
  web_widget_mermaid/__manifest__.py
Due: none

[REM] Remove web_widget_mermaid_default_theme.scss
  web_widget_mermaid/static/src/scss/web_widget_mermaid_default_theme.scss
Due: prettier

[REM] Remove web_widget_mermaid_view.xml
  web_widget_mermaid/view/web_widget_mermaid_view.xml
Due: prettier

[IMP] web_tree_dynamic_colored_field: Also colorize button columns
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
  web_tree_dynamic_colored_field/static/src/xml/list.xml
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: Allow to set row colors from specific fields for entire list
  web_tree_dynamic_colored_field/README.rst
  web_tree_dynamic_colored_field/__manifest__.py
  web_tree_dynamic_colored_field/demo/ir_config_parameter.xml
  web_tree_dynamic_colored_field/demo/res_groups.xml
  web_tree_dynamic_colored_field/demo/res_users.xml
  web_tree_dynamic_colored_field/readme/CONTRIBUTORS.md
  web_tree_dynamic_colored_field/readme/DESCRIPTION.md
  web_tree_dynamic_colored_field/readme/ROADMAP.md
  web_tree_dynamic_colored_field/readme/USAGE.md
  web_tree_dynamic_colored_field/static/description/demo1.jpg
  web_tree_dynamic_colored_field/static/description/demo2.jpg
  web_tree_dynamic_colored_field/static/description/demo3.jpg
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[IMP] web_tree_dynamic_colored_field: Allow to set field color from another field
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[ADD] web_dark_mode_responsive: dark mode styles for responsive apps menu
  README.md
  setup/_metapackage/pyproject.toml
  web_dark_mode_responsive/README.rst
  web_dark_mode_responsive/__init__.py
  web_dark_mode_responsive/__manifest__.py
  web_dark_mode_responsive/pyproject.toml
  web_dark_mode_responsive/readme/CONTRIBUTORS.md
  web_dark_mode_responsive/readme/DESCRIPTION.md
  web_dark_mode_responsive/static/description/icon.png
  web_dark_mode_responsive/static/description/index.html
  web_dark_mode_responsive/static/src/scss/apps_menu.dark.scss
  web_dark_mode_responsive/tests/__init__.py
  web_dark_mode_responsive/tests/test_web_dark_mode_responsive.py
Due: prettier

[IMP] web_dark_mode: blue-dark color palette
  web_dark_mode/static/src/scss/primary_variables.dark.scss
Due: prettier

[IMP] web_dark_mode: translate dark palette comments to English
  web_dark_mode/static/src/scss/primary_variables.dark.scss
Due: prettier

[ADD] web_assets_manager: Module to manage the used assets bundles for specific routes to improve SEO ranking and performance
  setup/web_assets_manager/odoo/addons/web_assets_manager
  setup/web_assets_manager/setup.py
  web_assets_manager/README.rst
  web_assets_manager/__init__.py
  web_assets_manager/__manifest__.py
  web_assets_manager/controllers/__init__.py
  web_assets_manager/controllers/main.py
  web_assets_manager/models/__init__.py
  web_assets_manager/models/ir_qweb.py
  web_assets_manager/models/web_assets.py
  web_assets_manager/models/web_assets_file.py
  web_assets_manager/readme/CONTRIBUTORS.rst
  web_assets_manager/readme/DESCRIPTION.rst
  web_assets_manager/readme/USAGE.rst
  web_assets_manager/security/ir.model.access.csv
  web_assets_manager/static/description/index.html
  web_assets_manager/views/web_assets_views.xml
  web_assets_manager/wizards/__init__.py
  web_assets_manager/wizards/assets_wizard.py
  web_assets_manager/wizards/assets_wizard_views.xml
Due: prettier

[ADD] web_assets_manager
  web_assets_manager/README.rst
  web_assets_manager/__manifest__.py
  web_assets_manager/models/ir_qweb.py
  web_assets_manager/models/web_assets.py
  web_assets_manager/pyproject.toml
  web_assets_manager/views/web_assets_views.xml
  web_assets_manager/wizards/assets_wizard_views.xml
Due: prettier

[IMP] web_dark_mode: dark mode styles for responsive apps menu
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/web_responsive/apps_menu.dark.scss
Due: prettier

[19.0][ADD] web_list_custom_view
  web_list_custom_view/README.rst
  web_list_custom_view/__init__.py
  web_list_custom_view/__manifest__.py
  web_list_custom_view/i18n/ebt_list_custom_view.pot
  web_list_custom_view/models/__init__.py
  web_list_custom_view/models/base.py
  web_list_custom_view/models/ir_ui_custom_list_field.py
  web_list_custom_view/pyproject.toml
  web_list_custom_view/readme/CONFIGURE.md
  web_list_custom_view/readme/CONTEXT.md
  web_list_custom_view/readme/CONTRIBUTORS.md
  web_list_custom_view/readme/DESCRIPTION.md
  web_list_custom_view/security/ir_ui_custom_list_field.xml
  web_list_custom_view/static/description/index.html
  web_list_custom_view/views/ir_ui_custom_list_field.xml
Due: prettier

[FIX] Make web_responsive AppsMenu xpath compatible across Odoo versions
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier

[UPD] Update web_action_conditionable.pot
  web_action_conditionable/i18n/web_action_conditionable.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_action_conditionable/README.rst
  web_action_conditionable/static/description/index.html
Due: none

[ADD] web_chat_separate_group
  web_chat_separate_group/README.rst
  web_chat_separate_group/__init__.py
  web_chat_separate_group/__manifest__.py
  web_chat_separate_group/pyproject.toml
  web_chat_separate_group/readme/CONTRIBUTORS.md
  web_chat_separate_group/readme/DESCRIPTION.md
  web_chat_separate_group/readme/ROADMAP.md
  web_chat_separate_group/readme/USAGE.md
  web_chat_separate_group/readme/screenshot.png
  web_chat_separate_group/static/description/index.html
  web_chat_separate_group/static/src/discuss_patch.esm.js
  web_chat_separate_group/static/src/discuss_patch.xml
  web_chat_separate_group/static/tests/discuss_patch.esm.test.js
  web_chat_separate_group/tests/__init__.py
  web_chat_separate_group/tests/test_js.py
Due: prettier, eslint

[IMP] web_dashboard_tile: improve tile form display. - make title bigger. - use new alert div. - align some items
  web_dashboard_tile/views/tile_tile.xml
Due: prettier

[FIX] webdashboard_tile: Compute tile values for all tiles, don't break computation.
  web_dashboard_tile/models/tile_tile.py
Due: none

[ADD] web_fullcalendar_resource
  web_fullcalendar_resource/README.rst
  web_fullcalendar_resource/__init__.py
  web_fullcalendar_resource/__manifest__.py
  web_fullcalendar_resource/models/__init__.py
  web_fullcalendar_resource/models/ir_actions_act_window_view.py
  web_fullcalendar_resource/models/ir_ui_view.py
  web_fullcalendar_resource/pyproject.toml
  web_fullcalendar_resource/readme/CONTRIBUTORS.md
  web_fullcalendar_resource/readme/DESCRIPTION.md
  web_fullcalendar_resource/readme/USAGE.md
  web_fullcalendar_resource/static/description/index.html
  web_fullcalendar_resource/static/lib/fullcalendar/LICENSE.txt
  web_fullcalendar_resource/static/lib/fullcalendar/premium-common/index.global.js
  web_fullcalendar_resource/static/lib/fullcalendar/resource-daygrid/index.global.js
  web_fullcalendar_resource/static/lib/fullcalendar/resource-timegrid/index.global.js
  web_fullcalendar_resource/static/lib/fullcalendar/resource/index.global.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar.scss
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_arch_parser.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_common_renderer.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_model.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_renderer.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_view.esm.js
  web_fullcalendar_resource_demo/README.rst
  web_fullcalendar_resource_demo/__init__.py
  web_fullcalendar_resource_demo/__manifest__.py
  web_fullcalendar_resource_demo/demo/fc_demo_data.xml
  web_fullcalendar_resource_demo/models/__init__.py
  web_fullcalendar_resource_demo/models/fc_demo.py
  web_fullcalendar_resource_demo/pyproject.toml
  web_fullcalendar_resource_demo/readme/CONTRIBUTORS.md
  web_fullcalendar_resource_demo/readme/DESCRIPTION.md
  web_fullcalendar_resource_demo/security/ir.model.access.csv
  web_fullcalendar_resource_demo/static/description/index.html
  web_fullcalendar_resource_demo/views/fc_demo_views.xml
Due: prettier, eslint

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Added translation using Weblate (Dutch)
  web_widget_x2many_2d_matrix/i18n/nl.po
Due: none

Translated using Weblate (Dutch)
  web_widget_x2many_2d_matrix/i18n/nl.po
Due: none

Translated using Weblate (Dutch)
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
Due: none

[FIX] web_widget_x2many_2d_matrix: remove console.log
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: black, isort, prettier
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

[15.0][MIG] web_widget_x2many_2d_matrix
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

