Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX] web_diagram: remove jQuery dependency for Odoo 18
  web_diagram/__manifest__.py
  web_diagram/static/lib/js/jquery.mousewheel.js
  web_diagram/static/src/js/graph.js
Due: prettier, eslint

[FIX] web_diagram: revert invalid OWL 3 props definition
  web_diagram/static/src/js/diagram_controller.js
Due: prettier, eslint

[FIX] web_diagram: remove type field from view definition
  web_diagram/static/src/js/diagram_view.js
Due: prettier, eslint

[FIX] web_diagram: fix props syntax for OWL 3 (Odoo 18)
  web_diagram/static/src/js/diagram_renderer.js
Due: prettier, eslint

[FIX] web_diagram: register diagram in session.view_info for Odoo 18
  web_diagram/models/ir_ui_view.py
  web_diagram/static/src/js/diagram_view.js
Due: prettier, eslint

[FIX] web_diagram: replace rpc service with rpc function for Odoo 18
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_model.js
Due: prettier, eslint

[FIX] web_diagram: resolve resId when switching via control panel in Odoo 18
  web_diagram/static/src/js/diagram_controller.js
Due: prettier, eslint

[FIX] web_diagram: workaround Odoo 18 switchView crash on lazy controller
  web_diagram/static/src/js/diagram_view.js
Due: prettier, eslint

[IMP] web_diagram: add control panel with breadcrumbs and view switcher
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[FIX] web_diagram: use correct slot for New Node button in control panel
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier

[FIX] web_diagram: fix diagram canvas height inside Layout component
  web_diagram/static/src/scss/diagram_view.scss
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier

[IMP] web_diagram: add pager and fix record ID lost on view switch
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_view.js
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[FIX] web_diagram: fix diagram canvas capped at 150px height
  web_diagram/static/src/scss/diagram_view.scss
Due: prettier

[FIX] web_diagram: fix diagram height without breaking Raphael coordinates
  web_diagram/static/src/scss/diagram_view.scss
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier

[FIX] web_diagram: fix nodes invisible due to Raphael overflow:hidden + 0px SVG
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/scss/diagram_view.scss
Due: prettier, eslint

[FIX] web_diagram: reload diagram when switching back from form view
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[FIX] web_diagram: render SVG directly in container for correct height
  web_diagram/static/src/js/diagram_renderer.js
Due: prettier, eslint

[ADD] web_diagram_builder: new application for recursive dependency diagrams
  web_diagram_builder/__init__.py
  web_diagram_builder/__manifest__.py
  web_diagram_builder/data/ir_cron_data.xml
  web_diagram_builder/data/web_diagram_builder_template_data.xml
  web_diagram_builder/models/__init__.py
  web_diagram_builder/models/web_diagram_builder.py
  web_diagram_builder/models/web_diagram_builder_link.py
  web_diagram_builder/models/web_diagram_builder_node.py
  web_diagram_builder/models/web_diagram_builder_template.py
  web_diagram_builder/security/ir.model.access.csv
  web_diagram_builder/static/description/index.html
  web_diagram_builder/views/menu.xml
  web_diagram_builder/views/web_diagram_builder_template_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

[FIX] web_diagram_builder: remove invalid numbercall field from ir.cron
  web_diagram_builder/data/ir_cron_data.xml
Due: prettier

[FIX] web_diagram_builder: remove field children from node/arrow arch elements
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

[FIX] web_diagram: compute SVG height from viewport position
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/scss/diagram_view.scss
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[IMP] web_diagram: modernise node and edge visual style
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/js/graph.js
Due: prettier, eslint

[UPD] Update web_widget_bokeh_chart.pot
  web_widget_bokeh_chart/i18n/web_widget_bokeh_chart.pot
Due: none

[FIX] web_diagram_builder: fix duplicate field labels on web.diagram.builder
  web_diagram_builder/models/web_diagram_builder.py
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

