Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[UPD] prefix versions with 8.0
  web_widget_x2many_2d_matrix/__openerp__.py
Due: none

[IMP] web_widget_x2many_2d_matrix: New option field_att_<name>
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__openerp__.py
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: black, isort, prettier
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

[IMP] collapse whitespace in rows
  web_widget_x2many_2d_matrix/static/src/css/web_widget_x2many_2d_matrix.css
Due: prettier

[FIX] support rerendering after virtual ids change
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[MIG] web_widget_x2many_2d_matrix: Migration to 9.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__openerp__.py
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[11][MIG] web_widget_x2many_2d_matrix WIP
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__init__.py
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: adapt test invocation to upstream changes
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
  web_widget_x2many_2d_matrix/tests/test_web_widget_x2many_2d_matrix.py
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: don't break non-many2one value fields
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

Translated using Weblate (Portuguese (Brazil))
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
Due: none

web_widget_x2many_2d_matrix 15.0.1.0.1
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

[11.0] x2m matrix widget: Fix display of widget when called in onchange
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] show column totals in table footer
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier

Update translation files
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

[BOT] post-merge updates
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[15.0][MIG] web_widget_x2many_2d_matrix
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier

[UPD] README.rst
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[UPD] Brainbean Apps => CorporateHub
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[FIX] web_widget_x2many_2d_matrix: fixes (#712)
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: make the possibility to have alternative values for headers of rows and columns working
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[ADD] detect if used field type can be aggregated
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[FIX] Make matrix editable depending of the status of the parent
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

Translated using Weblate (Dutch)
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
Due: none

[FIX] web_widget_x2many_2d_matrix: Init correctly the view
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[MIG] web_widget_x2many_2d_matrix: Migration to 17.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
  web_widget_x2many_2d_matrix/static/src/views/fields/boolean/boolean_field.esm.js
Due: prettier, eslint

add OCA to author
  web_widget_x2many_2d_matrix/__openerp__.py
Due: none

[IMP] web_widget_x2many_2d_matrix: Many2one value field
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[IMP] web_form_banner: imp readme
  web_form_banner/README.rst
  web_form_banner/readme/USAGE.md
  web_form_banner/static/description/index.html
  web_form_banner/static/description/partner_email_rule.png
  web_form_banner/static/description/partner_layout_banner.png
  web_form_banner/static/description/partner_layout_no_banner.png
  web_form_banner/static/description/partner_tag_rule.png
Due: none

Added translation using Weblate (Italian)
  web_export_html_as_text/i18n/it.po
Due: none

[UPD] Update web_export_html_as_text.pot
  web_export_html_as_text/i18n/web_export_html_as_text.pot
Due: none

[ADD] web_export_html_as_text
  web_export_html_as_text/README.rst
  web_export_html_as_text/__init__.py
  web_export_html_as_text/__manifest__.py
  web_export_html_as_text/models/__init__.py
  web_export_html_as_text/models/models.py
  web_export_html_as_text/readme/CONFIGURE.rst
  web_export_html_as_text/readme/CONTRIBUTORS.rst
  web_export_html_as_text/readme/DESCRIPTION.rst
  web_export_html_as_text/readme/ROADMAP.rst
  web_export_html_as_text/static/description/index.html
  web_export_html_as_text/static/src/js/export_html_to_text.esm.js
  web_export_html_as_text/static/src/xml/export_dialog.xml
  web_export_html_as_text/tests/__init__.py
  web_export_html_as_text/tests/test_export_html_text.py
  web_export_html_as_text/tests/test_models.py
Due: prettier, eslint

[BOT] post-merge updates
  web_export_html_as_text/README.rst
  web_export_html_as_text/static/description/icon.png
  web_export_html_as_text/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_export_html_as_text/i18n/it.po
Due: none

[IMP] web_export_html_as_text: pre-commit auto fixes
  web_export_html_as_text/README.rst
  web_export_html_as_text/pyproject.toml
  web_export_html_as_text/readme/CONFIGURE.md
  web_export_html_as_text/readme/CONTRIBUTORS.md
  web_export_html_as_text/readme/CONTRIBUTORS.rst
  web_export_html_as_text/readme/DESCRIPTION.md
  web_export_html_as_text/readme/ROADMAP.md
  web_export_html_as_text/readme/ROADMAP.rst
  web_export_html_as_text/static/description/index.html
Due: prettier

[MIG] web_form_banner: Migration to 17.0
  web_form_banner/__manifest__.py
  web_form_banner/i18n/ja.po
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/security/ir.model.access.csv
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

