Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

web_search_with_and: Migration to 15.0
  web_search_with_and/__manifest__.py
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/src/js/control_panel_model_extension.js
  web_search_with_and/static/src/js/search_bar.js
  web_search_with_and/views/assets.xml
Due: prettier, eslint

[FIX] web_search_with_and: support add custom filter
  web_search_with_and/static/src/js/search_bar.esm.js
Due: prettier, eslint

Update web_search_with_and.pot
  web_search_with_and/i18n/web_search_with_and.pot
Due: none

Port web_search_with_and to version 12.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/readme/DESCRIPTION.rst
  web_search_with_and/readme/USAGE.rst
  web_search_with_and/static/description/index.html
Due: none

[MIG] web_search_with_and: Migration to 18.0
  web_search_with_and/__manifest__.py
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

[18.0][MIG] web_widget_remaining_days_exact_date: Migration to 18.0
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/__init__.py
  web_widget_remaining_days_exact_date/__manifest__.py
  web_widget_remaining_days_exact_date/models/__init__.py
  web_widget_remaining_days_exact_date/models/disable_remaining_days_rule.py
  web_widget_remaining_days_exact_date/models/ir_http.py
  web_widget_remaining_days_exact_date/models/res_company.py
  web_widget_remaining_days_exact_date/models/res_config_settings.py
  web_widget_remaining_days_exact_date/pyproject.toml
  web_widget_remaining_days_exact_date/security/disable_remaining_days_security.xml
  web_widget_remaining_days_exact_date/security/ir.model.access.csv
  web_widget_remaining_days_exact_date/static/description/icon.png
  web_widget_remaining_days_exact_date/static/description/index.html
  web_widget_remaining_days_exact_date/static/src/widgets/remaining_days_fields.esm.js
  web_widget_remaining_days_exact_date/tests/__init__.py
  web_widget_remaining_days_exact_date/tests/test_main.py
  web_widget_remaining_days_exact_date/views/disable_remaining_days_rule_views.xml
  web_widget_remaining_days_exact_date/views/res_config_settings_views.xml
  web_widget_remaining_days_exact_date/wizards/__init__.py
  web_widget_remaining_days_exact_date/wizards/disable_remaining_days_rule_line_wizard.py
  web_widget_remaining_days_exact_date/wizards/disable_remaining_days_rule_wizard.py
  web_widget_remaining_days_exact_date/wizards/disable_remaining_days_rule_wizard_views.xml
Due: prettier, eslint

[MIG] web_calendar_slot_duration: Migration to 14.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/static/description/index.html
Due: none

[MIG] web_calendar_slot_duration: migration to 13.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/i18n/de.po
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_model.js
  web_calendar_slot_duration/templates/assets.xml
Due: prettier, eslint

[MIG] web_calendar_slot_duration: Migration to 15.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
  web_calendar_slot_duration/templates/assets.xml
Due: prettier, eslint

[UPD] web_calendar_slot_duration : black, isort, prettier
  web_calendar_slot_duration/i18n/pt_BR.po
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/static/description/index.html
Due: none

[ADD] web_calendar_slot_duration: customizable calendar slots timespan
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__init__.py
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/readme/CONFIGURE.rst
  web_calendar_slot_duration/readme/DESCRIPTION.rst
  web_calendar_slot_duration/readme/ROADMAP.rst
  web_calendar_slot_duration/readme/USAGE.rst
  web_calendar_slot_duration/static/description/icon.png
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_model.js
  web_calendar_slot_duration/templates/assets.xml
Due: prettier, eslint

Added translation using Weblate (German)
  web_calendar_slot_duration/i18n/de.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  web_calendar_slot_duration/i18n/pt_BR.po
Due: none

[IMP] web_calendar_slot_duration: black, isort, prettier
  web_calendar_slot_duration/static/src/js/calendar_model.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_calendar_slot_duration/i18n/it.po
Due: none

[BOT] post-merge updates
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/static/description/index.html
Due: none

[FIX] web_calendar_slot_duration: custom event length
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
Due: prettier, eslint

[MIG] web_calendar_slot_duration: Migration to 16.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/readme/CONTRIBUTORS.rst
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_common_renderer.esm.js
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
Due: prettier, eslint

[FIX] web_calendar_slot_duration: finish migration
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
Due: prettier, eslint

[MIG] web_calendar_slot_duration: Migration to 18.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_common_renderer.esm.js
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
Due: prettier, eslint

[IMP] web_calendar_slot_duration: black, isort, prettier
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/pyproject.toml
  web_calendar_slot_duration/readme/CONFIGURE.md
  web_calendar_slot_duration/readme/CONFIGURE.rst
  web_calendar_slot_duration/readme/CONTRIBUTORS.md
  web_calendar_slot_duration/readme/CONTRIBUTORS.rst
  web_calendar_slot_duration/readme/DESCRIPTION.md
  web_calendar_slot_duration/readme/DESCRIPTION.rst
  web_calendar_slot_duration/readme/ROADMAP.md
  web_calendar_slot_duration/readme/ROADMAP.rst
  web_calendar_slot_duration/readme/USAGE.md
  web_calendar_slot_duration/readme/USAGE.rst
  web_calendar_slot_duration/static/description/index.html
Due: prettier

[UPD] Update web_calendar_slot_duration.pot
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
Due: none

[MIG] web_calendar_slot_duration: Migration to 17.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/demo/scheduled_actions.xml
  web_calendar_slot_duration/i18n/it.po
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/readme/CONFIGURE.md
  web_calendar_slot_duration/readme/USAGE.md
  web_calendar_slot_duration/static/description/calendar_result.png
  web_calendar_slot_duration/static/description/edit_action.png
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_common_renderer.esm.js
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
Due: prettier, eslint

[MIG] web_calendar_slot_duration: Migration to 19.0
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/static/description/index.html
Due: none

[IMP] web_search_with_and: pre-commit auto fixes
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/__openerp__.py
  web_search_with_and/data/data.xml
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

[MIG] web_search_with_and: Migration to 19.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/i18n/tr.po
  web_search_with_and/readme/CONTRIBUTORS.md
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_model.esm.js
  web_search_with_and/static/src/xml/searchbar_patch.xml
Due: prettier, eslint

- migration web_search_with_and
  web_search_with_and/__manifest__.py
  web_search_with_and/data/data.xml
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

README.rst
  web_search_with_and/static/description/index.html
Due: none

[IMP] web_search_with_and: black, isort, prettier
  web_search_with_and/README.rst
  web_search_with_and/pyproject.toml
  web_search_with_and/readme/CONTRIBUTORS.md
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/readme/DESCRIPTION.md
  web_search_with_and/readme/DESCRIPTION.rst
  web_search_with_and/readme/USAGE.md
  web_search_with_and/readme/USAGE.rst
  web_search_with_and/static/description/index.html
Due: prettier

web_search_with_and: black, isort, prettier
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

[BOT] post-merge updates
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/static/description/index.html
Due: none

[UPD] Update web_search_with_and.pot
  web_search_with_and/i18n/web_search_with_and.pot
Due: none

Added translation using Weblate (Portuguese)
  web_search_with_and/i18n/pt.po
Due: none

README.rst
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

