Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_responsive: Add development status + contributors
  web_responsive/__manifest__.py
Due: none

[IMP] web_responsive: Cut long filters names in the filters menu
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Translated using Weblate (Russian)
  web_responsive/i18n/ru.po
Due: none

[FIX] web_responsive: Close AppDrawer
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Apply pre-commit changes
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/menu.xml
Due: prettier

[IMP] web-responsive: Document Viewer
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/document_viewer.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/document_viewer.xml
Due: prettier, eslint

[IMP] web_responsive: Refactor code
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX][11.0][web_responsive] Views without sheet
  web_responsive/static/src/less/form_view.less
Due: prettier

[IMP] mail_tracking: Changed form statusbar z-index
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[MIG] web_responsive: Migration to 13.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/models/res_users.py
  web_responsive/readme/USAGE.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/tests/test_res_users.py
  web_responsive/views/web.xml
Due: prettier, eslint

Fix problem with overflowing chatter widget.
  web_responsive/static/src/less/form_view.less
Due: prettier

[10.0][IMP][web_responsive] (#569)
  web_responsive/README.rst
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/navbar.less
Due: prettier

[IMP] web_responsive: Small refactor 'isWaiting'
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Allow searching apps in mobile Chrome
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
Due: prettier, eslint

UPDT version
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/main.less
  web_responsive/views/web.xml
Due: prettier, eslint

FIX travis (#747)
  web_responsive/views/web.xml
Due: prettier

[FIX] web_responsive: AppDrawer Discard
  web_responsive/README.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Scrollable dropdowns
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/dropdown_scroll.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX][web_responsive] Form padding, titles and buttons OK in XS
  web_responsive/static/src/less/form_view.less
Due: prettier

[IMP] web_responsive: Adapt test to 13.0
  web_responsive/tests/test_res_users.py
Due: none

[FIX] web_responsive: Hide header when print directly from browser issues 808 (#809)
  web_responsive/__manifest__.py
  web_responsive/static/src/less/navbar.less
Due: prettier

[FIX] web_responsive: make followers dropdown usable
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Added translation using Weblate (Russian)
  web_responsive/i18n/ru.po
Due: none

[FIX] web_responsive: Close Menu on Discard
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[UPD] README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] Sticky chatter topbar
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: Correct runbot link
  web_responsive/README.rst
Due: none

Translated using Weblate (Dutch)
  web_responsive/i18n/nl.po
Due: none

[FIX] web_responsive: Other minor fixes * Add Tecnativa as author * Remove untestable JS method * Rename to web_responsive
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__openerp__.py
  web_responsive/static/description/icon.png
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

pre-commit update: prettier xml indent
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/document_viewer.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier

[FIX] web_responsive: adapt AppDrawer Discard
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Hide search panel on small screens
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/search_panel.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: Skip re-search when not writing
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Don't show menu if waiting for an action to end
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Chatter on small screen
  web_responsive/static/img/chatter.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Sticky in tree view and form view
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] Sticky Statusbar
  web_responsive/static/src/less/form_view.less
Due: prettier

[IMP] web_responsive: Possibility of putting the chatter in the right (#951)
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/models/__init__.py
  web_responsive/models/inherited_res_users.py
  web_responsive/models/ir_http.py
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/readme/USAGE.rst
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/form_view.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
  web_responsive/views/inherited_view_users_form_simple_modif.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[FIX][web_responsive] Make it compatible with l10n_es_toponyms
  web_responsive/static/src/less/form_view.less
Due: prettier

Form image editing controls always present
  web_responsive/static/src/less/form_view.less
Due: prettier
