Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[ADD] web_excel_export_dynamic_expand
  web_excel_export_dynamic_expand/README.rst
  web_excel_export_dynamic_expand/__init__.py
  web_excel_export_dynamic_expand/__manifest__.py
  web_excel_export_dynamic_expand/controllers/__init__.py
  web_excel_export_dynamic_expand/controllers/excel_export.py
  web_excel_export_dynamic_expand/readme/CONTRIBUTORS.rst
  web_excel_export_dynamic_expand/readme/DESCRIPTION.rst
  web_excel_export_dynamic_expand/static/description/index.html
  web_excel_export_dynamic_expand/static/src/js/data_export.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_excel_export_dynamic_expand/i18n/it.po
Due: none

[BOT] post-merge updates
  web_excel_export_dynamic_expand/README.rst
  web_excel_export_dynamic_expand/static/description/index.html
Due: none

[UPD] Update web_excel_export_dynamic_expand.pot
  web_excel_export_dynamic_expand/i18n/web_excel_export_dynamic_expand.pot
Due: none

[MIG] web_excel_export_dynamic_expand: Migration to 18.0
  web_excel_export_dynamic_expand/__manifest__.py
  web_excel_export_dynamic_expand/controllers/excel_export.py
  web_excel_export_dynamic_expand/static/src/js/data_export.esm.js
Due: prettier, eslint

[IMP] web_excel_export_dynamic_expand: pre-commit auto fixes
  web_excel_export_dynamic_expand/README.rst
  web_excel_export_dynamic_expand/pyproject.toml
  web_excel_export_dynamic_expand/readme/CONTRIBUTORS.md
  web_excel_export_dynamic_expand/readme/CONTRIBUTORS.rst
  web_excel_export_dynamic_expand/readme/DESCRIPTION.md
  web_excel_export_dynamic_expand/readme/DESCRIPTION.rst
  web_excel_export_dynamic_expand/static/description/index.html
Due: prettier

[ADD] web_field_tooltip_copy: copy field tooltip values
  web_field_tooltip_copy/LICENSE
  web_field_tooltip_copy/README.rst
  web_field_tooltip_copy/__init__.py
  web_field_tooltip_copy/__manifest__.py
  web_field_tooltip_copy/i18n/es.po
  web_field_tooltip_copy/pyproject.toml
  web_field_tooltip_copy/readme/CONTRIBUTORS.md
  web_field_tooltip_copy/readme/DESCRIPTION.md
  web_field_tooltip_copy/readme/USAGE.md
  web_field_tooltip_copy/static/description/icon.png
  web_field_tooltip_copy/static/src/tooltip/field_tooltip.xml
  web_field_tooltip_copy/static/src/tooltip/web_field_tooltip_copy.esm.js
  web_field_tooltip_copy/static/src/tooltip/web_field_tooltip_copy.scss
Due: prettier, eslint

[ADD] web_one2many_field_name: parent O2M in tooltips
  web_one2many_field_name/LICENSE
  web_one2many_field_name/README.rst
  web_one2many_field_name/__init__.py
  web_one2many_field_name/__manifest__.py
  web_one2many_field_name/i18n/es.po
  web_one2many_field_name/pyproject.toml
  web_one2many_field_name/readme/CONTRIBUTORS.md
  web_one2many_field_name/readme/DESCRIPTION.md
  web_one2many_field_name/readme/USAGE.md
  web_one2many_field_name/static/description/icon.png
  web_one2many_field_name/static/src/web_one2many_field_name/web_one2many_field_name.esm.js
  web_one2many_field_name/static/src/web_one2many_field_name/web_one2many_field_name.scss
  web_one2many_field_name/static/src/web_one2many_field_name/web_one2many_field_name.xml
Due: prettier, eslint

[MIG] web_excel_export_dynamic_expand: Migration to 19.0
  web_excel_export_dynamic_expand/README.rst
  web_excel_export_dynamic_expand/__manifest__.py
  web_excel_export_dynamic_expand/i18n/it.po
  web_excel_export_dynamic_expand/i18n/web_excel_export_dynamic_expand.pot
  web_excel_export_dynamic_expand/readme/DESCRIPTION.md
  web_excel_export_dynamic_expand/static/description/index.html
  web_excel_export_dynamic_expand/static/src/js/data_export.esm.js
  web_excel_export_dynamic_expand/tests/__init__.py
  web_excel_export_dynamic_expand/tests/test_excel_export.py
Due: prettier, eslint

[ADD] web_company_context_highlight: Highlight the current company context
  web_company_context_highlight/README.rst
  web_company_context_highlight/__init__.py
  web_company_context_highlight/__manifest__.py
  web_company_context_highlight/models/__init__.py
  web_company_context_highlight/models/ir_http.py
  web_company_context_highlight/models/res_config_settings.py
  web_company_context_highlight/pyproject.toml
  web_company_context_highlight/readme/CONFIGURE.md
  web_company_context_highlight/readme/DESCRIPTION.md
  web_company_context_highlight/static/description/index.html
  web_company_context_highlight/static/img/web_company_context_highlight_config_color.png
  web_company_context_highlight/static/img/web_company_context_highlight_multiple_companies_selected.png
  web_company_context_highlight/static/img/web_company_context_highlight_one_company_selected.png
  web_company_context_highlight/static/src/js/switch_company_menu.esm.js
  web_company_context_highlight/static/src/scss/switch_company_menu.scss
  web_company_context_highlight/static/src/xml/switch_company_menu.xml
  web_company_context_highlight/static/tests/tours/web_company_context_highlight_tour.esm.js
  web_company_context_highlight/tests/__init__.py
  web_company_context_highlight/tests/test_tour.py
  web_company_context_highlight/views/res_config_settings_views.xml
Due: prettier, eslint

[FIX] web_responsive: 'AppsMenuPreferences' does not have a static props description
  web_responsive/static/src/components/apps_menu/apps_menu_preferences.esm.js
Due: prettier, eslint

[FIX] web_pwa_customize: adjust PWA manifest for Odoo 18
  web_pwa_customize/README.rst
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/models/__init__.py
  web_pwa_customize/models/ir_http.py
  web_pwa_customize/models/res_config_settings.py
  web_pwa_customize/readme/CONTRIBUTORS.md
  web_pwa_customize/static/description/index.html
  web_pwa_customize/views/pwa_assets.xml
Due: prettier

Translated using Weblate (Portuguese)
  web_widget_image_download/i18n/pt.po
Due: none

[MIG] web_widget_image_download: Migration to 11.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_widget_image_download/i18n/es.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_widget_image_download/i18n/zh_CN.po
Due: none

[MIG]web_widget_image_download: Migration to 16.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/es.po
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/it.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/pt.po
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/i18n/zh_CN.po
  web_widget_image_download/readme/USAGE.rst
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/scss/web_widget_image_download.scss
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[IMP] web_widget_image_download: black, isort, prettier
  web_widget_image_download/README.rst
  web_widget_image_download/pyproject.toml
  web_widget_image_download/readme/CONTRIBUTORS.md
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/readme/DESCRIPTION.md
  web_widget_image_download/readme/DESCRIPTION.rst
  web_widget_image_download/readme/USAGE.md
  web_widget_image_download/readme/USAGE.rst
  web_widget_image_download/static/description/index.html
Due: prettier

Added translation using Weblate (Portuguese)
  web_widget_image_download/i18n/pt.po
Due: none

[10.0][MIG]migrate web_widget_image_download
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[IMP] web_widget_image_download: black, isort
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/scss/web_widget_image_download.scss
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
  web_widget_image_download/views/assets.xml
Due: prettier, eslint

pre-commit update: prettier xml indent
  web_widget_image_download/views/assets.xml
Due: prettier

Added translation using Weblate (Spanish)
  web_widget_image_download/i18n/es.po
Due: none

[IMP] web_widget_image_download: black, isort, prettier
  web_widget_image_download/static/src/js/web_widget_image_download.js
Due: prettier, eslint

[MIG] web_widget_image_download
  web_widget_image_download/README.rst
  web_widget_image_download/__init__.py
  web_widget_image_download/__openerp__.py
  web_widget_image_download/static/description/icon.png
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
  web_widget_image_download/views/assets.xml
Due: prettier, eslint

Translated using Weblate (Chinese (Simplified))
  web_widget_image_download/i18n/zh_CN.po
Due: none

Added translation using Weblate (Italian)
  web_widget_image_download/i18n/it.po
Due: none

[MIG] web_widget_image_download: Migration to 13.0
  web_widget_image_download/README.rst
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/pt.po
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/i18n/zh_CN.po
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_widget_image_download/i18n/it.po
Due: none

[MIG] web_widget_image_download: Update for v9.
  web_widget_image_download/README.rst
  web_widget_image_download/__init__.py
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
Due: prettier, eslint

[MIG]web_widget_image_download: Migration to 17.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[IMP] README by fragments + manifest
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/readme/DESCRIPTION.rst
  web_widget_image_download/readme/USAGE.rst
  web_widget_image_download/static/description/index.html
Due: none

[14.0][MIG] web_widget_image_download
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/static/description/index.html
Due: none

[MIG] web_widget_image_download: Migration to 12.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/scss/web_widget_image_download.scss
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
  web_widget_image_download/views/assets.xml
Due: prettier

[MIG]web_widget_image_download: Migration to 15.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/static/description/index.html
  web_widget_image_download/views/assets.xml
Due: prettier

[MIG] web_widget_image_download: Migration to 18.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/readme/CONTRIBUTORS.md
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[UPD] Update web_widget_image_download.pot
  web_widget_image_download/i18n/web_widget_image_download.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_image_download/README.rst
  web_widget_image_download/static/description/index.html
Due: none

[IMP] web_environment_ribbon: hide the ribbon on hover, to let user access and see more easily elements hidden by the ribbon
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

