Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_dark_mode: Fix uninstallation
  web_dark_mode/models/ir_http.py
Due: none

[ADD] icon.png
  web_dark_mode/static/description/icon.png
Due: none

Added translation using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

Added translation using Weblate (Chinese (zh))
  web_dark_mode/i18n/zh.po
Due: none

[ADD][16.0] Module web_dark_mode
  web_dark_mode/README.rst
  web_dark_mode/__init__.py
  web_dark_mode/__manifest__.py
  web_dark_mode/models/__init__.py
  web_dark_mode/models/ir_http.py
  web_dark_mode/models/res_users.py
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/readme/DESCRIPTION.rst
  web_dark_mode/readme/ROADMAP.rst
  web_dark_mode/static/description/index.html
  web_dark_mode/static/src/js/switch_item.esm.js
  web_dark_mode/static/src/scss/variables.scss
  web_dark_mode/tests/__init__.py
  web_dark_mode/tests/test_dark_mode.py
  web_dark_mode/views/res_users_views.xml
Due: prettier, eslint

web_dark_mode 16.0.1.0.1
  web_dark_mode/__manifest__.py
Due: none

[UPD] Update web_dark_mode.pot
  web_dark_mode/i18n/web_dark_mode.pot
Due: none

Translated using Weblate (Croatian)
  web_dark_mode/i18n/hr.po
Due: none

Translated using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

[FIX] web_dark_mode: Add fields to field lists
  web_dark_mode/models/res_users.py
Due: none

[UPD] README.rst
  web_dark_mode/README.rst
  web_dark_mode/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

[BOT] post-merge updates
  web_dark_mode/README.rst
  web_dark_mode/__manifest__.py
  web_dark_mode/static/description/index.html
Due: none

[IMP] web_dark_mode: pre-commit execution
  web_dark_mode/README.rst
  web_dark_mode/pyproject.toml
  web_dark_mode/readme/CONTRIBUTORS.md
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/readme/DESCRIPTION.md
  web_dark_mode/readme/DESCRIPTION.rst
  web_dark_mode/readme/ROADMAP.md
  web_dark_mode/static/description/index.html
Due: prettier

Added translation using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

Translated using Weblate (Turkish)
  web_dark_mode/i18n/tr.po
Due: none

Added translation using Weblate (French)
  web_dark_mode/i18n/fr.po
Due: none

Translated using Weblate (French)
  web_dark_mode/i18n/fr.po
Due: none

Added translation using Weblate (Spanish)
  web_dark_mode/i18n/es.po
Due: none

Translated using Weblate (Spanish)
  web_dark_mode/i18n/es.po
Due: none

Added translation using Weblate (Turkish)
  web_dark_mode/i18n/tr.po
Due: none

[IMP] web_dark_mode Tweak kanban controller Set attachment image background to white and fix the column background when hovering with a draggable card
  web_dark_mode/static/src/views/kanban/kanban_controller.dark.scss
Due: prettier

[MIG] web_dark_mode: Migration to 18.0
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/js/switch_item.esm.js
Due: prettier, eslint

[IMP] web_dark_mode Adjust the styles of custom properties
  web_dark_mode/static/src/views/fields/properties/properties_field.dark.scss
Due: prettier

[IMP] web_dark_mode Adjust tag and colorlist colors
  web_dark_mode/static/src/core/colorlist/colorlist.dark.scss
  web_dark_mode/static/src/core/tags_list/tags_list.dark.scss
Due: prettier

[IMP] web_dark_mode Override BS variables Just general customizations of BS variables to bring them in line with our style
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/scss/bootstrap_overridden.dark.scss
Due: prettier

[IMP] web_dark_mode Set image background to white
  web_dark_mode/static/src/views/fields/image/image_field.dark.scss
Due: prettier

[IMP] web_dark_mode Change navbar from purple to dark Also get rid of the bottom border.
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/webclient/navbar/navbar.variables.dark.scss
Due: prettier

[IMP] web_dark_mode Fix tint and shade color functions
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/scss/bs_functions_overrides.dark.scss
Due: prettier

[IMP] web_dark_mode Tweak the search bar Set the background color to be darker and tone down the border around it. The styling for the border is borrwed from the style of .o-mail-Composer-bg
  web_dark_mode/static/src/search/search_panel/search_view.dark.scss
Due: prettier

[IMP] web_dark_mode Set dark theme to immitate VSCode Modern Dark Also, change asset bundle loading from 'prepend' to 'before' This is in line with Odoo's own way of doing it.
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/scss/primary_variables.dark.scss
  web_dark_mode/static/src/scss/variables.scss
Due: prettier

[IMP] web_dark_mode Improve notebook tab styling
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/core/notebook/notebook.dark.scss
Due: prettier

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_pivot_computed_measure/i18n/it.po
Due: none

[BOT] post-merge updates
  README.md
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_sort_menu/i18n/it.po
Due: none

[18.0][FIX] web_widget_x2many_2d_matrix: fix sticky header/column overlap
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

[UPD] Update web_tree_column_keyboard_resize.pot
  web_tree_column_keyboard_resize/i18n/web_tree_column_keyboard_resize.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_tree_column_keyboard_resize/README.rst
  web_tree_column_keyboard_resize/static/description/icon.png
  web_tree_column_keyboard_resize/static/description/index.html
Due: none
