Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_responsive: Align checkboxes in Favourites save current search view
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] recaptured actual description screenshots
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/img/appmenu.gif
  web_responsive/static/img/appsearch.gif
  web_responsive/static/img/big_checkboxes.gif
  web_responsive/static/img/breadcrumbs.gif
  web_responsive/static/img/calendar.gif
  web_responsive/static/img/chatter.gif
  web_responsive/static/img/chatter_sided.gif
  web_responsive/static/img/chatter_topbar.gif
  web_responsive/static/img/device_rotation.gif
  web_responsive/static/img/document_viewer.gif
  web_responsive/static/img/dropdown_scroll.gif
  web_responsive/static/img/form_buttons.gif
  web_responsive/static/img/formview.gif
  web_responsive/static/img/hamburger.gif
  web_responsive/static/img/kanban.gif
  web_responsive/static/img/listview.gif
  web_responsive/static/img/mobile_search.gif
  web_responsive/static/img/navbar.gif
  web_responsive/static/img/search_panel.gif
  web_responsive/static/img/shortcuts.gif
  web_responsive/static/img/usermenu.gif
  web_responsive/static/img/viewtype.gif
Due: none

[IMP] web_responsive: public message chatter color
  web_responsive/README.rst
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/chatter-colors.gif
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

Translated using Weblate (German)
  web_responsive/i18n/de.po
Due: none

[IMP] big inputs on forms in edit mode
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/control_panel/control_panel.scss
  web_responsive/static/src/components/control_panel/control_panel.xml
  web_responsive/static/src/legacy/css/web_responsive.scss
  web_responsive/static/src/legacy/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Show View Type Always
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

Translated using Weblate (Portuguese (Brazil))
  web_responsive/i18n/pt_BR.po
Due: none

Translated using Weblate (Russian)
  web_responsive/i18n/ru.po
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

oca-github-bot post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: only change width of main control panel
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

[IMP] web_responsive: Cut long filters names in the filters menu
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX]-web_responsive module: Go to wrong action menu when user is set with Home Action menu
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/zh_CN.po
Due: none

web_responsive 16.0.1.0.3
  web_responsive/__manifest__.py
Due: none

Added translation using Weblate (Persian)
  web_responsive/i18n/fa.po
Due: none

web_responsive 15.0.1.1.2
  web_responsive/__manifest__.py
Due: none

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
Due: none

[IMP] show AppsMenu by default after login also redirect to backend from website AppsMenu
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/legacy/css/website_apps_menu.scss
  web_responsive/static/src/legacy/js/website_apps_menu.js
Due: prettier, eslint

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/it.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/uk_UA.po
  web_responsive/i18n/zh_CN.po
Due: none

Added translation using Weblate (Persian)
  web_responsive/i18n/fa_IR.po
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

Added translation using Weblate (Polish)
  web_responsive/i18n/pl.po
Due: none

Translated using Weblate (Spanish)
  web_responsive/i18n/es.po
Due: none

Update translation files
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/zh_CN.po
Due: none

Translated using Weblate (Persian)
  web_responsive/i18n/fa.po
Due: none

[IMP] web_responsive: Bigger checkboxes in list view
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/big_checkboxes.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[FIX] Split button templates to show translated labels
  web_responsive/static/src/legacy/xml/form_buttons.xml
Due: prettier

[FIX] kanban mode for popup in Many2One fields on mobile
  web_responsive/static/src/legacy/js/web_responsive.js
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
Due: prettier, eslint

web_responsive 16.0.1.0.5
  web_responsive/__manifest__.py
Due: none

[FIX] error on grouped mobile kanban with zero groups
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/kanban_renderer_mobile.js
Due: prettier, eslint

web_responsive 16.0.1.0.4
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: Add support to serve menu icon in image url
  web_responsive/static/src/components/apps_menu_tools.esm.js
Due: prettier, eslint

[FIX] web_responsive: Menu section overflow
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[17.0][FIX] web_responsive: disable default file preview
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/src/components/file_viewer/file_viewer.esm.js
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/form_statusbar.scss
Due: prettier, eslint
