Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_environment_ribbon: prepare running_env for ribbon name vals
  web_environment_ribbon/models/web_environment_ribbon_backend.py
Due: none

[MIG] web_datetime_picker_default_time: Migration to 18.0
  eslint.config.cjs
  web_datetime_picker_default_time/README.rst
  web_datetime_picker_default_time/__manifest__.py
  web_datetime_picker_default_time/readme/CONTRIBUTORS.md
  web_datetime_picker_default_time/readme/CREDITS.md
  web_datetime_picker_default_time/readme/USAGE.md
  web_datetime_picker_default_time/static/description/index.html
  web_datetime_picker_default_time/static/src/js/datepicker.esm.js
  web_datetime_picker_default_time/static/src/js/datetime_field.esm.js
  web_datetime_picker_default_time/static/src/xml/datetime_field.xml
  web_datetime_picker_default_time/static/tests/web_datetime_picker_default_time.test.js
Due: prettier, eslint

[FIXED] TypeError: env._t is not a function
  web_notify/static/src/js/services/notification_services.esm.js
Due: prettier, eslint

[ADD] web_widget_pattern
  web_widget_pattern/README.rst
  web_widget_pattern/__init__.py
  web_widget_pattern/__manifest__.py
  web_widget_pattern/demo/res_partner_views.xml
  web_widget_pattern/models/__init__.py
  web_widget_pattern/models/base.py
  web_widget_pattern/readme/CONTRIBUTORS.md
  web_widget_pattern/readme/DESCRIPTION.md
  web_widget_pattern/readme/ROADMAP.md
  web_widget_pattern/readme/USAGE.md
  web_widget_pattern/static/description/icon.png
  web_widget_pattern/static/description/index.html
  web_widget_pattern/static/src/autocomplete.esm.js
  web_widget_pattern/static/src/autocomplete.xml
  web_widget_pattern/static/src/char_field.esm.js
  web_widget_pattern/static/src/char_field.xml
  web_widget_pattern/tests/__init__.py
  web_widget_pattern/tests/test_web_widget_pattern.py
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_widget_pattern/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_widget_pattern/i18n/it.po
Due: none

[UPD] Update web_widget_pattern.pot
  web_widget_pattern/i18n/web_widget_pattern.pot
Due: none

[MIG] web_widget_pattern: Migration to 17.0
  web_widget_pattern/README.rst
  web_widget_pattern/__manifest__.py
  web_widget_pattern/pyproject.toml
  web_widget_pattern/readme/CONTRIBUTORS.md
  web_widget_pattern/static/description/index.html
  web_widget_pattern/static/src/char_field.esm.js
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 13.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/templates/tour_assets.xml
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_disable_export_group.py
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[UPD] README.rst
  web_disable_export_group/README.rst
  web_disable_export_group/static/description/index.html
Due: none

[OU] web_disable_export_group: Fix when migration happened on 13.0
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
Due: none

[MIG] web_disable_export_group: Migration to 16.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[MIG] web_disable_group_export: Migration to 11.0
  web_disable_export_group/README.rst
  web_disable_export_group/__init__.py
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 14.0
  web_disable_export_group/__manifest__.py
Due: none

Add module web_disable_export_group
  web_disable_export_group/README.rst
  web_disable_export_group/__init__.py
  web_disable_export_group/__manifest__.py
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
Due: prettier, eslint

[UPD] Update web_disable_export_group.pot
  web_disable_export_group/i18n/web_disable_export_group.pot
Due: none

Added translation using Weblate (Italian)
  web_disable_export_group/i18n/it.po
Due: none

Translated using Weblate (Portuguese)
  web_disable_export_group/i18n/pt.po
Due: none

Translated using Weblate (Croatian)
  web_disable_export_group/i18n/hr.po
Due: none

[IMP] web_disable_export_group: Differenciate between the XLSX export and the standard export
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/migrations/14.0.1.1.0/post-migration.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

Added translation using Weblate (Portuguese)
  web_disable_export_group/i18n/pt.po
Due: none

[MIG] web_disable_export_group: Migration to 12.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
Due: prettier

[IMP] web_disable_export_group: Tests
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_disable_export_group.py
Due: none

[IMP] web_disable_export_group: black, isort, prettier
  web_disable_export_group/__manifest__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
  web_disable_export_group/tests/test_disable_export_group.py
Due: prettier, eslint

Translated using Weblate (Chinese (Simplified))
  web_disable_export_group/i18n/zh_CN.po
Due: none

Translated using Weblate (Italian)
  web_disable_export_group/i18n/it.po
Due: none

[MIG] web_disable_export_group: Migration to 15.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/models.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/security/ir.model.access.csv
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/static/src/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/templates/assets.xml
  web_disable_export_group/templates/tour_assets.xml
Due: prettier, eslint

[OU-FIX] web_disable_export_group: Proper migration scripts
  web_disable_export_group/__manifest__.py
  web_disable_export_group/migrations/14.0.1.1.0/post-migration.py
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
Due: none

Translated using Weblate (Spanish)
  web_disable_export_group/i18n/es.po
Due: none

Added translation using Weblate (Spanish)
  web_disable_export_group/i18n/es.po
Due: none

[IMP] web_disable_export_group: Disable 'export all' button
  web_disable_export_group/README.rst
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

Update translation files
  web_disable_export_group/i18n/es.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_disable_export_group/i18n/zh_CN.po
Due: none

[FIX] Tests
  web_disable_export_group/static/description/icon.png
  web_disable_export_group/static/description/index.html
  web_disable_export_group/tests/test_disable_export_group.py
Due: none

Added translation using Weblate (Croatian)
  web_disable_export_group/i18n/hr.po
Due: none

[IMP] web_disable_export_group: pre-commit auto fixes
  web_disable_export_group/README.rst
  web_disable_export_group/pyproject.toml
  web_disable_export_group/readme/CONFIGURE.md
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.md
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.md
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/static/description/index.html
Due: prettier

[MIG] web_disable_export_group: Migration to 17.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/security/ir.model.access.csv
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/export_all_override.esm.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 17.0
  web_disable_export_group/README.rst
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/export_all.esm.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
Due: prettier, eslint
