Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] Make web_environment_ribbon more generic
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

[MIG] web_environment_ribbon: Migration to 15.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/tests/test_environment_ribbon_data.py
  web_environment_ribbon/view/base_view.xml
Due: prettier

[15.0][MIG] web_widget_bokeh_chart
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[IMP] web_environment_ribbon: conditional ribbon
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

Add missing default oca icons
  web_environment_ribbon/static/description/icon.png
Due: none

[UPD] Update web_environment_ribbon.pot
  web_environment_ribbon/i18n/web_environment_ribbon.pot
Due: none

[MIG] web_environment_ribbon: Migration to 19.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
Due: none

Translated using Weblate (Chinese (Simplified))
  web_environment_ribbon/i18n/zh_CN.po
Due: none

[BOT] post-merge updates
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
Due: none

[IMP] ribbon color customization (#347)
  web_environment_ribbon/README.rst
  web_environment_ribbon/__openerp__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[MIG] Make modules uninstallable
  web_environment_ribbon/__openerp__.py
Due: none

[UPD] README.rst
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

[FIX] web_dialog_size js warnings
  web_responsive/__manifest__.py
Due: none

Fix linter
  web_responsive/tests/test_res_users.py
Due: none

[IMP] web-responsive: Document Viewer
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/document_viewer.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/document_viewer.xml
Due: prettier, eslint

Update web_responsive.scss
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: adapt AppDrawer Discard
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

Fix problem with overflowing chatter widget.
  web_responsive/static/src/less/form_view.less
Due: prettier

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] web_responsive: Suggested changes
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/img/appmenu.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Change edit accesskey * Change accesskey for `edit` in form view back to `e` to fix #587
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/form_view.xml
Due: prettier

[IMP] web_responsive: Readme
  web_responsive/README.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/formview.gif
  web_responsive/static/img/listview.gif
Due: none

[FIX] web_responsive: changed button box more initial position
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] Sticky chatter topbar
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] Read/Write permissions
  web_responsive/models/inherited_res_users.py
Due: none

[IMP] Adding res.users chatter_position read/write test
  web_responsive/models/inherited_res_users.py
  web_responsive/tests/__init__.py
  web_responsive/tests/test_res_users.py
Due: none

[10.0][IMP][web_responsive] Make search bar sticky (#633)
  web_responsive/static/src/less/main.less
Due: prettier

[IMP] web_responsive: Refactor code
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Chatter on small screen
  web_responsive/static/img/chatter.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Made chatter input & attachments scrollable
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Restore discuss mobile mode
  web_responsive/__manifest__.py
  web_responsive/static/src/js/discuss.js
  web_responsive/static/src/xml/discuss.xml
  web_responsive/views/assets.xml
Due: prettier, eslint

[MIG] web_responsive: Migrate to v12 and refactor
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/i18n/es.po
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/__init__.py
  web_responsive/models/res_users.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/readme/USAGE.rst
  web_responsive/static/description/index.html
  web_responsive/static/lib/css/drawer.3.2.2.css
  web_responsive/static/lib/js/bililiteRange.2.6.js
  web_responsive/static/lib/js/drawer.3.2.2.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/lib/js/jquery.sendkeys.4.js
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/form_view.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/src/xml/app_drawer_menu_search.xml
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/__init__.py
  web_responsive/tests/test_ui.py
  web_responsive/views/assets.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[IMP] web_responsive: Small refactor 'isWaiting'
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[UPD] README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] web_responsive: Support long titles
  web_responsive/README.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: make followers dropdown usable
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] Add sticky header & footer in list view
  web_responsive/static/src/less/form_view.less
Due: prettier

[IMP] web_responsive: Readme
  web_responsive/README.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/appmenu.gif
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

