Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_responsive: Translation Button Position
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[IMP] web_responsive: Scrollable dropdowns
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/dropdown_scroll.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Added translation using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

[FIX] web_responsive: Align menu for dates in filters
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/zh_CN.po
Due: none

web_responsive 15.0.1.1.0
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: Hide search panel on small screens
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/search_panel.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Translated using Weblate (Italian)
  web_responsive/i18n/it.po
Due: none

Added translation using Weblate (Russian)
  web_responsive/i18n/ru.po
Due: none

[FIX] web_responsive: Wrap text when display_name is too long
  web_responsive/__manifest__.py
  web_responsive/static/src/views/form/form_controller.scss
Due: prettier

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/uk_UA.po
  web_responsive/i18n/zh_CN.po
Due: none

web_responsive 16.0.1.0.2
  web_responsive/__manifest__.py
Due: none

web_responsive 15.0.1.1.3
  web_responsive/__manifest__.py
Due: none

[MIG] web_responsive: Migration to 14.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/css/kanban_view_mobile.scss
  web_responsive/static/src/css/search_view_mobile.scss
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/discuss.js
  web_responsive/static/src/js/kanban_renderer_mobile.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/attachment_viewer.xml
  web_responsive/static/src/xml/control_panel.xml
  web_responsive/static/src/xml/discuss.xml
  web_responsive/static/src/xml/document_viewer.xml
  web_responsive/static/src/xml/form_buttons.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/static/src/xml/search_panel.xml
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

[IMP] web_responsive: Adapt label width
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/label_size_large.png
  web_responsive/static/img/label_size_small.png
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
  web_responsive/static/src/legacy/scss/web_responsive.scss
  web_responsive/static/src/legacy/scss/website_apps_menu.scss
Due: prettier

Translated using Weblate (German)
  web_responsive/i18n/de.po
Due: none

[FIX] web_responsive: Can't access web using superuser
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: Update z-index in apps menu.scss to fix overlapping issue:
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

web_responsive 15.0.1.1.1
  web_responsive/__manifest__.py
Due: none

web_responsive 15.0.1.1.4
  web_responsive/__manifest__.py
Due: none

[FIX] redundant padding on kanban card
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
Due: prettier

Revert "[FIX] web_responsive: Update z-index in apps menu.scss to fix overlapping issue:"
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

Translated using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

[FIX] word wrap for appdrawer menu items
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Translated using Weblate (Spanish)
  web_responsive/i18n/es.po
Due: none

[IMP] web_responsive: Indicate incompatibility
  web_responsive/__manifest__.py
Due: none

Added translation using Weblate (French (France))
  web_responsive/i18n/fr_FR.po
Due: none
