Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_pwa_customize/README.rst
  web_pwa_customize/static/description/index.html
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[FIX] web_responsive: prevent error in tests when accessing an undefined variable
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_widget_product_label_section_and_note/README.rst
  web_widget_product_label_section_and_note/__manifest__.py
  web_widget_product_label_section_and_note/static/description/index.html
Due: none

[IMP] web_widget_product_label_section_and_note: force a width on the column
  web_widget_product_label_section_and_note/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
Due: prettier, eslint

Update translation files
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

[ADD] web_pwa_customize: New module
  web_pwa_customize/README.rst
  web_pwa_customize/__init__.py
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/__init__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/i18n/es.po
  web_pwa_customize/i18n/web_pwa_customize.pot
  web_pwa_customize/models/__init__.py
  web_pwa_customize/models/res_config_settings.py
  web_pwa_customize/pyproject.toml
  web_pwa_customize/readme/CONFIGURE.md
  web_pwa_customize/readme/CONTEXT.md
  web_pwa_customize/readme/CONTRIBUTORS.md
  web_pwa_customize/readme/DESCRIPTION.md
  web_pwa_customize/static/description/icon.png
  web_pwa_customize/static/description/index.html
  web_pwa_customize/tests/__init__.py
  web_pwa_customize/tests/test_web_pwa_customize.py
  web_pwa_customize/views/res_config_settings_views.xml
Due: prettier

Initial commit
  .copier-answers.yml
  .editorconfig
  .gitattributes
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-mandatory
  .ruff.toml
  LICENSE
  README.md
  checklog-odoo.cfg
  eslint.config.cjs
  prettier.config.cjs
Due: prettier

Translated using Weblate (Italian)
  web_environment_ribbon/i18n/it.po
Due: none

[14.0][MIG] web_environment_ribbon: Migration to 14.0
  web_environment_ribbon/__manifest__.py
Due: none

[UPD] prefix versions with 8.0
  web_environment_ribbon/__openerp__.py
Due: none

[BOT] post-merge updates
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
Due: none

Fix 'document' is not defined [no-undef] lint in web_environment_ribbon
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

Added translation using Weblate (Chinese (Simplified))
  web_environment_ribbon/i18n/zh_CN.po
Due: none

[UPD] README.rst
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

[MIG] web_environment_ribbon
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__openerp__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

[UPD] Update web_environment_ribbon.pot
  web_environment_ribbon/i18n/web_environment_ribbon.pot
Due: none

[IMP] web_environment_ribbon increase margin
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

[FIX][11.0] web_environment_ribbon (#806)
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
Due: none

[MIG] web_environment_ribbon: Migration to 16.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/i18n/web_environment_ribbon.pot
  web_environment_ribbon/static/description/index.html
Due: none

[IMP] web_environment_ribbon: hide the ribbon when navigation is in use
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

Added translation using Weblate (Chinese (zh))
  web_environment_ribbon/i18n/zh.po
Due: none

[MIG] Migrated web_environment_ribbon to v10.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

Translated using Weblate (Dutch)
  web_environment_ribbon/i18n/nl.po
Due: none

pre-commit, black, isort
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/tests/test_environment_ribbon_data.py
Due: none

Translated using Weblate (Spanish)
  web_environment_ribbon/i18n/es.po
Due: none

[FIX] web_dialog_size js warnings
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

Translated using Weblate (Portuguese)
  web_environment_ribbon/i18n/pt.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  web_environment_ribbon/i18n/pt_BR.po
Due: none

[18.0][FIX]web_enviroment_ribbon: hide ribbon by default
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

Translated using Weblate (Catalan)
  web_environment_ribbon/i18n/ca.po
Due: none

Update translation files
  web_environment_ribbon/i18n/hr.po
  web_environment_ribbon/i18n/sl.po
Due: none

Added translation using Weblate (Catalan)
  web_environment_ribbon/i18n/ca.po
Due: none

[MIG] web_environment_ribbon: Migration to 12.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/readme/CONFIGURE.rst
  web_environment_ribbon/readme/CONTRIBUTORS.rst
  web_environment_ribbon/readme/DESCRIPTION.rst
  web_environment_ribbon/readme/USAGE.rst
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

ADD web_environment_ribbon - Minor improvement of transparency to allow top menu visibility
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

Added translation using Weblate (Portuguese)
  web_environment_ribbon/i18n/pt.po
Due: none

[9.0] [IMP] Web Environment Ribbon: support variables in ribbon name (eg db_name) (#621)
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/models/__init__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/security/web_environment_ribbon_backend.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[IMP] pre-commit run after update
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint
