Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[UPD] Update web_ir_actions_act_window_page.pot
  web_ir_actions_act_window_page/i18n/web_ir_actions_act_window_page.pot
Due: none

[ADD] Demo data for testing
  web_ir_actions_act_window_page/README.md
  web_ir_actions_act_window_page/__manifest__.py
  web_ir_actions_act_window_page/demo/demo_action.xml
Due: prettier

[MIG][10.0] web_ir_actions_act_window_page
  web_ir_actions_act_window_page/README.md
  web_ir_actions_act_window_page/__manifest__.py
  web_ir_actions_act_window_page/static/src/js/web_ir_actions_act_window_page.js
  web_ir_actions_act_window_page/view/qweb.xml
  web_ir_actions_act_window_page/views/assets.xml
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_ir_actions_act_window_page/i18n/es.po
Due: none

OCA Transbot updated translations from Transifex
  web_ir_actions_act_window_page/i18n/de.po
Due: none

Translated using Weblate (Galician)
  web_ir_actions_act_window_page/i18n/gl.po
Due: none

[13.0][MIG] web_ir_actions_act_window_page
  web_ir_actions_act_window_page/README.md
  web_ir_actions_act_window_page/README.rst
  web_ir_actions_act_window_page/__init__.py
  web_ir_actions_act_window_page/__manifest__.py
  web_ir_actions_act_window_page/demo/demo_action.xml
  web_ir_actions_act_window_page/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_page/readme/DESCRIPTION.rst
  web_ir_actions_act_window_page/readme/USAGE.rst
  web_ir_actions_act_window_page/static/description/index.html
  web_ir_actions_act_window_page/static/src/js/web_ir_actions_act_window_page.js
  web_ir_actions_act_window_page/views/assets.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_ir_actions_act_window_page/i18n/it.po
Due: none

[UPD] README.rst
  web_ir_actions_act_window_page/README.rst
  web_ir_actions_act_window_page/static/description/index.html
Due: none

[IMP] web_ir_actions_act_window_page: pre-commit auto fixes
  web_ir_actions_act_window_page/README.rst
  web_ir_actions_act_window_page/demo/demo_action.xml
  web_ir_actions_act_window_page/pyproject.toml
  web_ir_actions_act_window_page/readme/CONTRIBUTORS.md
  web_ir_actions_act_window_page/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_page/readme/DESCRIPTION.md
  web_ir_actions_act_window_page/readme/DESCRIPTION.rst
  web_ir_actions_act_window_page/readme/USAGE.md
  web_ir_actions_act_window_page/readme/USAGE.rst
  web_ir_actions_act_window_page/static/description/index.html
Due: prettier

[IMP] web_ir_actions_act_window_page: tests
  web_ir_actions_act_window_page/__manifest__.py
  web_ir_actions_act_window_page/demo/demo_action.xml
  web_ir_actions_act_window_page/static/tests/web_ir_actions_act_window_page_tour.esm.js
  web_ir_actions_act_window_page/tests/__init__.py
  web_ir_actions_act_window_page/tests/test_web_ir_actions_act_window_page.py
Due: prettier, eslint

[MIG] web_ir_actions_act_window_page: Migration to 18.0
  web_ir_actions_act_window_page/__manifest__.py
  web_ir_actions_act_window_page/demo/demo_action.xml
  web_ir_actions_act_window_page/models/ir_actions_act_window_page.py
  web_ir_actions_act_window_page/static/src/web_ir_actions_act_window_page.esm.js
Due: prettier, eslint

[FIX] web_ir_actions_act_window_page: don't break if there is no list view
  web_ir_actions_act_window_page/static/src/web_ir_actions_act_window_page.esm.js
Due: prettier, eslint

[UPD] web_ir_actions_act_window_page: add hbrunn as maintainer
  web_ir_actions_act_window_page/README.rst
  web_ir_actions_act_window_page/__manifest__.py
  web_ir_actions_act_window_page/static/description/index.html
Due: none

[IMP] web_widget_plotly_chart: un pin specific version of plotly
  requirements.txt
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/readme/INSTALL.md
  web_widget_plotly_chart/static/description/index.html
Due: none

[IMP] web_widget_plotly_chart: Upgrade plotlty js lib to 4.1.1
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.32.0.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-4.1.1.min.js
Due: prettier, eslint

[ADD] module web_dialog_size
  web_dialog_size/README.rst
  web_dialog_size/__init__.py
  web_dialog_size/__openerp__.py
  web_dialog_size/static/description/icon.png
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/view/qweb.xml
Due: prettier, eslint

[IMP] web_dialog_size: Select default dialog size by config
  web_dialog_size/README.rst
  web_dialog_size/__openerp__.py
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier, eslint

[FIX] web_dialog_size: do not expand by default and correctly honor default_maximize parameter
  web_dialog_size/README.rst
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] web_dialog_siza: Migrate to v9.0
  web_dialog_size/README.rst
  web_dialog_size/__openerp__.py
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/view/qweb.xml
Due: prettier, eslint

[10.0-MIG] web_dialog_size for v10.0
  web_dialog_size/__manifest__.py
  web_dialog_size/__openerp__.py
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/templates/assets.xml
Due: prettier, eslint

[FIX+IMP] web_dialog_size
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[FIX] web_dialog_size: default_maximize
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] Migrate web_dialog_size module to v11
  web_dialog_size/README.rst
  web_dialog_size/__init__.py
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[FIX] #921 Fixed issue when discard a modal with draggable element
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[FIX] web_dialog_size: Fix usage for non-admins and reduce calls (#954)
  web_dialog_size/README.rst
  web_dialog_size/__init__.py
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/__init__.py
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/readme/CONFIGURATION.rst
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/readme/DESCRIPTION.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[11.0][FIX] web_dialog_size: Draggable Dialog
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

Fix default_maximize check
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 12.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/readme/CONFIGURE.rst
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/templates/assets.xml
  web_dialog_size/tests/__init__.py
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier

Added translation using Weblate (Chinese (Simplified))
  web_dialog_size/i18n/zh_CN.po
Due: none

[MIG] Migrated web_dialog_size module in v13.
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[IMP] Improved code and solved the bug of two arrows in dialog.
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier, eslint

[FIX] web_dialog_size js warnings
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[IMP] pre-commit run after update
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/templates/assets.xml
Due: prettier, eslint

pre-commit update: prettier xml indent
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier

[IMP] web_dialog_size: black, isort, prettier
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 14.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[IMP] web_dialog_size: add task to roadmap
  web_dialog_size/README.rst
  web_dialog_size/readme/ROADMAP.rst
  web_dialog_size/static/description/index.html
Due: none

Added translation using Weblate (French)
  web_dialog_size/i18n/fr.po
Due: none

Added translation using Weblate (Dutch)
  web_dialog_size/i18n/nl.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

