Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX] all: fix pre-commit new checks
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

Translated using Weblate (Italian)
  web_m2x_options_manager/i18n/it.po
Due: none

[FIX] web_m2x_options_manager: writing mode when create/edit wizard is false
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
Due: none

[UPD] README.rst
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

Update translation files
  web_m2x_options_manager/i18n/it.po
Due: none

Added translation using Weblate (Italian)
  web_m2x_options_manager/i18n/it.po
Due: none

[BOT] post-merge updates
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/static/description/index.html
Due: none

[UPD] Update web_m2x_options_manager.pot
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
Due: none

web_m2x_options_manager 14.0.1.1.0
  web_m2x_options_manager/__manifest__.py
Due: none

[UPD] web_m2x_options_manager: Add option to prevent Create/Edit wizard to pop up
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[MIG] web_m2x_options_manager: Migration to 17.0
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/hooks.py
  web_m2x_options_manager/i18n/it.po
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_model_fields.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/DESCRIPTION.md
  web_m2x_options_manager/readme/USAGE.md
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/common.py
  web_m2x_options_manager/tests/test_ir_model.py
  web_m2x_options_manager/tests/test_ir_model_fields.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/tools.py
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

[IMP] web_m2x_options_manager: pre-commit auto fixes
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/pyproject.toml
  web_m2x_options_manager/readme/CONTRIBUTORS.md
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/readme/DESCRIPTION.md
  web_m2x_options_manager/readme/DESCRIPTION.rst
  web_m2x_options_manager/readme/USAGE.md
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
Due: prettier

[BOT] post-merge updates
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

[ADD] web_touchscreen: enable kanban sub-form views for tablets
  web_touchscreen/README.rst
  web_touchscreen/__init__.py
  web_touchscreen/__manifest__.py
  web_touchscreen/readme/CONTEXT.md
  web_touchscreen/readme/CONTRIBUTORS.md
  web_touchscreen/readme/CREDITS.md
  web_touchscreen/readme/DESCRIPTION.md
  web_touchscreen/readme/ROADMAP.md
  web_touchscreen/readme/USAGE.md
  web_touchscreen/static/description/icon.png
  web_touchscreen/static/description/index.html
  web_touchscreen/static/src/form_controller.esm.js
Due: prettier, eslint

Added translation using Weblate (Turkish)
  web_dialog_size/i18n/tr.po
Due: none

[MIG] web_m2x_options_manager: Migration to 18.0
  test-requirements.txt
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/common.py
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

[IMP] web_m2x_options_manager: pre-commit auto fixes
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

[UPD] Update web_touchscreen.pot
  web_touchscreen/i18n/web_touchscreen.pot
Due: none

[UPD] Update web_sort_menu.pot
  web_sort_menu/i18n/web_sort_menu.pot
Due: none

Added translation using Weblate (Italian)
  web_touchscreen/i18n/it.po
Due: none

[BOT] post-merge updates
  web_touchscreen/README.rst
  web_touchscreen/__manifest__.py
  web_touchscreen/static/description/index.html
Due: none

[DOCS] web_touchscreen: add screenshot
  web_touchscreen/README.rst
  web_touchscreen/readme/DESCRIPTION.md
  web_touchscreen/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_touchscreen/README.rst
  web_touchscreen/static/description/index.html
Due: none

[MIG] web_sort_menu: Migration to 18.0
  web_sort_menu/README.rst
  web_sort_menu/__manifest__.py
  web_sort_menu/pyproject.toml
  web_sort_menu/readme/CONTRIBUTORS.md
  web_sort_menu/readme/CONTRIBUTORS.rst
  web_sort_menu/readme/DESCRIPTION.md
  web_sort_menu/readme/DESCRIPTION.rst
  web_sort_menu/readme/USAGE.md
  web_sort_menu/readme/USAGE.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
  web_sort_menu/static/src/js/sort_app_menu.esm.js
  web_sort_menu/static/src/xml/sort_app_menu.xml
Due: prettier, eslint

[IMP] web_touchscreen: pre-commit auto fixes
  web_touchscreen/pyproject.toml
Due: prettier

[BOT] post-merge updates
  README.md
  web_save_discard_button/README.rst
  web_save_discard_button/__manifest__.py
  web_save_discard_button/static/description/index.html
Due: none

[16.0][ADD] web_sort_menu: Module web_sort_menu
  web_sort_menu/README.rst
  web_sort_menu/__init__.py
  web_sort_menu/__manifest__.py
  web_sort_menu/readme/CONTRIBUTORS.rst
  web_sort_menu/readme/DESCRIPTION.rst
  web_sort_menu/readme/USAGE.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
  web_sort_menu/static/src/js/sort_app_menu.esm.js
  web_sort_menu/static/src/xml/sort_app_menu.xml
Due: prettier, eslint

[MIG][18.0] web_touchscreen: Migration to 18
  web_touchscreen/README.rst
  web_touchscreen/__manifest__.py
  web_touchscreen/readme/CONTRIBUTORS.md
  web_touchscreen/readme/CREDITS.md
  web_touchscreen/static/description/index.html
  web_touchscreen/static/src/fields.esm.js
  web_touchscreen/static/src/form_controller.esm.js
Due: prettier, eslint

[FIX] web_save_discard_button: readme
  web_save_discard_button/README.md
  web_save_discard_button/README.rst
  web_save_discard_button/static/description/index.html
Due: prettier

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_sort_menu/README.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
Due: none

[UPD] README.rst
  web_dark_mode/README.rst
  web_dark_mode/static/description/index.html
Due: none

Added translation using Weblate (Croatian)
  web_dark_mode/i18n/hr.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

