Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


web_responsive 16.0.1.0.2
  web_responsive/__manifest__.py
Due: none

oca-github-bot post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

Translated using Weblate (Portuguese (Brazil))
  web_responsive/i18n/pt_BR.po
Due: none

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] web_responsive: pre-commit auto fixes
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

[16.0][FIX] web_responsive: Fixed full-screen apps menu
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

[IMP] web_responsive: Fix bug submenu on mobile
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier, eslint

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/zh_CN.po
Due: none

web_responsive 15.0.1.1.2
  web_responsive/__manifest__.py
Due: none

[IMP] recaptured actual description screenshots
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/img/appmenu.gif
  web_responsive/static/img/appsearch.gif
  web_responsive/static/img/big_checkboxes.gif
  web_responsive/static/img/breadcrumbs.gif
  web_responsive/static/img/calendar.gif
  web_responsive/static/img/chatter.gif
  web_responsive/static/img/chatter_sided.gif
  web_responsive/static/img/chatter_topbar.gif
  web_responsive/static/img/device_rotation.gif
  web_responsive/static/img/document_viewer.gif
  web_responsive/static/img/dropdown_scroll.gif
  web_responsive/static/img/form_buttons.gif
  web_responsive/static/img/formview.gif
  web_responsive/static/img/hamburger.gif
  web_responsive/static/img/kanban.gif
  web_responsive/static/img/listview.gif
  web_responsive/static/img/mobile_search.gif
  web_responsive/static/img/navbar.gif
  web_responsive/static/img/search_panel.gif
  web_responsive/static/img/shortcuts.gif
  web_responsive/static/img/usermenu.gif
  web_responsive/static/img/viewtype.gif
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

Translated using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

[FIX] make base odoo JS tests working with web_responsive module
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

[FIX] web_responsive: support create/edit attributes in form/list buttons
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/static/src/legacy/xml/form_buttons.xml
Due: prettier

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

Translated using Weblate (Spanish)
  web_responsive/i18n/es.po
Due: none

web_responsive 15.0.1.1.1
  web_responsive/__manifest__.py
Due: none

[IMP] web_responsive: Redirect to home after login Redirect to the home page after login will occur only if the user has enabled the 'Redirect to Home' configuration in their user profile settings
  web_responsive/README.rst
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/readme/DESCRIPTION.md
  web_responsive/static/description/index.html
  web_responsive/static/img/redirecthome.gif
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/tests/__init__.py
  web_responsive/tests/test_res_users.py
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

[MIG] web_responsive: Migration to 19.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/static/description/index.html
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/chatter/base_recipients_list.xml
  web_responsive/static/src/components/chatter/chatter.xml
  web_responsive/static/src/components/file_viewer/file_viewer_hook_patch.esm.js
  web_responsive/static/src/legacy/xml/form_buttons.xml
  web_responsive/static/src/views/form/status_bar_buttons.xml
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

web_responsive 16.0.1.0.5
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: Make showAppsMenuItem work again
  web_responsive/__manifest__.py
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

[FIX] web_responsive: Update z-index in apps menu.scss to fix overlapping issue:
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

[FIX] web_responsive: Align menu for dates in filters
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

[IMP] web_responsive: Adapt label width
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/label_size_large.png
  web_responsive/static/img/label_size_small.png
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
  web_responsive/static/src/legacy/scss/web_responsive.scss
  web_responsive/static/src/legacy/scss/website_apps_menu.scss
Due: prettier

[FIX] web_responsive: only change width of main control panel
  web_responsive/static/src/components/control_panel/control_panel.scss
Due: prettier

web_responsive 16.0.1.1.1
  web_responsive/__manifest__.py
Due: none

[IMP] web_responsive: Indicate incompatibility
  web_responsive/__manifest__.py
Due: none

[IMP] show AppsMenu by default after login also redirect to backend from website AppsMenu
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/legacy/css/website_apps_menu.scss
  web_responsive/static/src/legacy/js/website_apps_menu.js
Due: prettier, eslint

[IMP] web_responsive: add dark mode support for the apps menu
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.dark.scss
Due: prettier
