Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/static/description/index.html
Due: none

[FIX] web_diagram: guard against empty tree_list in process_order
  web_diagram/tools/graph.py
Due: none

[IMP] web_timeline - support multi group by level
  web_timeline/README.rst
  web_timeline/readme/USAGE.md
  web_timeline/static/description/index.html
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[IMP] web_timeline - support group by date/datetime fields by year|quarter|month|week|day
  web_timeline/static/src/views/timeline/timeline_canvas.esm.js
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[IMP] web_timeline - set m2m group value as default when creating record
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[FIX] web_diagram: expand SVG height to fit all nodes
  web_diagram/static/src/js/diagram_renderer.js
Due: prettier, eslint

[UPD] Update web_timeline.pot
  web_timeline/i18n/web_timeline.pot
Due: none

[BOT] post-merge updates
  README.md
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
Due: none

Update translation files
  web_timeline/i18n/de.po
  web_timeline/i18n/es.po
  web_timeline/i18n/fa.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/he.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/it.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/pt.po
  web_timeline/i18n/pt_BR.po
  web_timeline/i18n/tr.po
  web_timeline/i18n/zh_CN.po
Due: none

[FIX] web_diagram: compute SVG height from viewport position
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/scss/diagram_view.scss
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[IMP] web_diagram: modernise node and edge visual style
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/js/graph.js
Due: prettier, eslint

[FIX] web_diagram: fix layout for multi-root forests
  web_diagram/tools/graph.py
Due: none

[web_widget_dropdown_dynamic][FIX]: value dissappearing afetr losing focus when used in list view
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

[UPD] Update web_pwa_customize.pot
  web_pwa_customize/i18n/web_pwa_customize.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_pwa_customize/README.rst
  web_pwa_customize/static/description/index.html
Due: none

[UPD] Update web_dark_mode.pot
  web_dark_mode/i18n/web_dark_mode.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_dark_mode/README.rst
  web_dark_mode/static/description/index.html
Due: none

Update copier template to 1.39
  .copier-answers.yml
  .gitattributes
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-mandatory
  README.md
Due: prettier

[FIX] web_diagram: add _validate_tag_node/arrow for Odoo 18 validation pass
  web_diagram/models/ir_ui_view.py
Due: none

[FIX] web_diagram: skip 'for' requirement on label tags inside diagram views
  web_diagram/models/ir_ui_view.py
Due: none

[UPD] Update web_ir_actions_close_wizard_refresh_view.pot
  web_ir_actions_close_wizard_refresh_view/i18n/web_ir_actions_close_wizard_refresh_view.pot
Due: none

[IMP] black, eslint
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.js
Due: prettier, eslint

[BOT] post-merge updates
  web_ir_actions_close_wizard_refresh_view/README.rst
  web_ir_actions_close_wizard_refresh_view/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_ir_actions_close_wizard_refresh_view/i18n/it.po
Due: none

[16.0][MIG] web_ir_actions_close_wizard_refresh_view
  web_ir_actions_close_wizard_refresh_view/README.rst
  web_ir_actions_close_wizard_refresh_view/__init__.py
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/models/__init__.py
  web_ir_actions_close_wizard_refresh_view/models/ir_actions.py
  web_ir_actions_close_wizard_refresh_view/readme/DESCRIPTION.rst
  web_ir_actions_close_wizard_refresh_view/readme/USAGE.rst
  web_ir_actions_close_wizard_refresh_view/security/ir.model.access.csv
  web_ir_actions_close_wizard_refresh_view/static/description/icon.png
  web_ir_actions_close_wizard_refresh_view/static/description/index.html
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.js
Due: prettier, eslint

[IMP] pylint_odoo
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
Due: none

[IMP] eslint
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.js
Due: prettier, eslint

[IMP] eslint
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.esm.js
Due: prettier, eslint

[IMP] eslint
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_ir_actions_close_wizard_refresh_view/i18n/it.po
Due: none

[FIX] web_company_color: adjust navbar link color inheritance
  web_company_color/__manifest__.py
  web_company_color/models/res_company.py
  web_company_color/view/assets.xml
Due: prettier

[FIX] web_pwa_customize: adjust PWA manifest for Odoo 18
  web_pwa_customize/README.rst
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/static/description/index.html
  web_pwa_customize/views/pwa_assets.xml
Due: prettier

[MIG] web_ir_actions_close_wizard_refresh_view: Migration to 18.0
  web_ir_actions_close_wizard_refresh_view/README.rst
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/pyproject.toml
  web_ir_actions_close_wizard_refresh_view/readme/DESCRIPTION.md
  web_ir_actions_close_wizard_refresh_view/readme/DESCRIPTION.rst
  web_ir_actions_close_wizard_refresh_view/readme/USAGE.md
  web_ir_actions_close_wizard_refresh_view/static/description/index.html
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.esm.js
  web_ir_actions_close_wizard_refresh_view/static/tests/close_wizard_refresh_view.test.js
  web_ir_actions_close_wizard_refresh_view/tests/__init__.py
  web_ir_actions_close_wizard_refresh_view/tests/test_close_wizard_refresh_view.py
Due: prettier, eslint

[FIX] web_pwa_customize: add apple-touch-icon support for iOS PWA
  web_pwa_customize/views/pwa_assets.xml
Due: prettier

[FIX] web_pwa_customize: improve Safari and iOS PWA support
  web_pwa_customize/views/pwa_assets.xml
Due: prettier

[IMP] web_menu_reorder
  web_menu_reorder/__init__.py
  web_menu_reorder/__manifest__.py
  web_menu_reorder/models/__init__.py
  web_menu_reorder/models/res_config_settings.py
  web_menu_reorder/readme/CONFIGURE.rst
  web_menu_reorder/readme/CONTRIBUTORS.rst
  web_menu_reorder/readme/DESCRIPTION.rst
  web_menu_reorder/static/description/icon.png
  web_menu_reorder/views/res_config_settings_views.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

