Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[OU-FIX] web_disable_export_group: Proper migration scripts
  web_disable_export_group/__manifest__.py
  web_disable_export_group/migrations/14.0.1.1.0/post-migration.py
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_disable_export_group/i18n/zh_CN.po
Due: none

[IMP] web_disable_export_group: pre-commit auto fixes
  web_disable_export_group/README.rst
  web_disable_export_group/pyproject.toml
  web_disable_export_group/readme/CONFIGURE.md
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.md
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.md
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/xml/export_xls_views.xml
Due: prettier

[MIG] web_disable_export_group: Migration to 12.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
Due: prettier

[IMP] web_disable_export_group: black, isort, prettier
  web_disable_export_group/__manifest__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
  web_disable_export_group/tests/test_disable_export_group.py
Due: prettier, eslint

[UPD] Update web_disable_export_group.pot
  web_disable_export_group/i18n/web_disable_export_group.pot
Due: none

Update translation files
  web_disable_export_group/i18n/es.po
Due: none

Added translation using Weblate (Spanish)
  web_disable_export_group/i18n/es.po
Due: none

[MIG] web_disable_export_group: Migration to 15.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/models.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/security/ir.model.access.csv
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/static/src/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/templates/assets.xml
  web_disable_export_group/templates/tour_assets.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_disable_export_group/i18n/it.po
Due: none

[MIG] web_disable_group_export: Migration to 11.0
  web_disable_export_group/README.rst
  web_disable_export_group/__init__.py
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 14.0
  web_disable_export_group/__manifest__.py
Due: none

Translated using Weblate (Spanish)
  web_disable_export_group/i18n/es.po
Due: none

[MIG] web_disable_export_group: Migration to 13.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/templates/tour_assets.xml
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_disable_export_group.py
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[FIX] Tests
  web_disable_export_group/static/description/icon.png
  web_disable_export_group/static/description/index.html
  web_disable_export_group/tests/test_disable_export_group.py
Due: none

Translated using Weblate (Slovenian)
  web_disable_export_group/i18n/sl.po
Due: none

[OU] web_disable_export_group: Fix when migration happened on 13.0
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
Due: none

Added translation using Weblate (Portuguese)
  web_disable_export_group/i18n/pt.po
Due: none

[MIG] web_disable_export_group: Migration to version 18.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/readme/CONFIGURE.md
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/views/list/export_all/export_all.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 16.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

Update translation files
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/zh_CN.po
Due: none

[IMP] web_disable_export_group: Differenciate between the XLSX export and the standard export
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/migrations/14.0.1.1.0/post-migration.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[IMP] web_disable_export_group: Disable 'export all' button
  web_disable_export_group/README.rst
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[BOT] post-merge updates
  web_disable_export_group/README.rst
  web_disable_export_group/static/description/index.html
Due: none

[IMP] web_disable_export_group: Tests
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_disable_export_group.py
Due: none

Added translation using Weblate (French)
  web_disable_export_group/i18n/fr.po
Due: none

Add module web_disable_export_group
  web_disable_export_group/README.rst
  web_disable_export_group/__init__.py
  web_disable_export_group/__manifest__.py
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 19.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/fr.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/views/list/export_all/export_all.esm.js
  web_disable_export_group/static/tests/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[IMP] web_disable_export_group: pre-commit auto fixes
  web_disable_export_group/README.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
Due: prettier

[FIX]web_timeline: fix verticalScroll when zoomKey option is active
  web_timeline/static/src/views/timeline/timeline_arch_parser.esm.js
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 20.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.md
  web_disable_export_group/readme/DESCRIPTION.md
  web_disable_export_group/readme/USAGE.md
  web_disable_export_group/security/groups.xml
  web_disable_export_group/security/ir.access.csv
  web_disable_export_group/security/ir.model.access.csv
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/tests/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_export_data.py
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[ADD] web_x2many_delete_confirm: add new module
  web_x2many_delete_confirm/README.rst
  web_x2many_delete_confirm/__init__.py
  web_x2many_delete_confirm/__manifest__.py
  web_x2many_delete_confirm/models/__init__.py
  web_x2many_delete_confirm/models/ir_http.py
  web_x2many_delete_confirm/models/x2many_delete_confirm_rule.py
  web_x2many_delete_confirm/pyproject.toml
  web_x2many_delete_confirm/readme/CONFIGURE.md
  web_x2many_delete_confirm/readme/CONTRIBUTORS.md
  web_x2many_delete_confirm/readme/DESCRIPTION.md
  web_x2many_delete_confirm/readme/ROADMAP.md
  web_x2many_delete_confirm/readme/USAGE.md
  web_x2many_delete_confirm/security/ir.model.access.csv
  web_x2many_delete_confirm/static/description/icon.png
  web_x2many_delete_confirm/static/description/index.html
  web_x2many_delete_confirm/static/src/services/delete_confirm_service.esm.js
  web_x2many_delete_confirm/static/src/views/list_renderer.esm.js
  web_x2many_delete_confirm/static/src/views/x2many_field.esm.js
  web_x2many_delete_confirm/static/src/views/x2many_field_dialog.esm.js
  web_x2many_delete_confirm/static/tests/delete_confirm.test.js
  web_x2many_delete_confirm/tests/__init__.py
  web_x2many_delete_confirm/tests/test_x2many_delete_confirm_rule.py
  web_x2many_delete_confirm/views/x2many_delete_confirm_rule_views.xml
Due: prettier, eslint

[UPD] Update web_responsive_attachment_preview.pot
  web_responsive_attachment_preview/i18n/web_responsive_attachment_preview.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/VERSION.txt
  setup/_metapackage/setup.py
Due: none

[ADD] web_loading_block_ui: block UI while requests are pending
  web_loading_block_ui/README.rst
  web_loading_block_ui/__init__.py
  web_loading_block_ui/__manifest__.py
  web_loading_block_ui/data/ir_config_parameter.xml
  web_loading_block_ui/models/__init__.py
  web_loading_block_ui/models/ir_http.py
  web_loading_block_ui/pyproject.toml
  web_loading_block_ui/readme/CONFIGURE.md
  web_loading_block_ui/readme/CONTRIBUTORS.md
  web_loading_block_ui/readme/DESCRIPTION.md
  web_loading_block_ui/readme/USAGE.md
  web_loading_block_ui/static/description/icon.png
  web_loading_block_ui/static/description/index.html
  web_loading_block_ui/static/src/loading_indicator.esm.js
  web_loading_block_ui/static/tests/web_loading_block_ui.test.js
  web_loading_block_ui/tests/__init__.py
  web_loading_block_ui/tests/test_web_loading_block_ui.py
Due: prettier, eslint

[UPD] Update web_loading_block_ui.pot
  web_loading_block_ui/i18n/web_loading_block_ui.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
Due: none

[BOT] post-merge updates
  README.md
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
Due: none

[MIG] web_environment_ribbon: Migration to 20.0
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
  web_environment_ribbon/tests/test_environment_ribbon_data.py
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

