Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[9.0] [IMP] Web Environment Ribbon: support variables in ribbon name (eg db_name) (#621)
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/models/__init__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/security/web_environment_ribbon_backend.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

Translated using Weblate (Portuguese (Brazil))
  web_environment_ribbon/i18n/pt_BR.po
Due: none

Translated using Weblate (Portuguese)
  web_environment_ribbon/i18n/pt.po
Due: none

Add missing default oca icons
  web_environment_ribbon/static/description/icon.png
Due: none

[MIG] web_environment_ribbon: Migration to 12.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/readme/CONFIGURE.rst
  web_environment_ribbon/readme/CONTRIBUTORS.rst
  web_environment_ribbon/readme/DESCRIPTION.rst
  web_environment_ribbon/readme/USAGE.rst
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[MIG] web_environment_ribbon
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__openerp__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

Added translation using Weblate (Chinese (Simplified))
  web_environment_ribbon/i18n/zh_CN.po
Due: none

pre-commit, black, isort
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/tests/test_environment_ribbon_data.py
Due: none

[UPD] prefix versions with 8.0
  web_environment_ribbon/__openerp__.py
Due: none

[UPD] Update web_environment_ribbon.pot
  web_environment_ribbon/i18n/de.po
  web_environment_ribbon/i18n/fr.po
  web_environment_ribbon/i18n/hr.po
  web_environment_ribbon/i18n/nl_NL.po
  web_environment_ribbon/i18n/sl.po
  web_environment_ribbon/i18n/web_environment_ribbon.pot
Due: none

[UPD] README.rst
  web_environment_ribbon/README.rst
  web_environment_ribbon/i18n/de.po
  web_environment_ribbon/i18n/fr.po
  web_environment_ribbon/i18n/hr.po
  web_environment_ribbon/i18n/nl_NL.po
  web_environment_ribbon/i18n/pt_BR.po
  web_environment_ribbon/i18n/sl.po
  web_environment_ribbon/i18n/web_environment_ribbon.pot
  web_environment_ribbon/static/description/index.html
Due: none

[IMP] web_environment_ribbon: conditional ribbon
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

[UPD] Update web_environment_ribbon.pot
  web_environment_ribbon/i18n/web_environment_ribbon.pot
Due: none

web_environment_ribbon: import from odoo instead of openerp.
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
Due: none

[MIG] web_environment_ribbon: Migration to 11.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__init__.py
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[MIG] Migrated web_environment_ribbon to v10.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[IMP] ribbon: better extensibility
  web_environment_ribbon/models/web_environment_ribbon_backend.py
Due: none

[MIG] web_environment_ribbon: Migration to 13.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/readme/CONTRIBUTORS.rst
  web_environment_ribbon/static/description/index.html
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/tests/__init__.py
  web_environment_ribbon/tests/test_environment_ribbon_data.py
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_environment_ribbon/i18n/es.po
Due: none

[FIX][11.0] web_environment_ribbon (#806)
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/models/web_environment_ribbon_backend.py
Due: none

[MIG] Make modules uninstallable
  web_environment_ribbon/__openerp__.py
Due: none

[IMP] ribbon color customization (#347)
  web_environment_ribbon/README.rst
  web_environment_ribbon/__openerp__.py
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[MIG] web_environment_ribbon: Migration to 17.0
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.css
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/tests/test_environment_ribbon_data.py
Due: prettier, eslint

Translated using Weblate (Dutch)
  web_environment_ribbon/i18n/nl_NL.po
Due: none

[UPD] README.rst
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

Update translation files
  web_environment_ribbon/i18n/ca.po
  web_environment_ribbon/i18n/de.po
  web_environment_ribbon/i18n/es.po
  web_environment_ribbon/i18n/fr.po
  web_environment_ribbon/i18n/hr.po
  web_environment_ribbon/i18n/nl.po
  web_environment_ribbon/i18n/nl_NL.po
  web_environment_ribbon/i18n/pt.po
  web_environment_ribbon/i18n/pt_BR.po
  web_environment_ribbon/i18n/sl.po
  web_environment_ribbon/i18n/zh_CN.po
Due: none

[IMP] web_environment_ribbon: Prettier
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

pre-commit update: prettier xml indent
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/view/base_view.xml
Due: prettier

[BOT] post-merge updates
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_environment_ribbon/i18n/it.po
Due: none

[FIX] web_dialog_size js warnings
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[14.0][MIG] web_environment_ribbon: Migration to 14.0
  web_environment_ribbon/__manifest__.py
Due: none

Translated using Weblate (Dutch)
  web_environment_ribbon/i18n/nl.po
Due: none

Added translation using Weblate (Dutch)
  web_environment_ribbon/i18n/nl.po
Due: none

[15.0][MIG] web_widget_bokeh_chart
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

Translated using Weblate (Catalan)
  web_environment_ribbon/i18n/ca.po
Due: none

[MIG] web_environment_ribbon: Migration to 16.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/i18n/web_environment_ribbon.pot
  web_environment_ribbon/static/description/index.html
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

