Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_m2x_options: field_icon option
  web_m2x_options/README.rst
  web_m2x_options/readme/USAGE.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/base.xml
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/views/fields/standard_field_props.esm.js
  web_m2x_options/static/tests/field_icon.test.js
Due: prettier, eslint

[UPD] Update web_company_color.pot
  web_company_color/i18n/web_company_color.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_company_color/README.rst
  web_company_color/static/description/index.html
Due: none

[MIG] web_sheet_full_width: Migration to 19.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/pyproject.toml
  web_sheet_full_width/readme/CONTRIBUTORS.md
  web_sheet_full_width/readme/CONTRIBUTORS.rst
  web_sheet_full_width/readme/DESCRIPTION.md
  web_sheet_full_width/readme/DESCRIPTION.rst
  web_sheet_full_width/static/description/index.html
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
Due: prettier

[MIG] web_widget_dropdown_dynamic: Migration to 19.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/demo/ir_filters_view.xml
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic.test.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
  web_widget_dropdown_dynamic/tests/__init__.py
  web_widget_dropdown_dynamic/tests/test_ir_filters.py
  web_widget_dropdown_dynamic/tests/test_web_widget_dropdown_dynamic.py
Due: prettier, eslint

Translated using Weblate (Italian)
  web_loading_block_ui/i18n/it.po
Due: none

[UPD] Update web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

[BOT] post-merge updates
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/icon.png
  web_font_size_report_layout/static/description/index.html
Due: none

[UPD] Update web_font_size_report_layout.pot
  web_font_size_report_layout/i18n/web_font_size_report_layout.pot
Due: none

[IMP] Adds a font size selector (pt) to the Document Layout wizard
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/__init__.py
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/__init__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/models/res_company.py
  web_font_size_report_layout/pyproject.toml
  web_font_size_report_layout/readme/CONTRIBUTORS.md
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/readme/INSTALL.md
  web_font_size_report_layout/readme/USAGE.md
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/static/src/scss/report_font_size.scss
  web_font_size_report_layout/tests/__init__.py
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
  web_font_size_report_layout/views/base_document_layout_views.xml
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[IMP] web_font_size_report_layout: pre-commit auto fixes
  web_font_size_report_layout/views/base_document_layout_views.xml
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

[MIG] : Migration to 17.0
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/readme/DESCRIPTION.md
  web_font_size_report_layout/static/description/index.html
  web_font_size_report_layout/tests/test_company_font_size.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
Due: none

[MIG] web_font_size_report_layout: Migration to 18.0
  web_font_size_report_layout/__manifest__.py
  web_font_size_report_layout/models/base_document_layout.py
  web_font_size_report_layout/models/res_company.py
  web_font_size_report_layout/readme/INSTALL.md
  web_font_size_report_layout/tests/__init__.py
  web_font_size_report_layout/tests/test_document_layout_onchange.py
  web_font_size_report_layout/views/report_templates_inherit.xml
Due: prettier

Added translation using Weblate (Italian)
  web_font_size_report_layout/i18n/it.po
Due: none

[IMP] web_font_size_report_layout: pre-commit auto fixes
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/index.html
Due: none

[BOT] post-merge updates
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_font_size_report_layout/i18n/it.po
Due: none

[IMP] web_font_size_report_layout: pre-commit auto fixes
  web_font_size_report_layout/__manifest__.py
Due: none

[MIG] web_font_size_report_layout: Migration to 19.0
  web_font_size_report_layout/__manifest__.py
Due: none

[MIG] web_font_size_report_layout: Migration to 19.0
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/index.html
Due: none

[MIG] web_font_size_report_layout: Migration to 19.0
  web_font_size_report_layout/models/base_document_layout.py
Due: none

[FIX] web_favicon: use sanitized cids cookie
  web_favicon/models/res_company.py
  web_favicon/tests/test_web_favicon.py
Due: none

[BOT] post-merge updates
  README.md
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/static/description/index.html
Due: none

[ADD] web_widget_sub_view
  setup/web_widget_sub_view/odoo/addons/web_widget_sub_view
  setup/web_widget_sub_view/setup.py
  web_widget_sub_view/README.rst
  web_widget_sub_view/__init__.py
  web_widget_sub_view/__manifest__.py
  web_widget_sub_view/demo/partner_sub_view.xml
  web_widget_sub_view/readme/CONTRIBUTORS.md
  web_widget_sub_view/readme/DESCRIPTION.md
  web_widget_sub_view/readme/USAGE.md
  web_widget_sub_view/static/description/icon.png
  web_widget_sub_view/static/description/index.html
  web_widget_sub_view/static/src/sub_view_widget/sub_view_widget.esm.js
  web_widget_sub_view/static/src/sub_view_widget/sub_view_widget.xml
Due: prettier, eslint

[ADD] web_font
  checklog-odoo.cfg
  web_font/README.rst
  web_font/__init__.py
  web_font/__manifest__.py
  web_font/models/__init__.py
  web_font/models/ir_http.py
  web_font/models/res_config_settings.py
  web_font/pyproject.toml
  web_font/readme/CONFIGURE.md
  web_font/readme/CONTRIBUTORS.md
  web_font/readme/DESCRIPTION.md
  web_font/readme/ROADMAP.md
  web_font/static/description/icon.png
  web_font/static/description/index.html
  web_font/static/src/web_font.esm.js
  web_font/static/src/web_font.scss
  web_font/static/tests/web_font.test.js
  web_font/tests/__init__.py
  web_font/tests/test_web_font.py
  web_font/views/res_config_settings_views.xml
Due: prettier, eslint

[ADD] web_fullcalendar_resource
  web_fullcalendar_resource/README.rst
  web_fullcalendar_resource/__init__.py
  web_fullcalendar_resource/__manifest__.py
  web_fullcalendar_resource/models/__init__.py
  web_fullcalendar_resource/models/ir_actions_act_window_view.py
  web_fullcalendar_resource/models/ir_ui_view.py
  web_fullcalendar_resource/pyproject.toml
  web_fullcalendar_resource/readme/CONTRIBUTORS.md
  web_fullcalendar_resource/readme/DESCRIPTION.md
  web_fullcalendar_resource/readme/USAGE.md
  web_fullcalendar_resource/static/description/index.html
  web_fullcalendar_resource/static/lib/fullcalendar/LICENSE.txt
  web_fullcalendar_resource/static/lib/fullcalendar/premium-common/index.global.js
  web_fullcalendar_resource/static/lib/fullcalendar/resource-daygrid/index.global.js
  web_fullcalendar_resource/static/lib/fullcalendar/resource-timegrid/index.global.js
  web_fullcalendar_resource/static/lib/fullcalendar/resource/index.global.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar.scss
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_arch_parser.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_common_renderer.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_model.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_renderer.esm.js
  web_fullcalendar_resource/static/src/resource_calendar/resource_calendar_view.esm.js
  web_fullcalendar_resource_demo/README.rst
  web_fullcalendar_resource_demo/__init__.py
  web_fullcalendar_resource_demo/__manifest__.py
  web_fullcalendar_resource_demo/demo/fc_demo_data.xml
  web_fullcalendar_resource_demo/models/__init__.py
  web_fullcalendar_resource_demo/models/fc_demo.py
  web_fullcalendar_resource_demo/pyproject.toml
  web_fullcalendar_resource_demo/readme/CONTRIBUTORS.md
  web_fullcalendar_resource_demo/readme/DESCRIPTION.md
  web_fullcalendar_resource_demo/security/ir.model.access.csv
  web_fullcalendar_resource_demo/static/description/index.html
  web_fullcalendar_resource_demo/views/fc_demo_views.xml
Due: prettier, eslint

[ADD] web_searchpanel_toggle_all
  web_searchpanel_toggle_all/README.rst
  web_searchpanel_toggle_all/__init__.py
  web_searchpanel_toggle_all/__manifest__.py
  web_searchpanel_toggle_all/pyproject.toml
  web_searchpanel_toggle_all/readme/CONTRIBUTORS.md
  web_searchpanel_toggle_all/readme/DESCRIPTION.md
  web_searchpanel_toggle_all/readme/USAGE.md
  web_searchpanel_toggle_all/static/description/index.html
  web_searchpanel_toggle_all/static/src/search_panel.esm.js
  web_searchpanel_toggle_all/static/src/search_panel.xml
Due: prettier, eslint

[20.0][ADD] add web_navbar_icon: display apps icon next to web navbar
  web_navbar_icon/README.rst
  web_navbar_icon/__init__.py
  web_navbar_icon/__manifest__.py
  web_navbar_icon/pyproject.toml
  web_navbar_icon/readme/DESCRIPTION.md
  web_navbar_icon/static/description/index.html
  web_navbar_icon/static/description/screenshot.png
  web_navbar_icon/static/src/webclient/navbar/navbar_patch.scss
  web_navbar_icon/static/src/webclient/navbar/navbar_patch.xml
Due: prettier
