Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_select_all_companies: pre-commit auto fixes
  web_select_all_companies/README.rst
  web_select_all_companies/pyproject.toml
  web_select_all_companies/readme/CONTRIBUTORS.md
  web_select_all_companies/readme/CONTRIBUTORS.rst
  web_select_all_companies/readme/DESCRIPTION.md
  web_select_all_companies/readme/DESCRIPTION.rst
  web_select_all_companies/static/description/index.html
  web_select_all_companies/static/src/xml/switch_all_company_menu.xml
Due: prettier

Added translation using Weblate (Italian)
  web_select_all_companies/i18n/it.po
Due: none

[MIG] web_select_all_companies: Migration to 18.0
  web_select_all_companies/README.rst
  web_select_all_companies/__init__.py
  web_select_all_companies/__manifest__.py
  web_select_all_companies/models/__init__.py
  web_select_all_companies/models/res_users.py
  web_select_all_companies/readme/CONTRIBUTORS.md
  web_select_all_companies/readme/CREDITS.md
  web_select_all_companies/static/description/index.html
  web_select_all_companies/static/description/select_all_companies.gif
  web_select_all_companies/static/description/web_select_all_companies-2.mp4
  web_select_all_companies/static/description/web_select_all_companies.mp4
  web_select_all_companies/static/src/js/switch_all_company_menu.esm.js
  web_select_all_companies/static/src/scss/switch_all_company_menu.scss
  web_select_all_companies/static/src/xml/switch_all_company_menu.xml
  web_select_all_companies/views/res_users_views.xml
Due: prettier, eslint

[FIX] web_select_all_companies: Title and french translation
  web_select_all_companies/i18n/fr.po
  web_select_all_companies/i18n/web_select_all_companies.pot
  web_select_all_companies/static/src/xml/switch_all_company_menu.xml
Due: prettier

Added translation using Weblate (Spanish)
  web_select_all_companies/i18n/es.po
Due: none

web_select_all_companies 16.0.1.0.1
  web_select_all_companies/README.rst
  web_select_all_companies/__manifest__.py
  web_select_all_companies/static/description/index.html
Due: none

[MIG] web_dialog_size: Migration to 19.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/readme/CONTRIBUTORS.md
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_header.xml
Due: prettier, eslint

[UPD] Update web_dialog_size.pot
  web_dialog_size/i18n/web_dialog_size.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_dialog_size/README.rst
  web_dialog_size/static/description/index.html
Due: none

[IMP] web_form_banner: adj to resolve eslint warnings
  web_form_banner/static/src/js/web_form_banner.esm.js
Due: prettier, eslint

[UPD] Update web_sort_menu.pot
  web_sort_menu/i18n/web_sort_menu.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_sort_menu/README.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
Due: none

[UPD] Update web_dark_mode.pot
  web_dark_mode/i18n/web_dark_mode.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_dark_mode/README.rst
  web_dark_mode/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_sort_menu/i18n/it.po
Due: none

[UPD] Update web_ir_actions_act_window_message.pot
  web_ir_actions_act_window_message/i18n/web_ir_actions_act_window_message.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[IMP] web_dark_mode Adjust the styles of custom properties
  web_dark_mode/static/src/views/fields/properties/properties_field.dark.scss
Due: prettier

[IMP] web_dark_mode Tweak kanban controller Set attachment image background to white and fix the column background when hovering with a draggable card
  web_dark_mode/static/src/views/kanban/kanban_controller.dark.scss
Due: prettier

[IMP] web_dark_mode Improve notebook tab styling
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/core/notebook/notebook.dark.scss
Due: prettier

[IMP] web_dark_mode Set image background to white
  web_dark_mode/static/src/views/fields/image/image_field.dark.scss
Due: prettier

[MIG] web_dark_mode: Migration to 18.0
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/js/switch_item.esm.js
Due: prettier, eslint

[FIX] web_dark_mode: Add fields to field lists
  web_dark_mode/README.rst
  web_dark_mode/__manifest__.py
  web_dark_mode/models/res_users.py
  web_dark_mode/static/description/index.html
Due: none

Added translation using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

Added translation using Weblate (Spanish)
  web_dark_mode/README.rst
  web_dark_mode/i18n/es.po
  web_dark_mode/static/description/index.html
Due: none

Added translation using Weblate (Croatian)
  web_dark_mode/i18n/hr.po
Due: none

Added translation using Weblate (Turkish)
  web_dark_mode/i18n/tr.po
Due: none

[ADD] icon.png
  web_dark_mode/static/description/icon.png
Due: none

[IMP] web_dark_mode Tweak the search bar Set the background color to be darker and tone down the border around it. The styling for the border is borrwed from the style of .o-mail-Composer-bg
  web_dark_mode/static/src/search/search_panel/search_view.dark.scss
Due: prettier

Added translation using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

[IMP] web_dark_mode Set dark theme to immitate VSCode Modern Dark Also, change asset bundle loading from 'prepend' to 'before' This is in line with Odoo's own way of doing it.
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/scss/primary_variables.dark.scss
  web_dark_mode/static/src/scss/variables.scss
Due: prettier

[IMP] web_dark_mode Fix tint and shade color functions
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/scss/bs_functions_overrides.dark.scss
Due: prettier

[IMP] web_dark_mode Change navbar from purple to dark Also get rid of the bottom border.
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/webclient/navbar/navbar.variables.dark.scss
Due: prettier

[IMP] web_dark_mode Adjust tag and colorlist colors
  web_dark_mode/static/src/core/colorlist/colorlist.dark.scss
  web_dark_mode/static/src/core/tags_list/tags_list.dark.scss
Due: prettier

[IMP] web_dark_mode: pre-commit execution
  web_dark_mode/README.rst
  web_dark_mode/pyproject.toml
  web_dark_mode/readme/CONTRIBUTORS.md
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/readme/DESCRIPTION.md
  web_dark_mode/readme/DESCRIPTION.rst
  web_dark_mode/readme/ROADMAP.md
  web_dark_mode/static/description/index.html
Due: prettier

[FIX] web_dark_mode: Fix uninstallation
  web_dark_mode/models/ir_http.py
Due: none

[IMP] web_dark_mode Override BS variables Just general customizations of BS variables to bring them in line with our style
  web_dark_mode/__manifest__.py
  web_dark_mode/static/src/scss/bootstrap_overridden.dark.scss
Due: prettier

web_dark_mode 16.0.1.0.1
  web_dark_mode/__manifest__.py
Due: none

[ADD][16.0] Module web_dark_mode
  web_dark_mode/README.rst
  web_dark_mode/__init__.py
  web_dark_mode/__manifest__.py
  web_dark_mode/i18n/web_dark_mode.pot
  web_dark_mode/models/__init__.py
  web_dark_mode/models/ir_http.py
  web_dark_mode/models/res_users.py
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/readme/DESCRIPTION.rst
  web_dark_mode/readme/ROADMAP.rst
  web_dark_mode/static/description/index.html
  web_dark_mode/static/src/js/switch_item.esm.js
  web_dark_mode/static/src/scss/variables.scss
  web_dark_mode/tests/__init__.py
  web_dark_mode/tests/test_dark_mode.py
  web_dark_mode/views/res_users_views.xml
Due: prettier, eslint

Added translation using Weblate (French)
  web_dark_mode/i18n/fr.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

