Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_responsive_company_color/README.rst
  web_responsive_company_color/static/description/index.html
Due: none

website_visitor_defensive: defensive visitor tracking for concurrent traffic
  website_visitor_defensive/README.rst
  website_visitor_defensive/__init__.py
  website_visitor_defensive/__manifest__.py
  website_visitor_defensive/models/__init__.py
  website_visitor_defensive/models/ir_http.py
  website_visitor_defensive/models/website_visitor.py
  website_visitor_defensive/pyproject.toml
  website_visitor_defensive/readme/DESCRIPTION.md
  website_visitor_defensive/readme/USAGE.md
  website_visitor_defensive/static/description/index.html
  website_visitor_defensive/tests/__init__.py
  website_visitor_defensive/tests/test_website_visitor_defensive.py
Due: prettier

[FIX] web_dialog_size: Correct resizing of content when maximizing
  web_dialog_size/static/src/js/web_dialog_size.esm.js
Due: prettier, eslint

[ADD] website_visitor_defensive: defensive visitor tracking for concurrent traffic
  website_visitor_defensive/README.rst
  website_visitor_defensive/__init__.py
  website_visitor_defensive/__manifest__.py
  website_visitor_defensive/models/__init__.py
  website_visitor_defensive/models/ir_http.py
  website_visitor_defensive/models/website_visitor.py
  website_visitor_defensive/pyproject.toml
  website_visitor_defensive/readme/DESCRIPTION.md
  website_visitor_defensive/readme/USAGE.md
  website_visitor_defensive/static/description/index.html
  website_visitor_defensive/tests/__init__.py
  website_visitor_defensive/tests/test_website_visitor_defensive.py
Due: prettier

[BOT] post-merge updates
  README.md
  web_field_tooltip/README.rst
  web_field_tooltip/__manifest__.py
  web_field_tooltip/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
Due: none

[FIX] web_responsive: prevent duplicate navigation on app menu click
  web_responsive/static/src/components/apps_menu_item/apps_menu_item.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_responsive_company_color/i18n/it.po
Due: none

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[IMP] web_dashboard_tile: improve view selection. if no action is selected, we guess all the possibles view types for a model
  web_dashboard_tile/models/tile_tile.py
Due: none

[ADD] web_action_binding_refresh
  web_action_binding_refresh/__init__.py
  web_action_binding_refresh/__manifest__.py
  web_action_binding_refresh/pyproject.toml
  web_action_binding_refresh/readme/CONTRIBUTORS.md
  web_action_binding_refresh/readme/DESCRIPTION.md
  web_action_binding_refresh/static/src/action_binding_refresh.esm.js
Due: prettier, eslint

[ADD] web_action_binding_refresh
  web_action_binding_refresh/README.rst
  web_action_binding_refresh/__init__.py
  web_action_binding_refresh/__manifest__.py
  web_action_binding_refresh/pyproject.toml
  web_action_binding_refresh/readme/CONTRIBUTORS.md
  web_action_binding_refresh/readme/DESCRIPTION.md
  web_action_binding_refresh/static/description/index.html
  web_action_binding_refresh/static/src/action_binding_refresh.esm.js
  web_action_binding_refresh/static/tests/action_binding_refresh.test.js
Due: prettier, eslint

[MIG] web_widget_domain_editor_dialog: Migration to v13.0
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/i18n/es.po
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/i18n/zh_CN.po
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.rst
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
Due: prettier, eslint

[MIG] web_widget_domain_editor_dialog: Migration to 18.0
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/readme/DESCRIPTION.md
  web_widget_domain_editor_dialog/readme/USAGE.md
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/img/behaviour.gif
  web_widget_domain_editor_dialog/static/src/js/domain_field.esm.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.esm.js
Due: prettier, eslint

[ADD] web_widget_domain_editor_dialog: New module
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__init__.py
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/i18n/es.po
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.rst
  web_widget_domain_editor_dialog/readme/DESCRIPTION.rst
  web_widget_domain_editor_dialog/readme/USAGE.rst
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/img/behaviour.gif
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
  web_widget_domain_editor_dialog/views/templates.xml
Due: prettier, eslint

[IMP/FIX] web_widget_domain_editor_dialog: work in dialog
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
Due: prettier, eslint

[UPD] Update web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
Due: none

[FIX] web_widget_domain_editor_dialog: keep context
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
Due: prettier, eslint

Translated using Weblate (Slovenian)
  web_widget_domain_editor_dialog/i18n/sl.po
Due: none

[MIG] web_widget_domain_editor_dialog: Migration to 16.0
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/domain_field.esm.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.esm.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
Due: prettier, eslint

[IMP] web_widget_domain_editor_dialog: black, isort, prettier
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
  web_widget_domain_editor_dialog/views/templates.xml
Due: prettier, eslint

[MIG] web_widget_domain_editor_dialog: Migration to 14.0
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.rst
  web_widget_domain_editor_dialog/static/description/index.html
Due: none

Translated using Weblate (French)
  web_widget_domain_editor_dialog/i18n/fr.po
Due: none

[IMP] web_widget_domain_editor_dialog: black, isort, prettier
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
Due: prettier, eslint

Added translation using Weblate (Chinese (Simplified))
  web_widget_domain_editor_dialog/i18n/zh_CN.po
Due: none

Translated using Weblate (Spanish)
  web_widget_domain_editor_dialog/i18n/es.po
Due: none

[13.0][FIX] web_widget_domain_editor_dialog: Example picture not display on README
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/readme/USAGE.rst
  web_widget_domain_editor_dialog/static/description/index.html
Due: none

[MIG] web_widget_domain_editor_dialog: Migration to 17.0
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/i18n/es.po
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/i18n/zh_CN.po
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/js/domain_field.esm.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.esm.js
Due: prettier, eslint

Added translation using Weblate (Slovenian)
  web_widget_domain_editor_dialog/i18n/sl.po
Due: none

[13.0][web_widget_domain_editor_dialog][FIX] Error when used in wizards. When clicking edit the list of record an error happened due to lack of proper initialization of the default domain.
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
Due: prettier, eslint

[IMP] web_widget_domain_editor_dialog: pre-commit auto fixes
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/pyproject.toml
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.md
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.rst
  web_widget_domain_editor_dialog/readme/DESCRIPTION.md
  web_widget_domain_editor_dialog/readme/DESCRIPTION.rst
  web_widget_domain_editor_dialog/readme/USAGE.md
  web_widget_domain_editor_dialog/readme/USAGE.rst
  web_widget_domain_editor_dialog/static/description/index.html
Due: prettier

[MIG] web_widget_domain_editor_dialog: Migration to 15.0
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.rst
  web_widget_domain_editor_dialog/static/description/index.html
  web_widget_domain_editor_dialog/static/src/js/basic_fields.js
  web_widget_domain_editor_dialog/static/src/js/widget_domain_editor_dialog.js
  web_widget_domain_editor_dialog/views/templates.xml
Due: prettier, eslint

Added translation using Weblate (French)
  web_widget_domain_editor_dialog/i18n/fr.po
Due: none

Added translation using Weblate (Italian)
  web_widget_domain_editor_dialog/i18n/it.po
Due: none

[BOT] post-merge updates
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/static/description/index.html
Due: none

[MIG] web_widget_domain_editor_dialog: Migration to 12.0.
  web_widget_domain_editor_dialog/README.rst
  web_widget_domain_editor_dialog/__manifest__.py
  web_widget_domain_editor_dialog/i18n/web_widget_domain_editor_dialog.pot
  web_widget_domain_editor_dialog/readme/CONTRIBUTORS.rst
  web_widget_domain_editor_dialog/static/description/icon.png
  web_widget_domain_editor_dialog/static/description/index.html
Due: none

[IMP] web_widget_domain_editor_dialog: pre-commit auto fixes
  web_widget_domain_editor_dialog/__manifest__.py
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

