Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[ADD] icon.png
  web_select_all_companies/static/description/icon.png
Due: none

[UPD] README.rst
  web_select_all_companies/README.rst
Due: none

web_select_all_companies 16.0.1.0.1
  web_select_all_companies/__manifest__.py
Due: none

[UPD] Update web_select_all_companies.pot
  web_select_all_companies/i18n/web_select_all_companies.pot
Due: none

[FIX] web_select_all_companies: Title and french translation
  web_select_all_companies/i18n/fr.po
  web_select_all_companies/i18n/web_select_all_companies.pot
  web_select_all_companies/static/src/xml/switch_all_company_menu.xml
Due: prettier

Added translation using Weblate (Spanish)
  web_select_all_companies/i18n/es.po
Due: none

[UPD] README.rst
  web_select_all_companies/README.rst
  web_select_all_companies/static/description/index.html
Due: none

Translated using Weblate (Spanish)
  web_select_all_companies/i18n/es.po
Due: none

Translated using Weblate (Italian)
  web_select_all_companies/i18n/it.po
Due: none

Update translation files
  web_select_all_companies/i18n/fr.po
Due: none

Added translation using Weblate (Italian)
  web_select_all_companies/i18n/it.po
Due: none

[FIX] web_select_all_companies: avoid to insert duplicated company ids in allowed_company_ids context
  web_select_all_companies/static/src/js/switch_all_company_menu.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_select_all_companies/README.rst
  web_select_all_companies/__manifest__.py
  web_select_all_companies/static/description/index.html
Due: none

Translated using Weblate (Galician)
  web_select_all_companies/i18n/gl.po
Due: none

Added translation using Weblate (Galician)
  web_select_all_companies/i18n/gl.po
Due: none

[IMP] web_select_all_companies: pre-commit auto fixes
  web_select_all_companies/README.rst
  web_select_all_companies/pyproject.toml
  web_select_all_companies/readme/CONTRIBUTORS.md
  web_select_all_companies/readme/CONTRIBUTORS.rst
  web_select_all_companies/readme/DESCRIPTION.md
  web_select_all_companies/readme/DESCRIPTION.rst
  web_select_all_companies/static/description/index.html
Due: prettier

[MIG] web_select_all_companies: Migration to 17.0
  web_select_all_companies/__manifest__.py
  web_select_all_companies/i18n/es.po
  web_select_all_companies/i18n/fr.po
  web_select_all_companies/i18n/gl.po
  web_select_all_companies/i18n/it.po
  web_select_all_companies/i18n/web_select_all_companies.pot
  web_select_all_companies/static/src/js/switch_all_company_menu.esm.js
  web_select_all_companies/static/src/xml/switch_all_company_menu.xml
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/static/description/index.html
Due: none

[IMP] web_responsive: Move AppsMenuPreferences to XML
  web_responsive/static/src/components/apps_menu/apps_menu.xml
  web_responsive/static/src/components/apps_menu/apps_menu_preferences.esm.js
Due: prettier, eslint

[MIG] web_export_html_as_text: Migration to 19.0
  web_export_html_as_text/README.rst
  web_export_html_as_text/__manifest__.py
  web_export_html_as_text/static/description/index.html
  web_export_html_as_text/static/src/js/export_html_to_text.esm.js
  web_export_html_as_text/static/src/xml/export_dialog.xml
  web_export_html_as_text/tests/test_export_html_text.py
  web_export_html_as_text/tests/test_models.py
Due: prettier, eslint

[FIX] web_company_color: handle unsupported image formats and use integer division
  web_company_color/tests/test_res_company.py
  web_company_color/utils.py
Due: none

[BOT] post-merge updates
  README.md
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/static/description/index.html
Due: none

[ADD] web_widget_product_label_section_and_note: New module to unify the product and name into a single column.
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__init__.py
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note.pot
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.rst
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.rst
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.rst
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.rst
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.rst
  web_widget_product_label_section_and_note_name_visibility/static/description/icon.png
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/views/account_move_views.xml
Due: prettier, eslint

[IMP] web_widget_product_label_section_and_note: pre-commit auto fixes
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/pyproject.toml
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.md
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.rst
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.md
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.rst
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.rst
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.md
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.rst
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.md
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.rst
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
Due: prettier

[IMP] web_widget_product_label_section_and_note_name_visibility: pre-commit auto fixes
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/views/account_move_views.xml
Due: prettier

[MIG] web_widget_product_label_section_and_note: Migration to version 17.0
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/static/src/core/utils/autoresize.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_widget_product_label_section_and_note_name_visibility/i18n/it.po
Due: none

[MIG] web_widget_product_label_section_and_note_name_visibility: Migration to version 18.0
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/i18n/it.po
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note_name_visibility.pot
  web_widget_product_label_section_and_note_name_visibility/readme/CONFIGURE.md
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.md
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.md
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_name_visibility/static/src/core/utils/autoresize.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/core/utils/product_and_label_autoresize.esm.js
  web_widget_product_label_section_and_note_name_visibility/views/account_move_views.xml
Due: prettier, eslint

[MIG] web_widget_product_label_section_and_note_name_visibility: Migration to 19.0
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier

Added translation using Weblate (Portuguese (Brazil))
  web_chatter_position/i18n/pt_BR.po
Due: none

[MIG] web_chatter_position: Migration to 19.0
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/readme/CONTRIBUTORS.md
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/web_chatter_position.esm.js
  web_chatter_position/views/res_users.xml
Due: prettier, eslint

Fixed JS assuming "o_form_sheet_bg" is always found
  web_chatter_position/static/src/js/web_chatter_position.esm.js
Due: prettier, eslint

web_chatter_position: create module
  web_chatter_position/README.rst
  web_chatter_position/__init__.py
  web_chatter_position/__manifest__.py
  web_chatter_position/i18n/web_chatter_position.pot
  web_chatter_position/models/__init__.py
  web_chatter_position/models/res_users.py
  web_chatter_position/readme/CONTRIBUTORS.rst
  web_chatter_position/readme/DESCRIPTION.rst
  web_chatter_position/readme/ROADMAP.rst
  web_chatter_position/readme/USAGE.rst
  web_chatter_position/static/description/icon.png
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/form_chatter_position.js
  web_chatter_position/static/src/scss/attachment_viewer.scss
  web_chatter_position/static/src/scss/chatter_position.scss
  web_chatter_position/static/src/xml/form_buttons.xml
  web_chatter_position/views/res_users.xml
  web_chatter_position/views/web.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_chatter_position/i18n/it.po
Due: none

Added translation using Weblate (French)
  web_chatter_position/i18n/fr.po
Due: none

Added translation using Weblate (Catalan)
  web_chatter_position/i18n/ca.po
Due: none

[MIG] web_chatter_position: Migration to 18.0
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/i18n/web_chatter_position.pot
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/web_chatter_position.esm.js
Due: prettier, eslint

Translated using Weblate (French (Belgium))
  web_chatter_position/i18n/fr_BE.po
Due: none

Added translation using Weblate (Turkish)
  web_chatter_position/i18n/tr.po
Due: none

Added translation using Weblate (Croatian)
  web_chatter_position/i18n/hr.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

