Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

web_ir_actions_act_window_message: always refresh view after action
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[FIX] web_ir_actions_act_window_message: Proper trailing line in XML
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier

[UPD] prefix versions with 8.0
  web_ir_actions_act_window_message/__openerp__.py
Due: none

[UPD] Update web_ir_actions_act_window_message.pot
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
  web_ir_actions_act_window_message/i18n/web_ir_actions_act_window_message.pot
Due: none

[UPD] Update web_ir_actions_act_window_message.pot
  web_ir_actions_act_window_message/i18n/web_ir_actions_act_window_message.pot
Due: none

[MIG] web_ir_actions_act_window_message: Migration to 10. Also added HTML handling
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[12.0][MIG] web_ir_actions_act_window_message: Migration to 12.0
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/readme/DESCRIPTION.rst
  web_ir_actions_act_window_message/readme/ROADMAP.rst
  web_ir_actions_act_window_message/readme/USAGE.rst
  web_ir_actions_act_window_message/static/description/index.html
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[UPD] README.rst
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

s/oe_link_class/classes s/oe_highlight/btn-default and add it to readme * In v9.0 odoo uses classes for dialog buttons instead of oe_link_class
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[IMP] web_ir_actions_act_window_message: pre-commit auto fixes
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/description/index.html
  web_ir_actions_act_window_message/tests/__init__.py
  web_ir_actions_act_window_message/tests/test_ir_actions_act_window_message.py
Due: none

[MIG] web_ir_actions_act_window_message: Migration to 14.0
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__init__.py
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/models/__init__.py
  web_ir_actions_act_window_message/models/ir_actions.py
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/security/ir.model.access.csv
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

OCA Transbot updated translations from Transifex
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

[MIG] web_ir_actions_act_window_message
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/description/index.html
Due: none

Reformat the code to have coherent coding style
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[UPD] README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[BOT] post-merge updates
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[IMP] better readme, manifest
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__openerp__.py
Due: none

[18.0][MIG] web_ir_actions_act_window_message
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/security/ir.model.access.csv
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_msg_component.esm.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
  web_ir_actions_act_window_message/tests/__init__.py
Due: prettier, eslint

Update translation files
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
Due: none

[MIG] Rename manifest files
  web_ir_actions_act_window_message/__manifest__.py
Due: none

Update translation files
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

[MIG] Make modules uninstallable
  web_ir_actions_act_window_message/__openerp__.py
Due: none

[IMP] web_ir_actions_act_window_message: pre-commit auto fixes
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/pyproject.toml
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.md
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/readme/DESCRIPTION.md
  web_ir_actions_act_window_message/readme/DESCRIPTION.rst
  web_ir_actions_act_window_message/readme/ROADMAP.md
  web_ir_actions_act_window_message/readme/ROADMAP.rst
  web_ir_actions_act_window_message/readme/USAGE.md
  web_ir_actions_act_window_message/readme/USAGE.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: prettier

web_ir_actions_act_window_message: Migration to V9
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__init__.py
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

wrap line breaks of the action message
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[MIG] web_ir_actions_act_window_message: Migration to 15.0
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_window_message: Migration to 16.0
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
Due: prettier, eslint

[IMP] web_ir_actions_act_window_message: Remove utf-8 comment
  web_ir_actions_act_window_message/__manifest__.py
Due: none

[IMP] web_ir_act_window_message: pre-commit auto fixes
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[FIX] web_m2x_options_manager: fix m2o dialog
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
Due: none

[MIG] web_ir_actions_act_window_message: Migration to 19.0
  web_ir_actions_act_window_message/__manifest__.py
Due: none

Migrate product label visibility toggle to 19.0
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__init__.py
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/i18n/it.po
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note.pot
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note_name_visibility.pot
  web_widget_product_label_section_and_note_name_visibility/pyproject.toml
  web_widget_product_label_section_and_note_name_visibility/readme/CONTRIBUTORS.md
  web_widget_product_label_section_and_note_name_visibility/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_name_visibility/readme/ROADMAP.md
  web_widget_product_label_section_and_note_name_visibility/readme/USAGE.md
  web_widget_product_label_section_and_note_name_visibility/static/description/icon.png
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

