Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Added translation using Weblate (Japanese)
  web_widget_numeric_step/i18n/ja.po
Due: none

Translated using Weblate (Japanese)
  web_widget_numeric_step/i18n/ja.po
Due: none

[FIX] web_widget_pattern: run HOOT via WebSuite
  web_widget_pattern/tests/test_web_widget_pattern.py
Due: none

[BOT] post-merge updates
  README.md
  web_widget_pattern/README.rst
  web_widget_pattern/__manifest__.py
  web_widget_pattern/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
Due: none

[ADD] web_widget_autocomplete: add Char widget
  web_widget_autocomplete/README.rst
  web_widget_autocomplete/__init__.py
  web_widget_autocomplete/__manifest__.py
  web_widget_autocomplete/pyproject.toml
  web_widget_autocomplete/readme/CONFIGURE.md
  web_widget_autocomplete/readme/CONTRIBUTORS.md
  web_widget_autocomplete/readme/CREDITS.md
  web_widget_autocomplete/readme/DESCRIPTION.md
  web_widget_autocomplete/readme/USAGE.md
  web_widget_autocomplete/static/description/index.html
  web_widget_autocomplete/static/src/autocomplete_field.esm.js
  web_widget_autocomplete/static/src/autocomplete_field.xml
  web_widget_autocomplete/static/tests/autocomplete_field.test.js
  web_widget_autocomplete/tests/__init__.py
  web_widget_autocomplete/tests/test_web_widget_autocomplete.py
Due: prettier, eslint

[ADD] web_widget_autocomplete_demo: city ZIP fill
  web_widget_autocomplete_demo/README.rst
  web_widget_autocomplete_demo/__init__.py
  web_widget_autocomplete_demo/__manifest__.py
  web_widget_autocomplete_demo/models/__init__.py
  web_widget_autocomplete_demo/models/res_partner.py
  web_widget_autocomplete_demo/pyproject.toml
  web_widget_autocomplete_demo/readme/CONFIGURE.md
  web_widget_autocomplete_demo/readme/CONTRIBUTORS.md
  web_widget_autocomplete_demo/readme/CREDITS.md
  web_widget_autocomplete_demo/readme/DESCRIPTION.md
  web_widget_autocomplete_demo/readme/USAGE.md
  web_widget_autocomplete_demo/static/description/index.html
  web_widget_autocomplete_demo/tests/__init__.py
  web_widget_autocomplete_demo/tests/test_res_partner.py
  web_widget_autocomplete_demo/views/res_partner_views.xml
Due: prettier

Translated using Weblate (Italian)
  web_responsive_company/i18n/it.po
Due: none

[FIX] web_widget_autocomplete: keyboard select
  web_widget_autocomplete/static/src/autocomplete_field.esm.js
  web_widget_autocomplete/static/tests/autocomplete_field.test.js
Due: prettier, eslint

[ADD] web_widget_popover
  web_widget_popover/README.rst
  web_widget_popover/__init__.py
  web_widget_popover/__manifest__.py
  web_widget_popover/pyproject.toml
  web_widget_popover/readme/CONTRIBUTORS.md
  web_widget_popover/readme/DESCRIPTION.md
  web_widget_popover/readme/USAGE.md
  web_widget_popover/static/src/popover.esm.js
  web_widget_popover/static/src/popover.xml
Due: prettier, eslint

[IMP] web_widget_popover: pre-commit auto fixes
  web_widget_popover/README.rst
  web_widget_popover/static/description/index.html
Due: none

[18.0][MIG] web_widget_popover: Migration to 18.0
  web_widget_popover/__manifest__.py
  web_widget_popover/static/src/popover.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_popover/README.rst
  web_widget_popover/i18n/web_widget_popover.pot
  web_widget_popover/static/description/icon.png
  web_widget_popover/static/description/index.html
Due: none

Translated using Weblate
  web_widget_popover/i18n/it.po
  web_widget_popover/i18n/sl.po
Due: none

[IMP] web_widget_popover: fit the list column to the icon
  web_widget_popover/README.rst
  web_widget_popover/readme/USAGE.md
  web_widget_popover/static/description/index.html
  web_widget_popover/static/src/popover.esm.js
Due: prettier, eslint

[MIG] web_widget_popover: Migration to 19.0
  web_widget_popover/README.rst
  web_widget_popover/__manifest__.py
  web_widget_popover/static/description/index.html
  web_widget_popover/static/src/popover.xml
Due: prettier

[ADD] web_x2many_list_scroll: lists inside forms scroll within a set number of row
  web_x2many_list_scroll/README.rst
  web_x2many_list_scroll/__init__.py
  web_x2many_list_scroll/__manifest__.py
  web_x2many_list_scroll/i18n/es.po
  web_x2many_list_scroll/models/__init__.py
  web_x2many_list_scroll/models/ir_http.py
  web_x2many_list_scroll/models/res_config_settings.py
  web_x2many_list_scroll/pyproject.toml
  web_x2many_list_scroll/readme/CONFIGURE.md
  web_x2many_list_scroll/readme/CONTRIBUTORS.md
  web_x2many_list_scroll/readme/DESCRIPTION.md
  web_x2many_list_scroll/readme/USAGE.md
  web_x2many_list_scroll/static/description/index.html
  web_x2many_list_scroll/static/src/js/x2many_field.esm.js
  web_x2many_list_scroll/static/src/scss/x2many_field.scss
  web_x2many_list_scroll/static/src/xml/x2many_field.xml
  web_x2many_list_scroll/static/tests/web_x2many_list_scroll.test.js
  web_x2many_list_scroll/tests/__init__.py
  web_x2many_list_scroll/tests/test_settings.py
  web_x2many_list_scroll/views/res_config_settings_views.xml
Due: prettier, eslint

[ADD] web_x2many_list_scroll: lists inside forms scroll within a set number of rows
  web_x2many_list_scroll/README.rst
  web_x2many_list_scroll/__init__.py
  web_x2many_list_scroll/__manifest__.py
  web_x2many_list_scroll/i18n/es.po
  web_x2many_list_scroll/models/__init__.py
  web_x2many_list_scroll/models/ir_http.py
  web_x2many_list_scroll/models/res_config_settings.py
  web_x2many_list_scroll/pyproject.toml
  web_x2many_list_scroll/readme/CONFIGURE.md
  web_x2many_list_scroll/readme/CONTRIBUTORS.md
  web_x2many_list_scroll/readme/DESCRIPTION.md
  web_x2many_list_scroll/readme/USAGE.md
  web_x2many_list_scroll/static/description/index.html
  web_x2many_list_scroll/static/src/js/x2many_field.esm.js
  web_x2many_list_scroll/static/src/scss/x2many_field.scss
  web_x2many_list_scroll/static/src/xml/x2many_field.xml
  web_x2many_list_scroll/static/tests/web_x2many_list_scroll.test.js
  web_x2many_list_scroll/tests/__init__.py
  web_x2many_list_scroll/tests/test_settings.py
  web_x2many_list_scroll/views/res_config_settings_views.xml
Due: prettier, eslint

[IMP] web_widget_autocomplete: support field types
  web_widget_autocomplete/README.rst
  web_widget_autocomplete/readme/DESCRIPTION.md
  web_widget_autocomplete/readme/USAGE.md
  web_widget_autocomplete/static/description/index.html
  web_widget_autocomplete/static/src/autocomplete_field.esm.js
  web_widget_autocomplete/static/tests/autocomplete_field.test.js
Due: prettier, eslint

[FIX] web_editor_disable_chatgpt: wait for discard
  web_editor_disable_chatgpt/static/tests/tours/html_editor_disable_chatgpt_tour.esm.js
Due: prettier, eslint

[UPD] Update web_notify_upgrade.pot
  web_notify_upgrade/i18n/web_notify_upgrade.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_notify_upgrade/README.rst
  web_notify_upgrade/static/description/index.html
Due: none

[ADD] web_json_widget_demo
  web_json_widget_demo/README.rst
  web_json_widget_demo/__init__.py
  web_json_widget_demo/__manifest__.py
  web_json_widget_demo/models/__init__.py
  web_json_widget_demo/models/res_partner.py
  web_json_widget_demo/pyproject.toml
  web_json_widget_demo/readme/DESCRIPTION.md
  web_json_widget_demo/static/description/index.html
  web_json_widget_demo/views/res_partner_view.xml
Due: prettier

[ADD] web_json_widget
  web_json_widget/README.rst
  web_json_widget/__init__.py
  web_json_widget/__manifest__.py
  web_json_widget/pyproject.toml
  web_json_widget/readme/CONTRIBUTORS.md
  web_json_widget/readme/CREDITS.md
  web_json_widget/readme/DESCRIPTION.md
  web_json_widget/readme/USAGE.md
  web_json_widget/static/description/index.html
  web_json_widget/static/src/components/json_editor/json_editor.css
  web_json_widget/static/src/components/json_editor/json_editor.esm.js
  web_json_widget/static/src/components/json_editor/json_editor.xml
  web_json_widget/static/src/lib/dark-theme.css
  web_json_widget/static/src/lib/img/jsoneditor-icons.svg
  web_json_widget/static/src/lib/vanilla-jsoneditor.min.css
  web_json_widget/static/src/lib/vanilla-jsoneditor.min.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_field_tooltip/README.rst
  web_field_tooltip/__manifest__.py
  web_field_tooltip/static/description/index.html
Due: none

[MIG] web_theme_classic: Migration to 19.0
  web_theme_classic/README.rst
  web_theme_classic/__manifest__.py
  web_theme_classic/static/description/index.html
  web_theme_classic/static/src/scss/web_theme_classic.scss
  web_theme_classic/views/res_users_views.xml
Due: prettier

Update web_widget_autocomplete/readme/CONTRIBUTORS.md
  web_widget_autocomplete/readme/CONTRIBUTORS.md
Due: none

[UPD] Update web_search_deactivate_autosearch.pot
  web_search_deactivate_autosearch/i18n/web_search_deactivate_autosearch.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_search_deactivate_autosearch/README.rst
  web_search_deactivate_autosearch/static/description/index.html
Due: none

[ADD] web_daypilot: Resource x Time view type
  web_daypilot/LICENSE
  web_daypilot/README.rst
  web_daypilot/__init__.py
  web_daypilot/__manifest__.py
  web_daypilot/demo/resource_leaves_demo.xml
  web_daypilot/i18n/pt.po
  web_daypilot/i18n/web_daypilot.pot
  web_daypilot/models/__init__.py
  web_daypilot/models/base.py
  web_daypilot/models/ir_actions.py
  web_daypilot/models/ir_ui_view.py
  web_daypilot/pyproject.toml
  web_daypilot/readme/CONFIGURE.md
  web_daypilot/readme/CONTRIBUTORS.md
  web_daypilot/readme/DESCRIPTION.md
  web_daypilot/readme/ROADMAP.md
  web_daypilot/readme/USAGE.md
  web_daypilot/static/description/index.html
  web_daypilot/static/src/daypilot_arch_parser.esm.js
  web_daypilot/static/src/daypilot_controller.esm.js
  web_daypilot/static/src/daypilot_model.esm.js
  web_daypilot/static/src/daypilot_renderer.esm.js
  web_daypilot/static/src/daypilot_renderer.xml
  web_daypilot/static/src/daypilot_renderer_controls.esm.js
  web_daypilot/static/src/daypilot_renderer_controls.xml
  web_daypilot/static/src/daypilot_view.esm.js
  web_daypilot/static/src/daypilot_view.scss
  web_daypilot/static/src/daypilot_view.variables.dark.scss
  web_daypilot/static/src/daypilot_view.variables.scss
  web_daypilot/static/src/lib/LICENSE
  web_daypilot/static/src/lib/daypilot-lite.min.js
  web_daypilot/static/src/xml/daypilot_controller.xml
  web_daypilot/static/tests/daypilot_arch_parser.test.js
  web_daypilot/static/tests/daypilot_controller.test.js
  web_daypilot/static/tests/daypilot_model.test.js
  web_daypilot/tests/__init__.py
  web_daypilot/tests/test_basic.py
  web_daypilot/tests/test_daypilot_view.py
  web_daypilot/tests/test_public.py
  web_daypilot/views/resource_demo_views.xml
Due: prettier, eslint

[FIX] web_create_write_confirm : fix JS error when clicking OK in pop-up
  web_create_write_confirm/static/src/js/pop_up_confirmation.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_search_deactivate_autosearch/i18n/it.po
Due: none

[ADD] web_loading_block_ui: block UI while requests are pending
  web_loading_block_ui/README.rst
  web_loading_block_ui/__init__.py
  web_loading_block_ui/__manifest__.py
  web_loading_block_ui/data/ir_config_parameter.xml
  web_loading_block_ui/models/__init__.py
  web_loading_block_ui/models/ir_http.py
  web_loading_block_ui/pyproject.toml
  web_loading_block_ui/readme/CONFIGURE.md
  web_loading_block_ui/readme/CONTRIBUTORS.md
  web_loading_block_ui/readme/DESCRIPTION.md
  web_loading_block_ui/readme/USAGE.md
  web_loading_block_ui/static/description/icon.png
  web_loading_block_ui/static/description/index.html
  web_loading_block_ui/static/src/loading_indicator.esm.js
  web_loading_block_ui/static/tests/web_loading_block_ui.test.js
  web_loading_block_ui/tests/__init__.py
  web_loading_block_ui/tests/test_web_loading_block_ui.py
Due: prettier, eslint

[IMP] web_responsive: add opt-in setting for automatic PDF invoice preview opening
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/i18n/de.po
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/ir_http.py
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/readme/DESCRIPTION.md
  web_responsive/readme/USAGE.md
  web_responsive/static/description/index.html
  web_responsive/static/img/auto_open_invoice_preview.png
  web_responsive/static/src/components/file_viewer/auto_open.esm.js
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

Added translation using Weblate (Slovenian)
  web_responsive_company_color/i18n/sl.po
Due: none

Translated using Weblate (Slovenian)
  web_responsive_company_color/i18n/sl.po
Due: none

Translated using Weblate (Italian)
  web_search_deactivate_autosearch/i18n/it.po
Due: none

[18.0][FIX] web_toggle_chatter: prevent sheet width collapse
  web_toggle_chatter/static/src/scss/web_toggle_chatter.scss
Due: prettier

Initial commit
  .copier-answers.yml
  .editorconfig
  .gitattributes
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-mandatory
  .ruff.toml
  LICENSE
  README.md
  checklog-odoo.cfg
  eslint.config.cjs
  prettier.config.cjs
  renovate.json
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

