Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Update translation files
  web_widget_image_download/i18n/es.po
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/it.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/pt.po
  web_widget_image_download/i18n/zh_CN.po
Due: none

[UPD] Update web_widget_image_download.pot
  web_widget_image_download/i18n/web_widget_image_download.pot
Due: none

[MIG]web_widget_image_download: Migration to 17.0
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_image_download/README.rst
  web_widget_image_download/static/description/index.html
Due: none

[FIX] web_widget_image_download: restore missing icon.png
  web_widget_image_download/static/description/icon.png
Due: none

[MIG] web_widget_image_download: Migration to 18.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/readme/CONTRIBUTORS.md
  web_widget_image_download/static/description/icon.png
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[FIX] conflicts
  web_widget_image_download/README.rst
Due: none

[ADD] web_widget_char_size
  web_widget_char_size/README.rst
  web_widget_char_size/__init__.py
  web_widget_char_size/__manifest__.py
  web_widget_char_size/i18n/web_widget_char_size.pot
  web_widget_char_size/readme/DESCRIPTION.rst
  web_widget_char_size/static/description/icon.png
  web_widget_char_size/static/description/index.html
  web_widget_char_size/static/src/js/char_widget.js
  web_widget_char_size/views/assets.xml
Due: prettier, eslint

[MIG] web_widget_char_size: Migration to 15.0
  web_widget_char_size/README.rst
  web_widget_char_size/__manifest__.py
  web_widget_char_size/i18n/web_widget_char_size.pot
  web_widget_char_size/readme/CONTRIBUTERS.rst
  web_widget_char_size/static/description/index.html
  web_widget_char_size/views/assets.xml
Due: prettier

Added translation using Weblate (Italian)
  web_widget_char_size/i18n/it.po
Due: none

[IMP] web_widget_char_size: pre-commit execution
  web_widget_char_size/README.rst
  web_widget_char_size/pyproject.toml
  web_widget_char_size/readme/DESCRIPTION.md
  web_widget_char_size/readme/DESCRIPTION.rst
  web_widget_char_size/static/description/index.html
Due: prettier

[MIG] web_widget_char_size: Migration to 16.0
  web_widget_char_size/README.rst
  web_widget_char_size/__manifest__.py
  web_widget_char_size/i18n/web_widget_char_size.pot
  web_widget_char_size/readme/DESCRIPTION.rst
  web_widget_char_size/static/description/index.html
  web_widget_char_size/static/src/js/char_widget.esm.js
  web_widget_char_size/static/src/js/char_widget.js
Due: prettier, eslint

[MIG] web_widget_char_size: Migration to 18.0
  web_widget_char_size/README.rst
  web_widget_char_size/__manifest__.py
  web_widget_char_size/readme/CONTRIBUTERS.rst
  web_widget_char_size/readme/CONTRIBUTORS.md
  web_widget_char_size/static/description/index.html
  web_widget_char_size/static/src/js/char_widget.esm.js
Due: prettier, eslint

[UPD] Update web_widget_char_size.pot
  web_widget_char_size/i18n/web_widget_char_size.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_char_size/README.rst
  web_widget_char_size/static/description/index.html
Due: none

[UPD] Update web_action_conditionable.pot
  web_action_conditionable/i18n/web_action_conditionable.pot
Due: none

[ADD][19.0] web_discuss_portal: give portal users access to their Discuss channels
  web_discuss_portal/README.rst
  web_discuss_portal/__init__.py
  web_discuss_portal/__manifest__.py
  web_discuss_portal/controllers/__init__.py
  web_discuss_portal/controllers/main.py
  web_discuss_portal/i18n/es.po
  web_discuss_portal/i18n/web_discuss_portal.pot
  web_discuss_portal/pyproject.toml
  web_discuss_portal/readme/CONTRIBUTORS.md
  web_discuss_portal/readme/DESCRIPTION.md
  web_discuss_portal/static/description/icon.png
  web_discuss_portal/static/description/index.html
  web_discuss_portal/static/img/discuss.svg
  web_discuss_portal/tests/__init__.py
  web_discuss_portal/tests/test_web_discuss_portal.py
  web_discuss_portal/views/portal.xml
Due: prettier

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_action_conditionable/README.rst
  web_action_conditionable/static/description/index.html
Due: none

[IMP] web_discuss_portal: add contributors
  web_discuss_portal/README.rst
  web_discuss_portal/readme/CONTRIBUTORS.md
  web_discuss_portal/static/description/index.html
Due: none

[IMP] web_company_color: add reset colors button
  web_company_color/i18n/es.po
  web_company_color/i18n/web_company_color.pot
  web_company_color/models/res_company.py
  web_company_color/tests/test_res_company.py
  web_company_color/view/res_company.xml
Due: prettier

Translated using Weblate (Italian)
  web_form_banner/i18n/it.po
Due: none

[IMP] web_widget_dropdown_dynamic: pre-commit auto fixes
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/pyproject.toml
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/readme/CREDITS.md
  web_widget_dropdown_dynamic/readme/CREDITS.rst
  web_widget_dropdown_dynamic/readme/DESCRIPTION.md
  web_widget_dropdown_dynamic/readme/DESCRIPTION.rst
  web_widget_dropdown_dynamic/readme/USAGE.md
  web_widget_dropdown_dynamic/readme/USAGE.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: prettier

[ADD] web_widget_dropdown_dynamic
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__init__.py
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/readme/DESCRIPTION.rst
  web_widget_dropdown_dynamic/readme/ROADMAP.rst
  web_widget_dropdown_dynamic/readme/USAGE.rst
  web_widget_dropdown_dynamic/static/description/icon.png
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
  web_widget_dropdown_dynamic/templates/assets.xml
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_widget_dropdown_dynamic/i18n/es.po
Due: none

[BOT] post-merge updates
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

Added translation using Weblate (Slovenian)
  web_widget_dropdown_dynamic/i18n/sl.po
Due: none

Added translation using Weblate (Italian)
  web_widget_dropdown_dynamic/i18n/it.po
Due: none

[16.0][MIG] web_widget_dropdown_dynamic
  web_widget_dropdown_dynamic/__manifest__.py
Due: none

Update translation files
  web_widget_dropdown_dynamic/i18n/de.po
  web_widget_dropdown_dynamic/i18n/es.po
  web_widget_dropdown_dynamic/i18n/it.po
Due: none

[MIG] web_widget_dropdown_dynamic: Migration to 17.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__init__.py
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/demo/ir_filters_view.xml
  web_widget_dropdown_dynamic/demo/ir_model_fields.xml
  web_widget_dropdown_dynamic/models/__init__.py
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/readme/USAGE.md
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/basic_model.esm.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

[IMP] web_widget_dropdown_dynamic: license change
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__init__.py
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/models/ir_filters.py
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

[16.0][MIG]web_widget_dropdown_dynamic: Migrate to version 16.0
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/__manifest__.py
  web_widget_dropdown_dynamic/i18n/de.po
  web_widget_dropdown_dynamic/i18n/es.po
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.rst
  web_widget_dropdown_dynamic/readme/CREDITS.rst
  web_widget_dropdown_dynamic/readme/USAGE.rst
  web_widget_dropdown_dynamic/static/description/index.html
  web_widget_dropdown_dynamic/static/src/js/basic_model.esm.js
  web_widget_dropdown_dynamic/static/src/js/basic_model.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/static/description/index.html
Due: none

Translated using Weblate (Slovenian)
  web_widget_dropdown_dynamic/i18n/sl.po
Due: none

Translated using Weblate (Italian)
  web_widget_dropdown_dynamic/i18n/it.po
Due: none

[IMP] web_widget_dropdown_dynamic: black, isort, prettier
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.js
Due: prettier, eslint

[UPD] Update web_widget_dropdown_dynamic.pot
  web_widget_dropdown_dynamic/i18n/web_widget_dropdown_dynamic.pot
Due: none

[IMP] web_widget_dropdown_dynamic: Remove QUnit import from tests
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint
