Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_company_color: mobile systray button
  web_company_color/models/res_company.py
Due: none

[BOT] post-merge updates
  README.md
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/static/description/index.html
Due: none

[FIX][CL] info in session
  web_widget_remaining_days_exact_date/__init__.py
  web_widget_remaining_days_exact_date/controllers/__init__.py
  web_widget_remaining_days_exact_date/controllers/main.py
  web_widget_remaining_days_exact_date/models/__init__.py
  web_widget_remaining_days_exact_date/models/ir_http.py
  web_widget_remaining_days_exact_date/static/src/search/layout.esm.js
  web_widget_remaining_days_exact_date/static/src/widgets/remaining_days_fields.esm.js
Due: prettier, eslint

[FIX][CL] info in session
  web_widget_remaining_days_exact_date/models/ir_http.py
  web_widget_remaining_days_exact_date/static/src/widgets/remaining_days_fields.esm.js
Due: prettier, eslint

[FIX][CL] info in session
  web_widget_remaining_days_exact_date/models/__init__.py
Due: none

[FIX][CL] info in session
  web_widget_remaining_days_exact_date/models/disable_remaining_days_rule.py
Due: none

[FIX][CL] info in session
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/__manifest__.py
  web_widget_remaining_days_exact_date/static/description/index.html
Due: none

[FIX] web_form_banner
  web_form_banner/README.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[FIX] web_form_banner
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

web_dialog_size: prevent export wizard from shrinking when dialog maximize is enabled
  web_dialog_size/static/src/js/web_dialog_size.esm.js
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_dialog_size/i18n/es.po
Due: none

[MIG] web_dialog_siza: Migrate to v9.0
  web_dialog_size/README.rst
  web_dialog_size/__openerp__.py
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/view/qweb.xml
Due: prettier, eslint

[FIX] web_dialog_size: do not expand by default and correctly honor default_maximize parameter
  web_dialog_size/README.rst
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] Migrate web_dialog_size module to v11
  web_dialog_size/README.rst
  web_dialog_size/__init__.py
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 17.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/readme/CONTRIBUTORS.md
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_draggable.esm.js
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/DialogDraggable.xml
  web_dialog_size/static/src/xml/select_create_dialog.xml
  web_dialog_size/static/src/xml/web_dialog_header.xml
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier, eslint

[MIG] Migrated web_dialog_size module in v13.
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[FIX] web_dialog_size js warnings
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[FIX] web_dialog_size: Fixes on legacy Dialogs
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier, eslint

[11.0][FIX] web_dialog_size: Draggable Dialog
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_dialog_size/i18n/it.po
Due: none

[IMP] web_dialog_size: black, isort, prettier
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[IMP] web_dialog_size: pre-commit auto fixes
  web_dialog_size/README.rst
  web_dialog_size/pyproject.toml
  web_dialog_size/readme/CONFIGURE.md
  web_dialog_size/readme/CONFIGURE.rst
  web_dialog_size/readme/CONTRIBUTORS.md
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/readme/DESCRIPTION.md
  web_dialog_size/readme/DESCRIPTION.rst
  web_dialog_size/readme/ROADMAP.md
  web_dialog_size/readme/ROADMAP.rst
  web_dialog_size/static/description/index.html
Due: prettier

[FIX] web_dialog_size: Fix usage for non-admins and reduce calls (#954)
  web_dialog_size/README.rst
  web_dialog_size/__init__.py
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/__init__.py
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/readme/CONFIGURATION.rst
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/readme/DESCRIPTION.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

Added translation using Weblate (German)
  web_dialog_size/i18n/de.po
Due: none

[10.0-MIG] web_dialog_size for v10.0
  web_dialog_size/__manifest__.py
  web_dialog_size/__openerp__.py
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/templates/assets.xml
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 14.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[FIX+IMP] web_dialog_size
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[UPD] Update web_dialog_size.pot
  web_dialog_size/i18n/web_dialog_size.pot
Due: none

[IMP] Improved code and solved the bug of two arrows in dialog.
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier, eslint

[BOT] post-merge updates
  web_dialog_size/README.rst
  web_dialog_size/static/description/index.html
Due: none

Fix default_maximize check
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

Added translation using Weblate (Dutch)
  web_dialog_size/i18n/nl.po
Due: none

[ADD] module web_dialog_size
  web_dialog_size/README.rst
  web_dialog_size/__init__.py
  web_dialog_size/__openerp__.py
  web_dialog_size/static/description/icon.png
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/view/qweb.xml
Due: prettier, eslint

Added translation using Weblate (French)
  web_dialog_size/i18n/fr.po
Due: none

[IMP] pre-commit run after update
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/templates/assets.xml
Due: prettier, eslint

[IMP] web_dialog_size: Migration to 16.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/de.po
  web_dialog_size/i18n/es.po
  web_dialog_size/i18n/fr.po
  web_dialog_size/i18n/it.po
  web_dialog_size/i18n/nl.po
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/i18n/zh_CN.po
  web_dialog_size/readme/CONFIGURATION.rst
  web_dialog_size/readme/CONFIGURE.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_draggable.esm.js
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/DialogDraggable.xml
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 18.0
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/ExpandButton.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_dialog_size/i18n/it.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

