Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Added translation using Weblate (Italian)
  web_remember_tree_column_width/i18n/it.po
Due: none

[UPD] README.rst
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/static/description/index.html
Due: none

[MIG] web_remember_tree_column_width: Migration to 18.0
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/__manifest__.py
  web_remember_tree_column_width/readme/CONTRIBUTORS.md
  web_remember_tree_column_width/readme/CREDITS.md
  web_remember_tree_column_width/readme/ROADMAP.md
  web_remember_tree_column_width/static/description/index.html
  web_remember_tree_column_width/static/src/js/list_renderer.esm.js
Due: prettier, eslint

Update translation files
  web_remember_tree_column_width/i18n/it.po
Due: none

[FIX] web_remember_tree_column_width: fetch element from start event
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/readme/CONTRIBUTORS.md
  web_remember_tree_column_width/readme/ROADMAP.md
  web_remember_tree_column_width/static/description/index.html
  web_remember_tree_column_width/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[MIG] web_remember_tree_column_width: Migration to 16.0
  web_remember_tree_column_width/__manifest__.py
  web_remember_tree_column_width/readme/CONTRIBUTORS.rst
  web_remember_tree_column_width/readme/CREDITS.rst
  web_remember_tree_column_width/static/src/js/list_renderer.esm.js
  web_remember_tree_column_width/static/src/js/list_renderer.js
  web_remember_tree_column_width/static/src/scss/main.scss
Due: prettier, eslint

[BOT] post-merge updates
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/__manifest__.py
  web_remember_tree_column_width/static/description/index.html
Due: none

[ADD] icon.png
  web_remember_tree_column_width/static/description/icon.png
Due: none

[ADD] web_tree_column_width_remember: Remember the tree view columns' widths
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/__init__.py
  web_remember_tree_column_width/__manifest__.py
  web_remember_tree_column_width/readme/CONTRIBUTORS.rst
  web_remember_tree_column_width/readme/CREDITS.rst
  web_remember_tree_column_width/readme/DESCRIPTION.rst
  web_remember_tree_column_width/static/description/index.html
  web_remember_tree_column_width/static/src/js/list_renderer.js
  web_remember_tree_column_width/static/src/scss/main.scss
Due: prettier, eslint

[BOT] post-merge updates
  web_remember_tree_column_width/README.rst
  web_remember_tree_column_width/static/description/index.html
Due: none

[FIX] web_responsive: support create/edit attributes in form/list buttons
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/static/src/legacy/xml/form_buttons.xml
Due: prettier

[FIX] web_timeline: fix commas in manifest file
  web_timeline/__manifest__.py
  web_timeline/i18n/es.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/nl_NL.po
Due: none

[FIX] web_timeline: Allow groupby m2m fields
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/readme/ROADMAP.rst
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[MIG] web_timeline: Finish migration to 13.0
  web_timeline/README.rst
  web_timeline/i18n/es.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/pt.po
  web_timeline/i18n/web_timeline.pot
  web_timeline/i18n/zh_CN.po
  web_timeline/readme/CONFIGURE.rst
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/readme/CREDITS.rst
  web_timeline/static/description/index.html
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.css
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.min.css
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.min.js
  web_timeline/static/src/js/timeline_canvas.js
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_model.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
  web_timeline/static/src/scss/web_timeline.scss
  web_timeline/static/src/xml/web_timeline.xml
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[IMP] web_timeline: add few features
  web_timeline/static/src/css/web_timeline.css
  web_timeline/static/src/js/web_timeline.js
Due: prettier, eslint

[FIX][12.0] web_timeline: Scroll Issue.
  web_timeline/i18n/fr.po
  web_timeline/i18n/pt.po
  web_timeline/i18n/zh_CN.po
  web_timeline/static/description/index.html
Due: none

[IMP] web_timeline: Templates implementation like kanban
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[FIX] web_timeline: Change vis-timeline library import
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.js
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.min.js
  web_timeline/static/src/js/timeline_view.js
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[FIX] web_timeline: Don't crash when restoring timeline from breadcrumb
  web_timeline/static/src/js/timeline_controller.js
Due: prettier, eslint

[MIG] web_timeline: Migration to 12.0
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/readme/CONFIGURE.rst
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/readme/CREDITS.rst
  web_timeline/readme/DESCRIPTION.rst
  web_timeline/readme/ROADMAP.rst
  web_timeline/readme/USAGE.rst
  web_timeline/static/src/js/timeline_canvas.js
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_model.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[IMP] Readme: Available attribute list
  web_timeline/README.rst
  web_timeline/i18n/es.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/web_timeline.pot
  web_timeline/readme/CONFIGURE.rst
  web_timeline/readme/ROADMAP.rst
  web_timeline/static/description/index.html
Due: none

[IMP] change the option to initialize the timeline window on display.
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/src/js/web_timeline.js
Due: prettier, eslint

[IMP] Add an option to initialize the timeline window on display.
  web_timeline/README.rst
  web_timeline/static/src/js/web_timeline.js
Due: prettier, eslint

[FIX] web_timeline: fix readme - To be squashed with previous one on migration (#1137)
  web_timeline/README.rst
  web_timeline/readme/CONFIGURE.rst
  web_timeline/static/description/index.html
Due: none

[IMP] web_timeline: allow UNASSIGNED grouping when using M2M field
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint

[ADD] web_timeline: New dependency_arrow attribute
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/i18n/web_timeline.pot
  web_timeline/models/__init__.py
  web_timeline/static/src/css/web_timeline.css
  web_timeline/static/src/js/timeline_canvas.js
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
  web_timeline/static/src/xml/web_timeline.xml
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[FIX] web_timeline: Make colors attribute optional (#969)
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[IMP] web_timeline: black, isort
  web_timeline/__manifest__.py
  web_timeline/models/ir_view.py
  web_timeline/static/src/xml/web_timeline.xml
Due: prettier

[IMP] Add stack support
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[FIX] Travis
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_canvas.js
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_model.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[FIX] web_timeline: Reloading view
  web_timeline/__manifest__.py
  web_timeline/i18n/es.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/src/js/timeline_controller.js
Due: prettier, eslint

[web_timeline][IMP] Add margin support in web_timeline (#1135)
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/readme/CONFIGURE.rst
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[IMP] web_timeline: CSS vis items
  web_timeline/__manifest__.py
  web_timeline/static/src/scss/web_timeline.scss
Due: prettier

[ADD] Enable multiselect
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[12.0][FIX]web_timeline: fix group orders
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[FIX] web_timeline: Change draw_dependencies
  web_timeline/__manifest__.py
  web_timeline/i18n/he.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/pt_BR.po
  web_timeline/i18n/zh_CN.po
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint

[FIX] Missing GroupClick Functionality
  web_timeline/i18n/es.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint

[IMP] web_timeline: Several improvements:
  web_timeline/README.rst
  web_timeline/__openerp__.py
  web_timeline/ir_view.py
  web_timeline/models/__init__.py
  web_timeline/models/ir_view.py
  web_timeline/project_view.xml
  web_timeline/static/src/js/web_timeline.js
Due: prettier, eslint

[ADD] field_utils to web_timeline
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint
