Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[BKP] web_json_widget: Backport to 17.0
  web_json_widget/README.rst
  web_json_widget/__manifest__.py
  web_json_widget/readme/CREDITS.md
  web_json_widget/static/description/index.html
  web_json_widget/static/src/components/json_editor/json_editor.esm.js
Due: prettier, eslint

[BKP] web_json_widget_demo: Backport to 17.0
  web_json_widget_demo/README.rst
  web_json_widget_demo/__manifest__.py
  web_json_widget_demo/readme/CREDITS.md
  web_json_widget_demo/static/description/index.html
Due: none

[FIX] web_widget_text_markdown: fix white-space
  web_widget_text_markdown/static/src/css/web_widget_text_markdown.css
Due: prettier

[IMP] web_widget_remaining_days_exact_date: pre-commit execution
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/pyproject.toml
  web_widget_remaining_days_exact_date/readme/CONTRIBUTORS.md
  web_widget_remaining_days_exact_date/readme/CONTRIBUTORS.rst
  web_widget_remaining_days_exact_date/readme/DESCRIPTION.md
  web_widget_remaining_days_exact_date/readme/DESCRIPTION.rst
  web_widget_remaining_days_exact_date/readme/USAGE.md
  web_widget_remaining_days_exact_date/readme/USAGE.rst
  web_widget_remaining_days_exact_date/static/description/index.html
Due: prettier

[ADD] web_widget_remaining_days_exact_date: New module to show exact date when remaining days shown
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/__init__.py
  web_widget_remaining_days_exact_date/__manifest__.py
  web_widget_remaining_days_exact_date/i18n/web_widget_remaining_days_exact_date.pot
  web_widget_remaining_days_exact_date/readme/CONTRIBUTORS.rst
  web_widget_remaining_days_exact_date/readme/DESCRIPTION.rst
  web_widget_remaining_days_exact_date/readme/USAGE.rst
  web_widget_remaining_days_exact_date/static/description/icon.png
  web_widget_remaining_days_exact_date/static/description/index.html
  web_widget_remaining_days_exact_date/static/src/remaining_days/remaining_days.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_widget_remaining_days_exact_date/i18n/it.po
Due: none

[MIG] web_widget_remaining_days_exact_date: Migration to 17.0
  web_widget_remaining_days_exact_date/__manifest__.py
  web_widget_remaining_days_exact_date/static/src/remaining_days/remaining_days.esm.js
Due: prettier, eslint

[18.0][MIG] web_widget_plotly_chart: Migration from 17 to 18
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__init__.py
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/i18n/ca.po
  web_widget_plotly_chart/i18n/da.po
  web_widget_plotly_chart/i18n/es.po
  web_widget_plotly_chart/i18n/it.po
  web_widget_plotly_chart/i18n/pt_BR.po
  web_widget_plotly_chart/i18n/web_widget_plotly_chart.pot
  web_widget_plotly_chart/pyproject.toml
  web_widget_plotly_chart/readme/CONTRIBUTORS.md
  web_widget_plotly_chart/readme/CREDITS.md
  web_widget_plotly_chart/readme/DESCRIPTION.md
  web_widget_plotly_chart/readme/INSTALL.md
  web_widget_plotly_chart/readme/USAGE.md
  web_widget_plotly_chart/static/description/example.png
  web_widget_plotly_chart/static/description/icon.png
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
  web_widget_plotly_chart/static/src/js/widget_plotly.xml
  web_widget_plotly_chart/static/src/lib/plotly/plotly-3.1.0.min.js
Due: prettier, eslint

add plotly==6.3.0 to requirements.txt
  requirements.txt
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[FIX] web_edit_user_filter: ImportError
  web_edit_user_filter/tests/test_edit_user_filter.py
Due: none

[FIX] web_field_required_invisible_manager: Remove WArning on logs
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
Due: none

Update from template: Mark web_disable_export_group to be executed independently
  .copier-answers.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: prettier

[BOT] post-merge updates
  README.md
  web_edit_user_filter/README.rst
  web_edit_user_filter/__manifest__.py
  web_edit_user_filter/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_button_visibility/README.rst
  web_button_visibility/__manifest__.py
  web_button_visibility/static/description/index.html
  web_field_required_invisible_manager/README.rst
  web_field_required_invisible_manager/__manifest__.py
  web_field_required_invisible_manager/static/description/index.html
Due: none

[ADD] web_form_banner
  setup/web_form_banner/odoo/addons/web_form_banner
  setup/web_form_banner/setup.py
  web_form_banner/README.rst
  web_form_banner/__init__.py
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/i18n/ja.po
  web_form_banner/models/__init__.py
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/CONTRIBUTORS.rst
  web_form_banner/readme/DESCRIPTION.rst
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.rst
  web_form_banner/security/ir.model.access.csv
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/__init__.py
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[ADD] web_portal_properties
  web_portal_properties/README.rst
  web_portal_properties/__init__.py
  web_portal_properties/__manifest__.py
  web_portal_properties/fields.py
  web_portal_properties/pyproject.toml
  web_portal_properties/readme/CONFIGURE.md
  web_portal_properties/readme/CONTRIBUTORS.md
  web_portal_properties/readme/DESCRIPTION.md
  web_portal_properties/readme/ROADMAP.md
  web_portal_properties/readme/USAGE.md
  web_portal_properties/static/description/form_view.png
  web_portal_properties/static/description/icon.png
  web_portal_properties/static/description/index.html
  web_portal_properties/static/description/portal_view.png
  web_portal_properties/static/src/components/portal_properties/portal_properties.esm.js
  web_portal_properties/static/src/components/portal_properties/portal_properties_definition.esm.js
  web_portal_properties/static/src/components/portal_properties/portal_properties_definition.xml
  web_portal_properties/views/portal_templates.xml
Due: prettier, eslint

17.0: quick_groupby: Add group-by button to List view
  quick_groupby/README.md
  quick_groupby/__init__.py
  quick_groupby/__manifest__.py
  quick_groupby/static/description/icon.png
  quick_groupby/static/src/js/list_header_cell.js
  quick_groupby/static/src/xml/list_header_cell.xml
Due: prettier, eslint

17.0: base_quick_groupby: Add group-by button to List view
  base_quick_groupby/README.md
  base_quick_groupby/__init__.py
  base_quick_groupby/__manifest__.py
  base_quick_groupby/static/description/icon.png
  base_quick_groupby/static/src/js/list_header_cell.js
  base_quick_groupby/static/src/xml/list_header_cell.xml
Due: prettier, eslint

17.0: base_quick_groupby: Add group-by button to List view
  base_quick_groupby/README.md
  base_quick_groupby/__manifest__.py
Due: prettier

17.0: base_quick_groupby: Add group-by button to List view
  base_quick_groupby/README.md
  base_quick_groupby/__manifest__.py
  base_quick_groupby/static/src/xml/list_header_cell.xml
Due: prettier

17.0: base_quick_groupby: Add group-by button to List view
  base_quick_groupby/README.md
  base_quick_groupby/__manifest__.py
  base_quick_groupby/pyproject.toml
  base_quick_groupby/static/src/js/list_header_cell.esm.js
  base_quick_groupby/static/src/xml/list_header_cell.xml
Due: prettier, eslint

17.0: base_quick_groupby: Add group-by button to List view
  base_quick_groupby/static/src/js/list_header_cell.esm.js
Due: prettier, eslint

simplify a bit
  web_form_banner/README.rst
  web_form_banner/i18n/ja.po
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier

fix tests
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/tests/test_web_form_banner.py
Due: prettier

[FIX] readme fragments: align with OCA guidelines and confirm functionality
  base_quick_groupby/README.md
  base_quick_groupby/README.rst
  base_quick_groupby/__manifest__.py
  base_quick_groupby/readme/CONTRIBUTORS.md
  base_quick_groupby/readme/DESCRIPTION.md
  base_quick_groupby/readme/INSTALL.md
  base_quick_groupby/readme/USAGE.md
  base_quick_groupby/static/description/index.html
Due: prettier

[FIX] readme fragments: align with OCA guidelines and confirm functionality
  base_quick_groupby/readme/USAGE.md
Due: none

add many2many support for draft
  web_form_banner/README.rst
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/tests/test_web_form_banner.py
Due: prettier, eslint

[IMP] web_form_banner: black, isort, prettier
  web_form_banner/README.rst
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

Translated using Weblate (Italian)
  web_pwa_customize/i18n/it.po
Due: none

[UPD] Update web_pwa_customize.pot
  web_pwa_customize/i18n/web_pwa_customize.pot
Due: none

Added translation using Weblate (Italian)
  web_pwa_customize/i18n/it.po
Due: none

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[FIX] web_widget_x2many_2d_matrix: restore pre-v17 functionality (axes)
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

