Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_responsive: Restore discuss mobile mode
  web_responsive/__manifest__.py
  web_responsive/static/src/js/discuss.js
  web_responsive/static/src/xml/discuss.xml
  web_responsive/views/assets.xml
Due: prettier, eslint

Update web_responsive.scss
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Translated using Weblate (Persian)
  web_responsive/i18n/fa.po
Due: none

[IMP] web_responsive: chatter width
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] Add sticky header & footer in list view
  web_responsive/static/src/less/form_view.less
Due: prettier

Added translation using Weblate (French (France))
  web_responsive/i18n/fr_FR.po
Due: none

Form view improvements to fit smaller screens
  web_responsive/static/src/less/form_view.less
  web_responsive/views/assets.xml
Due: prettier

Update README to fix wikipedia link
  web_responsive/README.rst
Due: none

[IMP] web_responsive: Adjust roadmap
  web_responsive/readme/ROADMAP.rst
Due: none

[FIX] error on grouped mobile kanban with zero groups
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/kanban_renderer_mobile.js
Due: prettier, eslint

[IMP] web_responsive: Readme
  web_responsive/README.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/appmenu.gif
Due: none

New style in apps menu
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/img/home-menu-bg-overlay.svg
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
Due: prettier, eslint

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: Menu Height on Init * Add a call to the window resize method during init to fix OCA#773
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Disable access to hidden menus
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] Code
  web_responsive/models/inherited_res_users.py
Due: none

[IMP] web_responsive: Readme
  web_responsive/README.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/formview.gif
  web_responsive/static/img/listview.gif
Due: none

[FIX+IMP] web_responsive: Chatter Topbar + fix #1189 + added gif
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/chatter_topbar.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/form_view.xml
Due: prettier, eslint

[IMP] web_responsive: Suggested changes
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/img/appmenu.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Change AppDrawer close method
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

imp overflow
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX][web_responsive] Long-named multicompanies nice in XS (#688)
  web_responsive/__manifest__.py
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/xml/navbar.xml
Due: prettier

[IMP] web_responsive: Support long titles
  web_responsive/README.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: Make app icons and search results middle-button-clickable
  web_responsive/static/src/xml/apps.xml
Due: prettier

[FIX] Read/Write permissions
  web_responsive/models/inherited_res_users.py
Due: none

[FIX] web_responsive: Chatter position
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Add search feature (#838)
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/lib/css/drawer.3.2.2.css
  web_responsive/static/lib/js/bililiteRange.2.6.js
  web_responsive/static/lib/js/drawer.3.2.2.js
  web_responsive/static/lib/js/jquery.sendkeys.4.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/xml/app_drawer_menu_search.xml
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[10.0][IMP][web_responsive] Make search bar sticky (#633)
  web_responsive/static/src/less/main.less
Due: prettier

[IMP] Adding res.users chatter_position read/write test
  web_responsive/models/inherited_res_users.py
  web_responsive/tests/__init__.py
  web_responsive/tests/test_res_users.py
Due: none

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/zh_CN.po
Due: none

[FIX] web_responsive: changed button box more initial position
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] word wrap for appdrawer menu items
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: Execution permission
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
Due: prettier, eslint

web_responsive 15.0.1.1.4
  web_responsive/__manifest__.py
Due: none

web_responsive 15.0.1.1.3
  web_responsive/__manifest__.py
Due: none

[IMP] big inputs on forms in edit mode
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/control_panel/control_panel.scss
  web_responsive/static/src/components/control_panel/control_panel.xml
  web_responsive/static/src/legacy/css/web_responsive.scss
  web_responsive/static/src/legacy/js/web_responsive.js
Due: prettier, eslint

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none
