Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Added translation using Weblate (Chinese (Simplified))
  web_widget_image_download/i18n/zh_CN.po
Due: none

[UPD] README.rst
  web_widget_image_download/README.rst
  web_widget_image_download/static/description/index.html
Due: none

[IMP] README by fragments + manifest
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/readme/DESCRIPTION.rst
  web_widget_image_download/readme/USAGE.rst
Due: none

[UPD] README.rst
  web_widget_image_download/static/description/index.html
Due: none

[MIG]web_widget_image_download: Migration to 17.0
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

Update translation files
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/pt.po
  web_widget_image_download/i18n/zh_CN.po
Due: none

[MIG] web_widget_image_download: Migration to 11.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

Update translation files
  web_widget_image_download/i18n/es.po
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/it.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/pt.po
  web_widget_image_download/i18n/zh_CN.po
Due: none

Translated using Weblate (Portuguese)
  web_widget_image_download/i18n/pt.po
Due: none

[MIG] web_widget_image_download: Migration to 12.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/scss/web_widget_image_download.scss
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
  web_widget_image_download/views/assets.xml
Due: prettier

[IMP] web_widget_image_download: black, isort
  web_widget_image_download/__manifest__.py
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/scss/web_widget_image_download.scss
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
  web_widget_image_download/views/assets.xml
Due: prettier, eslint

[UPD] Update web_widget_image_download.pot
  web_widget_image_download/i18n/web_widget_image_download.pot
Due: none

[IMP] web_widget_image_download: black, isort, prettier
  web_widget_image_download/README.rst
  web_widget_image_download/pyproject.toml
  web_widget_image_download/readme/CONTRIBUTORS.md
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/readme/DESCRIPTION.md
  web_widget_image_download/readme/DESCRIPTION.rst
  web_widget_image_download/readme/USAGE.md
  web_widget_image_download/readme/USAGE.rst
  web_widget_image_download/static/description/index.html
Due: prettier

[UPD] Update web_widget_image_download.pot
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
  web_widget_image_download/i18n/web_widget_image_download.pot
Due: none

Added translation using Weblate (Portuguese)
  web_widget_image_download/i18n/pt.po
Due: none

[MIG]web_widget_image_download: Migration to 15.0
  web_widget_image_download/__manifest__.py
  web_widget_image_download/readme/CONTRIBUTORS.rst
  web_widget_image_download/views/assets.xml
Due: prettier

[IMP] web_widget_image_download: black, isort, prettier
  web_widget_image_download/static/src/js/web_widget_image_download.js
Due: prettier, eslint

OCA Transbot updated translations from Transifex
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
Due: none

Translated using Weblate (Spanish)
  web_widget_image_download/i18n/es.po
Due: none

[14.0][MIG] web_widget_image_download
  web_widget_image_download/__manifest__.py
  web_widget_image_download/readme/CONTRIBUTORS.rst
Due: none

[MIG]web_widget_image_download: Migration to 16.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/i18n/web_widget_image_download.pot
  web_widget_image_download/readme/USAGE.rst
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/scss/web_widget_image_download.scss
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

Translated using Weblate (Italian)
  web_widget_image_download/i18n/it.po
Due: none

[BOT] post-merge updates
  web_widget_image_download/README.rst
  web_widget_image_download/static/description/index.html
Due: none

[MIG] web_widget_image_download
  web_widget_image_download/README.rst
  web_widget_image_download/__init__.py
  web_widget_image_download/__openerp__.py
  web_widget_image_download/static/description/icon.png
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
  web_widget_image_download/views/assets.xml
Due: prettier, eslint

pre-commit update: prettier xml indent
  web_widget_image_download/views/assets.xml
Due: prettier

Update translation files
  web_widget_image_download/i18n/hr.po
  web_widget_image_download/i18n/lt.po
  web_widget_image_download/i18n/nl_NL.po
Due: none

[MIG] web_widget_image_download: Update for v9.
  web_widget_image_download/README.rst
  web_widget_image_download/__init__.py
  web_widget_image_download/static/src/css/web_widget_image_download.css
  web_widget_image_download/static/src/js/web_widget_image_download.js
Due: prettier, eslint

[MIG] web_widget_image_download: Migration to 18.0
  web_widget_image_download/README.rst
  web_widget_image_download/__manifest__.py
  web_widget_image_download/readme/CONTRIBUTORS.md
  web_widget_image_download/static/description/icon.png
  web_widget_image_download/static/description/index.html
  web_widget_image_download/static/src/components/image_field.esm.js
  web_widget_image_download/static/src/xml/web_widget_image_download.xml
Due: prettier, eslint

[FIX] web_company_color: avoid overriding navbar dropdown items
  web_company_color/models/res_company.py
Due: none

[FIX] web_responsive: fix minichat opening when app menu is active
  web_calendar_slot_duration/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/src/scss/mail_chatwindow.scss
Due: prettier

[IMP] web_timeline: export timeline as SVG
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.xml
  web_timeline/static/src/views/timeline/timeline_view.scss
Due: prettier, eslint
