Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Form image editing controls always present
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: Hide header when print directly from browser issues 808 (#809)
  web_responsive/__manifest__.py
  web_responsive/static/src/less/navbar.less
Due: prettier

[FIX] web_responsive: Menu Height on Init * Add a call to the window resize method during init to fix OCA#773
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[10.0][IMP][web_responsive] Make search bar sticky (#633)
  web_responsive/static/src/less/main.less
Due: prettier

UPDT version
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/main.less
  web_responsive/views/web.xml
Due: prettier, eslint

FIX travis (#747)
  web_responsive/views/web.xml
Due: prettier

[FIX] web_responsive: Chrome Slow Scrolling * Update to iScoll bleeding edge to fix #741
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Make app icons and search results middle-button-clickable
  web_responsive/static/src/xml/apps.xml
Due: prettier

[IMP] web_responsive: Add known issue note about sticky
  web_responsive/README.rst
  web_responsive/readme/ROADMAP.rst
Due: none

[FIX][web_responsive] Form padding, titles and buttons OK in XS
  web_responsive/static/src/less/form_view.less
Due: prettier

Update translation files
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/web_responsive.pot
Due: none

[FIX] web_responsive: Chatter position
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Update README to fix wikipedia link
  web_responsive/README.rst
Due: none

[FIX][web_responsive] Make it compatible with l10n_es_toponyms
  web_responsive/static/src/less/form_view.less
Due: prettier

[IMP] web_responsive: AppMenu wait for load view
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Allow searching apps in mobile Chrome
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
Due: prettier, eslint

[FIX+IMP] web_responsive: Chatter Topbar + fix #1189 + added gif
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/chatter_topbar.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/form_view.xml
Due: prettier, eslint

[FIX] web_responsive: Disable access to hidden menus
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] Sticky chatter topbar
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Update web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Possibility of putting the chatter in the right (#951)
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/models/__init__.py
  web_responsive/models/inherited_res_users.py
  web_responsive/models/ir_http.py
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/readme/USAGE.rst
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/form_view.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
  web_responsive/views/inherited_view_users_form_simple_modif.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[FIX][11.0][web_responsive] Views without sheet
  web_responsive/static/src/less/form_view.less
Due: prettier

[IMP] web_responsive: chatter width
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP][11.0][web_responsive] Suggested changes (#978)
  web_responsive/models/__init__.py
  web_responsive/models/ir_http.py
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/form_view.less
  web_responsive/static/src/xml/form_view.xml
  web_responsive/views/web.xml
Due: prettier, eslint

Web responsive menu improvements (#513)
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/views/web.xml
Due: prettier

[IMP] web_responsive: Sticky in tree view and form view
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Suggested changes
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/img/appmenu.gif
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] Add sticky header & footer in list view
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: Skip re-search when not writing
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Change edit accesskey * Change accesskey for `edit` in form view back to `e` to fix #587
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/form_view.xml
Due: prettier

[FIX] web_responsive: Complete search feature forward-porting
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/tests/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Support long title in form view
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Form view improvements to fit smaller screens
  web_responsive/static/src/less/form_view.less
  web_responsive/views/assets.xml
Due: prettier

Fix problem with overflowing chatter widget.
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: Change z-indexes * Rebalance z-indexes to fix overlay issue while still providing notification support
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
Due: prettier

imp overflow
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[MIG] web_responsive: Migrate to v12 and refactor
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/i18n/es.po
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/__init__.py
  web_responsive/models/res_users.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/readme/USAGE.rst
  web_responsive/static/description/index.html
  web_responsive/static/lib/css/drawer.3.2.2.css
  web_responsive/static/lib/js/bililiteRange.2.6.js
  web_responsive/static/lib/js/drawer.3.2.2.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/lib/js/jquery.sendkeys.4.js
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/form_view.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/src/xml/app_drawer_menu_search.xml
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/__init__.py
  web_responsive/tests/test_ui.py
  web_responsive/views/assets.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[FIX] web_responsive: Correct runbot link
  web_responsive/README.rst
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

