Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[UPD] Update web_action_conditionable.pot
  web_action_conditionable/i18n/web_action_conditionable.pot
Due: none

[MIG] web_action_conditionable: Migration to 12.0
  web_action_conditionable/README.rst
  web_action_conditionable/__manifest__.py
  web_action_conditionable/readme/CONTRIBUTORS.rst
  web_action_conditionable/readme/DESCRIPTION.rst
  web_action_conditionable/readme/USAGE.rst
  web_action_conditionable/views/view.xml
Due: prettier

[UPD] README.rst
  web_action_conditionable/README.rst
  web_action_conditionable/static/description/index.html
Due: none

[UPD] README.rst
  web_action_conditionable/static/description/index.html
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_action_conditionable/i18n/zh_CN.po
Due: none

Added translation using Weblate (Croatian)
  web_action_conditionable/i18n/hr.po
Due: none

Added translation using Weblate (Spanish)
  web_action_conditionable/i18n/es.po
Due: none

[FIX] web_action_conditionable: Adapt to new api
  web_action_conditionable/README.rst
  web_action_conditionable/readme/CONTRIBUTORS.rst
  web_action_conditionable/readme/DESCRIPTION.rst
  web_action_conditionable/readme/USAGE.rst
  web_action_conditionable/static/description/index.html
  web_action_conditionable/static/src/js/field_one2many.js
  web_action_conditionable/static/src/js/views.js
  web_action_conditionable/views/view.xml
Due: prettier, eslint

[IMP] : black, isort, prettier
  web_action_conditionable/__manifest__.py
  web_action_conditionable/static/src/js/field_one2many.js
  web_action_conditionable/views/view.xml
Due: prettier, eslint

[MIG] Migrated module web_action_conditionable to v13
  web_action_conditionable/README.rst
  web_action_conditionable/__manifest__.py
  web_action_conditionable/readme/CONTRIBUTORS.rst
  web_action_conditionable/static/description/index.html
Due: none

[UPT]web_action_conditionable * assets file rename + log ignored errors when reading attrs * update readme description
  web_action_conditionable/__manifest__.py
  web_action_conditionable/readme/DESCRIPTION.rst
  web_action_conditionable/static/src/js/field_one2many.js
  web_action_conditionable/templates/assets.xml
Due: prettier, eslint

Cleanup faulty file
  web_no_bubble/static/description/index.html
Due: none

web_action_conditionable 13.0.1.0.1
  web_action_conditionable/__manifest__.py
Due: none

[IMP] web_action_conditionable: black, isort, prettier
  web_action_conditionable/static/src/js/field_one2many.js
Due: prettier, eslint

[MIG] web_action_conditionable: Migration to 14.0
  web_action_conditionable/README.rst
  web_action_conditionable/__manifest__.py
Due: none

[MIG] web_action_conditionable: Migration to 15.0
  web_action_conditionable/__manifest__.py
  web_action_conditionable/static/src/js/field_one2many.js
  web_action_conditionable/templates/assets.xml
Due: prettier, eslint

[16.0][MIG] web_action_conditionable: Migration to 16.0
  setup/web_action_conditionable/odoo/addons/web_action_conditionable
  setup/web_action_conditionable/setup.py
  web_action_conditionable/README.rst
  web_action_conditionable/__manifest__.py
  web_action_conditionable/readme/CONTRIBUTORS.rst
  web_action_conditionable/readme/CREDITS.rst
  web_action_conditionable/static/description/index.html
  web_action_conditionable/static/src/components/field_one2many.esm.js
  web_action_conditionable/static/src/js/field_one2many.js
Due: prettier, eslint

Update translation files
  web_action_conditionable/i18n/es.po
  web_action_conditionable/i18n/hr.po
  web_action_conditionable/i18n/zh_CN.po
Due: none

Added translation using Weblate (Italian)
  web_action_conditionable/i18n/it.po
Due: none

Added translation using Weblate (Galician)
  web_action_conditionable/i18n/gl.po
Due: none

[17.0] [MIG] web_action_conditionable: Migration to 17.0
  web_action_conditionable/README.rst
  web_action_conditionable/__manifest__.py
  web_action_conditionable/pyproject.toml
  web_action_conditionable/readme/CONTRIBUTORS.md
  web_action_conditionable/readme/CONTRIBUTORS.rst
  web_action_conditionable/readme/CREDITS.md
  web_action_conditionable/readme/CREDITS.rst
  web_action_conditionable/readme/DESCRIPTION.md
  web_action_conditionable/readme/DESCRIPTION.rst
  web_action_conditionable/readme/USAGE.md
  web_action_conditionable/static/description/index.html
  web_action_conditionable/static/src/components/field_one2many.esm.js
Due: prettier, eslint

Translated using Weblate (Galician)
  web_widget_x2many_2d_matrix/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_notify/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_time_range_menu_custom/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_dialog_size/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_widget_many2one_simple/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_m2x_options/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_chatter_position/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_timeline/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_advanced_search/i18n/gl.po
Due: none

Translated using Weblate (Galician)
  web_view_calendar_list/i18n/gl.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

