Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[ADD] web_diagram: add Python unit tests for view validation
  web_diagram/tests/__init__.py
  web_diagram/tests/test_ir_ui_view.py
Due: none

[ADD] web_diagram_builder: initial module
  web_diagram_builder/__init__.py
  web_diagram_builder/__manifest__.py
  web_diagram_builder/data/web_diagram_builder_template_data.xml
  web_diagram_builder/models/__init__.py
  web_diagram_builder/models/ir_model.py
  web_diagram_builder/models/web_diagram_builder.py
  web_diagram_builder/models/web_diagram_builder_link.py
  web_diagram_builder/models/web_diagram_builder_node.py
  web_diagram_builder/models/web_diagram_builder_template.py
  web_diagram_builder/security/ir.model.access.csv
  web_diagram_builder/static/description/index.html
  web_diagram_builder/views/menu.xml
  web_diagram_builder/views/web_diagram_builder_template_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier

[ADD] web_diagram_builder: French (fr_CA) translations
  web_diagram_builder/i18n/fr.po
Due: none

[ADD] web_diagram_builder: CSV import/export and node/link detail views
  web_diagram_builder/models/web_diagram_builder_import.py
  web_diagram_builder/models/web_diagram_builder_import_report.py
  web_diagram_builder/models/web_diagram_builder_import_result.py
  web_diagram_builder/views/web_diagram_builder_import_report_views.xml
  web_diagram_builder/views/web_diagram_builder_import_result_views.xml
  web_diagram_builder/views/web_diagram_builder_import_views.xml
  web_diagram_builder/views/web_diagram_builder_link_views.xml
  web_diagram_builder/views/web_diagram_builder_node_views.xml
Due: prettier

[ADD]web_editor_table_paste
  web_editor_table_paste/README.rst
  web_editor_table_paste/__init__.py
  web_editor_table_paste/__manifest__.py
  web_editor_table_paste/pyproject.toml
  web_editor_table_paste/readme/CONTRIBUTORS.md
  web_editor_table_paste/readme/DESCRIPTION.md
  web_editor_table_paste/readme/USAGE.md
  web_editor_table_paste/static/description/index.html
  web_editor_table_paste/static/src/js/OdooEditor.esm.js
Due: prettier, eslint

[IMP] web_notify:Allow notify with sound
  web_notify/README.rst
  web_notify/__manifest__.py
  web_notify/models/res_users.py
  web_notify/readme/USAGE.md
  web_notify/static/description/index.html
  web_notify/static/src/components/audio_player.esm.js
  web_notify/static/src/components/audio_player.xml
  web_notify/static/src/js/services/notification_services.esm.js
  web_notify/static/src/services/effect_service.esm.js
  web_notify/static/src/services/notification_sound_service.esm.js
  web_notify/tests/test_res_users.py
Due: prettier, eslint

[IMP] web_notify_channel_message: Update _notify_channel() signature wit sound
  web_notify_channel_message/models/res_users.py
Due: none

[FIX] web_widget_product_label_section_and_note: Define the appropriate styles for the o_group div (similar to web)
  web_widget_product_label_section_and_note/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
Due: prettier

[BOT] post-merge updates
  README.md
  web_widget_product_label_section_and_note/README.rst
  web_widget_product_label_section_and_note/__manifest__.py
  web_widget_product_label_section_and_note/static/description/index.html
Due: none

[ADD] web_widget_product_label_section_and_note_full_label
  web_widget_product_label_section_and_note_full_label/README.rst
  web_widget_product_label_section_and_note_full_label/__init__.py
  web_widget_product_label_section_and_note_full_label/__manifest__.py
  web_widget_product_label_section_and_note_full_label/pyproject.toml
  web_widget_product_label_section_and_note_full_label/readme/CONTRIBUTORS.md
  web_widget_product_label_section_and_note_full_label/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_full_label/static/description/index.html
  web_widget_product_label_section_and_note_full_label/static/src/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_full_label/static/src/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_product_label_section_and_note_full_label/README.rst
  web_widget_product_label_section_and_note_full_label/static/description/icon.png
  web_widget_product_label_section_and_note_full_label/static/description/index.html
Due: none

[UPD] Update web_widget_product_label_section_and_note_full_label.pot
  web_widget_product_label_section_and_note_full_label/i18n/web_widget_product_label_section_and_note_full_label.pot
Due: none

Added translation using Weblate (Italian)
  web_widget_product_label_section_and_note_full_label/i18n/it.po
Due: none

[MIG] web_widget_product_label_section_and_note_full_label: Migration to 19.0
  web_widget_product_label_section_and_note_full_label/README.rst
  web_widget_product_label_section_and_note_full_label/__manifest__.py
  web_widget_product_label_section_and_note_full_label/readme/CONTRIBUTORS.md
  web_widget_product_label_section_and_note_full_label/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_full_label/static/description/index.html
  web_widget_product_label_section_and_note_full_label/static/src/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_full_label/static/src/product_label_section_and_note_field/product_label_section_and_note_field.xml
  web_widget_product_label_section_and_note_full_label/static/tests/product_label_section_and_note_field_tests.esm.js
Due: prettier, eslint

[IMP] web_diagram: replace Raphael/CuteGraph renderer with Cytoscape + dagre
  web_diagram/__manifest__.py
  web_diagram/static/lib/js/cytoscape-dagre.min.js
  web_diagram/static/lib/js/cytoscape.min.js
  web_diagram/static/lib/js/dagre.min.js
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/js/diagram_view.js
  web_diagram/static/src/scss/diagram_view.scss
Due: prettier, eslint

[ADD] web_diagram_builder: in-app tutorial (help wizard + Quick Guide menu)
  web_diagram_builder/__manifest__.py
  web_diagram_builder/data/ir_cron_data.xml
  web_diagram_builder/data/web_diagram_builder_guide_data.xml
  web_diagram_builder/models/web_diagram_builder_help.py
  web_diagram_builder/static/src/js/diagram_help_widget.js
  web_diagram_builder/static/src/xml/diagram_help_widget.xml
  web_diagram_builder/views/web_diagram_builder_help_views.xml
  web_diagram_builder/views/web_diagram_builder_views.xml
Due: prettier, eslint

[ADD] web_diagram_builder: find path between two nodes
  web_diagram_builder/models/web_diagram_builder_path.py
  web_diagram_builder/views/web_diagram_builder_path_views.xml
Due: prettier

[ADD] web_diagram_builder: add Python unit tests
  web_diagram_builder/tests/__init__.py
  web_diagram_builder/tests/test_web_diagram_builder.py
Due: none

[FIX] web_diagram, web_diagram_builder: Odoo 15 compatibility fixes
  web_diagram/models/ir_ui_view.py
  web_diagram/tools/graph.py
  web_diagram_builder/models/web_diagram_builder.py
Due: none

[ADD] web_diagram: pager navigation between diagrams in diagram view
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_model.js
Due: prettier, eslint

[ADD] web_diagram: navigation help popup with bilingual keyboard shortcuts
  web_diagram/__manifest__.py
  web_diagram/models/__init__.py
  web_diagram/models/diagram_nav_help.py
  web_diagram/security/ir.model.access.csv
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/xml/base_diagram.xml
  web_diagram/views/diagram_nav_help_views.xml
Due: prettier, eslint

[IMP] web_diagram: export full diagram as PNG using Cytoscape cy.png
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[ADD] web_diagram: Python unit tests for view validation and graph_get
  web_diagram/tests/__init__.py
  web_diagram/tests/test_ir_ui_view.py
Due: none

[IMP] web_diagram_builder: OCA compliance metadata and readme
  web_diagram_builder/__init__.py
  web_diagram_builder/__manifest__.py
  web_diagram_builder/pyproject.toml
  web_diagram_builder/readme/CONTRIBUTORS.rst
  web_diagram_builder/readme/DESCRIPTION.rst
  web_diagram_builder/readme/USAGE.rst
Due: prettier

[ADD] web_diagram_builder: in-app tutorial (help wizard + Quick Guide menu)
  web_diagram_builder/data/ir_cron_data.xml
  web_diagram_builder/data/web_diagram_builder_guide_data.xml
  web_diagram_builder/models/web_diagram_builder_help.py
  web_diagram_builder/static/src/js/diagram_help_widget.js
  web_diagram_builder/static/src/xml/diagram_help_widget.xml
  web_diagram_builder/views/web_diagram_builder_help_views.xml
Due: prettier, eslint

[IMP] web_diagram: migrate renderer from Raphael.js to Cytoscape.js
  web_diagram/__init__.py
  web_diagram/__manifest__.py
  web_diagram/controllers/main.py
  web_diagram/models/ir_ui_view.py
  web_diagram/readme/DEVELOPER.rst
  web_diagram/readme/ROADMAP.rst
  web_diagram/readme/SECURITY.rst
  web_diagram/static/lib/js/cytoscape-dagre.min.js
  web_diagram/static/lib/js/cytoscape.min.js
  web_diagram/static/lib/js/dagre.min.js
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_model.js
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/js/graph.js
  web_diagram/static/src/scss/diagram_view.scss
  web_diagram/static/src/xml/base_diagram.xml
  web_diagram/static/tests/diagram_tests.js
  web_diagram/tools/graph.py
Due: prettier, eslint

[ADD] web_diagram: add navigation help popup with bilingual support
  web_diagram/i18n/fr.po
  web_diagram/i18n/fr_CA.po
  web_diagram/i18n/web_diagram.pot
  web_diagram/models/__init__.py
  web_diagram/models/diagram_nav_help.py
  web_diagram/security/ir.model.access.csv
  web_diagram/views/diagram_nav_help_views.xml
Due: prettier

[IMP] web_diagram: OCA compliance metadata and remove deprecated test key
  web_diagram/__manifest__.py
Due: none

[FIX] web_company_color: handle WebP images in convert_to_image
  web_company_color/tests/test_res_company.py
  web_company_color/utils.py
Due: none

[FIX] web_company_color: fix missing blank line (PEP8)
  web_company_color/utils.py
Due: none

[FIX] web_company_color: raise UserError for unsupported WebP images
  web_company_color/tests/test_res_company.py
  web_company_color/utils.py
Due: none
