Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[ADD] web_filter_header_button
  web_filter_header_button/README.rst
  web_filter_header_button/__manifest__.py
  web_filter_header_button/i18n/it.po
  web_filter_header_button/i18n/web_filter_header_button.pot
  web_filter_header_button/readme/CONTRIBUTORS.md
  web_filter_header_button/static/description/index.html
  web_filter_header_button/static/src/control_panel/control_panel.xml
  web_filter_header_button/static/src/control_panel/control_panel_patch.esm.js
  web_filter_header_button/static/src/control_panel/control_panel_patch.js
  web_filter_header_button/static/src/filter_button/filter_button.js
  web_filter_header_button/static/src/filter_button/filter_button.xml
  web_filter_header_button/static/src/filter_button/filter_header_buttons.scss
  web_filter_header_button/static/src/search/search_arch_parser_patch.js
  web_filter_header_button/static/src/search/search_model_patch.js
Due: prettier, eslint

[ADD] web_concurrent_edit_global_warning
  setup/web_concurrent_edit_global_warning/odoo/addons/web_concurrent_edit_global_warning
  setup/web_concurrent_edit_global_warning/setup.py
  web_concurrent_edit_global_warning/README.rst
  web_concurrent_edit_global_warning/__init__.py
  web_concurrent_edit_global_warning/__manifest__.py
  web_concurrent_edit_global_warning/controllers/__init__.py
  web_concurrent_edit_global_warning/controllers/broadcast_channel.py
  web_concurrent_edit_global_warning/readme/CONTRIBUTORS.md
  web_concurrent_edit_global_warning/readme/DESCRIPTION.md
  web_concurrent_edit_global_warning/static/description/index.html
  web_concurrent_edit_global_warning/static/src/core/utils/hooks.esm.js
  web_concurrent_edit_global_warning/static/src/views/form/form_status_indicator/form_status_indicator.esm.js
  web_concurrent_edit_global_warning/static/src/views/form/form_status_indicator/form_status_indicator.scss
  web_concurrent_edit_global_warning/static/src/views/form/form_status_indicator/form_status_indicator.xml
Due: prettier, eslint

[I18N] pot + fr.po
  web_concurrent_edit_global_warning/i18n/fr.po
  web_concurrent_edit_global_warning/i18n/web_concurrent_edit_global_warning.pot
Due: none

Added translation using Weblate (Turkish)
  web_notify/i18n/tr.po
Due: none

[IMP] web_timeline: Safer demo view action override
  web_timeline/demo/ir_cron_view.xml
Due: prettier

[IMP] web_timeline: Allow to select in action's view_ids
  web_timeline/README.rst
  web_timeline/demo/ir_cron_view.xml
  web_timeline/models/__init__.py
  web_timeline/models/ir_actions.py
  web_timeline/readme/CONTRIBUTORS.md
  web_timeline/static/description/index.html
Due: prettier

[BOT] post-merge updates
  README.md
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
Due: none

[UPD] Update web_calendar_slot_duration.pot
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/static/description/index.html
Due: none

Translated using Weblate (French)
  web_group_expand/i18n/fr.po
Due: none

Translated using Weblate (Spanish)
  web_group_expand/i18n/es.po
Due: none

[MIG] web_group_expand: pre-commit
  web_group_expand/README.rst
  web_group_expand/pyproject.toml
  web_group_expand/readme/CONTRIBUTORS.md
  web_group_expand/readme/CONTRIBUTORS.rst
  web_group_expand/readme/DESCRIPTION.md
  web_group_expand/static/description/index.html
Due: prettier

Added translation using Weblate (French)
  web_group_expand/i18n/fr.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  web_group_expand/i18n/pt_BR.po
Due: none

Added translation using Weblate (French (Belgium))
  web_group_expand/i18n/fr_BE.po
Due: none

Added translation using Weblate (French (France) (fr_FR))
  web_group_expand/i18n/fr_FR.po
Due: none

[BOT] post-merge updates
  web_group_expand/README.rst
  web_group_expand/static/description/index.html
Due: none

[MIG] web_group_expand: Migration to 18.0
  web_group_expand/README.rst
  web_group_expand/__manifest__.py
  web_group_expand/i18n/web_group_expand.pot
  web_group_expand/static/description/index.html
  web_group_expand/static/src/js/list_controller.esm.js
Due: prettier, eslint

[MIG] web_group_expand: Migration to 16.0
  web_group_expand/README.rst
  web_group_expand/__manifest__.py
  web_group_expand/i18n/ca.po
  web_group_expand/i18n/de.po
  web_group_expand/i18n/es.po
  web_group_expand/i18n/nl.po
  web_group_expand/i18n/pt_BR.po
  web_group_expand/i18n/web_group_expand.pot
  web_group_expand/readme/CONTRIBUTORS.rst
  web_group_expand/static/description/index.html
  web_group_expand/static/src/js/list_controller.esm.js
  web_group_expand/static/src/js/web_group_expand.esm.js
  web_group_expand/static/src/xml/expand_buttons.xml
  web_group_expand/static/src/xml/list_controller.xml
Due: prettier, eslint

Translated using Weblate (French (Belgium))
  web_group_expand/i18n/fr_BE.po
Due: none

[IMP] web_group_expand: Enable full group expansion on page.
  web_group_expand/README.rst
  web_group_expand/__manifest__.py
  web_group_expand/static/description/index.html
  web_group_expand/static/src/js/list_controller.esm.js
Due: prettier, eslint

[MIG] web_group_expand: migrate to V17
  web_group_expand/README.rst
  web_group_expand/__manifest__.py
  web_group_expand/i18n/web_group_expand.pot
  web_group_expand/readme/CONTRIBUTORS.md
  web_group_expand/static/description/index.html
  web_group_expand/static/src/js/list_controller.esm.js
Due: prettier, eslint

[MIG] web_group_expand: Migration to 19.0
  web_group_expand/README.rst
  web_group_expand/__manifest__.py
  web_group_expand/static/description/index.html
  web_group_expand/static/src/xml/list_controller.xml
Due: prettier

Added translation using Weblate (Italian)
  web_group_expand/i18n/it.po
Due: none

Translated using Weblate (Turkish)
  web_notify/i18n/tr.po
Due: none

[ADD] web_date_format_numeric
  web_date_format_numeric/README.rst
  web_date_format_numeric/__init__.py
  web_date_format_numeric/__manifest__.py
  web_date_format_numeric/models/__init__.py
  web_date_format_numeric/models/ir_http.py
  web_date_format_numeric/models/res_lang.py
  web_date_format_numeric/pyproject.toml
  web_date_format_numeric/readme/CONFIGURE.md
  web_date_format_numeric/readme/CONTRIBUTORS.md
  web_date_format_numeric/readme/DESCRIPTION.md
  web_date_format_numeric/static/description/index.html
  web_date_format_numeric/static/src/views/fields/datetime/datetime_field.esm.js
  web_date_format_numeric/static/src/views/fields/datetime/list_datetime_field.esm.js
  web_date_format_numeric/static/src/views/fields/formatters.esm.js
  web_date_format_numeric/static/tests/views/fields/datetime_field.test.js
  web_date_format_numeric/static/tests/views/fields/formatters.test.js
  web_date_format_numeric/views/res_lang_views.xml
Due: prettier, eslint

[MIG] web_widget_bokeh_chart: Migration to 19.0
  requirements.txt
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/description/index.html
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_json_chart.esm.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.9.0.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.9.0.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.9.0.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.9.0.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.9.0.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.6.3.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.9.0.min.js
Due: prettier, eslint

[REF] web_company_color: simplify write code
  web_company_color/models/res_company.py
Due: none

[IMP] web_company_color: allow to set bottom border color of navbar
  web_company_color/models/res_company.py
  web_company_color/view/res_company.xml
Due: prettier

[IMP] web_company_color: test ignore_company_color context key
  web_company_color/tests/test_res_company.py
Due: none

[REF] web_widget_product_label_section_and_note: Refactor the code to allow reusing the components
  web_widget_product_label_section_and_note/README.rst
  web_widget_product_label_section_and_note/readme/CONFIGURE.md
  web_widget_product_label_section_and_note/readme/ROADMAP.md
  web_widget_product_label_section_and_note/static/description/index.html
  web_widget_product_label_section_and_note/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier, eslint

[UPD] Update web_group_expand.pot
  web_group_expand/i18n/web_group_expand.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_group_expand/README.rst
  web_group_expand/static/description/index.html
Due: none

[UPD] Update web_widget_product_label_section_and_note.pot
  web_widget_product_label_section_and_note/i18n/web_widget_product_label_section_and_note.pot
Due: none

[BOT] post-merge updates
  README.md
  web_widget_product_label_section_and_note/README.rst
  web_widget_product_label_section_and_note/__manifest__.py
  web_widget_product_label_section_and_note/static/description/index.html
Due: none

Update translation files
  web_widget_product_label_section_and_note/i18n/it.po
Due: none

[UPD] Update web_company_color.pot
  web_company_color/i18n/web_company_color.pot
Due: none
