Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[11.0][FIX] web_widget_bokeh_chart: fix grahs expanding outside the container element.
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/src/css/custom-bokeh.css
  web_widget_bokeh_chart/static/src/less/custom-bokeh.less
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[IMP] web_widget_bokeh_chart: pre-commit stuff
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/pyproject.toml
  web_widget_bokeh_chart/readme/CONTRIBUTORS.md
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
  web_widget_bokeh_chart/readme/CREDITS.md
  web_widget_bokeh_chart/readme/CREDITS.rst
  web_widget_bokeh_chart/readme/DESCRIPTION.md
  web_widget_bokeh_chart/readme/DESCRIPTION.rst
  web_widget_bokeh_chart/readme/INSTALL.md
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/readme/ROADMAP.md
  web_widget_bokeh_chart/readme/ROADMAP.rst
  web_widget_bokeh_chart/readme/USAGE.md
  web_widget_bokeh_chart/readme/USAGE.rst
  web_widget_bokeh_chart/static/description/index.html
Due: prettier

[UPD] README.rst
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/static/description/index.html
Due: none

web_widget_bokeh_chart 15.0.1.1.1
  web_widget_bokeh_chart/__manifest__.py
Due: none

[MIG] web_widget_bokeh_chart: Migration to 14.0
  web_widget_bokeh_chart/__manifest__.py
Due: none

[MIG] web_widget_bokeh_chart: Migration to 12.0
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__init__.py
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
  web_widget_bokeh_chart/readme/CREDITS.rst
  web_widget_bokeh_chart/readme/DESCRIPTION.rst
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/readme/USAGE.rst
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[FIX] Display bug web_widget_bokeh_chart
  web_widget_bokeh_chart/static/src/css/custom-bokeh.css
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[IMP] web_widget_bokeh_chart: Upgrade library version
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-1.1.0.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-1.1.0.css
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-1.1.0.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.3.1.min.js
  web_widget_bokeh_chart/static/src/scss/custom-bokeh.scss
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier

[UPD] Update web_widget_bokeh_chart.pot
  web_widget_bokeh_chart/i18n/web_widget_bokeh_chart.pot
Due: none

Added translation using Weblate (Italian)
  web_widget_bokeh_chart/i18n/it.po
Due: none

[15.0][MIG] web_widget_bokeh_chart
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/readme/CONTRIBUTORS.rst
  web_widget_bokeh_chart/readme/INSTALL.rst
  web_widget_bokeh_chart/readme/USAGE.rst
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-2.4.2.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.3.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-2.4.2.min.js
  web_widget_bokeh_chart/views/web_widget_bokeh_chart.xml
Due: prettier, eslint

web_widget_bokeh_chart 16.0.1.0.1
  web_widget_bokeh_chart/__manifest__.py
Due: none

[DOC] web_widget_bokeh_chart
  web_widget_bokeh_chart/readme/USAGE.rst
Due: none

[BOT] post-merge updates
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/static/description/index.html
Due: none

[MIG] web_widget_bokeh_chart: Migration to 17.0
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_json_chart.esm.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.1.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.4.1.min.js
  web_widget_bokeh_chart/static/src/xml/bokeh.xml
Due: prettier, eslint

[IMP] web_widget_bokeh_chart: pre-commit auto fixes
  requirements.txt
  web_widget_bokeh_chart/static/src/xml/bokeh.xml
Due: prettier

[18.0][MIG] web_widget_bokeh_chart: Migration to 18.0
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_json_chart.esm.js
Due: prettier, eslint

Revert
  web_widget_bokeh_chart/README.rst
  web_widget_bokeh_chart/__init__.py
  web_widget_bokeh_chart/__manifest__.py
  web_widget_bokeh_chart/i18n/it.po
  web_widget_bokeh_chart/i18n/web_widget_bokeh_chart.pot
  web_widget_bokeh_chart/i18n/zh_CN.po
  web_widget_bokeh_chart/pyproject.toml
  web_widget_bokeh_chart/readme/CONTRIBUTORS.md
  web_widget_bokeh_chart/readme/CREDITS.md
  web_widget_bokeh_chart/readme/DESCRIPTION.md
  web_widget_bokeh_chart/readme/INSTALL.md
  web_widget_bokeh_chart/readme/ROADMAP.md
  web_widget_bokeh_chart/readme/USAGE.md
  web_widget_bokeh_chart/static/description/example.png
  web_widget_bokeh_chart/static/description/icon.png
  web_widget_bokeh_chart/static/description/index.html
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_chart.esm.js
  web_widget_bokeh_chart/static/src/js/web_widget_bokeh_json_chart.esm.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-api-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-gl-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-mathjax-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-tables-3.4.1.min.js
  web_widget_bokeh_chart/static/src/lib/bokeh/bokeh-widgets-3.4.1.min.js
  web_widget_bokeh_chart/static/src/xml/bokeh.xml
Due: prettier, eslint

[UPD] README.rst
  web_dark_mode/README.rst
  web_dark_mode/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

Translated using Weblate (Croatian)
  web_dark_mode/i18n/hr.po
Due: none

Added translation using Weblate (Italian)
  web_dark_mode/i18n/it.po
Due: none

[MIG] web_dark_mode: Migration to 17.0
  web_dark_mode/README.rst
  web_dark_mode/__manifest__.py
  web_dark_mode/readme/CONTRIBUTORS.md
  web_dark_mode/static/description/index.html
  web_dark_mode/static/src/js/switch_item.esm.js
Due: prettier, eslint

Added translation using Weblate (French)
  web_dark_mode/i18n/fr.po
Due: none

Added translation using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

[BOT] post-merge updates
  web_dark_mode/README.rst
  web_dark_mode/__manifest__.py
  web_dark_mode/static/description/index.html
Due: none

[UPD] Update web_dark_mode.pot
  web_dark_mode/i18n/web_dark_mode.pot
Due: none

Translated using Weblate (Spanish (Argentina))
  web_dark_mode/i18n/es_AR.po
Due: none

Added translation using Weblate (Chinese (zh))
  web_dark_mode/i18n/zh.po
Due: none

[ADD] icon.png
  web_dark_mode/static/description/icon.png
Due: none

Translated using Weblate (Turkish)
  web_dark_mode/i18n/tr.po
Due: none

Translated using Weblate (Spanish)
  web_dark_mode/i18n/es.po
Due: none

[FIX] web_dark_mode: Fix uninstallation
  web_dark_mode/models/ir_http.py
Due: none
