Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_dialog_size js warnings
  web_responsive/__manifest__.py
Due: none

Added translation using Weblate (Persian)
  web_responsive/i18n/fa_IR.po
Due: none

Fix linter
  web_responsive/tests/test_res_users.py
Due: none

[FIX] web_responsive: Chrome Slow Scrolling * Update to iScoll bleeding edge to fix #741
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Performance when hide menus
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[MIG] web_responsive test to 11.0
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/__init__.py
Due: prettier, eslint

[FIX] Chatter Position
  web_responsive/static/src/js/web_responsive.js
  web_responsive/views/inherited_view_users_form_simple_modif.xml
Due: prettier, eslint

Web responsive menu improvements (#513)
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/views/web.xml
Due: prettier

[IMP] pre-commit run after update
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/document_viewer.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/views/assets.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[IMP] web_responsive: Menu wait for action
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

Added translation using Weblate (Persian)
  web_responsive/i18n/fa.po
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

[FIX] web_responsive: Change z-indexes * Rebalance z-indexes to fix overlay issue while still providing notification support
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
Due: prettier

[MIG] web_responsive: Migration to 14.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/css/kanban_view_mobile.scss
  web_responsive/static/src/css/search_view_mobile.scss
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/discuss.js
  web_responsive/static/src/js/kanban_renderer_mobile.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/attachment_viewer.xml
  web_responsive/static/src/xml/control_panel.xml
  web_responsive/static/src/xml/discuss.xml
  web_responsive/static/src/xml/document_viewer.xml
  web_responsive/static/src/xml/form_buttons.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/static/src/xml/search_panel.xml
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[FIX] web_responsive: Menu section overflow
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Bigger checkboxes in list view
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/description/index.html
  web_responsive/static/img/big_checkboxes.gif
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[MIG] web_responsive: Migration to 15.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/i18n/fa.po
  web_responsive/i18n/fa_IR.po
  web_responsive/i18n/fr.po
  web_responsive/models/res_users.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/apps_menu/apps_menu.xml
  web_responsive/static/src/components/attachment_viewer/attachment_viewer.esm.js
  web_responsive/static/src/components/attachment_viewer/attachment_viewer.scss
  web_responsive/static/src/components/attachment_viewer/attachment_viewer.xml
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/control_panel/control_panel.scss
  web_responsive/static/src/components/control_panel/control_panel.xml
  web_responsive/static/src/components/hotkey/hotkey.scss
  web_responsive/static/src/components/hotkey/hotkey.xml
  web_responsive/static/src/components/navbar/main_navbar.scss
  web_responsive/static/src/components/navbar/main_navbar.xml
  web_responsive/static/src/components/search_panel/search_panel.esm.js
  web_responsive/static/src/components/search_panel/search_panel.scss
  web_responsive/static/src/components/search_panel/search_panel.xml
  web_responsive/static/src/components/ui_context.esm.js
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/legacy/css/kanban_view_mobile.scss
  web_responsive/static/src/legacy/css/web_responsive.scss
  web_responsive/static/src/legacy/js/kanban_renderer_mobile.js
  web_responsive/static/src/legacy/js/web_responsive.js
  web_responsive/static/src/legacy/xml/form_buttons.xml
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/control_panel.xml
  web_responsive/static/src/xml/discuss.xml
  web_responsive/static/src/xml/menu.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/tests/test_res_users.py
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[10.0][IMP] web_responsive: Load default kanban view for small screen
  web_responsive/README.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Made chatter input & attachments scrollable
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[IMP] Improve responsiveness in large screens: don't let the icons separate too much from each other
  web_responsive/readme/CONTRIBUTORS.rst
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/xml/apps.xml
Due: prettier

[CLEAN] Comments
  web_responsive/models/inherited_res_users.py
Due: none

[IMP] web_responsive: AppMenu wait for load view
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Change edit accesskey * Change accesskey for `edit` in form view back to `e` to fix #587
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/form_view.xml
Due: prettier

Translated using Weblate (French (France))
  web_responsive/i18n/fr_FR.po
Due: none

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[IMP][11.0][web_responsive] Suggested changes (#978)
  web_responsive/models/__init__.py
  web_responsive/models/ir_http.py
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/form_view.less
  web_responsive/static/src/xml/form_view.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[IMP] web_responsive: Add known issue note about sticky
  web_responsive/README.rst
  web_responsive/readme/ROADMAP.rst
Due: none

[FIX] web_responsive: Complete search feature forward-porting
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/tests/js/web_responsive.js
Due: prettier, eslint

[MIG] web_responsive: Migrate to v12 and refactor
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__manifest__.py
  web_responsive/i18n/es.po
  web_responsive/i18n/web_responsive.pot
  web_responsive/models/__init__.py
  web_responsive/models/res_users.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/readme/USAGE.rst
  web_responsive/static/description/index.html
  web_responsive/static/lib/css/drawer.3.2.2.css
  web_responsive/static/lib/js/bililiteRange.2.6.js
  web_responsive/static/lib/js/drawer.3.2.2.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/lib/js/jquery.sendkeys.4.js
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/form_view.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/src/xml/app_drawer_menu_search.xml
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/__init__.py
  web_responsive/tests/test_ui.py
  web_responsive/views/assets.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: AppDrawer in Chromium
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

Update translation files
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/web_responsive.pot
Due: none

Update web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Support long title in form view
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[UPD] README.rst
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: fix hotkey combinations in a shortcut template
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/menu.xml
Due: prettier

black, isort
  web_responsive/__manifest__.py
  web_responsive/models/res_users.py
  web_responsive/tests/test_res_users.py
Due: none
