Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[MIG][REF] web_advanced_search: Rename, refactor, migrate
  web_advanced_search/README.rst
  web_advanced_search/__init__.py
  web_advanced_search/__manifest__.py
  web_advanced_search/i18n/web_advanced_search.pot
  web_advanced_search/readme/CONTRIBUTORS.rst
  web_advanced_search/readme/DESCRIPTION.rst
  web_advanced_search/readme/ROADMAP.rst
  web_advanced_search/readme/USAGE.rst
  web_advanced_search/static/src/css/web_advanced_search.less
  web_advanced_search/static/src/css/web_advanced_search_x2x.less
  web_advanced_search/static/src/js/human_domain.js
  web_advanced_search/static/src/js/web_advanced_search.js
  web_advanced_search/static/src/js/web_advanced_search_x2x.js
  web_advanced_search/static/src/xml/web_advanced_search.xml
  web_advanced_search/static/src/xml/web_advanced_search_x2x.xml
  web_advanced_search/views/templates.xml
Due: prettier, eslint

web_advanced_search 15.0.1.1.1
  web_advanced_search/__manifest__.py
Due: none

[FIX] web_advanced_search: display label name in partners search
  web_advanced_search/static/src/search/filter_menu/custom_filter_item.esm.js
Due: prettier, eslint

Added translation using Weblate (Polish)
  web_advanced_search/i18n/pl.po
Due: none

Translated using Weblate (Dutch (nl_NL))
  web_advanced_search/i18n/nl_NL.po
Due: none

[UPD] README.rst
  web_advanced_search/README.rst
  web_advanced_search/static/description/index.html
Due: none

Added translation using Weblate (Turkish)
  web_advanced_search/i18n/tr.po
Due: none

[FIX] web_advanced_search: recover support for m2m and o2m custom filter
  web_advanced_search/static/src/js/RecordPicker.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/custom_filter_item.esm.js
  web_advanced_search/static/src/search/filter_menu/custom_filter_item.xml
Due: prettier, eslint

[FIX] Compatibilize web_widget_domain_v11 with web_advanced_search_x2x
  web_advanced_search/__openerp__.py
  web_advanced_search/static/src/css/web_advanced_search_x2x.less
  web_advanced_search/static/src/js/web_advanced_search_x2x.js
  web_advanced_search/static/src/xml/web_advanced_search_x2x.xml
Due: prettier, eslint

Translated using Weblate (Dutch)
  web_advanced_search/i18n/nl.po
Due: none

web_advanced_search 13.0.1.0.2
  web_advanced_search/__manifest__.py
Due: none

web_advanced_search 14.0.1.0.1
  web_advanced_search/__manifest__.py
Due: none

Update translation files
  web_advanced_search/i18n/da.po
  web_advanced_search/i18n/de.po
  web_advanced_search/i18n/es.po
  web_advanced_search/i18n/fr.po
  web_advanced_search/i18n/hr.po
  web_advanced_search/i18n/it.po
  web_advanced_search/i18n/nl.po
  web_advanced_search/i18n/nl_NL.po
  web_advanced_search/i18n/pl.po
  web_advanced_search/i18n/pt.po
  web_advanced_search/i18n/pt_BR.po
  web_advanced_search/i18n/zh_CN.po
Due: none

Translated using Weblate (French)
  web_advanced_search/i18n/fr.po
Due: none

Translated using Weblate (Dutch)
  web_advanced_search/i18n/nl_NL.po
Due: none

Translated using Weblate (Italian)
  web_advanced_search/i18n/it.po
Due: none

[FIX] web_advanced_search - Prevent closure dropdown
  web_advanced_search/static/src/js/RecordPicker.esm.js
Due: prettier, eslint

[MIG] web_advanced_search_x2x: Migrated to 10.0
  web_advanced_search/README.rst
  web_advanced_search/__openerp__.py
  web_advanced_search/static/src/js/web_advanced_search_x2x.js
  web_advanced_search/static/src/xml/web_advanced_search_x2x.xml
Due: prettier, eslint

[MIG] web_advanced_search: Migrate to v12
  web_advanced_search/README.rst
  web_advanced_search/__manifest__.py
  web_advanced_search/readme/ROADMAP.rst
  web_advanced_search/static/description/index.html
  web_advanced_search/static/src/css/web_advanced_search.less
  web_advanced_search/static/src/js/web_advanced_search.js
  web_advanced_search/static/src/xml/web_advanced_search.xml
  web_advanced_search/views/templates.xml
Due: prettier, eslint

[IMP] web_advanced_search: Restore debug mode
  web_advanced_search/README.rst
  web_advanced_search/readme/USAGE.rst
  web_advanced_search/static/description/index.html
  web_advanced_search/static/img/debug_mode.png
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

[MIG] web_advanced_search: Migration to 18.0
  web_advanced_search/README.rst
  web_advanced_search/__manifest__.py
  web_advanced_search/pyproject.toml
  web_advanced_search/readme/CONTRIBUTORS.md
  web_advanced_search/readme/CONTRIBUTORS.rst
  web_advanced_search/readme/DESCRIPTION.md
  web_advanced_search/readme/HISTORY.md
  web_advanced_search/readme/HISTORY.rst
  web_advanced_search/readme/ROADMAP.md
  web_advanced_search/readme/ROADMAP.rst
  web_advanced_search/readme/USAGE.md
  web_advanced_search/readme/USAGE.rst
  web_advanced_search/static/description/index.html
  web_advanced_search/static/src/js/DomainSelector.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_pwa_customize/README.rst
  web_pwa_customize/static/description/index.html
Due: none

[ADD] web_pwa_customize: New module
  web_pwa_customize/README.rst
  web_pwa_customize/__init__.py
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/__init__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/i18n/es.po
  web_pwa_customize/i18n/web_pwa_customize.pot
  web_pwa_customize/models/__init__.py
  web_pwa_customize/models/res_config_settings.py
  web_pwa_customize/pyproject.toml
  web_pwa_customize/readme/CONFIGURE.md
  web_pwa_customize/readme/CONTEXT.md
  web_pwa_customize/readme/CONTRIBUTORS.md
  web_pwa_customize/readme/DESCRIPTION.md
  web_pwa_customize/static/description/icon.png
  web_pwa_customize/static/description/index.html
  web_pwa_customize/tests/__init__.py
  web_pwa_customize/tests/test_web_pwa_customize.py
  web_pwa_customize/views/res_config_settings_views.xml
Due: prettier

Added translation using Weblate (Italian)
  web_pwa_customize/i18n/it.po
Due: none

[MIG] web_pwa_customize: Migration to 18.0
  web_pwa_customize/README.rst
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/static/description/index.html
Due: none

[UPD] Update web_pwa_customize.pot
  web_pwa_customize/i18n/web_pwa_customize.pot
Due: none

[IMP] web_pwa_customize: pre-commit auto fixes
  web_pwa_customize/README.rst
  web_pwa_customize/__manifest__.py
  web_pwa_customize/static/description/index.html
Due: none

[MIG] web_pwa_customize: Migration to 19.0
  web_pwa_customize/models/res_config_settings.py
  web_pwa_customize/tests/test_web_pwa_customize.py
Due: none

[MIG] web_tree_many2one_clickable: Migration to 19.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
Due: prettier, eslint

[IMP] web_refresh_from_backend: pre-commit auto fixes
  web_refresh_from_backend/pyproject.toml
Due: prettier

[ADD]web_refresh_from_backend: Refresh views from backend
  web_refresh_from_backend/README.rst
  web_refresh_from_backend/__init__.py
  web_refresh_from_backend/__manifest__.py
  web_refresh_from_backend/i18n/web_refresh_from_backend.pot
  web_refresh_from_backend/models/__init__.py
  web_refresh_from_backend/models/res_users.py
  web_refresh_from_backend/readme/CONTRIBUTORS.md
  web_refresh_from_backend/readme/DESCRIPTION.md
  web_refresh_from_backend/readme/USAGE.md
  web_refresh_from_backend/static/description/icon.png
  web_refresh_from_backend/static/description/index.html
  web_refresh_from_backend/static/src/views/form/form_controller_patch.esm.js
  web_refresh_from_backend/static/src/views/kanban/kanban_controller_patch.esm.js
  web_refresh_from_backend/static/src/views/list/list_controller_patch.esm.js
  web_refresh_from_backend/tests/__init__.py
  web_refresh_from_backend/tests/test_reload_views.py
Due: prettier, eslint

[MIG] web_refresh_from_backend: Migration to 17.0
  web_refresh_from_backend/README.rst
  web_refresh_from_backend/__manifest__.py
  web_refresh_from_backend/models/res_users.py
  web_refresh_from_backend/static/description/index.html
  web_refresh_from_backend/static/src/views/form/form_controller_patch.esm.js
  web_refresh_from_backend/static/src/views/kanban/kanban_controller_patch.esm.js
  web_refresh_from_backend/static/src/views/list/list_controller_patch.esm.js
Due: prettier, eslint

[IMP] web_refresh_from_backend U
  web_refresh_from_backend/static/src/views/form/form_controller_patch.esm.js
  web_refresh_from_backend/static/src/views/kanban/kanban_controller_patch.esm.js
  web_refresh_from_backend/static/src/views/list/list_controller_patch.esm.js
  web_refresh_from_backend/tests/test_reload_views.py
Due: prettier, eslint

[UPD] Update web_font_size_report_layout.pot
  web_font_size_report_layout/i18n/web_font_size_report_layout.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_font_size_report_layout/README.rst
  web_font_size_report_layout/static/description/icon.png
  web_font_size_report_layout/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_font_size_report_layout/i18n/it.po
Due: none

[FIX] web_timeline: set date_stop to end of day for Date fields
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_session_auto_close/i18n/it.po
Due: none

[ADD] web_session_auto_close
  web_session_auto_close/README.rst
  web_session_auto_close/__init__.py
  web_session_auto_close/__manifest__.py
  web_session_auto_close/readme/CONTRIBUTORS.rst
  web_session_auto_close/readme/DESCRIPTION.rst
  web_session_auto_close/readme/HISTORY.rst
  web_session_auto_close/readme/USAGE.rst
  web_session_auto_close/static/description/icon.png
  web_session_auto_close/static/description/index.html
  web_session_auto_close/static/src/js/bus_service.js
  web_session_auto_close/static/src/js/local_storage_mixin.js
  web_session_auto_close/static/src/js/session.js
  web_session_auto_close/static/src/js/web_client.js
  web_session_auto_close/views/assets_backend.xml
  web_session_auto_close/views/assets_common.xml
Due: prettier, eslint

[UPD] Update web_session_auto_close.pot
  web_session_auto_close/i18n/web_session_auto_close.pot
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

