Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Added translation using Weblate (Galician)
  web_sheet_full_width/i18n/gl.po
Due: none

[UPD] Update web_sheet_full_width.pot
  web_sheet_full_width/i18n/web_sheet_full_width.pot
Due: none

Added translation using Weblate (Spanish)
  web_sheet_full_width/i18n/es.po
Due: none

[MIG] Rename manifest files
  web_sheet_full_width/__manifest__.py
Due: none

web_sheet_full_width 14.0.1.0.1
  web_sheet_full_width/__manifest__.py
Due: none

Added translation using Weblate (Italian)
  web_sheet_full_width/i18n/it.po
Due: none

[MIG] web_sheet_full_width: Migration to 13.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/static/src/css/web_sheet_full_width.less
Due: prettier

[13.0][MIG] web_sheet_full_width: * less -> scss * fragment readme + add a pointer to web_responsive
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/readme/CONTRIBUTORS.rst
  web_sheet_full_width/readme/DESCRIPTION.rst
  web_sheet_full_width/static/description/index.html
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
  web_sheet_full_width/templates/assets.xml
Due: prettier

[MIG] web_sheet_full_width: Migration to 16.0
  web_sheet_full_width/__manifest__.py
Due: none

[UPD] prefix versions with 8.0
  web_sheet_full_width/__openerp__.py
Due: none

[MIG] web_sheet_full_width: migration to 11.0.
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/templates/assets.xml
  web_sheet_full_width/view/qweb.xml
Due: prettier

[19.0][MIG] web_sheet_full_width: Migration to 19.0
  web_sheet_full_width/README.rst
  web_sheet_full_width/__manifest__.py
  web_sheet_full_width/pyproject.toml
  web_sheet_full_width/readme/CONTRIBUTORS.md
  web_sheet_full_width/readme/CONTRIBUTORS.rst
  web_sheet_full_width/readme/DESCRIPTION.md
  web_sheet_full_width/readme/DESCRIPTION.rst
  web_sheet_full_width/static/description/index.html
  web_sheet_full_width/static/src/scss/web_sheet_full_width.scss
Due: prettier

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[ADD] web_list_record_popup: new module
  web_list_record_popup/README.rst
  web_list_record_popup/__init__.py
  web_list_record_popup/__manifest__.py
  web_list_record_popup/models/__init__.py
  web_list_record_popup/models/web_list_record_popup_mixin.py
  web_list_record_popup/pyproject.toml
  web_list_record_popup/readme/CONTRIBUTORS.md
  web_list_record_popup/readme/DESCRIPTION.md
  web_list_record_popup/readme/USAGE.md
  web_list_record_popup/static/description/index.html
  web_list_record_popup/static/src/js/list_renderer_with_button.esm.js
  web_list_record_popup/static/tests/list_renderer_with_button.test.js
Due: prettier, eslint

Update __manifest__.py
  web_refresher/__manifest__.py
Due: none

Translated using Weblate (Spanish)
  web_quick_start_screen/i18n/es.po
Due: none

Translated using Weblate (Italian)
  web_quick_start_screen/i18n/it.po
Due: none

[ADD] web_quick_start_screen: New module
  web_quick_start_screen/README.rst
  web_quick_start_screen/__init__.py
  web_quick_start_screen/__manifest__.py
  web_quick_start_screen/demo/quick_screen_action_demo_data.xml
  web_quick_start_screen/i18n/es.po
  web_quick_start_screen/i18n/web_quick_start_screen.pot
  web_quick_start_screen/models/__init__.py
  web_quick_start_screen/models/quick_start_screen.py
  web_quick_start_screen/models/quick_start_screen_action.py
  web_quick_start_screen/models/res_users.py
  web_quick_start_screen/readme/CONFIGURE.md
  web_quick_start_screen/readme/CONTEXT.md
  web_quick_start_screen/readme/CONTRIBUTORS.md
  web_quick_start_screen/readme/DESCRIPTION.md
  web_quick_start_screen/readme/ROADMAP.md
  web_quick_start_screen/readme/USAGE.md
  web_quick_start_screen/security/ir.model.access.csv
  web_quick_start_screen/security/security.xml
  web_quick_start_screen/static/description/icon.png
  web_quick_start_screen/static/description/icon.svg
  web_quick_start_screen/static/description/index.html
  web_quick_start_screen/static/src/js/kanban_controller.esm.js
  web_quick_start_screen/static/src/scss/quick_start_screen.scss
  web_quick_start_screen/tests/__init__.py
  web_quick_start_screen/tests/test_web_quick_start_screen.py
  web_quick_start_screen/views/quick_screen_action_view.xml
  web_quick_start_screen/views/quick_start_screen_views.xml
  web_quick_start_screen/views/res_users_views.xml
Due: prettier, eslint

[MIG] web_quick_start_screen: Migration to 18.0
  web_quick_start_screen/__manifest__.py
  web_quick_start_screen/models/quick_start_screen.py
  web_quick_start_screen/models/quick_start_screen_action.py
  web_quick_start_screen/static/src/js/kanban_controller.esm.js
  web_quick_start_screen/static/src/js/start_screen_control_panel.xml
  web_quick_start_screen/views/quick_screen_action_view.xml
  web_quick_start_screen/views/quick_start_screen_views.xml
Due: prettier, eslint

[IMP] web_quick_start_screen: pre-commit auto fixes
  web_quick_start_screen/README.rst
  web_quick_start_screen/models/quick_start_screen_action.py
  web_quick_start_screen/pyproject.toml
  web_quick_start_screen/static/description/index.html
  web_quick_start_screen/views/quick_screen_action_view.xml
Due: prettier

[BOT] post-merge updates
  web_quick_start_screen/README.rst
  web_quick_start_screen/static/description/index.html
Due: none

[UPD] Update web_quick_start_screen.pot
  web_quick_start_screen/i18n/web_quick_start_screen.pot
Due: none

Added translation using Weblate (Italian)
  web_quick_start_screen/i18n/it.po
Due: none

[IMP] web_timeline: optional dependency arrows toggle
  web_timeline/__manifest__.py
  web_timeline/readme/USAGE.md
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.xml
  web_timeline/static/tests/web_timeline_view_tests.esm.js
Due: prettier, eslint

[FIX] web_calendar_slot_duration: remove empty pt_BR.po
  web_calendar_slot_duration/i18n/pt_BR.po
Due: none

[FIX] web_refresher: remove broken pt_BR.po stub
  web_refresher/i18n/pt_BR.po
Due: none

feat(desktop only): adds new module intended to hide desktop-only menus on small screens
  web_action_desktop_only/README.rst
  web_action_desktop_only/__init__.py
  web_action_desktop_only/__manifest__.py
  web_action_desktop_only/i18n/web_action_desktop_only.pot
  web_action_desktop_only/models/__init__.py
  web_action_desktop_only/models/ir_actions_actions.py
  web_action_desktop_only/models/ir_ui_menu.py
  web_action_desktop_only/pyproject.toml
  web_action_desktop_only/readme/CONTRIBUTORS.md
  web_action_desktop_only/readme/CREDITS.md
  web_action_desktop_only/readme/DESCRIPTION.md
  web_action_desktop_only/readme/HISTORY.md
  web_action_desktop_only/readme/INSTALL.md
  web_action_desktop_only/readme/USAGE.md
  web_action_desktop_only/static/description/icon.png
  web_action_desktop_only/static/description/index.html
  web_action_desktop_only/static/src/js/web_action_desktop_only.esm.js
  web_action_desktop_only/tests/__init__.py
  web_action_desktop_only/tests/test_desktop_only.py
  web_action_desktop_only/views/ir_actions_views.xml
Due: prettier, eslint

[UPD] Update web_widget_url_advanced.pot
  web_widget_url_advanced/i18n/web_widget_url_advanced.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/static/description/index.html
Due: none

[UPD] Update web_notify.pot
  web_notify/i18n/web_notify.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_notify/README.rst
  web_notify/static/description/index.html
Due: none

[ADD] web_timeline_gantt_ux: Enterprise-style Gantt UX for timeline views
  web_timeline_gantt_ux/README.rst
  web_timeline_gantt_ux/__init__.py
  web_timeline_gantt_ux/__manifest__.py
  web_timeline_gantt_ux/pyproject.toml
  web_timeline_gantt_ux/readme/CONTRIBUTORS.md
  web_timeline_gantt_ux/readme/DESCRIPTION.md
  web_timeline_gantt_ux/readme/ROADMAP.md
  web_timeline_gantt_ux/readme/USAGE.md
  web_timeline_gantt_ux/static/description/gallery_fanout.png
  web_timeline_gantt_ux/static/description/gallery_handle.png
  web_timeline_gantt_ux/static/description/gallery_overview.png
  web_timeline_gantt_ux/static/description/gallery_status_colors.png
  web_timeline_gantt_ux/static/description/icon.png
  web_timeline_gantt_ux/static/description/index.html
  web_timeline_gantt_ux/static/src/core/arch_parser_patch.esm.js
  web_timeline_gantt_ux/static/src/core/bezier.esm.js
  web_timeline_gantt_ux/static/src/dependency_edit/controller_dep_patch.esm.js
  web_timeline_gantt_ux/static/src/dependency_edit/dependency_edit.scss
  web_timeline_gantt_ux/static/src/dependency_edit/dependency_link_dragger.esm.js
  web_timeline_gantt_ux/static/src/dependency_edit/move_cascade.esm.js
  web_timeline_gantt_ux/static/src/dependency_edit/move_cascade_dialog.xml
  web_timeline_gantt_ux/static/src/dependency_edit/move_cascade_patch.esm.js
  web_timeline_gantt_ux/static/src/dependency_edit/renderer_dep_patch.esm.js
  web_timeline_gantt_ux/static/src/gantt_layout/canvas_defs.xml
  web_timeline_gantt_ux/static/src/gantt_layout/canvas_patch.esm.js
  web_timeline_gantt_ux/static/src/gantt_layout/controller_layout_patch.esm.js
  web_timeline_gantt_ux/static/src/gantt_layout/gantt_theme.scss
  web_timeline_gantt_ux/static/src/gantt_layout/model_patch.esm.js
  web_timeline_gantt_ux/static/src/gantt_layout/renderer_layout_patch.esm.js
  web_timeline_gantt_ux/static/tests/arch_parser.test.js
  web_timeline_gantt_ux/static/tests/bezier.test.js
  web_timeline_gantt_ux/static/tests/controller_add.test.js
  web_timeline_gantt_ux/static/tests/controller_move.test.js
  web_timeline_gantt_ux/static/tests/dragger_validate.test.js
  web_timeline_gantt_ux/static/tests/gantt_groups.test.js
  web_timeline_gantt_ux/static/tests/model_remap.test.js
  web_timeline_gantt_ux/static/tests/move_cascade.test.js
  web_timeline_gantt_ux/static/tests/write_dependency.test.js
  web_timeline_gantt_ux/tests/__init__.py
  web_timeline_gantt_ux/tests/test_module.py
Due: prettier, eslint

[FIX] image path
  web_widget_plotly_chart/readme/DESCRIPTION.rst
Due: none

[UPD] README.rst
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/static/description/index.html
Due: none

[ADD] icon.png
  web_widget_plotly_chart/static/description/icon.png
Due: none

[UPD] Update web_widget_plotly_chart.pot
  web_widget_plotly_chart/i18n/web_widget_plotly_chart.pot
Due: none

[12.0][NEW] web_widget_plotly_chart
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__init__.py
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/readme/CONTRIBUTORS.rst
  web_widget_plotly_chart/readme/CREDITS.rst
  web_widget_plotly_chart/readme/DESCRIPTION.rst
  web_widget_plotly_chart/readme/INSTALL.rst
  web_widget_plotly_chart/readme/USAGE.rst
  web_widget_plotly_chart/static/description/example.png
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/lib/plotly/plotly-latest.min.js
  web_widget_plotly_chart/static/src/js/widget_plotly.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

