Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Update translation files
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/web_responsive.pot
Due: none

[IMP] web_responsive: chatter width
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[FIX] web_responsive: Skip re-search when not writing
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[CLEAN] Comments
  web_responsive/models/inherited_res_users.py
Due: none

[FIX] web_responsive: Complete search feature forward-porting
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/tests/js/web_responsive.js
Due: prettier, eslint

[IMP] Code
  web_responsive/models/inherited_res_users.py
Due: none

[IMP] web_responsive: Add search feature (#838)
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/lib/css/drawer.3.2.2.css
  web_responsive/static/lib/js/bililiteRange.2.6.js
  web_responsive/static/lib/js/drawer.3.2.2.js
  web_responsive/static/lib/js/jquery.sendkeys.4.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/xml/app_drawer_menu_search.xml
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: Chrome Slow Scrolling * Update to iScoll bleeding edge to fix #741
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX][11.0][web_responsive] Views without sheet
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: Menu Height on Init * Add a call to the window resize method during init to fix OCA#773
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] Sticky Statusbar
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: Close AppDrawer
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] mail_tracking: Changed form statusbar z-index
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

New style in apps menu
  web_responsive/__manifest__.py
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/img/home-menu-bg-overlay.svg
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
Due: prettier, eslint

[FIX] web_responsive: Other minor fixes * Add Tecnativa as author * Remove untestable JS method * Rename to web_responsive
  web_responsive/README.rst
  web_responsive/__init__.py
  web_responsive/__openerp__.py
  web_responsive/static/description/icon.png
  web_responsive/static/lib/css/drawer.3.2.0.css
  web_responsive/static/lib/js/drawer.3.2.0.js
  web_responsive/static/lib/js/iscroll-probe.5.2.0.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/less/main.less
  web_responsive/static/src/less/navbar.less
  web_responsive/static/src/less/variables.less
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/test_ui.py
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[IMP] web_responsive: AppMenu wait for load view
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: Allow searching apps in mobile Chrome
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
Due: prettier, eslint

black, isort
  web_responsive/__manifest__.py
  web_responsive/models/res_users.py
  web_responsive/tests/test_res_users.py
Due: none

[FIX] web_responsive: Change AppDrawer close method
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Support long title in form view
  web_responsive/static/src/css/web_responsive.scss
Due: prettier

[IMP] web_responsive: Performance when hide menus
  web_responsive/__manifest__.py
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[FIX] web_responsive: AppDrawer Discard
  web_responsive/README.rst
  web_responsive/static/src/js/web_responsive.js
Due: prettier, eslint

[IMP] pre-commit run after update
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/document_viewer.xml
  web_responsive/static/src/xml/form_view.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/views/assets.xml
  web_responsive/views/res_users.xml
  web_responsive/views/web.xml
Due: prettier, eslint

Form image editing controls always present
  web_responsive/static/src/less/form_view.less
Due: prettier

[FIX] web_responsive: fix hotkey combinations in a shortcut template
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/menu.xml
Due: prettier

[15.0][FIX] Fix problem of blank page when using web_responsive
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier, eslint

[FIX] web_responsive: fix bug test ESLint
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

[16.0][FIX] web_responsive: Fixed full-screen apps menu
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

Translated using Weblate (Polish)
  web_responsive/i18n/pl.po
Due: none

web_responsive 15.0.1.1.6
  web_responsive/__manifest__.py
Due: none

Translated using Weblate (French (France))
  web_responsive/i18n/fr_FR.po
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

Added translation using Weblate (Italian)
  web_responsive/i18n/it.po
Due: none

[16.0][web_responsive] refactor: Update web_responsive.scss
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

Translated using Weblate (Portuguese (Brazil))
  web_responsive/i18n/pt_BR.po
Due: none

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

web_responsive 15.0.1.1.5
  web_responsive/__manifest__.py
Due: none

[IMP] web_responsive: Remove z and x hotkeys
  web_responsive/static/src/components/hotkey/hotkey.xml
Due: prettier
