Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[BOT] post-merge updates
  README.md
  web_company_color/README.rst
  web_company_color/__manifest__.py
  web_company_color/static/description/index.html
Due: none

Update translation files
  web_company_color/i18n/ca.po
  web_company_color/i18n/de.po
  web_company_color/i18n/es.po
  web_company_color/i18n/fr.po
  web_company_color/i18n/hr.po
  web_company_color/i18n/it.po
  web_company_color/i18n/nl.po
  web_company_color/i18n/pt.po
  web_company_color/i18n/zh_CN.po
Due: none

[18.0][FIX] web_m2x_options_manager: fix create edit options
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
Due: prettier

Translated using Weblate (Italian)
  web_company_color/i18n/it.po
Due: none

[FIX] web_company_color: colors not changed
  web_company_color/models/res_company.py
  web_company_color/tests/test_res_company.py
Due: none

[FIX] web_diagram: fix qunit test asset injection for Odoo 14
  web_diagram/views/web_diagram_templates.xml
Due: prettier

[FIX] web_diagram: register diagram as valid ir.ui.view type
  web_diagram/models/__init__.py
  web_diagram/models/ir_ui_view.py
Due: none

[FIX] web_diagram: validate node/arrow fields against their own model
  web_diagram/models/ir_ui_view.py
Due: none

[FIX] web_diagram: fix BasicView field processing for Odoo 14
  web_diagram/static/src/js/diagram_view.js
Due: prettier, eslint

[FIX] web_diagram: restore graph_get removed in Odoo 14
  web_diagram/models/ir_ui_view.py
Due: none

[FIX] web_diagram: bundle graph layout class removed from odoo.tools
  web_diagram/models/ir_ui_view.py
  web_diagram/tools/__init__.py
  web_diagram/tools/graph.py
Due: none

[MIG] web_diagram: migrate asset declarations to Odoo 15
  web_diagram/__manifest__.py
  web_diagram/views/web_diagram_templates.xml
Due: prettier

[FIX] web_diagram: adapt view postprocessing for Odoo 15
  web_diagram/models/ir_ui_view.py
Due: none

[FIX] web_diagram: javascript change parameter to get id object
  web_diagram/static/src/js/diagram_model.js
Due: prettier, eslint

[MIG] web_diagram: migrate JS and assets to Odoo 16
  web_diagram/__manifest__.py
  web_diagram/controllers/main.py
  web_diagram/static/src/js/diagram_controller.js
  web_diagram/static/src/js/diagram_model.js
  web_diagram/static/src/js/diagram_renderer.js
  web_diagram/static/src/js/diagram_view.js
  web_diagram/static/src/js/view_registry.js
  web_diagram/static/src/xml/base_diagram.xml
Due: prettier, eslint

[ADD] web_diagram: add readme documentation
  web_diagram/readme/CONFIGURE.rst
  web_diagram/readme/CONTRIBUTORS.rst
  web_diagram/readme/DESCRIPTION.rst
  web_diagram/readme/DEVELOPER.rst
  web_diagram/readme/ROADMAP.rst
  web_diagram/readme/USAGE.rst
Due: none
