Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[UPD] README.rst
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

Added translation using Weblate (Chinese (zh))
  web_environment_ribbon/i18n/zh.po
Due: none

Added translation using Weblate (Catalan)
  web_environment_ribbon/i18n/ca.po
Due: none

[IMP] web_environment_ribbon: hide the ribbon when navigation is in use
  web_environment_ribbon/static/src/css/ribbon.css
Due: prettier

Translated using Weblate (German)
  web_environment_ribbon/i18n/de.po
Due: none

Translated using Weblate (Croatian)
  web_environment_ribbon/i18n/hr.po
Due: none

[UPD] Update web_environment_ribbon.pot
  web_environment_ribbon/i18n/web_environment_ribbon.pot
Due: none

[IMP] pre-commit run after update
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/src/css/ribbon.css
  web_environment_ribbon/static/src/js/ribbon.js
  web_environment_ribbon/view/base_view.xml
Due: prettier, eslint

[FIX] web_environment_ribbon js warnings
  web_environment_ribbon/static/src/js/ribbon.js
Due: prettier, eslint

[MIG] web_environment_ribbon: Migration to 15.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/tests/test_environment_ribbon_data.py
  web_environment_ribbon/view/base_view.xml
Due: prettier

[17.0][IMP] Avoid WARNING odoodb_test py.warnings: /odoo/src/odoo/addons/base/models/ir_module.py:178: DeprecationWarning: XML declarations in HTML module descriptions are deprecated since Odoo 17
  web_environment_ribbon/static/description/index.html
Due: none

[IMP] web_environment_ribbon: pre-commit stuff
  web_environment_ribbon/README.rst
  web_environment_ribbon/models/web_environment_ribbon_backend.py
  web_environment_ribbon/pyproject.toml
  web_environment_ribbon/readme/CONFIGURE.md
  web_environment_ribbon/readme/CONFIGURE.rst
  web_environment_ribbon/readme/CONTRIBUTORS.md
  web_environment_ribbon/readme/CONTRIBUTORS.rst
  web_environment_ribbon/readme/DESCRIPTION.md
  web_environment_ribbon/readme/DESCRIPTION.rst
  web_environment_ribbon/readme/USAGE.md
  web_environment_ribbon/readme/USAGE.rst
  web_environment_ribbon/static/description/index.html
  web_environment_ribbon/tests/test_environment_ribbon_data.py
Due: prettier

[BOT] post-merge updates
  web_environment_ribbon/README.rst
  web_environment_ribbon/static/description/index.html
Due: none

Added translation using Weblate (Danish)
  web_environment_ribbon/i18n/da.po
Due: none

[BOT] post-merge updates
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
Due: none

[18.0][FIX]web_enviroment_ribbon: hide ribbon by default
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

[UPD] dot-files; remove obsolete declarations of browser globals
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

[MIG] web_environment_ribbon: Migration to 19.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
Due: none

Update translation files
  web_environment_ribbon/i18n/hr.po
  web_environment_ribbon/i18n/sl.po
Due: none

Translated using Weblate (Swedish)
  web_environment_ribbon/i18n/sv.po
Due: none

[IMP] web_environment_ribbon : improve Readme / Configure
  web_environment_ribbon/readme/CONFIGURE.md
  web_environment_ribbon/static/description/configure_1.png
Due: none

[MIG] web_environment_ribbon: Migration to 18.0
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

Translated using Weblate (Slovenian)
  web_environment_ribbon/i18n/sl.po
Due: none

Fix 'document' is not defined [no-undef] lint in web_environment_ribbon
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

[IMP] remove @odoo-module from js assets in web_environment_ribbon
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.esm.js
Due: prettier, eslint

Added translation using Weblate (Swedish)
  web_environment_ribbon/i18n/sv.po
Due: none

Translated using Weblate (Danish)
  web_environment_ribbon/i18n/da.po
Due: none

[IMP] web_environment_ribbon: pre-commit auto fixes
  web_environment_ribbon/README.rst
  web_environment_ribbon/data/ribbon_data.xml
  web_environment_ribbon/static/description/index.html
Due: prettier

Added translation using Weblate (Croatian)
  web_disable_export_group/i18n/hr.po
Due: none

Added translation using Weblate (Slovenian)
  web_disable_export_group/i18n/sl.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

