Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[MIG] web_widget_url_advanced: Migration to 19.0
  web_widget_url_advanced/README.rst
  web_widget_url_advanced/__manifest__.py
  web_widget_url_advanced/static/description/index.html
Due: none

[18.0][ADD] web_backend_action: New Module
  web_backend_action/README.rst
  web_backend_action/__init__.py
  web_backend_action/__manifest__.py
  web_backend_action/models/__init__.py
  web_backend_action/models/res_users.py
  web_backend_action/pyproject.toml
  web_backend_action/readme/CONTRIBUTORS.md
  web_backend_action/readme/DESCRIPTION.md
  web_backend_action/readme/INSTALL.md
  web_backend_action/readme/USAGE.md
  web_backend_action/static/description/icon.png
  web_backend_action/static/description/index.html
  web_backend_action/static/src/js/services/backend_action_service.esm.js
Due: prettier, eslint

[16.0][MIG] web_backend_action: Backport migration from 18.0
  setup/web_backend_action/odoo/addons/web_backend_action
  setup/web_backend_action/setup.py
  web_backend_action/README.rst
  web_backend_action/__manifest__.py
  web_backend_action/models/res_users.py
  web_backend_action/pyproject.toml
  web_backend_action/static/description/index.html
  web_backend_action/static/src/js/services/backend_action_service.esm.js
Due: prettier, eslint

[ADD] web_field_reference_domain
  setup/web_field_reference_domain/odoo/addons/web_field_reference_domain
  setup/web_field_reference_domain/setup.py
  web_field_reference_domain/README.rst
  web_field_reference_domain/__init__.py
  web_field_reference_domain/__manifest__.py
  web_field_reference_domain/readme/CONTRIBUTORS.rst
  web_field_reference_domain/readme/DESCRIPTION.rst
  web_field_reference_domain/readme/ROADMAP.rst
  web_field_reference_domain/readme/USAGE.rst
  web_field_reference_domain/static/description/index.html
  web_field_reference_domain/static/src/js/basic_model.js
  web_field_reference_domain/static/src/js/relational_fields.js
  web_field_reference_domain/templates/assets.xml
Due: prettier, eslint

fixup! [MIG] web_ir_actions_act_window_message: Migration to 19.0
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_msg_component.esm.js
Due: prettier, eslint

Added translation using Weblate (Japanese)
  web_hide_user_menu_item/i18n/ja.po
Due: none

fixup! [12.0][ADD] web_translate_dialog: remove hidden field from wizzard
  web_translate_dialog/static/src/js/web_translate_dialog.js
Due: prettier, eslint

Add module web_ir_actions_act_multi
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__init__.py
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/static/description/icon.png
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[UPD] Brainbean Apps => CorporateHub
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/es.po
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/static/description/index.html
Due: none

[FIX] apply and respect pre-commit hooks
  web_ir_actions_act_multi/__manifest__.py
Due: none

[MIG] web_ir_actions_act_multi: Migration to 18.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/security/ir.model.access.csv
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 16.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/es.po
  web_ir_actions_act_multi/i18n/it.po
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/static/description/index.html
Due: none

[IMP] web_ir_actions_act_multi: pre-commit auto fixes
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/models/ir_model.py
  web_ir_actions_act_multi/pyproject.toml
  web_ir_actions_act_multi/readme/CONTRIBUTORS.md
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/DESCRIPTION.md
  web_ir_actions_act_multi/readme/DESCRIPTION.rst
  web_ir_actions_act_multi/readme/USAGE.md
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 12.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/zh_CN.po
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/DESCRIPTION.rst
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 15.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__init__.py
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/models/__init__.py
  web_ir_actions_act_multi/models/ir_actions.py
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/security/ir.model.access.csv
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[IMP] web_ir_actions_act_multi: pre-commit auto fixes
  web_ir_actions_act_multi/__manifest__.py
Due: none

[MIG] web_ir_actions_act_multi: Migration to 13.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[IMP] web_ir_actions_act_multi: black, isort
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 19.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/readme/CONTRIBUTORS.md
  web_ir_actions_act_multi/static/description/index.html
Due: none

[ADD] web_widget_remaining_days_exact_date: New module to show exact date when remaining days shown
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/__init__.py
  web_widget_remaining_days_exact_date/__manifest__.py
  web_widget_remaining_days_exact_date/readme/CONTRIBUTORS.rst
  web_widget_remaining_days_exact_date/readme/DESCRIPTION.rst
  web_widget_remaining_days_exact_date/readme/USAGE.rst
  web_widget_remaining_days_exact_date/static/description/index.html
  web_widget_remaining_days_exact_date/static/src/remaining_days/remaining_days.esm.js
Due: prettier, eslint

[IMP] web_widget_remaining_days_exact_date: pre-commit auto fixes
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/pyproject.toml
  web_widget_remaining_days_exact_date/readme/CONTRIBUTORS.md
  web_widget_remaining_days_exact_date/readme/CONTRIBUTORS.rst
  web_widget_remaining_days_exact_date/readme/DESCRIPTION.md
  web_widget_remaining_days_exact_date/readme/DESCRIPTION.rst
  web_widget_remaining_days_exact_date/readme/USAGE.md
  web_widget_remaining_days_exact_date/readme/USAGE.rst
  web_widget_remaining_days_exact_date/static/description/index.html
Due: prettier

Added translation using Weblate (Italian)
  web_widget_remaining_days_exact_date/i18n/it.po
Due: none

[UPD] Update web_widget_remaining_days_exact_date.pot
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/i18n/web_widget_remaining_days_exact_date.pot
  web_widget_remaining_days_exact_date/static/description/icon.png
  web_widget_remaining_days_exact_date/static/description/index.html
Due: none

[MIG][18.0] web_touchscreen: Migration to 18
  web_touchscreen/README.rst
  web_touchscreen/__manifest__.py
  web_touchscreen/readme/CONTRIBUTORS.md
  web_touchscreen/readme/CREDITS.md
  web_touchscreen/static/description/index.html
  web_touchscreen/static/src/fields.esm.js
  web_touchscreen/static/src/form_controller.esm.js
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_ir_actions_act_multi/i18n/es.po
Due: none

Translated using Weblate (Italian)
  web_ir_actions_act_multi/i18n/it.po
Due: none

[UPD] Update web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
Due: none

[MIG] web_ir_actions_act_multi: Migration to 18.0
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/security/ir.model.access.csv
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 16.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/es.po
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/i18n/zh_CN.po
  web_ir_actions_act_multi/static/description/index.html
Due: none

Translated using Weblate (Spanish)
  web_ir_actions_act_multi/i18n/es.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_ir_actions_act_multi/i18n/zh_CN.po
Due: none

[BOT] post-merge updates
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/static/description/index.html
Due: none

[MIG] web_ir_actions_act_multi: Migration to 12.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/DESCRIPTION.rst
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_ir_actions_act_multi/i18n/it.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

