Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Translated using Weblate (Italian)
  web_m2x_options/i18n/it.po
Due: none

web_m2x_options: Hide the create/create and edit... button when the user does not have creation permission.
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[IMP] web_m2x_options: black, isort, prettier
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

Translated using Weblate (French)
  web_m2x_options/i18n/fr.po
Due: none

Fix mobile enterprise version
  web_m2x_options/__manifest__.py
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

Fix Qweb templates. (#561)
  web_m2x_options/README.rst
  web_m2x_options/__openerp__.py
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/static/src/js/form.js
  web_m2x_options/static/src/xml/base.xml
Due: prettier, eslint

Translated using Weblate (Chinese (Simplified))
  web_m2x_options/i18n/zh_CN.po
Due: none

[REF] web_m2x_options: eslint complains
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

Makes the module compatible with Odoo community
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

fix: obscur wrong path on last commit. recreate portage from scratch.
  web_m2x_options/README.rst
  web_m2x_options/__init__.py
  web_m2x_options/__openerp__.py
  web_m2x_options/static/description/icon.png
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/js/form.js
  web_m2x_options/views/view.xml
Due: prettier, eslint

[MIG] web_m2x_options: Migration to 15.0
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/tests/test_ir_config_parameter.py
  web_m2x_options/views/view.xml
Due: prettier

[IMP] web_m2x_options: Perf issue https://github.com/OCA/web/issues/615 * fix unecessary calls
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[FIX] web_m2x_options: Fix error in tree views with many2many_tags
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[FIX] web_m2x_options: Compatibilize with web_advanced_search_x2x
  web_m2x_options/static/src/js/form.js
Due: prettier, eslint

[FIX] web_m2x_options: Avoid constant RPC calls Instead of calling interactively to the server to get the options, they are stored at the beginning of the session.
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/models/__init__.py
  web_m2x_options/models/ir_http.py
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/components/relational_utils.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/static/description/index.html
Due: none

[FIX] web_m2x_options: add fieldColor to ListMany2ManyTagsAvatarField and Many2ManyTagsAvatarField
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

Update translation files
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/es_BO.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/zh_CN.po
Due: none

[FIX] web_m2x_options: Error if not web_m2x_options set on session
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[FIX] web_m2x_options: add fieldColor to Many2OneAvatarUserField and KanbanMany2OneAvatarUserField
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[FIX] Error opening product form in shop floor
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[IMP] web_m2x_options: remove unneeded fieldColor on ListMany2ManyTagsAvatarField
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[ADD] web_form_view_resizable
  setup/web_form_view_resizable/odoo/addons/web_form_view_resizable
  setup/web_form_view_resizable/setup.py
  web_form_view_resizable/README.rst
  web_form_view_resizable/__init__.py
  web_form_view_resizable/__manifest__.py
  web_form_view_resizable/readme/CONTRIBUTORS.md
  web_form_view_resizable/readme/DESCRIPTION.md
  web_form_view_resizable/readme/USAGE.md
  web_form_view_resizable/static/description/icon.png
  web_form_view_resizable/static/description/index.html
  web_form_view_resizable/static/src/js/form_view_resizable.esm.js
Due: prettier, eslint

[14.0][ADD] web_widget_model_disable_nbrecords_computation
  setup/web_widget_model_disable_nbrecords_computation/odoo/addons/web_widget_model_disable_nbrecords_computation
  setup/web_widget_model_disable_nbrecords_computation/setup.py
  web_widget_model_disable_nbrecords_computation/README.rst
  web_widget_model_disable_nbrecords_computation/__init__.py
  web_widget_model_disable_nbrecords_computation/__manifest__.py
  web_widget_model_disable_nbrecords_computation/models/__init__.py
  web_widget_model_disable_nbrecords_computation/models/res_company.py
  web_widget_model_disable_nbrecords_computation/models/res_config_settings.py
  web_widget_model_disable_nbrecords_computation/readme/CONTRIBUTORS.rst
  web_widget_model_disable_nbrecords_computation/readme/CREDITS.rst
  web_widget_model_disable_nbrecords_computation/readme/DESCRIPTION.rst
  web_widget_model_disable_nbrecords_computation/readme/HISTORY.rst
  web_widget_model_disable_nbrecords_computation/readme/USAGE.rst
  web_widget_model_disable_nbrecords_computation/static/description/Graphicloads-Seo-Services-Performance.256.png
  web_widget_model_disable_nbrecords_computation/static/description/Graphicloads-Seo-Services-Presentation.256.png
  web_widget_model_disable_nbrecords_computation/static/description/icon.png
  web_widget_model_disable_nbrecords_computation/static/description/index.html
  web_widget_model_disable_nbrecords_computation/static/src/js/basic_model.js
  web_widget_model_disable_nbrecords_computation/static/src/xml/base.xml
  web_widget_model_disable_nbrecords_computation/views/assets.xml
  web_widget_model_disable_nbrecords_computation/views/res_config_settings_views.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_ir_actions_close_wizard_refresh_view/i18n/it.po
Due: none

[IMP] eslint
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_ir_actions_close_wizard_refresh_view/i18n/it.po
Due: none

[UPD] Update web_ir_actions_close_wizard_refresh_view.pot
  web_ir_actions_close_wizard_refresh_view/i18n/web_ir_actions_close_wizard_refresh_view.pot
Due: none

[IMP] pylint_odoo
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
Due: none

[IMP] eslint
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.esm.js
Due: prettier, eslint

[16.0][MIG] web_ir_actions_close_wizard_refresh_view
  web_ir_actions_close_wizard_refresh_view/README.rst
  web_ir_actions_close_wizard_refresh_view/__init__.py
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/models/__init__.py
  web_ir_actions_close_wizard_refresh_view/models/ir_actions.py
  web_ir_actions_close_wizard_refresh_view/readme/DESCRIPTION.rst
  web_ir_actions_close_wizard_refresh_view/readme/USAGE.rst
  web_ir_actions_close_wizard_refresh_view/security/ir.model.access.csv
  web_ir_actions_close_wizard_refresh_view/static/description/icon.png
  web_ir_actions_close_wizard_refresh_view/static/description/index.html
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.js
Due: prettier, eslint

[IMP] black, eslint
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.js
Due: prettier, eslint

[BOT] post-merge updates
  web_ir_actions_close_wizard_refresh_view/README.rst
  web_ir_actions_close_wizard_refresh_view/static/description/index.html
Due: none

[IMP] eslint
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
  web_ir_actions_close_wizard_refresh_view/static/src/js/web_ir_actions_close_wizard_refresh_view.esm.js
Due: prettier, eslint
