Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX] web_widget_image_download: restore missing icon.png
  web_widget_image_download/static/description/icon.png
Due: none

[FIX] web_timeline: Migrate check_access_rights to has_access following deprecation
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/tests/web_timeline_view_tests.esm.js
Due: prettier, eslint

[16.0] web_group_expand: show buttons in account ListView
  web_group_expand/README.rst
  web_group_expand/static/description/index.html
  web_group_expand/static/src/xml/list_controller.xml
Due: prettier

[ADD] web_tree_many2one_clickable
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__init__.py
  web_tree_many2one_clickable/__openerp__.py
  web_tree_many2one_clickable/static/description/icon.png
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/asset.xml
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 9.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__init__.py
  web_tree_many2one_clickable/__openerp__.py
  web_tree_many2one_clickable/data/ir_config_parameter.xml
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/asset.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: Fix pre-commit + improve readme
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/ROADMAP.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[BOT] post-merge updates
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/description/index.html
Due: none

[17.0][MIG] web_tree_many2one_clickable
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/it.po
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/CONTRIBUTORS.md
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migrated to 10.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[IMP] pre-commit run after update
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/assets.xml
Due: prettier, eslint

[MOD] Pass context defined on tree view field
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: black, isort, prettier
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/pyproject.toml
  web_tree_many2one_clickable/readme/CONTRIBUTORS.md
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/readme/DESCRIPTION.md
  web_tree_many2one_clickable/readme/DESCRIPTION.rst
  web_tree_many2one_clickable/readme/ROADMAP.md
  web_tree_many2one_clickable/readme/ROADMAP.rst
  web_tree_many2one_clickable/readme/USAGE.md
  web_tree_many2one_clickable/static/description/index.html
Due: prettier

[MIG] web_tree_many2one_clickable: Migration to 11.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__init__.py
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/data/ir_config_parameter.xml
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/static/src/xml/assets.xml
Due: prettier, eslint

Added translation using Weblate (Chinese (Simplified))
  web_tree_many2one_clickable/i18n/zh_CN.po
Due: none

[MIG] web_tree_many2one_clickable: Migration to 12.0.
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/CONFIGURATION.rst
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/readme/DESCRIPTION.rst
  web_tree_many2one_clickable/static/src/xml/assets.xml
Due: prettier

[14.0] [FIX] Clicking on a field with context
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 12.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/static/src/xml/assets.xml
  web_tree_many2one_clickable/views/assets.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: Imports should be sorted alphabetically
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 18.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/readme/CONFIGURE.md
  web_tree_many2one_clickable/readme/CONTRIBUTORS.md
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 15.0
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
  web_tree_many2one_clickable/views/assets.xml
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: black, isort
  web_tree_many2one_clickable/__manifest__.py
Due: none

[FIX] Allow set web_tree_many2one_clickable.default as True
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: Readme - USAGE
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/readme/DESCRIPTION.rst
  web_tree_many2one_clickable/readme/USAGE.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/img/clickable.gif
Due: none

[UPD] Update web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
Due: none

pre-commit update: prettier xml indent
  web_tree_many2one_clickable/views/assets.xml
Due: prettier

support reference fields in many2one_clickable widget
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_tree_many2one_clickable/i18n/it.po
Due: none

[MIG] web_tree_many2one_clickable: Migration to 13.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/readme/ROADMAP.rst
  web_tree_many2one_clickable/static/description/index.html
Due: none

[BOT] post-merge updates
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/static/description/index.html
Due: none

[MIG] web_tree_many2one_clickable: Migration to 14.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[IMP] web_tree_many2one_clickable: pre-commit auto fixes
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
Due: prettier

web_tree_many2one_clickable: Check if the node is a field
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[MIG] web_tree_many2one_clickable: Migration to 16.0
  web_tree_many2one_clickable/README.rst
  web_tree_many2one_clickable/__manifest__.py
  web_tree_many2one_clickable/i18n/web_tree_many2one_clickable.pot
  web_tree_many2one_clickable/i18n/zh_CN.po
  web_tree_many2one_clickable/readme/CONTRIBUTORS.rst
  web_tree_many2one_clickable/static/description/index.html
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.esm.js
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.scss
  web_tree_many2one_clickable/static/src/components/many2one_button/many2one_button.xml
  web_tree_many2one_clickable/static/src/css/web_tree_many2one_clickable.scss
  web_tree_many2one_clickable/static/src/js/web_tree_many2one_clickable.js
Due: prettier, eslint

[FIX] web_pivot_computed_measure: Error with pivots added to dashboard with computed measures
  web_pivot_computed_measure/__manifest__.py
  web_pivot_computed_measure/static/src/legacy/pivot_model.js
Due: prettier, eslint

[UPD] Update web_advanced_search.pot
  web_advanced_search/i18n/web_advanced_search.pot
Due: none

[MIG] web_advanced_search: Migration to 14.0
  web_advanced_search/__manifest__.py
  web_advanced_search/static/src/js/control_panel/advanced_filter_item.js
  web_advanced_search/static/src/js/control_panel/filter_menu.js
  web_advanced_search/static/src/js/web_advanced_search.js
  web_advanced_search/static/src/xml/web_advanced_search.xml
  web_advanced_search/views/templates.xml
Due: prettier, eslint

[MIG] web_advanced_search: Migration to 15.0
  web_advanced_search/__manifest__.py
  web_advanced_search/readme/CONTRIBUTORS.rst
  web_advanced_search/static/src/js/AdvancedFilterItem.esm.js
  web_advanced_search/static/src/js/CustomFilterItem.esm.js
  web_advanced_search/static/src/js/FilterMenu.esm.js
  web_advanced_search/static/src/js/RecordPicker.esm.js
  web_advanced_search/static/src/js/control_panel/advanced_filter_item.js
  web_advanced_search/static/src/js/control_panel/custom_filter_item.js
  web_advanced_search/static/src/js/control_panel/filter_menu.js
  web_advanced_search/static/src/js/human_domain.js
  web_advanced_search/static/src/js/relational.js
  web_advanced_search/static/src/js/utils.esm.js
  web_advanced_search/static/src/xml/AdvancedFilterItem.xml
  web_advanced_search/static/src/xml/CustomFilterItem.xml
  web_advanced_search/static/src/xml/FilterMenu.xml
  web_advanced_search/static/src/xml/web_advanced_search.xml
  web_advanced_search/views/templates.xml
Due: prettier, eslint

[MIG] web_advanced_search: Migration to 16.0
  web_advanced_search/__manifest__.py
  web_advanced_search/static/src/js/RecordPicker.esm.js
  web_advanced_search/static/src/js/utils.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/advanced_filter_item.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/custom_filter_item.esm.js
  web_advanced_search/static/src/legacy/js/control_panel/filter_menu.esm.js
  web_advanced_search/static/src/search/filter_menu/advanced_filter_item.esm.js
  web_advanced_search/static/src/search/filter_menu/advanced_filter_item.xml
  web_advanced_search/static/src/search/filter_menu/custom_filter_item.esm.js
  web_advanced_search/static/src/search/filter_menu/custom_filter_item.xml
  web_advanced_search/static/src/search/filter_menu/filter_menu.esm.js
  web_advanced_search/static/src/search/filter_menu/filter_menu.xml
Due: prettier, eslint

[IMP] web_advanced_search: Don't block modal filter menu
  web_advanced_search/static/src/js/web_advanced_search.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

