Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[IMP] web_form_banner: Partially support in-group target XPath
  web_form_banner/README.rst
  web_form_banner/models/ir_model.py
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/test_web_form_banner.py
Due: prettier, eslint

[IMP] web_form_banner: black, isort, prettier
  web_form_banner/README.rst
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[IMP] web_form_banner: pre-commit auto fixes
  web_form_banner/README.rst
  web_form_banner/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/__manifest__.py
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
Due: none

[MIG] web_form_banner: Migration to 17.0
  web_form_banner/__manifest__.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/security/ir.model.access.csv
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[FIX] web_form_banner
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[IMP] web_form_banner: pre-commit auto fixes
  web_form_banner/README.rst
  web_form_banner/static/description/index.html
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_popover/README.rst
  web_widget_popover/static/description/icon.png
  web_widget_popover/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_form_banner/i18n/it.po
Due: none

[IMP] web_widget_popover: pre-commit auto fixes
  web_widget_popover/README.rst
  web_widget_popover/static/description/index.html
Due: none

[UPD] Update web_form_banner.pot
  web_form_banner/i18n/web_form_banner.pot
Due: none

[UPD] Update web_widget_popover.pot
  web_widget_popover/i18n/web_widget_popover.pot
Due: none

[MIG] web_form_banner: Migration to 18.0
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/i18n/ja.po
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_form_banner/README.rst
  web_form_banner/static/description/icon.png
  web_form_banner/static/description/index.html
Due: none

[18.0][MIG] web_widget_popover: Migration to 18.0
  web_widget_popover/__manifest__.py
  web_widget_popover/static/src/popover.esm.js
Due: prettier, eslint

[ADD] web_widget_popover
  web_widget_popover/README.rst
  web_widget_popover/__init__.py
  web_widget_popover/__manifest__.py
  web_widget_popover/pyproject.toml
  web_widget_popover/readme/CONTRIBUTORS.md
  web_widget_popover/readme/DESCRIPTION.md
  web_widget_popover/readme/USAGE.md
  web_widget_popover/static/src/popover.esm.js
  web_widget_popover/static/src/popover.xml
Due: prettier, eslint

[IMP] web_form_banner: imp readme
  web_form_banner/README.rst
  web_form_banner/readme/USAGE.md
  web_form_banner/static/description/index.html
  web_form_banner/static/description/partner_email_rule.png
  web_form_banner/static/description/partner_layout_banner.png
  web_form_banner/static/description/partner_layout_no_banner.png
  web_form_banner/static/description/partner_tag_rule.png
Due: none

fix error: env.services.rpc is not a function
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.md
  web_ir_actions_act_window_message/static/description/index.html
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_msg_component.esm.js
Due: prettier, eslint

[IMP] web_chatter_position: pre-commit fixes.
  web_chatter_position/models/res_users.py
  web_chatter_position/static/src/js/web_chatter_position.esm.js
Due: prettier, eslint

Added translation using Weblate (Japanese)
  web_m2x_options/i18n/ja.po
Due: none

Translated using Weblate (Italian)
  web_form_banner/i18n/it.po
Due: none

[UPD] Update web_chatter_position.pot
  web_chatter_position/i18n/web_chatter_position.pot
Due: none

[IMP] web_chatter_position: improve form and chatter layout styles
  web_chatter_position/README.rst
  web_chatter_position/readme/DESCRIPTION.md
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/web_chatter_position.esm.js
  web_chatter_position/static/src/scss/form_controller.scss
Due: prettier, eslint

Translated using Weblate (Italian)
  web_responsive/i18n/it.po
Due: none

[BOT] post-merge updates
  README.md
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_widget_popover/i18n/it.po
Due: none

[BOT] post-merge updates
  README.md
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_widget_popover/i18n/it.po
Due: none

Translated using Weblate (Japanese)
  web_m2x_options/i18n/ja.po
Due: none

[ADD] web_widget_product_label_section_and_note_full_label
  web_widget_product_label_section_and_note_full_label/README.rst
  web_widget_product_label_section_and_note_full_label/__init__.py
  web_widget_product_label_section_and_note_full_label/__manifest__.py
  web_widget_product_label_section_and_note_full_label/pyproject.toml
  web_widget_product_label_section_and_note_full_label/readme/CONTRIBUTORS.md
  web_widget_product_label_section_and_note_full_label/readme/DESCRIPTION.md
  web_widget_product_label_section_and_note_full_label/static/description/index.html
  web_widget_product_label_section_and_note_full_label/static/src/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
  web_widget_product_label_section_and_note_full_label/static/src/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier, eslint

Update translation files
  web_chatter_position/i18n/ca.po
  web_chatter_position/i18n/de.po
  web_chatter_position/i18n/es.po
  web_chatter_position/i18n/fr.po
  web_chatter_position/i18n/fr_BE.po
  web_chatter_position/i18n/hr.po
  web_chatter_position/i18n/it.po
  web_chatter_position/i18n/nl.po
  web_chatter_position/i18n/pt_BR.po
  web_chatter_position/i18n/tr.po
Due: none

[UPD] Update web_widget_product_label_section_and_note_full_label.pot
  web_widget_product_label_section_and_note_full_label/i18n/web_widget_product_label_section_and_note_full_label.pot
Due: none

Added translation using Weblate (Italian)
  web_widget_product_label_section_and_note_full_label/i18n/it.po
Due: none

[14.0] web_m2x_options_manager: New module to manage create/edit options from interface
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/readme/DESCRIPTION.rst
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/security/ir.model.access.csv
  web_m2x_options_manager/static/description/icon.png
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[UPD] Update web_m2x_options_manager.pot
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
Due: none

[IMP] web_theme_classic Add dark mode assets web_dark_mode is not merged yet. https://github.com/OCA/web/pull/3324
  web_theme_classic/__manifest__.py
  web_theme_classic/static/src/scss/web_theme_classic.dark.scss
Due: prettier

[UPD] README.rst
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_chatter_position/i18n/it.po
Due: none

[BOT] post-merge updates
  README.md
  web_theme_classic/README.rst
  web_theme_classic/__manifest__.py
  web_theme_classic/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_product_label_section_and_note_full_label/README.rst
  web_widget_product_label_section_and_note_full_label/static/description/icon.png
  web_widget_product_label_section_and_note_full_label/static/description/index.html
Due: none
