Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Translated using Weblate (Portuguese (Brazil))
  web_favicon/i18n/pt_BR.po
Due: none

[UPD] README.rst
  web_favicon/README.rst
  web_favicon/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_favicon/i18n/it.po
Due: none

[11.0][MIG] Standard Migration
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/controllers/web_favicon.py
  web_favicon/models/res_company.py
  web_favicon/tests/test_web_favicon.py
Due: none

[UPD] Update web_favicon.pot
  web_favicon/i18n/de.po
  web_favicon/i18n/es.po
  web_favicon/i18n/hr.po
  web_favicon/i18n/nl_NL.po
  web_favicon/i18n/web_favicon.pot
Due: none

[FIX] web_favicon: Fix when having more than one company and one of them don't have a favicon set
  web_favicon/models/res_company.py
Due: none

[BOT] post-merge updates
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/static/description/index.html
Due: none

[ADD] web_favicon
  web_favicon/README.rst
  web_favicon/__init__.py
  web_favicon/__openerp__.py
  web_favicon/controllers/__init__.py
  web_favicon/controllers/web_favicon.py
  web_favicon/models/__init__.py
  web_favicon/models/res_company.py
  web_favicon/static/description/icon.png
  web_favicon/tests/__init__.py
  web_favicon/tests/test_web_favicon.py
  web_favicon/views/res_company.xml
  web_favicon/views/templates.xml
Due: prettier

Added translation using Weblate (Catalan)
  web_favicon/i18n/ca.po
Due: none

[BOT] post-merge updates
  web_favicon/README.rst
  web_favicon/static/description/index.html
Due: none

[IMP] : pre-commit auto fixes
  web_favicon/__manifest__.py
Due: none

[MIG] web_favicon: Migration to 19.0
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/models/res_company.py
  web_favicon/readme/CONTRIBUTORS.md
  web_favicon/static/description/index.html
  web_favicon/tests/test_web_favicon.py
Due: none

[FIX] web_environment_ribbon: fix configuration image in description
  web_environment_ribbon/README.rst
  web_environment_ribbon/readme/CONFIGURE.md
  web_environment_ribbon/static/description/index.html
Due: none

[IMP] web_form_banner: black, isort, prettier
  web_form_banner/README.rst
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[IMP] web_form_banner: pre-commit auto fixes
  web_form_banner/README.rst
  web_form_banner/static/description/index.html
Due: none

[MIG] web_form_banner: Migration to 15.0
  web_form_banner/README.rst
  web_form_banner/__manifest__.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[IMP] web_form_banner: Partially support in-group target XPath
  web_form_banner/README.rst
  web_form_banner/models/ir_model.py
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/test_web_form_banner.py
Due: prettier, eslint

[ADD] web_form_banner
  web_form_banner/README.rst
  web_form_banner/__init__.py
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/i18n/ja.po
  web_form_banner/models/__init__.py
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/CONTRIBUTORS.rst
  web_form_banner/readme/DESCRIPTION.rst
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.rst
  web_form_banner/security/ir.model.access.csv
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/__init__.py
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[MIG] web_form_banner: Migration to 16.0
  web_form_banner/__manifest__.py
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
Due: prettier, eslint

[IMP] web_form_banner: pre-commit auto fixes
  web_form_banner/README.rst
  web_form_banner/pyproject.toml
  web_form_banner/readme/CONTRIBUTORS.md
  web_form_banner/readme/CONTRIBUTORS.rst
  web_form_banner/readme/DESCRIPTION.md
  web_form_banner/readme/DESCRIPTION.rst
  web_form_banner/readme/ROADMAP.md
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.md
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
Due: prettier

19.0 migrate: web_calendar_slot_duration
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__init__.py
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/demo/scheduled_actions.xml
  web_calendar_slot_duration/i18n/de.po
  web_calendar_slot_duration/i18n/it.po
  web_calendar_slot_duration/i18n/pt_BR.po
  web_calendar_slot_duration/i18n/web_calendar_slot_duration.pot
  web_calendar_slot_duration/pyproject.toml
  web_calendar_slot_duration/readme/CONFIGURE.md
  web_calendar_slot_duration/readme/CONTRIBUTORS.md
  web_calendar_slot_duration/readme/DESCRIPTION.md
  web_calendar_slot_duration/readme/ROADMAP.md
  web_calendar_slot_duration/readme/USAGE.md
  web_calendar_slot_duration/static/description/calendar_result.png
  web_calendar_slot_duration/static/description/edit_action.png
  web_calendar_slot_duration/static/description/icon.png
  web_calendar_slot_duration/static/description/index.html
  web_calendar_slot_duration/static/src/js/calendar_common_renderer.esm.js
  web_calendar_slot_duration/static/src/js/calendar_model.esm.js
Due: prettier, eslint

[pre-commit] autofixes
  web_calendar_slot_duration/README.rst
  web_calendar_slot_duration/__manifest__.py
  web_calendar_slot_duration/static/description/index.html
Due: none

[IMP] web_form_banner: Partially support in-group target XPath
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/test_web_form_banner.py
Due: prettier, eslint

[FIX][CL] Pre commit
  web_widget_remaining_days_exact_date copy/README.rst
  web_widget_remaining_days_exact_date copy/__init__.py
  web_widget_remaining_days_exact_date copy/__manifest__.py
  web_widget_remaining_days_exact_date copy/controllers/__init__.py
  web_widget_remaining_days_exact_date copy/controllers/disable_remaining_days_rule.py
  web_widget_remaining_days_exact_date copy/models/__init__.py
  web_widget_remaining_days_exact_date copy/models/disable_remaining_days_rule.py
  web_widget_remaining_days_exact_date copy/models/res_company.py
  web_widget_remaining_days_exact_date copy/models/res_config_settings.py
  web_widget_remaining_days_exact_date copy/pyproject.toml
  web_widget_remaining_days_exact_date copy/security/disable_remaining_days_security.xml
  web_widget_remaining_days_exact_date copy/security/ir.model.access.csv
  web_widget_remaining_days_exact_date copy/static/description/icon.png
  web_widget_remaining_days_exact_date copy/static/description/index.html
  web_widget_remaining_days_exact_date copy/static/src/search/layout.esm.js
  web_widget_remaining_days_exact_date copy/static/src/widgets/remaining_days_fields.esm.js
  web_widget_remaining_days_exact_date copy/views/disable_remaining_days_rule_views.xml
  web_widget_remaining_days_exact_date copy/views/res_config_settings_views.xml
  web_widget_remaining_days_exact_date copy/wizards/__init__.py
  web_widget_remaining_days_exact_date copy/wizards/disable_remaining_days_rule_line_wizard.py
  web_widget_remaining_days_exact_date copy/wizards/disable_remaining_days_rule_wizard.py
  web_widget_remaining_days_exact_date copy/wizards/disable_remaining_days_rule_wizard_views.xml
Due: prettier, eslint

[FIX][CL] Module name
  web_widget_remaining_days_exact_date/README.rst
  web_widget_remaining_days_exact_date/__init__.py
  web_widget_remaining_days_exact_date/__manifest__.py
  web_widget_remaining_days_exact_date/controllers/__init__.py
  web_widget_remaining_days_exact_date/controllers/disable_remaining_days_rule.py
  web_widget_remaining_days_exact_date/models/__init__.py
  web_widget_remaining_days_exact_date/models/disable_remaining_days_rule.py
  web_widget_remaining_days_exact_date/models/res_company.py
  web_widget_remaining_days_exact_date/models/res_config_settings.py
  web_widget_remaining_days_exact_date/pyproject.toml
  web_widget_remaining_days_exact_date/security/disable_remaining_days_security.xml
  web_widget_remaining_days_exact_date/security/ir.model.access.csv
  web_widget_remaining_days_exact_date/static/description/icon.png
  web_widget_remaining_days_exact_date/static/description/index.html
  web_widget_remaining_days_exact_date/static/src/search/layout.esm.js
  web_widget_remaining_days_exact_date/static/src/widgets/remaining_days_fields.esm.js
  web_widget_remaining_days_exact_date/views/disable_remaining_days_rule_views.xml
  web_widget_remaining_days_exact_date/views/res_config_settings_views.xml
  web_widget_remaining_days_exact_date/wizards/__init__.py
  web_widget_remaining_days_exact_date/wizards/disable_remaining_days_rule_line_wizard.py
  web_widget_remaining_days_exact_date/wizards/disable_remaining_days_rule_wizard.py
  web_widget_remaining_days_exact_date/wizards/disable_remaining_days_rule_wizard_views.xml
Due: prettier, eslint

[FIX][CL] Module name
  web_widget_remaining_days_exact_date/controllers/__init__.py
  web_widget_remaining_days_exact_date/controllers/main.py
Due: none

[IMP] web_form_banner: pre-commit auto fixes
  web_form_banner/README.rst
  web_form_banner/static/description/index.html
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier

[MIG] web_form_banner: Migration to 18.0
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier

[MIG] web_form_banner: Migration to 17.0
  web_form_banner/__manifest__.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/security/ir.model.access.csv
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[MIG] web_form_banner: Migration to 19.0
  web_form_banner/__manifest__.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier

[MIG] web_widget_x2many_2d_matrix: Migration to 12.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__init__.py
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/readme/DESCRIPTION.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.rst
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

