Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] Fixed issues related to styling and manifest
  web_widget_range_slider/README.rst
  web_widget_range_slider/__manifest__.py
  web_widget_range_slider/pyproject.toml
  web_widget_range_slider/readme/CONTRIBUTORS.md
  web_widget_range_slider/readme/CONTRIBUTORS.rst
  web_widget_range_slider/readme/DESCRIPTION.md
  web_widget_range_slider/readme/DESCRIPTION.rst
  web_widget_range_slider/readme/USAGE.md
  web_widget_range_slider/static/src/js/slider.esm.js
  web_widget_range_slider/static/src/xml/slider.xml
Due: prettier, eslint

[FIX] web_responsive: prevent error in tests when accessing an undefined variable
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

[FIX] Fixed change in module name
  web_widget_range_slider/__manifest__.py
Due: none

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[FIX] Fixed readme file
  web_widget_range_slider/README.rst
  web_widget_range_slider/readme/USAGE.md
Due: none

Translated using Weblate (Italian)
  web_pwa_customize/i18n/it.po
Due: none

[14.0] web_m2x_options_manager: New module to manage create/edit options from interface
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/readme/DESCRIPTION.rst
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/security/ir.model.access.csv
  web_m2x_options_manager/static/description/icon.png
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[MIG] web_m2x_options_manager: Migration to 18.0
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/CREDITS.md
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[UPD] Update web_m2x_options_manager.pot
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
Due: none

[IMP] web_m2x_options_manager: pre-commit auto fixes
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

[IMP] web_m2x_options_manager: pre-commit stuff
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/pyproject.toml
  web_m2x_options_manager/readme/CONTRIBUTORS.md
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/readme/DESCRIPTION.md
  web_m2x_options_manager/readme/DESCRIPTION.rst
  web_m2x_options_manager/readme/USAGE.md
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/static/description/index.html
Due: prettier

[MIG] web_m2x_options_manager : Migration to 16.0.
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

web_m2x_options_manager 14.0.1.1.0
  web_m2x_options_manager/__manifest__.py
Due: none

[MIG] web_m2x_options_manager: Migration to 15.0
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[MIG] web_m2x_options_manager: Migration to 17.0
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/CONTRIBUTORS.md
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[UPD] web_m2x_options_manager: Add option to prevent Create/Edit wizard to pop up
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[UPD] README.rst
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

[FIX] web_widget_x2many_2d_matrix: restore pre-v17 functionality (axes)
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[IMP] web_widget_product_label_section_and_note: force a width on the column
  web_widget_product_label_section_and_note/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_widget_product_label_section_and_note/README.rst
  web_widget_product_label_section_and_note/__manifest__.py
  web_widget_product_label_section_and_note/static/description/index.html
Due: none

[IMP] web_widget_progressbar_gradient: pre-commit auto fixes
  web_widget_progressbar_gradient/pyproject.toml
  web_widget_progressbar_gradient/static/src/xml/progressbar.xml
Due: prettier

[IMP] web_widget_progressbar_gradient: Add inverse option
  web_widget_progressbar_gradient/README.rst
  web_widget_progressbar_gradient/readme/CONTRIBUTORS.md
  web_widget_progressbar_gradient/readme/DESCRIPTION.md
  web_widget_progressbar_gradient/readme/USAGE.md
  web_widget_progressbar_gradient/static/description/index.html
  web_widget_progressbar_gradient/static/description/progressbar_gradient.png
  web_widget_progressbar_gradient/static/description/progressbar_gradient_inverse.png
  web_widget_progressbar_gradient/static/src/js/progressbar.esm.js
  web_widget_progressbar_gradient/static/src/scss/progressbar.scss
  web_widget_progressbar_gradient/static/src/xml/progressbar.xml
Due: prettier, eslint

[IMP] web_widget_progressbar_color: Rename to web_widget_progressbar_gradient
  web_widget_progressbar_gradient/README.rst
  web_widget_progressbar_gradient/__init__.py
  web_widget_progressbar_gradient/__manifest__.py
  web_widget_progressbar_gradient/readme/CONTRIBUTORS.md
  web_widget_progressbar_gradient/readme/DESCRIPTION.md
  web_widget_progressbar_gradient/readme/ROADMAP.md
  web_widget_progressbar_gradient/readme/USAGE.md
  web_widget_progressbar_gradient/static/description/icon.png
  web_widget_progressbar_gradient/static/description/index.html
  web_widget_progressbar_gradient/static/description/progressbar_gradient.png
  web_widget_progressbar_gradient/static/src/js/progressbar.esm.js
  web_widget_progressbar_gradient/static/src/scss/progressbar.scss
  web_widget_progressbar_gradient/static/src/xml/progressbar.xml
Due: prettier, eslint

[IMP] web_widget_progressbar_gradient: improve stylesheet
  web_widget_progressbar_gradient/static/src/scss/progressbar.scss
Due: prettier

[BOT] post-merge updates
  web_widget_progressbar_gradient/README.rst
  web_widget_progressbar_gradient/static/description/index.html
Due: none

[FIX] web_widget_progressbar_gradient: Typo for widget name usage
  web_widget_progressbar_gradient/README.rst
  web_widget_progressbar_gradient/readme/USAGE.md
  web_widget_progressbar_gradient/static/description/index.html
Due: none

[UPD] Update web_widget_progressbar_gradient.pot
  web_widget_progressbar_gradient/i18n/web_widget_progressbar_gradient.pot
Due: none

Added translation using Weblate (Italian)
  web_widget_progressbar_gradient/i18n/it.po
Due: none

[MIG] web_widget_progressbar_gradient: Migration to 18.0
  web_widget_progressbar_gradient/README.rst
  web_widget_progressbar_gradient/__manifest__.py
  web_widget_progressbar_gradient/static/description/index.html
  web_widget_progressbar_gradient/static/src/js/progressbar.esm.js
Due: prettier, eslint

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[BOT] post-merge updates
  README.md
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Update translation files
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

[PERF] web_button_visibility: Cache found rules
  web_button_visibility/README.rst
  web_button_visibility/models/base.py
  web_button_visibility/models/hide_button_rule.py
  web_button_visibility/readme/CONTRIBUTORS.rst
  web_button_visibility/static/description/index.html
  web_button_visibility/tests/test_button_invisible.py
Due: none

[PERF] web_field_required_invisible_manager: Cache found restrictions
  web_field_required_invisible_manager/README.rst
  web_field_required_invisible_manager/models/base.py
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/models/ir_ui_view.py
  web_field_required_invisible_manager/readme/CONTRIBUTORS.rst
  web_field_required_invisible_manager/static/description/index.html
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
Due: none

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

fixup! [IMP] web_pivot_computed_measure: replace with stepUtils
  web_pivot_computed_measure/tests/test_ui_pivot.py
  web_systray_button_init_action/tests/test_web_systray_button_init_action.py
Due: none

[IMP] web_pivot_computed_measure: replace with stepUtils
  web_pivot_computed_measure/static/src/test/test.esm.js
Due: prettier, eslint
