Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Add enterprise-like navbar button styling for Odoo Community v18
  web_responsive/static/src/css/navbar_override.scss
Due: prettier

[IMP]web_responsive: fixed the issue of file viewer not display in form view
  web_responsive/README.rst
  web_responsive/models/ir_http.py
  web_responsive/models/res_users.py
  web_responsive/readme/DESCRIPTION.md
  web_responsive/static/description/index.html
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/form_statusbar.scss
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

[IMP] web_responsive: pre-commit auto fixes
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

[MIG] web_responsive: Migration to 19.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/static/description/index.html
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/chatter/base_recipients_list.xml
  web_responsive/static/src/components/chatter/chatter.xml
  web_responsive/static/src/components/file_viewer/file_viewer_hook_patch.esm.js
  web_responsive/static/src/legacy/xml/form_buttons.xml
  web_responsive/static/src/views/form/status_bar_buttons.xml
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

[IMP] web_responsive: adjust button styles and alignment in the chatter The purpose is to reduce spacing so that all icons and buttons fit within the window without having to scroll.
  web_responsive/static/src/components/chatter/chatter.xml
Due: prettier

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[IMP] web_timeline: Enhance date handling in TimelineModel to set date_stop to end of day for date fields, ensuring full day inclusion in the timeline.
  web_timeline/static/src/views/timeline/timeline_model.esm.js
Due: prettier, eslint

[UPD] README.rst
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/static/description/index.html
Due: none

web_m2x_options_manager 14.0.1.1.0
  web_m2x_options_manager/__manifest__.py
Due: none

[FIX] web_m2x_options_manager: writing mode when create/edit wizard is false
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
Due: none

Update translation files
  web_m2x_options_manager/i18n/it.po
Due: none

[UPD] Update web_m2x_options_manager.pot
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
Due: none

[BOT] post-merge updates
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/static/description/index.html
Due: none

[14.0] web_m2x_options_manager: New module to manage create/edit options from interface
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/readme/DESCRIPTION.rst
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/security/ir.model.access.csv
  web_m2x_options_manager/static/description/icon.png
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

Added translation using Weblate (Italian)
  web_m2x_options_manager/i18n/it.po
Due: none

[UPD] web_m2x_options_manager: Add option to prevent Create/Edit wizard to pop up
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

[FIX] all: fix pre-commit new checks
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

Translated using Weblate (Italian)
  web_m2x_options_manager/i18n/it.po
Due: none

[IMP] web_m2x_options_manager: pre-commit auto fixes
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/pyproject.toml
  web_m2x_options_manager/readme/CONTRIBUTORS.md
  web_m2x_options_manager/readme/CONTRIBUTORS.rst
  web_m2x_options_manager/readme/DESCRIPTION.md
  web_m2x_options_manager/readme/DESCRIPTION.rst
  web_m2x_options_manager/readme/USAGE.md
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
Due: prettier

Squash of 8 commits
  web_search_with_and/README.rst
  web_search_with_and/__init__.py
  web_search_with_and/__openerp__.py
  web_search_with_and/data/data.xml
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

Migrate web_search_with_and from 8.0 to 10.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/data/data.xml
  web_search_with_and/static/description/icon.png
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

[MIG] web_m2x_options_manager: Migration to 17.0
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/i18n/it.po
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_model_fields.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/views/ir_model.xml
Due: prettier

Update translation files
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

[MIG] web_ir_actions_act_window_message: Migration to 17.0
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_msg_component.esm.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
Due: prettier, eslint

[UPD] README.rst
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

Add bug tracker link on README.rst
  web_ir_actions_act_window_message/README.rst
Due: none

[ADD] web_ir_actions_act_window_message
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__init__.py
  web_ir_actions_act_window_message/__openerp__.py
  web_ir_actions_act_window_message/static/description/icon.png
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

implement close_button_title
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

add OCA to author
  web_ir_actions_act_window_message/__openerp__.py
Due: none

OCA Transbot updated translations from Transifex
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

allow to pass a list of buttons
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint
