Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[BOT] post-merge updates
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/static/description/index.html
Due: none

[IMP] web_chatter_position: pre-commit auto fixes
  web_chatter_position/README.rst
  web_chatter_position/pyproject.toml
  web_chatter_position/readme/CONTRIBUTORS.md
  web_chatter_position/readme/CONTRIBUTORS.rst
  web_chatter_position/readme/DESCRIPTION.md
  web_chatter_position/readme/USAGE.md
  web_chatter_position/readme/USAGE.rst
  web_chatter_position/static/description/index.html
Due: prettier

Added translation using Weblate (Turkish)
  web_chatter_position/i18n/tr.po
Due: none

[MIG] web_chatter_position: Migration to 19.0
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/i18n/web_chatter_position.pot
  web_chatter_position/static/description/index.html
  web_chatter_position/views/res_users.xml
Due: prettier

Added translation using Weblate (Japanese (ja_JP) (ja_JP))
  web_widget_open_tab/i18n/ja_JP.po
Due: none

Added translation using Weblate (Japanese)
  web_widget_open_tab/i18n/ja.po
Due: none

Translated using Weblate (Japanese)
  web_widget_open_tab/i18n/ja.po
Due: none

[IMP] update dotfiles
  .copier-answers.yml
  .gitattributes
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .pylintrc
  .pylintrc-mandatory
  README.md
Due: prettier

[18.0][FIX] web_widget_x2many_2d_matrix: fix total updates
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
  web_widget_x2many_2d_matrix/tests/test_web_widget_x2many_2d_matrix.py
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[18.0][FIX] web_widget_x2many_2d_matrix: sort rows alphabetically
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
Due: prettier, eslint

[MIG] web_refresher: Migration to 18.0
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/web_refresher.pot
  web_refresher/static/description/index.html
  web_refresher/static/src/js/control_panel.esm.js
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[IMP] web_refresher: Charge t-inherit-mode extension views just after the main
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/static/description/index.html
Due: none

Translated using Weblate (Croatian)
  web_refresher/i18n/hr.po
Due: none

updated manifest
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/web_refresher.pot
  web_refresher/static/description/index.html
Due: none

[MIG] web_refresher: Migration to 16.0
  web_refresher/README.rst
  web_refresher/__init__.py
  web_refresher/__manifest__.py
  web_refresher/i18n/ca.po
  web_refresher/i18n/es.po
  web_refresher/i18n/pt_BR.po
  web_refresher/i18n/web_refresher.pot
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/static/description/index.html
  web_refresher/static/src/xml/pager_button.xml
Due: prettier

Added translation using Weblate (Catalan)
  web_refresher/i18n/ca.po
Due: none

[IMP] web_refresher: black, isort, prettier
  web_refresher/static/src/js/refresher.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_refresher/i18n/it.po
Due: none

[MIG] web_refresher: Migration to 19.0
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/readme/CONTRIBUTORS.md
  web_refresher/static/description/index.html
Due: none

Translated using Weblate (Spanish)
  web_refresher/i18n/es.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  web_refresher/i18n/pt_BR.po
Due: none

Added translation using Weblate (Croatian)
  web_refresher/i18n/hr.po
Due: none

Added translation using Weblate (Spanish)
  web_refresher/i18n/es.po
Due: none

[MIG] web_refresher: Migration to 15.0
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/web_refresher.pot
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/static/description/index.html
  web_refresher/static/src/xml/pager_button.xml
Due: prettier

[IMP] web_refresher: pre-commit auto fixes
  web_refresher/README.rst
Due: none

[MIG] web_refresher: Migration to 14.0
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/web_refresher.pot
  web_refresher/static/description/index.html
  web_refresher/static/src/js/refresher.js
  web_refresher/templates/assets.xml
  web_refresher/templates/pager_button.xml
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_refresher/README.rst
  web_refresher/i18n/es.po
  web_refresher/i18n/hr.po
  web_refresher/static/description/index.html
Due: none

[FIX] web_refresher: new record refresh
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/static/description/index.html
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/scss/refresher.scss
Due: prettier, eslint

[MIG] web_refresher: Migration to 13.0
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/ca.po
  web_refresher/i18n/es.po
  web_refresher/i18n/pt_BR.po
  web_refresher/i18n/web_refresher.pot
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/readme/DESCRIPTION.rst
  web_refresher/static/description/index.html
  web_refresher/static/description/refresh.png
Due: none

[MIG] web_refresher: Migration to 17.0
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/ca.po
  web_refresher/i18n/de.po
  web_refresher/i18n/es.po
  web_refresher/i18n/fr.po
  web_refresher/i18n/pt_BR.po
  web_refresher/i18n/uk_UA.po
  web_refresher/i18n/web_refresher.pot
  web_refresher/pyproject.toml
  web_refresher/readme/CONTRIBUTORS.md
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/readme/DESCRIPTION.md
  web_refresher/readme/DESCRIPTION.rst
  web_refresher/static/description/index.html
  web_refresher/static/src/js/control_panel.esm.js
  web_refresher/static/src/js/pager.esm.js
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/scss/refresher.scss
  web_refresher/static/src/xml/control_panel.xml
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[FIX] web_refresher: bug when clicking report
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_refresher/i18n/it.po
Due: none

Translated using Weblate (French)
  web_refresher/i18n/fr.po
Due: none

[IMP] web_refresher: Be able to refresh from report views
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/static/description/index.html
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[IMP] web_refresher: Work as component of control panel
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/static/description/index.html
  web_refresher/static/src/js/refresher.js
  web_refresher/static/src/scss/refresher.scss
  web_refresher/static/src/xml/pager_button.xml
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

Added translation using Weblate (French)
  web_refresher/i18n/fr.po
Due: none

[IMP] web_refresher: Add component to pager to avoid instance for all views
  web_refresher/README.rst
  web_refresher/__manifest__.py
  web_refresher/i18n/ca.po
  web_refresher/i18n/es.po
  web_refresher/i18n/pt_BR.po
  web_refresher/i18n/web_refresher.pot
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/static/description/index.html
  web_refresher/static/src/js/pager.esm.js
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/js/refresher.js
  web_refresher/static/src/xml/pager.xml
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[11.0][ADD] web_refresh
  web_refresher/README.rst
  web_refresher/__init__.py
  web_refresher/__manifest__.py
  web_refresher/i18n/web_refresher.pot
  web_refresher/images/refresh.png
  web_refresher/readme/CONTRIBUTORS.rst
  web_refresher/readme/DESCRIPTION.rst
  web_refresher/static/description/icon.png
  web_refresher/static/description/index.html
  web_refresher/static/src/js/refresher.js
  web_refresher/templates/assets.xml
Due: prettier, eslint

[IMP] web_refresher: black, isort, prettier
  web_refresher/__manifest__.py
  web_refresher/static/src/js/refresher.js
  web_refresher/templates/assets.xml
Due: prettier, eslint
