Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[UPD] Update web_ir_actions_act_window_message.pot
  web_ir_actions_act_window_message/i18n/web_ir_actions_act_window_message.pot
Due: none

[MIG] web_ir_actions_act_window_message: Migration to 14.0
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__init__.py
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/models/__init__.py
  web_ir_actions_act_window_message/models/ir_actions.py
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/security/ir.model.access.csv
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

s/oe_link_class/classes s/oe_highlight/btn-default and add it to readme * In v9.0 odoo uses classes for dialog buttons instead of oe_link_class
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[MIG] Rename manifest files
  web_ir_actions_act_window_message/__manifest__.py
Due: none

[IMP] better readme, manifest
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__openerp__.py
Due: none

[BOT] post-merge updates
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/description/index.html
Due: none

Add bug tracker link on README.rst
  web_ir_actions_act_window_message/README.rst
Due: none

[MIG] web_ir_actions_act_window_message
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

[UPD] README.rst
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[MIG] Make modules uninstallable
  web_ir_actions_act_window_message/__openerp__.py
Due: none

Update translation files
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
Due: none

web_ir_actions_act_window_message: Migration to V9
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__init__.py
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

Reformat the code to have coherent coding style
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[ADD] web_ir_actions_act_window_message
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__init__.py
  web_ir_actions_act_window_message/__openerp__.py
  web_ir_actions_act_window_message/static/description/icon.png
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_window_message: Migration to 16.0
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
Due: prettier, eslint

[MIG] web_ir_actions_act_window_message: Migration to 10. Also added HTML handling
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[12.0][MIG] web_ir_actions_act_window_message: Migration to 12.0
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/readme/DESCRIPTION.rst
  web_ir_actions_act_window_message/readme/ROADMAP.rst
  web_ir_actions_act_window_message/readme/USAGE.rst
  web_ir_actions_act_window_message/static/description/index.html
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

wrap line breaks of the action message
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[IMP] web_ir_actions_act_window_message: Remove utf-8 comment
  web_ir_actions_act_window_message/__manifest__.py
Due: none

OCA Transbot updated translations from Transifex
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

implement close_button_title
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[MIG] web_ir_actions_act_window_message: Migration to 18.0
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/security/ir.model.access.csv
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_msg_component.esm.js
  web_ir_actions_act_window_message/static/src/xml/web_ir_actions_act_window_message.xml
  web_ir_actions_act_window_message/tests/__init__.py
  web_ir_actions_act_window_message/tests/test_ir_actions_act_window_message.py
Due: prettier, eslint

[ADD] web_action_conditionable: support forms
  web_action_conditionable/README.rst
  web_action_conditionable/readme/CONTRIBUTORS.rst
  web_action_conditionable/readme/DESCRIPTION.rst
  web_action_conditionable/readme/USAGE.rst
  web_action_conditionable/static/description/index.html
  web_action_conditionable/static/src/components/form_arch_parser.esm.js
  web_action_conditionable/static/src/components/form_controller.esm.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_create_write_confirm/i18n/it.po
Due: none

[FIX] web_m2x_options: Wrong function reference in conditional check
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/static/description/index.html
Due: none

[FIX] web_widget_open_tab: add missing encoding on etree.tostring
  web_widget_open_tab/models/ir_ui_view.py
Due: none

[ADD] web_pwa_customize: New module
  web_pwa_customize/README.rst
  web_pwa_customize/__init__.py
  web_pwa_customize/__manifest__.py
  web_pwa_customize/controllers/__init__.py
  web_pwa_customize/controllers/webmanifest.py
  web_pwa_customize/i18n/es.po
  web_pwa_customize/i18n/web_pwa_customize.pot
  web_pwa_customize/models/__init__.py
  web_pwa_customize/models/res_config_settings.py
  web_pwa_customize/pyproject.toml
  web_pwa_customize/readme/CONFIGURE.md
  web_pwa_customize/readme/CONTEXT.md
  web_pwa_customize/readme/CONTRIBUTORS.md
  web_pwa_customize/readme/DESCRIPTION.md
  web_pwa_customize/static/description/icon.png
  web_pwa_customize/static/description/index.html
  web_pwa_customize/tests/__init__.py
  web_pwa_customize/tests/test_web_pwa_customize.py
  web_pwa_customize/views/res_config_settings_views.xml
Due: prettier

[UPD] Update web_pwa_customize.pot
  web_pwa_customize/i18n/web_pwa_customize.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_pwa_customize/README.rst
  web_pwa_customize/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_pwa_customize/i18n/it.po
Due: none

[IMP] web_widget_range_slider: Added range slider widget
  web_widget_range_slider/.gitignore
  web_widget_range_slider/README.rst
  web_widget_range_slider/__init__.py
  web_widget_range_slider/__manifest__.py
  web_widget_range_slider/readme/CONTRIBUTORS.rst
  web_widget_range_slider/readme/DESCRIPTION.rst
  web_widget_range_slider/readme/USAGE.rst
  web_widget_range_slider/static/description/icon.png
  web_widget_range_slider/static/description/index.html
  web_widget_range_slider/static/src/js/slider.js
  web_widget_range_slider/static/src/xml/slider.xml
Due: prettier, eslint
