Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[ADD] web_assets_warmup
  web_assets_warmup/README.rst
  web_assets_warmup/__init__.py
  web_assets_warmup/__manifest__.py
  web_assets_warmup/data/ir_cron.xml
  web_assets_warmup/hooks.py
  web_assets_warmup/models/__init__.py
  web_assets_warmup/models/ir_actions_report.py
  web_assets_warmup/readme/CONTRIBUTORS.rst
  web_assets_warmup/readme/DESCRIPTION.rst
  web_assets_warmup/static/description/index.html
Due: prettier

[IMP] web_assets_warmup: Add database lock in post_load_hook
  web_assets_warmup/hooks.py
  web_assets_warmup/readme/CONTRIBUTORS.rst
Due: none

[UPD] Update web_assets_warmup.pot
  web_assets_warmup/i18n/web_assets_warmup.pot
Due: none

[IMP] web_assets_warmup: pre-commit auto fixes
  web_assets_warmup/README.rst
  web_assets_warmup/data/ir_cron.xml
  web_assets_warmup/pyproject.toml
  web_assets_warmup/readme/CONTRIBUTORS.md
  web_assets_warmup/readme/CONTRIBUTORS.rst
  web_assets_warmup/readme/DESCRIPTION.md
  web_assets_warmup/readme/DESCRIPTION.rst
  web_assets_warmup/static/description/index.html
Due: prettier

[BOT] post-merge updates
  web_assets_warmup/README.rst
  web_assets_warmup/static/description/icon.png
  web_assets_warmup/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_assets_warmup/i18n/it.po
Due: none

[MIG] web_assets_warmup: Migration to 18.0
  web_assets_warmup/README.rst
  web_assets_warmup/__manifest__.py
  web_assets_warmup/data/ir_cron.xml
  web_assets_warmup/hooks.py
  web_assets_warmup/models/ir_actions_report.py
  web_assets_warmup/readme/CONTRIBUTORS.md
  web_assets_warmup/readme/CREDITS.md
  web_assets_warmup/static/description/index.html
Due: prettier

fixup!
  web_json_widget/__manifest__.py
  web_json_widget/static/lib/dark-theme.css
  web_json_widget/static/lib/img/jsoneditor-icons.svg
  web_json_widget/static/lib/vanilla-jsoneditor.min.css
  web_json_widget/static/lib/vanilla-jsoneditor.min.js
  web_json_widget/static/src/components/json_editor/json_editor.esm.js
  web_json_widget_demo/views/res_partner_view.xml
Due: prettier, eslint

[ADD] web_json_widget
  web_json_widget/README.rst
  web_json_widget/__init__.py
  web_json_widget/__manifest__.py
  web_json_widget/pyproject.toml
  web_json_widget/readme/CONTRIBUTORS.md
  web_json_widget/readme/CREDITS.md
  web_json_widget/readme/DESCRIPTION.md
  web_json_widget/readme/USAGE.md
  web_json_widget/static/description/index.html
  web_json_widget/static/src/components/json_editor/json_editor.css
  web_json_widget/static/src/components/json_editor/json_editor.esm.js
  web_json_widget/static/src/components/json_editor/json_editor.xml
  web_json_widget/static/src/lib/dark-theme.css
  web_json_widget/static/src/lib/img/jsoneditor-icons.svg
  web_json_widget/static/src/lib/vanilla-jsoneditor.min.css
  web_json_widget/static/src/lib/vanilla-jsoneditor.min.js
Due: prettier, eslint

[ADD] web_json_widget_demo
  web_json_widget_demo/README.rst
  web_json_widget_demo/__init__.py
  web_json_widget_demo/__manifest__.py
  web_json_widget_demo/models/__init__.py
  web_json_widget_demo/models/res_partner.py
  web_json_widget_demo/pyproject.toml
  web_json_widget_demo/readme/DESCRIPTION.md
  web_json_widget_demo/static/description/index.html
  web_json_widget_demo/views/res_partner_view.xml
Due: prettier

fixup! copyright notice
  web_json_widget_demo/__init__.py
  web_json_widget_demo/__manifest__.py
  web_json_widget_demo/models/__init__.py
  web_json_widget_demo/models/res_partner.py
Due: none

[web_widget_dropdown_dynamic][FIX]: value disappearing after losing focus when used in list view, propagate required prop
  web_widget_dropdown_dynamic/README.rst
  web_widget_dropdown_dynamic/readme/CONTRIBUTORS.md
  web_widget_dropdown_dynamic/static/src/js/field_dynamic_dropdown.esm.js
  web_widget_dropdown_dynamic/static/tests/web_widget_dropdown_dynamic_tests.esm.js
Due: prettier, eslint

[IMP] web_refresher: add auto refresh on interval
  web_refresher/__manifest__.py
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[FIX] Moving state to local storage and defaulting the value on load
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[CHORE] web_refresher: one more lint fix
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[IMP] Slightly more elegent form of loading
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[IMP] web_refresher: make the interval text cleaner
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[FIX] web_refresher: linting
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[FIX] parse int from localstorage
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[CHORE] lint
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

fix: memory leak due to held refrence blocking GC
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[LINT] Again
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[LINT] Always with the lint failures
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[FIX] Fixing up the "default" setting when not yet set
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

Hide on small view auto refresh
  web_refresher/static/src/xml/refresher.xml
Due: prettier

[LINT] fix lint errors
  web_refresher/static/src/js/refresher.esm.js
Due: prettier, eslint

[IMP] add per page settings and a default
  web_refresher/static/src/js/refresher.esm.js
  web_refresher/static/src/xml/refresher.xml
Due: prettier, eslint

[MIG] web_m2x_options: Migration to 19.0
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/USAGE.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/base.xml
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/views/fields/standard_field_props.esm.js
  web_m2x_options/tests/test_ir_config_parameter.py
Due: prettier, eslint

[FIX] web_m2x_options: add fieldColor to Many2OneAvatarUserField and KanbanMany2OneAvatarUserField
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[FIX] web_m2x_options: add fieldColor to ListMany2ManyTagsAvatarField and Many2ManyTagsAvatarField
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

Added translation using Weblate (Japanese)
  web_m2x_options/i18n/ja.po
Due: none

[FIX] Error opening product form in shop floor
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[FIX] web_m2x_options: add fieldColor to KanbanMany2ManyTagsAvatarField
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[IMP] web_m2x_options: allow falsy/truthy system parameters and simplify related code.
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[FIX] web_m2x_options: prevent crash on Many2OneReferenceField
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/readme/CONTRIBUTORS.md
  web_m2x_options/readme/ROADMAP.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[MIG]web_m2x_options: Migration to 17.0
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/ar.po
  web_m2x_options/i18n/de.po
  web_m2x_options/i18n/es.po
  web_m2x_options/i18n/es_BO.po
  web_m2x_options/i18n/fi.po
  web_m2x_options/i18n/fr.po
  web_m2x_options/i18n/hr.po
  web_m2x_options/i18n/it.po
  web_m2x_options/i18n/nl.po
  web_m2x_options/i18n/nl_NL.po
  web_m2x_options/i18n/pt_BR.po
  web_m2x_options/i18n/sl.po
  web_m2x_options/i18n/tr.po
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/i18n/zh_CN.po
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/CONTRIBUTORS.md
  web_m2x_options/readme/DESCRIPTION.md
  web_m2x_options/readme/ROADMAP.md
  web_m2x_options/readme/USAGE.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/base.xml
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/components/relational_utils.esm.js
  web_m2x_options/tests/test_ir_config_parameter.py
Due: prettier, eslint

[MIG] web_m2x_options: Migration to 18.0
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/i18n/web_m2x_options.pot
  web_m2x_options/readme/CONTRIBUTORS.md
  web_m2x_options/readme/CREDITS.md
  web_m2x_options/readme/USAGE.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/base.xml
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/views/fields/standard_field_props.esm.js
  web_m2x_options/tests/test_ir_config_parameter.py
Due: prettier, eslint

[FIX] web_m2x_options: Error if not web_m2x_options set on session
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[IMP] web_m2x_options: remove unneeded fieldColor on ListMany2ManyTagsAvatarField
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

