Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[FIX] web_company_color: colors not changed
  web_company_color/models/res_company.py
Due: none

[ADD] web_form_view_resizable
  setup/web_form_view_resizable/odoo/addons/web_form_view_resizable
  setup/web_form_view_resizable/setup.py
  web_form_view_resizable/README.rst
  web_form_view_resizable/__init__.py
  web_form_view_resizable/__manifest__.py
  web_form_view_resizable/readme/CONTRIBUTORS.md
  web_form_view_resizable/readme/DESCRIPTION.md
  web_form_view_resizable/readme/USAGE.md
  web_form_view_resizable/static/description/icon.png
  web_form_view_resizable/static/description/index.html
  web_form_view_resizable/static/src/js/form_view_resizable.esm.js
Due: prettier, eslint

[18.0][FIX]: web_widget_x2many_2d_matrix: limit options values to x2many fields.
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[ADD] web_responsive_company_color: Added new module
  setup/web_responsive_company_color/odoo/addons/web_responsive_company_color
  setup/web_responsive_company_color/setup.py
  web_responsive_company_color/README.rst
  web_responsive_company_color/__init__.py
  web_responsive_company_color/__manifest__.py
  web_responsive_company_color/hooks.py
  web_responsive_company_color/models/__init__.py
  web_responsive_company_color/models/ir_module.py
  web_responsive_company_color/models/res_company.py
  web_responsive_company_color/readme/CONTRIBUTORS.rst
  web_responsive_company_color/readme/DESCRIPTION.rst
  web_responsive_company_color/readme/ROADMAP.rst
  web_responsive_company_color/readme/USAGE.rst
  web_responsive_company_color/static/description/icon.png
  web_responsive_company_color/static/description/index.html
Due: none

[REF] web_company_color: Updated way to fetch scss_template
  web_company_color/models/res_company.py
Due: none

[FIX] web_widget_x2many_2d_matrix: don't break non-many2one value fields
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[FIX] web_m2x_options: Handle undefined m2m_options_props in many2one_reference
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

Translated using Weblate (Turkish)
  web_notify/i18n/tr.po
Due: none

[FIX] web_responsive: Remove test patching that is breaking tests
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

perf(web_widget_x2many_2d_matrix): Enhance column value handling in X2Many2DMatrixRenderer to support selection type
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: demo page on group form
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
Due: prettier

[FIX] web_widget_x2many_2d_matrix: restore pre-v16 functionality (clickable)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[ADD] hbrunn as maintainer, HE as author
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[IMP] web_widget_x2many_2d_matrix: don't choke on missing data
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: restore pre-v16 functionality (nodes)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.md
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[BOT] post-merge updates
  README.md
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Update translation files
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

[16.0][ADD] web_export_json: export data in json files
  setup/web_export_json/odoo/addons/web_export_json
  setup/web_export_json/setup.py
  web_export_json/README.rst
  web_export_json/__init__.py
  web_export_json/__manifest__.py
  web_export_json/controllers/__init__.py
  web_export_json/controllers/export.py
  web_export_json/readme/CONTRIBUTORS.md
  web_export_json/readme/DESCRIPTION.md
  web_export_json/static/description/index.html
  web_export_json/static/src/action_ir_export.esm.js
  web_export_json/static/src/action_ir_export.xml
Due: prettier, eslint

[16.0][ADD] web_export_json: export data in json files
  web_export_json/README.rst
  web_export_json/__init__.py
  web_export_json/__manifest__.py
  web_export_json/controllers/__init__.py
  web_export_json/controllers/export.py
  web_export_json/readme/CONTRIBUTORS.md
  web_export_json/readme/DESCRIPTION.md
  web_export_json/static/description/index.html
  web_export_json/static/src/action_ir_export.esm.js
  web_export_json/static/src/action_ir_export.xml
Due: prettier, eslint

[IMP] web_export_json: pre-commit auto fixes
  web_export_json/README.rst
  web_export_json/controllers/export.py
  web_export_json/pyproject.toml
  web_export_json/static/description/index.html
Due: prettier

[MIG] web_export_json: Migration to 18.0
  web_export_json/__manifest__.py
  web_export_json/controllers/export.py
  web_export_json/static/src/action_ir_export.esm.js
  web_export_json/static/src/action_ir_export.xml
Due: prettier, eslint

[18.0][ADD] web_import_json
  web_import_json/README.rst
  web_import_json/__init__.py
  web_import_json/__manifest__.py
  web_import_json/models/__init__.py
  web_import_json/models/base_import.py
  web_import_json/pyproject.toml
  web_import_json/readme/CONTRIBUTORS.md
  web_import_json/readme/DESCRIPTION.md
  web_import_json/static/description/index.html
  web_import_json/static/src/import_action.esm.js
  web_import_json/static/src/import_action.xml
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[17.0][FIX] web_m2x_options: prevent crash on Many2OneReferenceField
  web_m2x_options/README.rst
  web_m2x_options/readme/ROADMAP.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/static/description/index.html
Due: none

Update translation files
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

web_ir_actions_act_window_message: always refresh view after action
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint

[UPD] README.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[UPD] prefix versions with 8.0
  web_ir_actions_act_window_message/__openerp__.py
Due: none

OCA Transbot updated translations from Transifex
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

[IMP] web_ir_actions_act_window_message: pre-commit auto fixes
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/pyproject.toml
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.md
  web_ir_actions_act_window_message/readme/CONTRIBUTORS.rst
  web_ir_actions_act_window_message/readme/DESCRIPTION.md
  web_ir_actions_act_window_message/readme/DESCRIPTION.rst
  web_ir_actions_act_window_message/readme/ROADMAP.md
  web_ir_actions_act_window_message/readme/ROADMAP.rst
  web_ir_actions_act_window_message/readme/USAGE.md
  web_ir_actions_act_window_message/readme/USAGE.rst
  web_ir_actions_act_window_message/static/description/index.html
Due: prettier

add OCA to author
  web_ir_actions_act_window_message/__openerp__.py
Due: none

Update translation files
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/de.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
Due: none

[MIG] web_ir_actions_act_window_message: Migration to 15.0
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.esm.js
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier, eslint

[UPD] Update web_ir_actions_act_window_message.pot
  web_ir_actions_act_window_message/i18n/ar.po
  web_ir_actions_act_window_message/i18n/es.po
  web_ir_actions_act_window_message/i18n/eu.po
  web_ir_actions_act_window_message/i18n/fi.po
  web_ir_actions_act_window_message/i18n/fr.po
  web_ir_actions_act_window_message/i18n/hr.po
  web_ir_actions_act_window_message/i18n/it.po
  web_ir_actions_act_window_message/i18n/nl.po
  web_ir_actions_act_window_message/i18n/nl_NL.po
  web_ir_actions_act_window_message/i18n/pt.po
  web_ir_actions_act_window_message/i18n/pt_BR.po
  web_ir_actions_act_window_message/i18n/ro.po
  web_ir_actions_act_window_message/i18n/sl.po
  web_ir_actions_act_window_message/i18n/tr.po
  web_ir_actions_act_window_message/i18n/web_ir_actions_act_window_message.pot
Due: none

[FIX] web_ir_actions_act_window_message: Proper trailing line in XML
  web_ir_actions_act_window_message/views/templates.xml
Due: prettier

allow to pass a list of buttons
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/static/src/js/web_ir_actions_act_window_message.js
Due: prettier, eslint
