Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[UPD] README.rst
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/static/description/index.html
Due: none

[17.0][MIG] Migrate web_widget_plotly_chart
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/pyproject.toml
  web_widget_plotly_chart/readme/CONTRIBUTORS.md
  web_widget_plotly_chart/readme/CONTRIBUTORS.rst
  web_widget_plotly_chart/readme/CREDITS.md
  web_widget_plotly_chart/readme/CREDITS.rst
  web_widget_plotly_chart/readme/DESCRIPTION.md
  web_widget_plotly_chart/readme/DESCRIPTION.rst
  web_widget_plotly_chart/readme/INSTALL.md
  web_widget_plotly_chart/readme/INSTALL.rst
  web_widget_plotly_chart/readme/USAGE.md
  web_widget_plotly_chart/readme/USAGE.rst
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
  web_widget_plotly_chart/static/src/js/widget_plotly.xml
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.18.2.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.32.0.min.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_widget_plotly_chart/i18n/it.po
Due: none

[UPD] Update web_widget_plotly_chart.pot
  web_widget_plotly_chart/i18n/web_widget_plotly_chart.pot
Due: none

[MIG] web_widget_plotly_chart: Migration to 14.0
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/readme/INSTALL.rst
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/lib/plotly/plotly-latest.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.7.0.min.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier

Added translation using Weblate (Danish)
  web_widget_plotly_chart/i18n/da.po
Due: none

Added translation using Weblate (Portuguese (Brazil))
  web_widget_plotly_chart/i18n/pt_BR.po
Due: none

Added translation using Weblate (Catalan)
  web_widget_plotly_chart/i18n/ca.po
Due: none

[FIX] web_widget_plotly_chart: Remove description key
  web_widget_plotly_chart/__manifest__.py
Due: none

Update translation files
  web_widget_plotly_chart/i18n/it.po
Due: none

Update translation files
  web_widget_plotly_chart/i18n/ca.po
  web_widget_plotly_chart/i18n/da.po
  web_widget_plotly_chart/i18n/es.po
  web_widget_plotly_chart/i18n/pt_BR.po
Due: none

Added translation using Weblate (Spanish)
  web_widget_plotly_chart/i18n/es.po
Due: none

[IMP] web_widget_plotly: black, isort, prettier
  web_widget_plotly_chart/__init__.py
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/static/src/js/widget_plotly.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier, eslint

[16.0][MIG] Migration to v16.0
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
  web_widget_plotly_chart/static/src/js/widget_plotly.js
  web_widget_plotly_chart/static/src/js/widget_plotly.xml
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.18.2.min.js
  web_widget_plotly_chart/static/src/lib/plotly/plotly-2.7.0.min.js
  web_widget_plotly_chart/views/web_widget_plotly_chart.xml
Due: prettier, eslint

[MIG] web_widget_plotly_chart: Migration to 19.0
  requirements.txt
  web_widget_plotly_chart/README.rst
  web_widget_plotly_chart/__manifest__.py
  web_widget_plotly_chart/static/description/index.html
  web_widget_plotly_chart/static/src/js/widget_plotly.esm.js
Due: prettier, eslint

[FIX] web_pwa_customize: Fix singleton error when loading PWA icon
  web_pwa_customize/models/res_config_settings.py
  web_pwa_customize/tests/test_web_pwa_customize.py
Due: none

[IMP] web_disable_export_group: black, isort, prettier
  web_disable_export_group/__manifest__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
  web_disable_export_group/tests/test_disable_export_group.py
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_disable_export_group/i18n/es.po
Due: none

Added translation using Weblate (Italian)
  web_disable_export_group/i18n/it.po
Due: none

[MIG] web_disable_export_group: Migration to 14.0
  web_disable_export_group/__manifest__.py
Due: none

[FIX] Tests
  web_disable_export_group/static/description/icon.png
  web_disable_export_group/static/description/index.html
  web_disable_export_group/tests/test_disable_export_group.py
Due: none

[OU] web_disable_export_group: Fix when migration happened on 13.0
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
Due: none

Add module web_disable_export_group
  web_disable_export_group/README.rst
  web_disable_export_group/__init__.py
  web_disable_export_group/__manifest__.py
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
Due: prettier, eslint

[IMP] web_disable_export_group: pre-commit auto fixes
  web_disable_export_group/README.rst
  web_disable_export_group/pyproject.toml
  web_disable_export_group/readme/CONFIGURE.md
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.md
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.md
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.md
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/xml/export_xls_views.xml
Due: prettier

[IMP] web_disable_export_group: Tests
  web_disable_export_group/tests/__init__.py
  web_disable_export_group/tests/test_disable_export_group.py
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_disable_export_group/i18n/zh_CN.po
Due: none

[MIG] web_disable_export_group: Migration to 15.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/migrations/14.0.1.1.0/pre-migration.py
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/models.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/security/ir.model.access.csv
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/abstract_controller.esm.js
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/static/src/tours/web_disable_export_group_tour.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/templates/assets.xml
  web_disable_export_group/templates/tour_assets.xml
Due: prettier, eslint

Update translation files
  web_disable_export_group/i18n/es.po
Due: none

[IMP] web_disable_export_group: Disable 'export all' button
  web_disable_export_group/README.rst
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_disable_export_group/i18n/es.po
Due: none

[IMP] web_disable_export_group: Differenciate between the XLSX export and the standard export
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/es.po
  web_disable_export_group/i18n/hr.po
  web_disable_export_group/i18n/pt.po
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/i18n/zh_CN.po
  web_disable_export_group/migrations/14.0.1.1.0/post-migration.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/static/src/js/web_disable_export_group_tour.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[MIG] web_disable_export_group: Migration to 16.0
  web_disable_export_group/README.rst
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/list_controller.esm.js
  web_disable_export_group/static/src/xml/export_xls_views.xml
  web_disable_export_group/static/tests/web_disable_export_group_tour.esm.js
  web_disable_export_group/tests/test_tour.py
Due: prettier, eslint

[MIG] web_disable_group_export: Migration to 11.0
  web_disable_export_group/README.rst
  web_disable_export_group/__init__.py
  web_disable_export_group/__manifest__.py
  web_disable_export_group/i18n/web_disable_export_group.pot
  web_disable_export_group/models/__init__.py
  web_disable_export_group/models/ir_http.py
  web_disable_export_group/readme/CONFIGURE.rst
  web_disable_export_group/readme/CONTRIBUTORS.rst
  web_disable_export_group/readme/DESCRIPTION.rst
  web_disable_export_group/readme/USAGE.rst
  web_disable_export_group/security/groups.xml
  web_disable_export_group/static/description/index.html
  web_disable_export_group/static/src/js/disable_export_group.js
  web_disable_export_group/templates/assets.xml
Due: prettier, eslint

Added translation using Weblate (Portuguese)
  web_disable_export_group/i18n/pt.po
Due: none

Added translation using Weblate (Croatian)
  web_disable_export_group/i18n/hr.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

