Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_chatter_position: pre-commit auto fixes
  web_chatter_position/views/web.xml
Due: prettier

Added translation using Weblate (Dutch)
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/i18n/nl.po
  web_chatter_position/static/description/index.html
Due: none

[IMP] web_chatter_position: pre-commit auto fixes
  web_chatter_position/README.rst
  web_chatter_position/pyproject.toml
  web_chatter_position/readme/CONTRIBUTORS.md
  web_chatter_position/readme/CONTRIBUTORS.rst
  web_chatter_position/readme/DESCRIPTION.md
  web_chatter_position/readme/USAGE.md
  web_chatter_position/readme/USAGE.rst
  web_chatter_position/static/description/index.html
Due: prettier

Added translation using Weblate (French (Belgium))
  web_chatter_position/i18n/fr_BE.po
Due: none

Added translation using Weblate (German)
  web_chatter_position/i18n/de.po
Due: none

[MIG] web_chatter_position: Migration to 17.0
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/i18n/hr.po
  web_chatter_position/i18n/web_chatter_position.pot
  web_chatter_position/readme/CONTRIBUTORS.md
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/web_chatter_position.esm.js
  web_chatter_position/static/src/scss/form_controller.scss
  web_chatter_position/static/src/scss/form_renderer.scss
  web_chatter_position/static/src/scss/form_statusbar.scss
Due: prettier, eslint

[MIG] web_chatter_position: Migration to 16.0
  web_chatter_position/README.rst
  web_chatter_position/__manifest__.py
  web_chatter_position/i18n/web_chatter_position.pot
  web_chatter_position/models/res_users.py
  web_chatter_position/readme/CONTRIBUTORS.rst
  web_chatter_position/readme/DESCRIPTION.rst
  web_chatter_position/readme/ROADMAP.rst
  web_chatter_position/readme/USAGE.rst
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/form_chatter_position.js
  web_chatter_position/static/src/js/web_chatter_position.esm.js
  web_chatter_position/static/src/scss/attachment_viewer.scss
  web_chatter_position/static/src/scss/chatter_position.scss
  web_chatter_position/static/src/xml/form_buttons.xml
  web_chatter_position/views/res_users.xml
  web_chatter_position/views/web.xml
Due: prettier, eslint

[IMP] web_chatter_position: improve form and chatter layout styles
  web_chatter_position/README.rst
  web_chatter_position/readme/DESCRIPTION.md
  web_chatter_position/static/description/index.html
  web_chatter_position/static/src/js/web_chatter_position.esm.js
  web_chatter_position/static/src/scss/form_controller.scss
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_chatter_position/i18n/es.po
Due: none

[IMP] web_dialog_size: default fullscreen in context of field/action
  web_dialog_size/readme/CONFIGURE.md
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_header.xml
Due: prettier, eslint

[UPD] Update web_chatter_position.pot
  web_chatter_position/i18n/web_chatter_position.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_chatter_position/README.rst
  web_chatter_position/static/description/index.html
Due: none

[BOT] post-merge updates
  web_field_tooltip/README.rst
  web_field_tooltip/static/description/index.html
Due: none

[ADD] web_field_tooltip
  web_field_tooltip/README.rst
  web_field_tooltip/__init__.py
  web_field_tooltip/__manifest__.py
  web_field_tooltip/i18n/fr.po
  web_field_tooltip/i18n/web_field_tooltip.pot
  web_field_tooltip/models/__init__.py
  web_field_tooltip/models/ir_model_fields_tooltip.py
  web_field_tooltip/readme/CONTRIBUTORS.rst
  web_field_tooltip/readme/DESCRIPTION.rst
  web_field_tooltip/readme/USAGE.rst
  web_field_tooltip/security/ir_model_access.xml
  web_field_tooltip/security/ir_rule.xml
  web_field_tooltip/security/res_groups.xml
  web_field_tooltip/static/description/icon.png
  web_field_tooltip/static/description/index.html
  web_field_tooltip/static/src/css/web_field_tooltip.css
  web_field_tooltip/static/src/js/web_field_tooltip.js
  web_field_tooltip/tests/__init__.py
  web_field_tooltip/tests/test_web_field_tooltip.py
  web_field_tooltip/views/ir_model_fields_tooltip.xml
  web_field_tooltip/views/template.xml
Due: prettier, eslint

Translated using Weblate (Italian)
  web_field_tooltip/i18n/it.po
Due: none

Update translation files
  web_field_tooltip/i18n/fr.po
Due: none

Added translation using Weblate (Italian)
  web_field_tooltip/i18n/it.po
Due: none

Update translation files
  web_field_tooltip/i18n/fr.po
  web_field_tooltip/i18n/it.po
Due: none

[IMP]web_field_tooltip: refactoring for v17
  web_field_tooltip/README.rst
  web_field_tooltip/__manifest__.py
  web_field_tooltip/migrations/17.0.1.0.0/post-migrate.py
  web_field_tooltip/models/ir_model_fields_tooltip.py
  web_field_tooltip/readme/DESCRIPTION.md
  web_field_tooltip/readme/USAGE.md
  web_field_tooltip/static/description/index.html
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.esm.js
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.scss
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.xml
  web_field_tooltip/static/src/views/form/form_label.esm.js
  web_field_tooltip/static/src/views/form/form_label.xml
  web_field_tooltip/static/src/views/list/list_renderer.esm.js
  web_field_tooltip/static/src/views/list/list_renderer.xml
Due: prettier, eslint

[BOT] post-merge updates
  web_field_tooltip/README.rst
  web_field_tooltip/__manifest__.py
  web_field_tooltip/static/description/index.html
Due: none

[UPD] Update web_field_tooltip.pot
  web_field_tooltip/i18n/web_field_tooltip.pot
Due: none

[MIG]web_field_tooltip: Migration to 17.0
  web_field_tooltip/README.rst
  web_field_tooltip/__manifest__.py
  web_field_tooltip/readme/CONTRIBUTORS.md
  web_field_tooltip/static/description/index.html
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.esm.js
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.scss
  web_field_tooltip/static/src/views/form/form_controller.esm.js
  web_field_tooltip/static/src/views/form/form_label.esm.js
  web_field_tooltip/static/src/views/list/list_renderer.esm.js
  web_field_tooltip/views/ir_model_fields_tooltip.xml
  web_field_tooltip/views/res_users.xml
  web_field_tooltip/views/template.xml
Due: prettier, eslint

[IMP] display a helper to add a tooltip on a field. Display the tooltip on list views. One tooltip per field and do not handle user specific tooltips
  web_field_tooltip/__manifest__.py
  web_field_tooltip/i18n/fr.po
  web_field_tooltip/i18n/web_field_tooltip.pot
  web_field_tooltip/models/__init__.py
  web_field_tooltip/models/ir_http.py
  web_field_tooltip/models/ir_model_fields_tooltip.py
  web_field_tooltip/models/res_users.py
  web_field_tooltip/security/ir_model_access.xml
  web_field_tooltip/security/ir_rule.xml
  web_field_tooltip/security/res_groups.xml
  web_field_tooltip/static/src/css/web_field_tooltip.css
  web_field_tooltip/static/src/js/web_field_tooltip.js
  web_field_tooltip/views/ir_model_fields_tooltip.xml
  web_field_tooltip/views/res_users.xml
Due: prettier, eslint

Translated using Weblate (French)
  web_field_tooltip/i18n/fr.po
Due: none

[IMP] web_field_tooltip - one rpc call
  web_field_tooltip/README.rst
  web_field_tooltip/readme/ROADMAP.rst
  web_field_tooltip/static/description/index.html
  web_field_tooltip/static/src/js/web_field_tooltip.js
Due: prettier, eslint

[MIG] web_field_tooltip: Migration to 16.0
  web_field_tooltip/README.rst
  web_field_tooltip/__manifest__.py
  web_field_tooltip/models/__init__.py
  web_field_tooltip/models/base.py
  web_field_tooltip/models/ir_model_fields_tooltip.py
  web_field_tooltip/models/res_users.py
  web_field_tooltip/readme/DESCRIPTION.rst
  web_field_tooltip/static/description/index.html
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.esm.js
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.scss
  web_field_tooltip/static/src/components/field_tooltip/field_tooltip.xml
  web_field_tooltip/static/src/css/web_field_tooltip.css
  web_field_tooltip/static/src/js/controller.js
  web_field_tooltip/static/src/js/renderer.js
  web_field_tooltip/static/src/js/web_field_tooltip.js
  web_field_tooltip/static/src/views/form/form_controller.esm.js
  web_field_tooltip/static/src/views/form/form_label.esm.js
  web_field_tooltip/static/src/views/form/form_label.xml
  web_field_tooltip/static/src/views/list/list_renderer.esm.js
  web_field_tooltip/static/src/views/list/list_renderer.xml
  web_field_tooltip/tests/test_web_field_tooltip.py
  web_field_tooltip/views/ir_model_fields_tooltip.xml
Due: prettier, eslint

[FIX] web_field_tooltip: ir.model and ir.model.fields access if not admin
  web_field_tooltip/security/ir_model_access.xml
  web_field_tooltip/views/ir_model_fields_tooltip.xml
Due: prettier

[REF] use FormViewDialog instead of do_action, allow to unlink a tooltip from the helper, splitted resources into multiple files
  web_field_tooltip/i18n/fr.po
  web_field_tooltip/readme/USAGE.rst
  web_field_tooltip/static/src/css/web_field_tooltip.css
  web_field_tooltip/static/src/js/controller.js
  web_field_tooltip/static/src/js/renderer.js
  web_field_tooltip/static/src/js/web_field_tooltip.js
  web_field_tooltip/tests/test_web_field_tooltip.py
  web_field_tooltip/views/template.xml
Due: prettier, eslint

[IMP] web_field_tooltip: black, isort, prettier
  web_field_tooltip/README.rst
  web_field_tooltip/models/ir_model_fields_tooltip.py
  web_field_tooltip/pyproject.toml
  web_field_tooltip/readme/CONTRIBUTORS.md
  web_field_tooltip/readme/CONTRIBUTORS.rst
  web_field_tooltip/readme/DESCRIPTION.md
  web_field_tooltip/readme/DESCRIPTION.rst
  web_field_tooltip/readme/ROADMAP.md
  web_field_tooltip/readme/ROADMAP.rst
  web_field_tooltip/readme/USAGE.md
  web_field_tooltip/readme/USAGE.rst
  web_field_tooltip/static/description/index.html
Due: prettier

[ADD] New module: web_formview_chatter_attachment added
  web_formview_chatter_attachment/README.rst
  web_formview_chatter_attachment/__init__.py
  web_formview_chatter_attachment/__manifest__.py
  web_formview_chatter_attachment/pyproject.toml
  web_formview_chatter_attachment/static/description/icon.png
  web_formview_chatter_attachment/static/src/js/oe_chatter_compiler.esm.js
  web_formview_chatter_attachment/static/src/scss/attachment_box.scss
Due: prettier, eslint

[UPD] Update web_widget_product_label_section_and_note_name_visibility.pot
  web_widget_product_label_section_and_note_name_visibility/i18n/web_widget_product_label_section_and_note_name_visibility.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/static/description/index.html
Due: none

[16.0][ADD] mail_attachment_preview_toggle
  mail_attachment_preview_toggle/README.rst
  mail_attachment_preview_toggle/__init__.py
  mail_attachment_preview_toggle/__manifest__.py
  mail_attachment_preview_toggle/i18n/fr.po
  mail_attachment_preview_toggle/models/__init__.py
  mail_attachment_preview_toggle/models/mail_thread.py
  mail_attachment_preview_toggle/models/res_users.py
  mail_attachment_preview_toggle/readme/CONTEXT.md
  mail_attachment_preview_toggle/readme/CONTRIBUTORS.md
  mail_attachment_preview_toggle/readme/DESCRIPTION.md
  mail_attachment_preview_toggle/static/description/icon.png
  mail_attachment_preview_toggle/static/description/index.html
  mail_attachment_preview_toggle/static/src/js/form_controller.esm.js
  mail_attachment_preview_toggle/views/res_users.xml
  setup/mail_attachment_preview_toggle/odoo/addons/mail_attachment_preview_toggle
  setup/mail_attachment_preview_toggle/setup.py
Due: prettier, eslint

[ADD] web_form_banner
  web_form_banner/README.rst
  web_form_banner/__init__.py
  web_form_banner/__manifest__.py
  web_form_banner/demo/web_form_banner_rule_demo.xml
  web_form_banner/i18n/ja.po
  web_form_banner/models/__init__.py
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/CONTRIBUTORS.rst
  web_form_banner/readme/DESCRIPTION.rst
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.rst
  web_form_banner/security/ir.model.access.csv
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/static/src/scss/web_form_banner.scss
  web_form_banner/tests/__init__.py
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

[IMP] web_form_banner: pre-commit auto fixes
  web_form_banner/README.rst
  web_form_banner/pyproject.toml
  web_form_banner/readme/CONTRIBUTORS.md
  web_form_banner/readme/CONTRIBUTORS.rst
  web_form_banner/readme/DESCRIPTION.md
  web_form_banner/readme/DESCRIPTION.rst
  web_form_banner/readme/ROADMAP.md
  web_form_banner/readme/ROADMAP.rst
  web_form_banner/readme/USAGE.md
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
Due: prettier

[MIG] web_form_banner: Migration to 16.0
  web_form_banner/__manifest__.py
  web_form_banner/models/ir_model.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
Due: prettier, eslint

[MIG] web_form_banner: Migration to 15.0
  web_form_banner/README.rst
  web_form_banner/__manifest__.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

