Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX] web_field_required_invisible_manager: fix depend. domain compute
  web_field_required_invisible_manager/models/custom_field_restriction.py
Due: none

[FIX] web_field_required_invisible_manager: consider portal users
  web_field_required_invisible_manager/models/models.py
Due: none

[BOT] post-merge updates
  web_field_required_invisible_manager/README.rst
  web_field_required_invisible_manager/__manifest__.py
  web_field_required_invisible_manager/static/description/index.html
Due: none

web_field_required_invisible_manager 14.0.2.0.0
  web_field_required_invisible_manager/__manifest__.py
Due: none

Translated using Weblate (Italian)
  web_field_required_invisible_manager/i18n/it.po
Due: none

Added translation using Weblate (Italian)
  web_field_required_invisible_manager/i18n/it.po
Due: none

[FIX] web_field_required_invisible_manager: regenerate rest. field
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
Due: none

[UPD] Update web_field_required_invisible_manager.pot
  web_field_required_invisible_manager/i18n/web_field_required_invisible_manager.pot
Due: none

[IMP] web_field_required_invisible_manager: compatibility with tier validation
  web_field_required_invisible_manager/models/__init__.py
  web_field_required_invisible_manager/models/base.py
  web_field_required_invisible_manager/models/ir_model.py
  web_field_required_invisible_manager/models/ir_ui_view.py
  web_field_required_invisible_manager/static/description/index.html
Due: none

[IMP] web_field_required_invisible_manager: added menus and views
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
  web_field_required_invisible_manager/views/views.xml
Due: prettier

Update translation files
  web_field_required_invisible_manager/i18n/it.po
Due: none

[FIX] all: fix pre-commit new checks
  web_field_required_invisible_manager/views/views.xml
Due: prettier

[IMP] web_field_required_invisible_manager: consider rel. fields with own views
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/models/models.py
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
Due: none

web_field_required_invisible_manager 14.0.2.1.0
  web_field_required_invisible_manager/__manifest__.py
Due: none

[ADD] web_field_required_invisible_manager
  web_field_required_invisible_manager/README.rst
  web_field_required_invisible_manager/__init__.py
  web_field_required_invisible_manager/__manifest__.py
  web_field_required_invisible_manager/models/__init__.py
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/models/models.py
  web_field_required_invisible_manager/readme/CONTRIBUTORS.rst
  web_field_required_invisible_manager/readme/DESCRIPTION.rst
  web_field_required_invisible_manager/readme/USAGE.rst
  web_field_required_invisible_manager/security/ir.model.access.csv
  web_field_required_invisible_manager/tests/__init__.py
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
  web_field_required_invisible_manager/views/views.xml
Due: prettier

[UPD] README.rst
  web_field_required_invisible_manager/README.rst
  web_field_required_invisible_manager/static/description/index.html
Due: none

[FIX] web_field_required_invisible_manager: reset on change
  web_field_required_invisible_manager/__manifest__.py
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/models/models.py
  web_field_required_invisible_manager/readme/DESCRIPTION.rst
  web_field_required_invisible_manager/readme/USAGE.rst
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
  web_field_required_invisible_manager/views/views.xml
Due: prettier

[ADD] icon.png
  web_field_required_invisible_manager/static/description/icon.png
Due: none

[FIX] web_field_required_invisible_manager: restrict fields dependency
  web_field_required_invisible_manager/models/custom_field_restriction.py
  web_field_required_invisible_manager/readme/ROADMAP.rst
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
Due: none

[IMP] web_field_required_invisible_manager: pre-commit execution
  web_field_required_invisible_manager/README.rst
  web_field_required_invisible_manager/models/ir_ui_view.py
  web_field_required_invisible_manager/static/description/index.html
  web_field_required_invisible_manager/views/views.xml
Due: prettier

[MIG] web_field_required_invisible_manager: Migration to 18.0
  web_field_required_invisible_manager/__manifest__.py
  web_field_required_invisible_manager/models/ir_ui_view.py
  web_field_required_invisible_manager/tests/test_web_field_required_invisible_manager.py
  web_field_required_invisible_manager/views/views.xml
Due: prettier

[ADD] web_field_text_limit: New module to add limits to texts
  setup/web_field_text_limit/odoo/addons/web_field_text_limit
  setup/web_field_text_limit/setup.py
  web_field_text_limit/README.rst
  web_field_text_limit/__init__.py
  web_field_text_limit/__manifest__.py
  web_field_text_limit/data/data.xml
  web_field_text_limit/models/__init__.py
  web_field_text_limit/models/ir_qweb_field_text.py
  web_field_text_limit/models/text_limit.py
  web_field_text_limit/readme/CONFIGURE.rst
  web_field_text_limit/readme/CONTRIBUTORS.rst
  web_field_text_limit/readme/DESCRIPTION.rst
  web_field_text_limit/readme/ROADMAP.rst
  web_field_text_limit/readme/USAGE.rst
  web_field_text_limit/security/ir.model.access.csv
  web_field_text_limit/static/description/index.html
  web_field_text_limit/views/text_limit_views.xml
Due: prettier

[IMP] web_responsive: pre-commit auto fixes
  web_responsive/README.rst
  web_responsive/static/description/index.html
  web_responsive/static/src/components/apps_menu_item/apps_menu_item.scss
  web_responsive/static/src/components/file_viewer/file_viewer.scss
  web_responsive/static/src/legacy/scss/primary_variable.scss
  web_responsive/static/src/legacy/scss/web_responsive.scss
  web_responsive/static/src/legacy/xml/custom_favorite_item.xml
  web_responsive/static/src/views/form/status_bar_buttons.xml
Due: prettier

[MIG] web_responsive: Migration to 18.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/readme/CREDITS.md
  web_responsive/readme/DESCRIPTION.md
  web_responsive/static/description/index.html
  web_responsive/static/img/form_buttons.gif
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/apps_menu/apps_menu.xml
  web_responsive/static/src/components/apps_menu/apps_menu_preferences.esm.js
  web_responsive/static/src/components/apps_menu_item/apps_menu_item.esm.js
  web_responsive/static/src/components/apps_menu_tools.esm.js
  web_responsive/static/src/components/chatter/chatter.esm.js
  web_responsive/static/src/components/chatter/chatter.xml
  web_responsive/static/src/components/command_palette/main.esm.js
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/file_viewer/file_viewer.esm.js
  web_responsive/static/src/components/file_viewer/file_viewer.scss
  web_responsive/static/src/components/menu_canonical_searchbar/searchbar.esm.js
  web_responsive/static/src/components/menu_canonical_searchbar/searchbar.xml
  web_responsive/static/src/components/menu_fuse_searchbar/searchbar.esm.js
  web_responsive/static/src/components/menu_odoo_searchbar/searchbar.esm.js
  web_responsive/static/src/components/menu_searchbar/searchbar.esm.js
  web_responsive/static/src/legacy/js/web_responsive.esm.js
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/form_statusbar.scss
  web_responsive/static/src/views/form/status_bar_buttons.xml
  web_responsive/static/tests/apps_menu_search_tests.esm.js
  web_responsive/static/tests/apps_menu_tests.esm.js
  web_responsive/static/tests/test_patch.js
  web_responsive/tests/test_ir_http.py
  web_widget_numeric_step/static/src/numeric_step.esm.js
Due: prettier, eslint

[IMP] web_responsive: Remove unnecessary calendar optimisation
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

[UPD] README.rst
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/static/description/index.html
Due: none

[MIG] web_ir_actions_act_multi: Migration to 12.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/DESCRIPTION.rst
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

