Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Translated using Weblate (German)
  web_responsive/i18n/de.po
Due: none

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[17.0][FIX] web_responsive: disable default file preview
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/src/components/file_viewer/file_viewer.esm.js
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/form_statusbar.scss
Due: prettier, eslint

[FIX] web_responsive: fix bug test ESLint
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

Added translation using Weblate (Polish)
  web_responsive/i18n/pl.po
Due: none

[IMP] big inputs on forms in edit mode
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/control_panel/control_panel.scss
  web_responsive/static/src/components/control_panel/control_panel.xml
  web_responsive/static/src/legacy/css/web_responsive.scss
  web_responsive/static/src/legacy/js/web_responsive.js
Due: prettier, eslint

[IMP] web_responsive: Indicate incompatibility
  web_responsive/__manifest__.py
Due: none

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[UPD] prefix versions with 8.0
  web_dashboard_open_action/__openerp__.py
Due: none

[MIG] web_dashboard_open_action to v16
  setup/web_dashboard_open_action/odoo/addons/web_dashboard_open_action
  setup/web_dashboard_open_action/setup.py
  web_dashboard_open_action/README.rst
  web_dashboard_open_action/__init__.py
  web_dashboard_open_action/__manifest__.py
  web_dashboard_open_action/__openerp__.py
  web_dashboard_open_action/readme/CONTRIBUTORS.rst
  web_dashboard_open_action/readme/DESCRIPTION.rst
  web_dashboard_open_action/readme/USAGE.est
  web_dashboard_open_action/static/description/index.html
  web_dashboard_open_action/static/src/board_controller.css
  web_dashboard_open_action/static/src/board_controller.esm.js
  web_dashboard_open_action/static/src/board_controller.xml
  web_dashboard_open_action/static/src/css/web_dashboard_open_action.css
  web_dashboard_open_action/static/src/js/web_dashboard_open_action.js
  web_dashboard_open_action/static/src/xml/web_dashboard_open_action.xml
  web_dashboard_open_action/views/templates.xml
Due: prettier, eslint

[IMP] use fontawesome icon, some ui fiddling
  web_dashboard_open_action/static/src/css/web_dashboard_open_action.css
  web_dashboard_open_action/static/src/xml/web_dashboard_open_action.xml
Due: prettier

[FIX] icon
  web_dashboard_open_action/static/description/icon.png
Due: none

[FIX] merge action's and action_attrs'
  web_dashboard_open_action/static/src/js/web_dashboard_open_action.js
Due: prettier, eslint

[ADD] bugtracker section
  web_dashboard_open_action/README.rst
Due: none

[ADD] web_dashboard_open_action
  web_dashboard_open_action/README.rst
  web_dashboard_open_action/__init__.py
  web_dashboard_open_action/__openerp__.py
  web_dashboard_open_action/static/description/icon.png
  web_dashboard_open_action/static/src/css/web_dashboard_open_action.css
  web_dashboard_open_action/static/src/js/web_dashboard_open_action.js
  web_dashboard_open_action/static/src/xml/web_dashboard_open_action.xml
  web_dashboard_open_action/views/templates.xml
Due: prettier, eslint

[ADD] OCA as author
  web_dashboard_open_action/__openerp__.py
Due: none

[UPD] Update web_dashboard_open_action.pot
  web_dashboard_open_action/i18n/web_dashboard_open_action.pot
Due: none

[ADD] use the action's domain + filter
  web_dashboard_open_action/static/src/js/web_dashboard_open_action.js
Due: prettier, eslint

[ADD] web_responsive_attachment_preview
  setup/web_responsive_attachment_preview/odoo/addons/web_responsive_attachment_preview
  setup/web_responsive_attachment_preview/setup.py
  web_responsive_attachment_preview/README.rst
  web_responsive_attachment_preview/__init__.py
  web_responsive_attachment_preview/__manifest__.py
  web_responsive_attachment_preview/readme/CONTRIBUTORS.md
  web_responsive_attachment_preview/readme/DESCRIPTION.md
  web_responsive_attachment_preview/static/description/icon.png
  web_responsive_attachment_preview/static/description/index.html
  web_responsive_attachment_preview/static/src/js/form_controller.esm.js
Due: prettier, eslint

[UPD] Update web_widget_pattern.pot
  web_widget_pattern/i18n/web_widget_pattern.pot
Due: none

Translated using Weblate (Italian)
  web_widget_pattern/i18n/it.po
Due: none

Added translation using Weblate (Italian)
  web_widget_pattern/i18n/it.po
Due: none

[ADD] web_widget_pattern
  web_widget_pattern/README.rst
  web_widget_pattern/__init__.py
  web_widget_pattern/__manifest__.py
  web_widget_pattern/demo/res_partner_views.xml
  web_widget_pattern/models/__init__.py
  web_widget_pattern/models/base.py
  web_widget_pattern/readme/CONTRIBUTORS.md
  web_widget_pattern/readme/DESCRIPTION.md
  web_widget_pattern/readme/ROADMAP.md
  web_widget_pattern/readme/USAGE.md
  web_widget_pattern/static/description/icon.png
  web_widget_pattern/static/description/index.html
  web_widget_pattern/static/src/autocomplete.esm.js
  web_widget_pattern/static/src/autocomplete.xml
  web_widget_pattern/static/src/char_field.esm.js
  web_widget_pattern/static/src/char_field.xml
  web_widget_pattern/tests/__init__.py
  web_widget_pattern/tests/test_web_widget_pattern.py
Due: prettier, eslint

[MIG] web_widget_pattern: Migration to 18.0
  web_widget_pattern/README.rst
  web_widget_pattern/__manifest__.py
  web_widget_pattern/readme/CONTRIBUTORS.md
  web_widget_pattern/static/src/autocomplete.esm.js
  web_widget_pattern/static/src/char_field.esm.js
Due: prettier, eslint

[MIG] web_ir_actions_act_view_reload: Migration to 15.0
  web_ir_actions_act_view_reload/__init__.py
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/models/__init__.py
  web_ir_actions_act_view_reload/models/ir_actions_act_view_reload.py
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.esm.js
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
  web_ir_actions_act_view_reload/views/web_ir_actions_act_view_reload.xml
Due: prettier, eslint

[IMP] web_ir_actions_act_view_reload: black, isort
  web_ir_actions_act_view_reload/__manifest__.py
Due: none

Switch license in js file to be aligned with manifest
  web_ir_actions_act_view_reload/i18n/web_ir_actions_act_view_reload.pot
  web_ir_actions_act_view_reload/static/description/index.html
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
Due: prettier, eslint

Contribution: add module web_ir_actions_act_view_reload
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/__init__.py
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/static/description/icon.png
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
  web_ir_actions_act_view_reload/views/web_ir_actions_act_view_reload.xml
Due: prettier, eslint

web_ir_actions_act_view_reload: fix README (#1633)
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/readme/CONTRIBUTORS.rst
  web_ir_actions_act_view_reload/readme/USAGE.rst
  web_ir_actions_act_view_reload/static/description/index.html
Due: none

[MIG] web_ir_actions_act_view_reload: Migration to 13.0
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/static/description/index.html
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
Due: prettier, eslint

[UPD] Update web_ir_actions_act_view_reload.pot
  web_ir_actions_act_view_reload/i18n/web_ir_actions_act_view_reload.pot
Due: none

[IMP] pre-commit run after update
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/static/description/index.html
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
  web_ir_actions_act_view_reload/views/web_ir_actions_act_view_reload.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_view_reload: Migration to 12.0
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/i18n/web_ir_actions_act_view_reload.pot
  web_ir_actions_act_view_reload/i18n/zh_CN.po
  web_ir_actions_act_view_reload/readme/CONTRIBUTORS.rst
  web_ir_actions_act_view_reload/readme/DESCRIPTION.rst
  web_ir_actions_act_view_reload/readme/USAGE.rst
  web_ir_actions_act_view_reload/static/description/index.html
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
  web_ir_actions_act_view_reload/views/web_ir_actions_act_view_reload.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_view_reload: Migration to 14.0
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/i18n/web_ir_actions_act_view_reload.pot
  web_ir_actions_act_view_reload/static/description/index.html
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.js
Due: prettier, eslint

Update translation files
  web_ir_actions_act_view_reload/i18n/zh_CN.po
Due: none

[UPD] README.rst
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/static/description/index.html
Due: none

[IMP] web_ir_actions_act_view_reload: Change IrActionsActViewReload to AbstractModel
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/i18n/web_ir_actions_act_view_reload.pot
  web_ir_actions_act_view_reload/i18n/zh_CN.po
  web_ir_actions_act_view_reload/models/ir_actions_act_view_reload.py
  web_ir_actions_act_view_reload/static/description/index.html
Due: none

[IMP] web_ir_actions_act_view_reload: pre-commit auto fixes
  web_ir_actions_act_view_reload/README.rst
  web_ir_actions_act_view_reload/pyproject.toml
  web_ir_actions_act_view_reload/readme/CONTRIBUTORS.md
  web_ir_actions_act_view_reload/readme/CONTRIBUTORS.rst
  web_ir_actions_act_view_reload/readme/DESCRIPTION.md
  web_ir_actions_act_view_reload/readme/DESCRIPTION.rst
  web_ir_actions_act_view_reload/readme/USAGE.md
  web_ir_actions_act_view_reload/readme/USAGE.rst
  web_ir_actions_act_view_reload/static/description/index.html
Due: prettier

[MIG] web_ir_actions_act_view_reload: Migration to 18.0
  web_ir_actions_act_view_reload/__manifest__.py
  web_ir_actions_act_view_reload/i18n/web_ir_actions_act_view_reload.pot
Due: none

web_ir_actions_act_view_reload: rewrite JS code
  web_ir_actions_act_view_reload/static/src/js/web_ir_actions_act_view_reload.esm.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

