Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Updated readme and pre-commit
  web_widget_product_label_section_and_note_name_visibility/README.rst
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier

Fixed other extra whitespace
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.scss
  web_widget_product_label_section_and_note_name_visibility/static/src/components/product_label_section_and_note_field/product_label_section_and_note_field.xml
Due: prettier

[IMP] web_ir_actions_act_window_message: add demo action
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/demo/ir_actions_server.xml
  web_ir_actions_act_window_message/readme/USAGE.md
  web_ir_actions_act_window_message/static/description/index.html
Due: prettier

[UPD] web_ir_actions_act_window_message: set hbrunn as maintainer
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/__manifest__.py
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[FIX] web_ir_actions_act_window_message: remove incorrect documentation
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/readme/USAGE.md
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[DEL] web_ir_actions_act_window_message: remove entry from roadmap
  web_ir_actions_act_window_message/README.rst
  web_ir_actions_act_window_message/readme/ROADMAP.md
  web_ir_actions_act_window_message/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/static/description/index.html
Due: none

[UPD] web_m2x_options_manager: overhaul
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/hooks.py
  web_m2x_options_manager/i18n/it.po
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/migrations/14.0.2.0.0/pre-mig.py
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_model_fields.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/common.py
  web_m2x_options_manager/tests/test_ir_model.py
  web_m2x_options_manager/tests/test_ir_model_fields.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/tools.py
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

[UPD] web_m2x_options_manager: overhaul
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/hooks.py
  web_m2x_options_manager/i18n/it.po
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/migrations/16.0.2.0.0/pre-mig.py
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_model_fields.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/USAGE.rst
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/common.py
  web_m2x_options_manager/tests/test_ir_model.py
  web_m2x_options_manager/tests/test_ir_model_fields.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/tools.py
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

[MIG] web_m2x_options_manager: Migration to 17.0
  test-requirements.txt
  web_m2x_options_manager/README.rst
  web_m2x_options_manager/__init__.py
  web_m2x_options_manager/__manifest__.py
  web_m2x_options_manager/demo/res_partner_demo_view.xml
  web_m2x_options_manager/hooks.py
  web_m2x_options_manager/i18n/it.po
  web_m2x_options_manager/i18n/web_m2x_options_manager.pot
  web_m2x_options_manager/models/__init__.py
  web_m2x_options_manager/models/ir_model.py
  web_m2x_options_manager/models/ir_model_fields.py
  web_m2x_options_manager/models/ir_ui_view.py
  web_m2x_options_manager/models/m2x_create_edit_option.py
  web_m2x_options_manager/readme/DESCRIPTION.md
  web_m2x_options_manager/readme/USAGE.md
  web_m2x_options_manager/static/description/index.html
  web_m2x_options_manager/tests/__init__.py
  web_m2x_options_manager/tests/common.py
  web_m2x_options_manager/tests/test_ir_model.py
  web_m2x_options_manager/tests/test_ir_model_fields.py
  web_m2x_options_manager/tests/test_m2x_create_edit_option.py
  web_m2x_options_manager/tools.py
  web_m2x_options_manager/views/ir_model.xml
  web_m2x_options_manager/views/m2x_create_edit_option.xml
Due: prettier

Add module web_ir_actions_act_multi
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__init__.py
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/static/description/icon.png
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 18.0
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/security/ir.model.access.csv
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
Due: prettier, eslint

Translated using Weblate (Spanish)
  web_ir_actions_act_multi/i18n/es.po
Due: none

[MIG] web_ir_actions_act_multi: Migration to 13.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[IMP] web_ir_actions_act_multi: pre-commit auto fixes
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/models/ir_model.py
  web_ir_actions_act_multi/pyproject.toml
  web_ir_actions_act_multi/readme/CONTRIBUTORS.md
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/DESCRIPTION.md
  web_ir_actions_act_multi/readme/DESCRIPTION.rst
  web_ir_actions_act_multi/readme/USAGE.md
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
Due: prettier, eslint

[FIX] apply and respect pre-commit hooks
  web_ir_actions_act_multi/__manifest__.py
Due: none

Translated using Weblate (Italian)
  web_ir_actions_act_multi/i18n/it.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_ir_actions_act_multi/i18n/zh_CN.po
Due: none

Added translation using Weblate (Spanish)
  web_ir_actions_act_multi/i18n/es.po
Due: none

[MIG] web_ir_actions_act_multi: Migration to 15.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__init__.py
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/models/__init__.py
  web_ir_actions_act_multi/models/ir_actions.py
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/security/ir.model.access.csv
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.esm.js
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[UPD] README.rst
  web_ir_actions_act_multi/static/description/index.html
Due: none

[BOT] post-merge updates
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/static/description/index.html
Due: none

[UPD] Update web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
Due: none

[UPD] Brainbean Apps => CorporateHub
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
Due: none

Added translation using Weblate (Italian)
  web_ir_actions_act_multi/i18n/it.po
Due: none

[IMP] web_ir_actions_act_multi: black, isort
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
  web_ir_actions_act_multi/views/web_ir_actions_act_multi.xml
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 12.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/readme/CONTRIBUTORS.rst
  web_ir_actions_act_multi/readme/DESCRIPTION.rst
  web_ir_actions_act_multi/readme/USAGE.rst
  web_ir_actions_act_multi/static/description/index.html
  web_ir_actions_act_multi/static/src/js/web_ir_actions_act_multi.js
Due: prettier, eslint

[MIG] web_ir_actions_act_multi: Migration to 16.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/i18n/es.po
  web_ir_actions_act_multi/i18n/web_ir_actions_act_multi.pot
  web_ir_actions_act_multi/i18n/zh_CN.po
  web_ir_actions_act_multi/static/description/index.html
Due: none

[IMP] web_ir_actions_act_multi: pre-commit auto fixes
  .pre-commit-config.yaml
  web_ir_actions_act_multi/__manifest__.py
Due: prettier

[MIG] web_ir_actions_act_multi: Migration to 19.0
  web_ir_actions_act_multi/README.rst
  web_ir_actions_act_multi/__manifest__.py
  web_ir_actions_act_multi/static/description/index.html
Due: none

[DOCS] web_touchscreen: add screenshot
  web_touchscreen/README.rst
  web_touchscreen/readme/DESCRIPTION.md
  web_touchscreen/static/description/index.html
Due: none

[UPD] Update web_touchscreen.pot
  web_touchscreen/i18n/web_touchscreen.pot
Due: none

[BOT] post-merge updates
  web_touchscreen/README.rst
  web_touchscreen/__manifest__.py
  web_touchscreen/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_touchscreen/i18n/it.po
Due: none

[ADD] web_touchscreen: enable kanban sub-form views for tablets
  web_touchscreen/README.rst
  web_touchscreen/__init__.py
  web_touchscreen/__manifest__.py
  web_touchscreen/readme/CONTEXT.md
  web_touchscreen/readme/CONTRIBUTORS.md
  web_touchscreen/readme/CREDITS.md
  web_touchscreen/readme/DESCRIPTION.md
  web_touchscreen/readme/ROADMAP.md
  web_touchscreen/readme/USAGE.md
  web_touchscreen/static/description/icon.png
  web_touchscreen/static/description/index.html
  web_touchscreen/static/src/form_controller.esm.js
Due: prettier, eslint

[IMP] web_touchscreen: pre-commit auto fixes
  web_touchscreen/pyproject.toml
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

