Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[REF] use new readme conventions. (replace rst by md files)
  web_theme_classic/README.rst
  web_theme_classic/readme/CONTRIBUTORS.md
  web_theme_classic/readme/CONTRIBUTORS.rst
  web_theme_classic/readme/DESCRIPTION.md
  web_theme_classic/readme/DESCRIPTION.rst
  web_theme_classic/readme/ROADMAP.rst
  web_theme_classic/static/description/index.html
Due: none

Added translation using Weblate (French)
  web_theme_classic/i18n/fr.po
Due: none

Added translation using Weblate (Italian)
  web_theme_classic/i18n/it.po
Due: none

[IMP] web_theme_classic : Do not display required color on readonly fields
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[FIX] web_theme_classic : remove obsolete xml declaration.
  web_theme_classic/static/description/index.html
Due: none

add some pixels left/right on input fields
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[UPD] README.rst
  web_theme_classic/README.rst
  web_theme_classic/static/description/index.html
Due: none

[IMP] web_theme_classic : Do not set border-bottom to required field, as the field has now a background-color
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

squashing syntax fixes and using assertLog in unittest
  web_favicon/__manifest__.py
  web_iconify_proxy/README.rst
  web_iconify_proxy/__manifest__.py
  web_iconify_proxy/controllers/main.py
  web_iconify_proxy/static/description/index.html
  web_iconify_proxy/tests/test_main.py
  web_no_bubble/__manifest__.py
  web_notify/README.rst
  web_notify/__manifest__.py
Due: none

Adding extra functionality for svg (rotate, color, ... )
  web_iconify_proxy/README.rst
  web_iconify_proxy/controllers/main.py
  web_iconify_proxy/readme/USAGE.md
  web_iconify_proxy/static/description/index.html
  web_iconify_proxy/tests/test_main.py
Due: none

removed unused method
  web_iconify_proxy/controllers/main.py
Due: none

[18.0][MIG] web_theme_classic: Migration to 18.0
  web_theme_classic/__manifest__.py
Due: none

[FIX] web_widget_x2many_2d_matrix: Handle missing domain condition to prevent errors
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Handle no record for cell to prevent errors
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: update usage example
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[IMP] web_action_conditionable: pre-commit auto fixes
  web_action_conditionable/README.rst
  web_action_conditionable/static/description/index.html
Due: none

[MIG] web_action_conditionable: Migration to 18.0
  web_action_conditionable/__manifest__.py
  web_action_conditionable/static/src/components/field_one2many.esm.js
Due: prettier, eslint

[IMP]web_responsive: fixed the issue of file viewer not display in form view
  web_responsive/README.rst
  web_responsive/models/ir_http.py
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/readme/DESCRIPTION.md
  web_responsive/static/description/index.html
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/form_statusbar.scss
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

[IMP] web_form_view_resizable: proporitonal min/maxWidth, resize with pdfpreview, jumping issue when resizing
  web_form_view_resizable/__manifest__.py
  web_form_view_resizable/static/description/index.html
  web_form_view_resizable/static/src/js/form_view_resizable.esm.js
  web_form_view_resizable/static/src/scss/form_view_resizable.scss
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Handle missing domain condition to prevent errors
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: handle field's widget properly (which support m2m field as a field_value)
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[MIG][18.0] web_m2x_options
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/readme/CONTRIBUTORS.md
  web_m2x_options/static/description/index.html
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[IMP] web_listview_range_select: black, isort, prettier
  web_listview_range_select/__manifest__.py
  web_listview_range_select/static/src/js/web_listview_range_select.js
  web_listview_range_select/templates/assets.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_listview_range_select/i18n/it.po
Due: none

[MIG] web_listview_range_select: Migration to 16.0
  web_listview_range_select/README.rst
  web_listview_range_select/__manifest__.py
  web_listview_range_select/i18n/web_listview_range_select.pot
  web_listview_range_select/readme/CONTRIBUTORS.rst
  web_listview_range_select/static/description/index.html
  web_listview_range_select/static/src/js/web_listview_range_select.esm.js
  web_listview_range_select/static/src/js/web_listview_range_select.js
  web_listview_range_select/static/src/xml/web_listview_range_select.xml
Due: prettier, eslint

[ADD] web_listview_range_select
  web_listview_range_select/README.rst
  web_listview_range_select/__init__.py
  web_listview_range_select/__manifest__.py
  web_listview_range_select/static/src/js/web_listview_range_select.js
  web_listview_range_select/templates/assets.xml
Due: prettier, eslint

[MIG] web_listview_range_select: Migration to 12.0
  web_listview_range_select/README.rst
  web_listview_range_select/__manifest__.py
  web_listview_range_select/i18n/web_listview_range_select.pot
  web_listview_range_select/readme/CONTRIBUTORS.rst
  web_listview_range_select/readme/DESCRIPTION.rst
  web_listview_range_select/readme/ROADMAP.rst
  web_listview_range_select/readme/USAGE.rst
  web_listview_range_select/static/description/icon.png
  web_listview_range_select/static/description/index.html
  web_listview_range_select/static/src/js/web_listview_range_select.js
Due: prettier, eslint

Added translation using Weblate (Croatian)
  web_listview_range_select/i18n/hr.po
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_listview_range_select/i18n/zh_CN.po
Due: none

[MIG] web_listview_range_select: Migration to 13.0
  web_listview_range_select/README.rst
  web_listview_range_select/__manifest__.py
  web_listview_range_select/i18n/web_listview_range_select.pot
  web_listview_range_select/readme/CONTRIBUTORS.rst
  web_listview_range_select/readme/USAGE.rst
  web_listview_range_select/static/description/index.html
  web_listview_range_select/static/src/js/web_listview_range_select.js
Due: prettier, eslint

Added translation using Weblate (Spanish)
  web_listview_range_select/i18n/es.po
Due: none

[MIG] web_listview_range_select: Migration to 14.0
  web_listview_range_select/README.rst
  web_listview_range_select/__manifest__.py
  web_listview_range_select/i18n/web_listview_range_select.pot
  web_listview_range_select/static/description/index.html
  web_listview_range_select/static/src/js/web_listview_range_select.js
Due: prettier, eslint

[MIG] web_listview_range_select: Migration to 11.0
  web_listview_range_select/README.rst
  web_listview_range_select/__init__.py
  web_listview_range_select/__manifest__.py
  web_listview_range_select/i18n/web_listview_range_select.pot
  web_listview_range_select/static/src/js/web_listview_range_select.js
Due: prettier, eslint

[MIG] web_listview_range_select: Migration to 15.0
  web_listview_range_select/README.rst
  web_listview_range_select/__manifest__.py
  web_listview_range_select/i18n/es.po
  web_listview_range_select/i18n/hr.po
  web_listview_range_select/i18n/web_listview_range_select.pot
  web_listview_range_select/i18n/zh_CN.po
  web_listview_range_select/static/description/index.html
  web_listview_range_select/templates/assets.xml
Due: prettier

[IMP] web_listview_range_select: black, isort, prettier
  web_listview_range_select/README.rst
  web_listview_range_select/pyproject.toml
  web_listview_range_select/readme/CONTRIBUTORS.md
  web_listview_range_select/readme/CONTRIBUTORS.rst
  web_listview_range_select/readme/DESCRIPTION.md
  web_listview_range_select/readme/ROADMAP.md
  web_listview_range_select/readme/ROADMAP.rst
  web_listview_range_select/readme/USAGE.md
  web_listview_range_select/readme/USAGE.rst
  web_listview_range_select/static/description/index.html
  web_listview_range_select/static/src/xml/web_listview_range_select.xml
Due: prettier

[MIG] web_listview_range_select: Migration to 18.0
  web_listview_range_select/__manifest__.py
  web_listview_range_select/static/src/js/web_listview_range_select.esm.js
Due: prettier, eslint

[16.0] web_dark_mode: adapt date picker coloring
  web_dark_mode/readme/CONTRIBUTORS.rst
  web_dark_mode/static/src/scss/variables.scss
Due: prettier

[IMP] web_environment_ribbon: hide the ribbon when navigation is in use
  web_environment_ribbon/static/src/components/environment_ribbon/ribbon.css
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

