Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[16.0][IMP] web_responsive: To follow the app menu icon in Odoo 16
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier

web_responsive 16.0.1.0.1
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: make keyboard navigation in Apps menu Search results works again. Due to changes in javascript framework keyboard navigation was broken. This commit makes it work again.
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier, eslint

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[MIG] web_responsive: Migration to 15.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/i18n/fa.po
  web_responsive/i18n/fa_IR.po
  web_responsive/i18n/fr.po
  web_responsive/models/res_users.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/apps_menu/apps_menu.xml
  web_responsive/static/src/components/attachment_viewer/attachment_viewer.esm.js
  web_responsive/static/src/components/attachment_viewer/attachment_viewer.scss
  web_responsive/static/src/components/attachment_viewer/attachment_viewer.xml
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/control_panel/control_panel.scss
  web_responsive/static/src/components/control_panel/control_panel.xml
  web_responsive/static/src/components/hotkey/hotkey.scss
  web_responsive/static/src/components/hotkey/hotkey.xml
  web_responsive/static/src/components/navbar/main_navbar.scss
  web_responsive/static/src/components/navbar/main_navbar.xml
  web_responsive/static/src/components/search_panel/search_panel.esm.js
  web_responsive/static/src/components/search_panel/search_panel.scss
  web_responsive/static/src/components/search_panel/search_panel.xml
  web_responsive/static/src/components/ui_context.esm.js
  web_responsive/static/src/css/web_responsive.scss
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/legacy/css/kanban_view_mobile.scss
  web_responsive/static/src/legacy/css/web_responsive.scss
  web_responsive/static/src/legacy/js/kanban_renderer_mobile.js
  web_responsive/static/src/legacy/js/web_responsive.js
  web_responsive/static/src/legacy/xml/form_buttons.xml
  web_responsive/static/src/xml/apps.xml
  web_responsive/static/src/xml/control_panel.xml
  web_responsive/static/src/xml/discuss.xml
  web_responsive/static/src/xml/menu.xml
  web_responsive/static/src/xml/navbar.xml
  web_responsive/tests/test_res_users.py
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[FIX] web_responsive: fix dropdown caret visibility on website
  web_responsive/static/src/legacy/scss/website_apps_menu.scss
Due: prettier

[FIX] web_responsive: Make showAppsMenuItem work again
  web_responsive/__manifest__.py
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

web_responsive 16.0.1.1.0
  web_responsive/__manifest__.py
Due: none

[IMP] web_responsive: Redirect to home after login Redirect to the home page after login will occur only if the user has enabled the 'Redirect to Home' configuration in their user profile settings
  web_responsive/README.rst
  web_responsive/models/res_users.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/readme/DESCRIPTION.md
  web_responsive/static/description/index.html
  web_responsive/static/img/redirecthome.gif
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/tests/__init__.py
  web_responsive/tests/test_res_users.py
  web_responsive/views/res_users_views.xml
Due: prettier, eslint

Translated using Weblate (Croatian)
  web_responsive/i18n/hr.po
Due: none

[IMP] web_responsive: Apply pre-commit changes
  web_responsive/__manifest__.py
  web_responsive/static/src/xml/menu.xml
Due: prettier

[FIX] web_responsive: Fix test related to ir.actions.act_window
  web_responsive/tests/test_res_users.py
Due: none

[FIX] make base odoo JS tests working with web_responsive module
  web_responsive/__manifest__.py
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

web_responsive 16.0.1.1.1
  web_responsive/__manifest__.py
Due: none

web_responsive 16.0.1.1.2
  web_responsive/__manifest__.py
Due: none

Translated using Weblate (Dutch)
  web_responsive/i18n/nl.po
Due: none

[FIX] web_responsive: Label width on modal
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

[BUILD] web_responsive: resign as maintainer
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[IMP] web_responsive: Remove unnecessary calendar optimisation
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

[FIX] web_responsive: Fix blank screen on search (support menus w/o xmlid)
  web_responsive/static/src/components/menu_canonical_searchbar/searchbar.xml
Due: prettier

Translated using Weblate (Turkish)
  web_responsive/i18n/tr.po
Due: none

Translated using Weblate (French (Belgium))
  web_responsive/i18n/fr_BE.po
Due: none

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

[IMP] web_responsive: pre-commit auto fixes
  web_responsive/static/src/components/apps_menu_item/apps_menu_item.scss
  web_responsive/static/src/components/file_viewer/file_viewer.scss
  web_responsive/static/src/legacy/scss/primary_variable.scss
  web_responsive/static/src/legacy/scss/web_responsive.scss
  web_responsive/static/src/legacy/xml/custom_favorite_item.xml
  web_responsive/static/src/views/form/status_bar_buttons.xml
Due: prettier

Translated using Weblate (Spanish)
  web_responsive/i18n/es.po
Due: none

[FIX] web_responsive: Tours that uses showAppsMenuItem are failing
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/tests/test_patch.esm.js
Due: prettier, eslint

Added translation using Weblate (Spanish (Venezuela))
  web_responsive/i18n/es_VE.po
Due: none

Added translation using Weblate (French (Belgium))
  web_responsive/i18n/fr_BE.po
Due: none

[IMP] web_responsive: Fix bug submenu on mobile
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.scss
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

