Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[14.0][MIG] Migrated web_timeline.
  web_timeline/README.rst
  web_timeline/i18n/de.po
  web_timeline/i18n/fa.po
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[MIG] web_timeline module from v10 to v11
  web_timeline/README.rst
  web_timeline/__init__.py
  web_timeline/__manifest__.py
  web_timeline/models/__init__.py
  web_timeline/models/ir_view.py
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_model.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
  web_timeline/static/src/js/web_timeline.js
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[IMP] web_timeline: Extracted from incubator
  web_timeline/README.rst
  web_timeline/__init__.py
  web_timeline/__openerp__.py
  web_timeline/ir_view.py
  web_timeline/project_view.xml
  web_timeline/static/lib/vis/img/network/acceptDeleteIcon.png
  web_timeline/static/lib/vis/img/network/addNodeIcon.png
  web_timeline/static/lib/vis/img/network/backIcon.png
  web_timeline/static/lib/vis/img/network/connectIcon.png
  web_timeline/static/lib/vis/img/network/cross.png
  web_timeline/static/lib/vis/img/network/cross2.png
  web_timeline/static/lib/vis/img/network/deleteIcon.png
  web_timeline/static/lib/vis/img/network/downArrow.png
  web_timeline/static/lib/vis/img/network/editIcon.png
  web_timeline/static/lib/vis/img/network/leftArrow.png
  web_timeline/static/lib/vis/img/network/minus.png
  web_timeline/static/lib/vis/img/network/plus.png
  web_timeline/static/lib/vis/img/network/rightArrow.png
  web_timeline/static/lib/vis/img/network/upArrow.png
  web_timeline/static/lib/vis/img/network/zoomExtends.png
  web_timeline/static/lib/vis/img/timeline/delete.png
  web_timeline/static/lib/vis/vis.css
  web_timeline/static/lib/vis/vis.js
  web_timeline/static/lib/vis/vis.map
  web_timeline/static/lib/vis/vis.min.css
  web_timeline/static/lib/vis/vis.min.js
  web_timeline/static/src/css/web_timeline.css
  web_timeline/static/src/js/web_timeline.js
  web_timeline/static/src/xml/web_timeline.xml
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[MIG] web_timeline: Migration to 13.0
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/models/__init__.py
  web_timeline/models/ir_ui_view.py
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/readme/DESCRIPTION.rst
  web_timeline/static/description/index.html
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.min.css
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.min.js
  web_timeline/static/lib/vis/vis-timeline-graph2d.min.css
  web_timeline/static/lib/vis/vis-timeline-graph2d.min.js
  web_timeline/static/src/css/web_timeline.css
  web_timeline/static/src/js/timeline_canvas.js
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_model.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
  web_timeline/static/src/scss/web_timeline.scss
  web_timeline/static/src/xml/web_timeline.xml
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[Fix OCA/project#317] Add the property date_delay to TimeLine views (same as base Calendar view)
  web_timeline/README.rst
  web_timeline/static/src/js/web_timeline.js
Due: prettier, eslint

[MIG] web_timeline: Migration to 9.0
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/models/ir_view.py
  web_timeline/static/description/icon.png
  web_timeline/static/src/css/web_timeline.css
  web_timeline/static/src/js/web_timeline.js
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

[10.0][IMP] web_timeline improvements:
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/i18n/fr.po
  web_timeline/static/lib/vis/img/network/acceptDeleteIcon.png
  web_timeline/static/lib/vis/img/network/addNodeIcon.png
  web_timeline/static/lib/vis/img/network/backIcon.png
  web_timeline/static/lib/vis/img/network/connectIcon.png
  web_timeline/static/lib/vis/img/network/cross.png
  web_timeline/static/lib/vis/img/network/cross2.png
  web_timeline/static/lib/vis/img/network/deleteIcon.png
  web_timeline/static/lib/vis/img/network/downArrow.png
  web_timeline/static/lib/vis/img/network/editIcon.png
  web_timeline/static/lib/vis/img/network/leftArrow.png
  web_timeline/static/lib/vis/img/network/minus.png
  web_timeline/static/lib/vis/img/network/plus.png
  web_timeline/static/lib/vis/img/network/rightArrow.png
  web_timeline/static/lib/vis/img/network/upArrow.png
  web_timeline/static/lib/vis/img/network/zoomExtends.png
  web_timeline/static/lib/vis/img/timeline/delete.png
  web_timeline/static/lib/vis/vis-timeline-graph2d.min.css
  web_timeline/static/lib/vis/vis-timeline-graph2d.min.js
  web_timeline/static/lib/vis/vis.css
  web_timeline/static/lib/vis/vis.js
  web_timeline/static/lib/vis/vis.map
  web_timeline/static/lib/vis/vis.min.css
  web_timeline/static/lib/vis/vis.min.js
  web_timeline/static/src/js/web_timeline.js
  web_timeline/views/web_timeline.xml
Due: prettier, eslint

Fixed web_timeline.css
  web_timeline/__manifest__.py
  web_timeline/i18n/es.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/nl_NL.po
  web_timeline/static/src/css/web_timeline.css
Due: prettier

[FIX] web_timeline: order group_by field
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_model.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[MIG] web_timeline: Migration to 15.0
  web_timeline/__manifest__.py
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/views/web_timeline.xml
Due: prettier

[12.0][web_timeline] Fix bug from group_order: locale instead locate.
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[10.0] [FIX] [web_timeline] Correct write when grouped by (#678)
  web_timeline/static/src/js/web_timeline.js
Due: prettier, eslint

[FIX] web_timeline: date_delay = date_stop - date_start
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_controller.esm.js
Due: prettier, eslint

Update translation files
  web_timeline/i18n/de.po
  web_timeline/i18n/es.po
  web_timeline/i18n/fa.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/he.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/pt.po
  web_timeline/i18n/pt_BR.po
  web_timeline/i18n/zh_CN.po
Due: none

[FIX] web_timeline: updateProm.finally is not a function Following odoo#102621 an UncaughtPromiseError > TypeError occured each time an update was triggered in timeline view Fixed by returning super
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_controller.js
Due: prettier, eslint

[FIX] web_timeline: css and styles not charged when rendering timeline
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint

Added translation using Weblate (Turkish)
  web_timeline/i18n/tr.po
Due: none

[FIX] web_timeline: utc and create_completed fix wrong time used when creating new record
  web_timeline/static/src/js/timeline_controller.js
Due: prettier, eslint

Update vis-timeline-graph2d lib: 7.3.4 -> 7.7.0
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/description/index.html
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.css
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.js
Due: none

[MIG] web_timeline: Migration to 16.0
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/i18n/web_timeline.pot
  web_timeline/readme/CONFIGURE.rst
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/static/description/index.html
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.js
  web_timeline/static/src/js/timeline_controller.esm.js
  web_timeline/static/src/js/timeline_controller.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[FIX] web_timeline: Add record - FormViewDialog - resId: null -> false (cannot be null)
  web_timeline/__manifest__.py
  web_timeline/static/src/js/timeline_controller.esm.js
Due: prettier, eslint

Translated using Weblate (Croatian)
  web_timeline/i18n/hr.po
Due: none

Translated using Weblate (Spanish)
  web_timeline/i18n/es.po
Due: none

[IMP] web_timeline: Add demo view on cron tasks
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/demo/ir_cron_view.xml
  web_timeline/readme/CONFIGURE.rst
  web_timeline/static/description/index.html
Due: prettier

[FIX] web_timeline: Enable XSS filtering with whitelist for safer HTML rendering
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

Update translation files
  web_timeline/i18n/de.po
  web_timeline/i18n/es.po
  web_timeline/i18n/fa.po
  web_timeline/i18n/fr.po
  web_timeline/i18n/he.po
  web_timeline/i18n/hr.po
  web_timeline/i18n/it.po
  web_timeline/i18n/nl_NL.po
  web_timeline/i18n/pt.po
  web_timeline/i18n/pt_BR.po
  web_timeline/i18n/tr.po
  web_timeline/i18n/zh_CN.po
Due: none

[IMP] web_timeline: Follow create/edit/delete attrs
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/readme/ROADMAP.rst
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_controller.esm.js
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[MOVE] web_timeline: new folder structure according Odoo guideslines
  web_timeline/__manifest__.py
  web_timeline/static/src/views/timeline/timeline_canvas.esm.js
  web_timeline/static/src/views/timeline/timeline_canvas.scss
  web_timeline/static/src/views/timeline/timeline_canvas.xml
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
  web_timeline/static/src/views/timeline/timeline_view.esm.js
  web_timeline/static/src/views/timeline/timeline_view.scss
  web_timeline/static/src/views/timeline/timeline_view.xml
Due: prettier, eslint

Translated using Weblate (Portuguese (Brazil))
  web_timeline/i18n/pt_BR.po
Due: none

[IMP] web_timeline: Handle inverted date ranges
  web_timeline/static/src/js/timeline_renderer.js
Due: prettier, eslint

[FIX] web_timeline: Redraw issues with initial mode
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[IMP] web_timeline: Align to top instead of bottom
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[IMP] web_timeline: Update vis-timeline-graph2d lib: 7.7.0 -> 7.7.3
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/static/description/index.html
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.css
  web_timeline/static/lib/vis-timeline/vis-timeline-graph2d.js
Due: none

[IMP] web_timeline: Overflow text, add hover colors
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/readme/ROADMAP.rst
  web_timeline/static/description/index.html
  web_timeline/static/src/scss/web_timeline.scss
Due: prettier

[FIX] web_timeline: Add <b> element to XSS whitelist for safer HTML rendering
  web_timeline/README.rst
  web_timeline/i18n/web_timeline.pot
  web_timeline/static/description/index.html
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_timeline/i18n/it.po
Due: none

[IMP] web_timeline: pre-commit auto fixes
  web_timeline/README.rst
  web_timeline/pyproject.toml
  web_timeline/readme/CONFIGURE.md
  web_timeline/readme/CONFIGURE.rst
  web_timeline/readme/CONTRIBUTORS.md
  web_timeline/readme/CONTRIBUTORS.rst
  web_timeline/readme/DESCRIPTION.md
  web_timeline/readme/DESCRIPTION.rst
  web_timeline/readme/ROADMAP.md
  web_timeline/readme/ROADMAP.rst
  web_timeline/readme/USAGE.md
  web_timeline/readme/USAGE.rst
  web_timeline/static/description/index.html
Due: prettier

Translated using Weblate (French)
  web_timeline/i18n/fr.po
Due: none

[MIG] web_timeline: Migration to 18.0
  web_timeline/README.rst
  web_timeline/__manifest__.py
  web_timeline/demo/ir_cron_view.xml
  web_timeline/models/ir_ui_view.py
  web_timeline/readme/CONFIGURE.md
  web_timeline/static/description/index.html
  web_timeline/static/src/views/timeline/timeline_arch_parser.esm.js
  web_timeline/static/src/views/timeline/timeline_canvas.esm.js
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
  web_timeline/static/src/views/timeline/timeline_view.esm.js
  web_timeline/static/tests/helpers.esm.js
  web_timeline/static/tests/web_timeline_arch_parser_tests.esm.js
  web_timeline/static/tests/web_timeline_view_tests.esm.js
  web_timeline/tests/test_web_timeline.py
Due: prettier, eslint

[IMP] web_timeline: black, isort, prettier
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

