Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


[18.0][MIG] web_responsive: Migration to 18.0
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/readme/CONTRIBUTORS.md
  web_responsive/static/description/index.html
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
  web_responsive/static/src/components/apps_menu/apps_menu.xml
  web_responsive/static/src/components/apps_menu/apps_menu_preferences.esm.js
  web_responsive/static/src/components/apps_menu_item/apps_menu_item.esm.js
  web_responsive/static/src/components/apps_menu_tools.esm.js
  web_responsive/static/src/components/chatter/base_recipients_list.xml
  web_responsive/static/src/components/chatter/chatter.esm.js
  web_responsive/static/src/components/chatter/chatter.xml
  web_responsive/static/src/components/command_palette/main.esm.js
  web_responsive/static/src/components/control_panel/control_panel.esm.js
  web_responsive/static/src/components/file_viewer/file_viewer.esm.js
  web_responsive/static/src/components/menu_canonical_searchbar/searchbar.esm.js
  web_responsive/static/src/components/menu_canonical_searchbar/searchbar.xml
  web_responsive/static/src/components/menu_fuse_searchbar/searchbar.esm.js
  web_responsive/static/src/components/menu_odoo_searchbar/searchbar.esm.js
  web_responsive/static/src/components/menu_odoo_searchbar/searchbar.scss
  web_responsive/static/src/components/menu_searchbar/searchbar.esm.js
  web_responsive/static/src/legacy/js/web_responsive.esm.js
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/status_bar_buttons.xml
  web_responsive/static/tests/apps_menu_search_tests.esm.js
  web_responsive/static/tests/apps_menu_tests.esm.js
  web_responsive/static/tests/test_patch.esm.js
  web_responsive/static/tests/test_patch.js
Due: prettier, eslint

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: Click everywhere not working
  web_responsive/__manifest__.py
  web_responsive/static/src/clickbot/clickbot.esm.js
Due: prettier, eslint

[MIG] web_form_banner: Migration to 15.0
  web_form_banner/README.rst
  web_form_banner/__manifest__.py
  web_form_banner/models/web_form_banner_rule.py
  web_form_banner/readme/USAGE.rst
  web_form_banner/static/description/index.html
  web_form_banner/static/src/js/web_form_banner.esm.js
  web_form_banner/static/src/js/web_form_banner.js
  web_form_banner/tests/test_web_form_banner.py
  web_form_banner/views/assets.xml
  web_form_banner/views/web_form_banner_rule_views.xml
Due: prettier, eslint

Update translation files
  web_favicon/i18n/da.po
  web_favicon/i18n/de.po
  web_favicon/i18n/es.po
  web_favicon/i18n/hr.po
  web_favicon/i18n/nl_NL.po
  web_favicon/i18n/pt_BR.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  web_favicon/i18n/pt_BR.po
Due: none

[IMP] web_favicon: pre-commit auto fixes
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/controllers/web_favicon.py
  web_favicon/models/res_company.py
  web_favicon/pyproject.toml
  web_favicon/readme/CONFIGURE.md
  web_favicon/readme/CONFIGURE.rst
  web_favicon/readme/DESCRIPTION.md
  web_favicon/readme/DESCRIPTION.rst
  web_favicon/readme/ROADMAP.md
  web_favicon/readme/ROADMAP.rst
  web_favicon/static/description/index.html
  web_favicon/static/src/img/browserconfig.xml
  web_favicon/static/src/img/manifest.json
  web_favicon/static/src/img/website_favicon_sample.html
  web_favicon/tests/test_web_favicon.py
  web_favicon/views/res_company.xml
  web_favicon/views/templates.xml
Due: prettier

[MIG] web_favicon: Migration to 18.0
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/models/res_company.py
  web_favicon/static/description/index.html
  web_favicon/tests/test_web_favicon.py
Due: none

Translated using Weblate (Catalan)
  web_favicon/i18n/ca.po
Due: none

Translated using Weblate (Turkish)
  web_favicon/i18n/tr.po
Due: none

[MIG] web_favicon: Migration to 9.0
  web_favicon/README.rst
  web_favicon/__openerp__.py
  web_favicon/views/res_company.xml
Due: prettier

Added translation using Weblate (Danish)
  web_favicon/i18n/da.po
Due: none

[UPD] Update web_favicon.pot
  web_favicon/i18n/web_favicon.pot
Due: none

Translated using Weblate (German)
  web_favicon/i18n/de.po
Due: none

OCA Transbot updated translations from Transifex
  web_favicon/i18n/de.po
  web_favicon/i18n/es.po
  web_favicon/i18n/hr.po
Due: none

Translated using Weblate (Italian)
  web_favicon/i18n/it.po
Due: none

OCA Transbot updated translations from Transifex
  web_favicon/i18n/nl_NL.po
  web_favicon/i18n/pt_BR.po
Due: none

[UPD] README.rst
  web_favicon/static/description/index.html
Due: none

Translated using Weblate (Spanish)
  web_favicon/i18n/es.po
Due: none

[FIX] web_favicon: Ensure web favicon is displayed on the website
  web_favicon/models/res_company.py
  web_favicon/tests/test_web_favicon.py
Due: none

Added translation using Weblate (Chinese (Simplified))
  web_favicon/i18n/zh_CN.po
Due: none

Added translation using Weblate (Portuguese)
  web_favicon/i18n/pt.po
Due: none

Added translation using Weblate (Turkish)
  web_favicon/i18n/tr.po
Due: none

[IMP] web_favicon: Use relative import
  web_favicon/tests/test_web_favicon.py
Due: none

[MIG] web_favicon: Migrated to 10.0 (#459)
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/controllers/web_favicon.py
  web_favicon/models/res_company.py
  web_favicon/tests/test_web_favicon.py
  web_favicon/views/res_company.xml
  web_favicon/views/templates.xml
Due: prettier

Translated using Weblate (Portuguese)
  web_favicon/i18n/pt.po
Due: none

[ADD] web_favicon: test case for _get_favicon handling multiple companies in cids cookie
  web_favicon/tests/test_web_favicon.py
Due: none

Update translation files
  web_favicon/i18n/ca.po
  web_favicon/i18n/ca_ES.po
  web_favicon/i18n/pt.po
  web_favicon/i18n/pt_BR.po
  web_favicon/i18n/tr.po
  web_favicon/i18n/zh_CN.po
Due: none

[MIG] web_favicon: Migration to 12.0
  web_favicon/README.rst
  web_favicon/__init__.py
  web_favicon/__manifest__.py
  web_favicon/controllers/__init__.py
  web_favicon/controllers/web_favicon.py
  web_favicon/models/__init__.py
  web_favicon/models/res_company.py
  web_favicon/readme/CONFIGURE.rst
  web_favicon/readme/DESCRIPTION.rst
  web_favicon/readme/ROADMAP.rst
  web_favicon/static/description/index.html
  web_favicon/tests/__init__.py
  web_favicon/tests/test_web_favicon.py
  web_favicon/views/templates.xml
Due: prettier

Translated using Weblate (Chinese (Simplified))
  web_favicon/i18n/zh_CN.po
Due: none

Update translation files
  web_favicon/i18n/it.po
Due: none

[ADD] Group 'Edit Favicon'
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/views/res_company.xml
Due: prettier

Added translation using Weblate (Catalan)
  web_favicon/i18n/ca_ES.po
Due: none

[UPD] README.rst
  web_favicon/README.rst
  web_favicon/static/description/index.html
Due: none

[BOT] post-merge updates
  web_favicon/README.rst
  web_favicon/__manifest__.py
  web_favicon/static/description/index.html
Due: none

[BOT] post-merge updates
  web_favicon/README.rst
  web_favicon/static/description/index.html
Due: none
