Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


web_widget_x2many_2d_matrix 15.0.1.0.2
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

web_widget_x2many_2d_matrix 16.0.1.1.0
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

[IMP] web_widget_x2many_2d_matrix: Debug mode
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

[IMP] pass computed totals to inheriting function
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: Update example
  web_widget_x2many_2d_matrix/README.rst
Due: none

[MIG] web_widget_x2many_2d_matrix: Migration to 12.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__init__.py
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/readme/DESCRIPTION.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.rst
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier

[FIX] web_widget_x2many_2d_matrix: fixes (#712)
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[ADD] validation
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] README.rst
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[15.0][MIG] web_widget_x2many_2d_matrix
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier

[UPD] readme
  web_widget_x2many_2d_matrix/README.rst
Due: none

web_widget_x2many_2d_matrix 14.0.1.0.1
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

[IMP] support changing readonly state
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[FIX] support rerendering after virtual ids change
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[ADD] web_widget_x2many_2d_matrix
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__init__.py
  web_widget_x2many_2d_matrix/__openerp__.py
  web_widget_x2many_2d_matrix/static/description/icon.png
  web_widget_x2many_2d_matrix/static/src/css/web_widget_x2many_2d_matrix.css
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
  web_widget_x2many_2d_matrix/views/templates.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Wrong widget
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/abstract_view_matrix_limit_extend.js
Due: prettier, eslint

web_widget_x2many_2d_matrix 16.0.1.1.1
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

[IMP] web_widget_x2many_2d_matrix: pre-commit auto fixes
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/pyproject.toml
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.md
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/readme/DESCRIPTION.md
  web_widget_x2many_2d_matrix/readme/DESCRIPTION.rst
  web_widget_x2many_2d_matrix/readme/HISTORY.md
  web_widget_x2many_2d_matrix/readme/HISTORY.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.md
  web_widget_x2many_2d_matrix/readme/ROADMAP.rst
  web_widget_x2many_2d_matrix/readme/USAGE.md
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/views/fields/boolean/boolean_field.esm.js
Due: prettier, eslint

[FIX] also reinitialize totals
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

Update translation files
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Revert "[FIX] web_widget_x2many_2d_matrix: Forced render mode to list on small screens"
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/CONTRIBUTORS.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_view.js
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

remove comma
  web_widget_x2many_2d_matrix/__openerp__.py
Due: none

[11.0] x2m matrix widget: Fix display of widget when called in onchange
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

Translated using Weblate (Dutch)
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
Due: none

[FIX] web_widget_x2many_2d_matrix: Ensure lines order
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Fix linters
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: Many2one value field
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Closing parenthesis
  web_widget_x2many_2d_matrix/static/src/js/abstract_view_matrix_limit_extend.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: Several improvements
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] web_widget_x2many_2d_matrix: black, isort, prettier
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Allow empty cells
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] prefix versions with 8.0
  web_widget_x2many_2d_matrix/__openerp__.py
Due: none

[IMP] web_widget_x2many_2d_matrix: Check is aggregatable
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
Due: prettier, eslint

Add bug tracker link on README.rst
  web_widget_x2many_2d_matrix/README.rst
Due: none

[MIG+REF][11] web_widget_x2many_2d_matrix
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/icon.png
  web_widget_x2many_2d_matrix/static/description/screenshot.png
  web_widget_x2many_2d_matrix/static/src/css/web_widget_x2many_2d_matrix.css
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: remove console.log
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

Translated using Weblate (Portuguese (Brazil))
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
Due: none
