Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_widget_numeric_step/README.rst
  web_widget_numeric_step/static/description/index.html
Due: none

[FIX] web_widget_one2many_tree_line_duplicate: keep relational values on the clone
  web_widget_one2many_tree_line_duplicate/static/src/list/list_renderer.esm.js
Due: prettier, eslint

[ADD] web_theme_focus: minimal focus backend theme - larger icons, hidden search, transparent navbar
  web_theme_focus/README.rst
  web_theme_focus/__init__.py
  web_theme_focus/__manifest__.py
  web_theme_focus/i18n/web_theme_focus.pot
  web_theme_focus/models/__init__.py
  web_theme_focus/models/res_users.py
  web_theme_focus/pyproject.toml
  web_theme_focus/readme/CONTRIBUTORS.md
  web_theme_focus/readme/DESCRIPTION.md
  web_theme_focus/readme/ROADMAP.md
  web_theme_focus/static/description/icon.png
  web_theme_focus/static/description/index.html
  web_theme_focus/static/src/img/app_switcher_background_dark.svg
  web_theme_focus/static/src/img/app_switcher_background_light.svg
  web_theme_focus/static/src/js/app_theme.esm.js
  web_theme_focus/static/src/scss/apps_menu.dark.scss
  web_theme_focus/static/src/scss/apps_menu.scss
  web_theme_focus/static/src/scss/navbar.dark.scss
  web_theme_focus/static/src/scss/navbar.scss
  web_theme_focus/tests/__init__.py
  web_theme_focus/tests/test_apps_menu_theme.py
Due: prettier, eslint

[BOT] post-merge updates
  README.md
  web_widget_one2many_tree_line_duplicate/README.rst
  web_widget_one2many_tree_line_duplicate/__manifest__.py
  web_widget_one2many_tree_line_duplicate/static/description/index.html
Due: none

Added translation using Weblate (Slovenian)
  web_notify_channel_message/i18n/sl.po
Due: none

[IMP] web_notify_channel_message: black, isort, prettier
  web_notify_channel_message/README.rst
  web_notify_channel_message/static/description/index.html
Due: none

[MIG] web_notify_channel_message: Migration to 17.0
  web_notify_channel_message/__manifest__.py
  web_notify_channel_message/models/__init__.py
  web_notify_channel_message/models/discuss_channel.py
  web_notify_channel_message/models/res_users.py
  web_notify_channel_message/tests/test_notify_channel_message.py
Due: none

Update translation files
  web_notify_channel_message/i18n/fr.po
Due: none

Added translation using Weblate (Spanish)
  web_notify_channel_message/i18n/es.po
Due: none

[ADD] icon.png
  web_notify_channel_message/static/description/icon.png
Due: none

[IMP] web_notify_channel_message: apply the extract method refactor
  web_notify_channel_message/models/mail_channel.py
Due: none

[MIG] web_notify_channel_message: Migration to 15.0
  web_notify_channel_message/__manifest__.py
Due: none

[UPD] Update web_notify_channel_message.pot
  web_notify_channel_message/i18n/web_notify_channel_message.pot
Due: none

Added translation using Weblate (French)
  web_notify_channel_message/i18n/fr.po
Due: none

[IMP] web_notity: HTML formatting
  web_notify_channel_message/models/res_users.py
Due: none

Translated using Weblate (Slovenian)
  web_notify_channel_message/i18n/sl.po
Due: none

[MIG] web_notify_channel_message: Migration to 18.0
  web_notify_channel_message/__manifest__.py
  web_notify_channel_message/models/res_users.py
Due: none

[FIX] web_notify_channel_message
  web_notify_channel_message/models/__init__.py
  web_notify_channel_message/models/mail_channel.py
  web_notify_channel_message/models/res_users.py
  web_notify_channel_message/tests/test_notify_channel_message.py
Due: none

Translated using Weblate (French)
  web_notify_channel_message/i18n/fr.po
Due: none

[UPD] README.rst
  web_notify_channel_message/README.rst
  web_notify_channel_message/static/description/index.html
Due: none

Added translation using Weblate (Italian)
  web_notify_channel_message/i18n/it.po
Due: none

Translated using Weblate (Spanish)
  web_notify_channel_message/i18n/es.po
Due: none

[IMP] web_notify_channel_message: black, isort, prettier
  web_notify_channel_message/README.rst
  web_notify_channel_message/pyproject.toml
  web_notify_channel_message/readme/CONTRIBUTORS.md
  web_notify_channel_message/readme/CONTRIBUTORS.rst
  web_notify_channel_message/readme/DESCRIPTION.md
  web_notify_channel_message/readme/DESCRIPTION.rst
  web_notify_channel_message/static/description/index.html
Due: prettier

[BOT] post-merge updates
  web_notify_channel_message/README.rst
  web_notify_channel_message/__manifest__.py
  web_notify_channel_message/static/description/index.html
Due: none

[ADD] web_notify_channel_message
  web_notify_channel_message/README.rst
  web_notify_channel_message/__init__.py
  web_notify_channel_message/__manifest__.py
  web_notify_channel_message/models/__init__.py
  web_notify_channel_message/models/mail_channel.py
  web_notify_channel_message/readme/CONTRIBUTORS.rst
  web_notify_channel_message/readme/DESCRIPTION.rst
Due: none

[BOT] post-merge updates
  web_notify_channel_message/README.rst
  web_notify_channel_message/static/description/index.html
Due: none

Translated using Weblate (Italian)
  web_notify_channel_message/i18n/it.po
Due: none

[MIG] web_notify_channel_message: Migration to 16.0
  web_notify_channel_message/__manifest__.py
  web_notify_channel_message/tests/__init__.py
  web_notify_channel_message/tests/test_notify_channel_message.py
Due: none

[ADD] web_widget_char_size
  web_widget_char_size/README.rst
  web_widget_char_size/__init__.py
  web_widget_char_size/__manifest__.py
  web_widget_char_size/i18n/web_widget_char_size.pot
  web_widget_char_size/readme/DESCRIPTION.rst
  web_widget_char_size/static/description/icon.png
  web_widget_char_size/static/description/index.html
  web_widget_char_size/static/src/js/char_widget.js
  web_widget_char_size/views/assets.xml
Due: prettier, eslint

[UPD] Update web_widget_char_size.pot
  web_widget_char_size/i18n/web_widget_char_size.pot
Due: none

[IMP] web_widget_char_size: pre-commit execution
  web_widget_char_size/README.rst
  web_widget_char_size/pyproject.toml
  web_widget_char_size/readme/DESCRIPTION.md
  web_widget_char_size/readme/DESCRIPTION.rst
  web_widget_char_size/static/description/index.html
Due: prettier

[BOT] post-merge updates
  web_widget_char_size/README.rst
  web_widget_char_size/static/description/index.html
Due: none

[MIG] web_widget_char_size: Migration to 18.0
  web_widget_char_size/README.rst
  web_widget_char_size/__manifest__.py
  web_widget_char_size/readme/CONTRIBUTERS.rst
  web_widget_char_size/readme/CONTRIBUTORS.md
  web_widget_char_size/static/description/index.html
  web_widget_char_size/static/src/js/char_widget.esm.js
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_widget_char_size/i18n/it.po
Due: none

[MIG] web_widget_char_size: Migration to 15.0
  web_widget_char_size/README.rst
  web_widget_char_size/__manifest__.py
  web_widget_char_size/i18n/web_widget_char_size.pot
  web_widget_char_size/readme/CONTRIBUTERS.rst
  web_widget_char_size/static/description/index.html
  web_widget_char_size/views/assets.xml
Due: prettier

[MIG] web_widget_char_size: Migration to 16.0
  web_widget_char_size/README.rst
  web_widget_char_size/__manifest__.py
  web_widget_char_size/i18n/web_widget_char_size.pot
  web_widget_char_size/readme/DESCRIPTION.rst
  web_widget_char_size/static/description/index.html
  web_widget_char_size/static/src/js/char_widget.esm.js
  web_widget_char_size/static/src/js/char_widget.js
Due: prettier, eslint

[UPD] Update web_responsive_company_color.pot
  web_responsive_company_color/i18n/web_responsive_company_color.pot
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

