Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Added translation using Weblate (Chinese (Simplified))
  web_dialog_size/i18n/zh_CN.po
Due: none

[15.0][MIG] web_dialog_size: migration to 15.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/js/web_dialog_draggable.esm.js
  web_dialog_size/static/src/js/web_dialog_size.esm.js
  web_dialog_size/static/src/xml/DialogDraggable.xml
  web_dialog_size/static/src/xml/ExpandButton.xml
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/templates/assets.xml
Due: prettier, eslint

[FIX] web_dialog_size: default_maximize
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[MIG] web_dialog_size: Migration to 12.0
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/i18n/web_dialog_size.pot
  web_dialog_size/models/ir_config_parameter.py
  web_dialog_size/readme/CONFIGURE.rst
  web_dialog_size/readme/CONTRIBUTORS.rst
  web_dialog_size/static/description/index.html
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/scss/web_dialog_size.scss
  web_dialog_size/static/src/xml/web_dialog_size.xml
  web_dialog_size/templates/assets.xml
  web_dialog_size/tests/__init__.py
  web_dialog_size/tests/test_web_dialog_size.py
Due: prettier

pre-commit update: prettier xml indent
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier

[IMP] web_dialog_size: Select default dialog size by config
  web_dialog_size/README.rst
  web_dialog_size/__openerp__.py
  web_dialog_size/static/src/css/web_dialog_size.css
  web_dialog_size/static/src/js/web_dialog_size.js
  web_dialog_size/static/src/xml/web_dialog_size.xml
Due: prettier, eslint

[FIX] #921 Fixed issue when discard a modal with draggable element
  web_dialog_size/__manifest__.py
  web_dialog_size/static/src/js/web_dialog_size.js
Due: prettier, eslint

[IMP] web_dialog_size: add task to roadmap
  web_dialog_size/README.rst
  web_dialog_size/readme/ROADMAP.rst
  web_dialog_size/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_dialog_size/README.rst
  web_dialog_size/__manifest__.py
  web_dialog_size/static/description/index.html
Due: none

[BOT] post-merge updates
  README.md
  web_environment_ribbon/README.rst
  web_environment_ribbon/__manifest__.py
  web_environment_ribbon/static/description/index.html
Due: none

[IMP] web_responsive: adjust button styles and alignment in the chatter The purpose is to reduce spacing so that all icons and buttons fit within the window without having to scroll.
  web_responsive/static/src/components/chatter/chatter.xml
Due: prettier

[BOT] post-merge updates
  README.md
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_search_with_and.pot
  web_search_with_and/i18n/web_search_with_and.pot
Due: none

Squash of 8 commits
  web_search_with_and/README.rst
  web_search_with_and/__init__.py
  web_search_with_and/__openerp__.py
  web_search_with_and/data/data.xml
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

[UPD] README.rst
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

Added translation using Weblate (Portuguese)
  web_search_with_and/i18n/pt.po
Due: none

README.rst
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

Migrate web_search_with_and from 8.0 to 10.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/data/data.xml
  web_search_with_and/static/description/icon.png
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

[16.0][MIG] web_search_with_and.
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/description/index.html
  web_search_with_and/static/src/js/control_panel_model_extension.js
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_bar.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

web_search_with_and: black, isort, prettier
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

[IMP] web_search_with_and: black, isort, prettier
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

[MIG] web_search_with_and: Migration to 17.0
  web_search_with_and/__manifest__.py
  web_search_with_and/static/src/js/search_bar.esm.js
  web_search_with_and/static/src/js/search_model.esm.js
Due: prettier, eslint

web_search_with_and: Migration to 14.0
  web_search_with_and/README.rst
  web_search_with_and/__manifest__.py
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/src/js/control_panel_model_extension.js
  web_search_with_and/static/src/js/search.js
  web_search_with_and/static/src/js/search_bar.js
  web_search_with_and/views/assets.xml
Due: prettier, eslint

[IMP] web_search_with_and: black, isort, prettier
  web_search_with_and/README.rst
  web_search_with_and/pyproject.toml
  web_search_with_and/readme/CONTRIBUTORS.md
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/readme/DESCRIPTION.md
  web_search_with_and/readme/DESCRIPTION.rst
  web_search_with_and/readme/USAGE.md
  web_search_with_and/readme/USAGE.rst
  web_search_with_and/static/description/index.html
Due: prettier

Update web_search_with_and.pot
  web_search_with_and/i18n/web_search_with_and.pot
Due: none

web_search_with_and: Migration to 11.0
  web_search_with_and/README.rst
  web_search_with_and/__init__.py
  web_search_with_and/__manifest__.py
Due: none

README.rst
  web_search_with_and/static/description/index.html
Due: none

Added translation using Weblate (Spanish)
  web_search_with_and/i18n/es.po
Due: none

Added translation using Weblate (Italian)
  web_search_with_and/i18n/it.po
Due: none

[BOT] post-merge updates
  web_search_with_and/README.rst
  web_search_with_and/static/description/index.html
Due: none

- migration web_search_with_and
  web_search_with_and/__manifest__.py
  web_search_with_and/data/data.xml
  web_search_with_and/readme/CONTRIBUTORS.rst
  web_search_with_and/static/src/js/search.js
Due: prettier, eslint

Update translation files
  web_search_with_and/i18n/es.po
  web_search_with_and/i18n/it.po
  web_search_with_and/i18n/pt.po
Due: none
