Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[FIX] web_responsive: Align checkboxes in Favourites save current search view
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

Translated using Weblate (French)
  web_responsive/i18n/fr.po
Due: none

Translated using Weblate (Croatian)
  web_responsive/i18n/hr.po
Due: none

[UPD] README.rst
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

Added translation using Weblate (Spanish (Venezuela))
  web_responsive/i18n/es_VE.po
Due: none

[FIX] web_responsive: Label width on modal
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

Added translation using Weblate (Polish)
  web_responsive/i18n/pl.po
Due: none

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

[FIX] web_responsive: fix dropdown caret visibility on website
  web_responsive/static/src/legacy/scss/website_apps_menu.scss
Due: prettier

[16.0][IMP] web_responsive: To follow the app menu icon in Odoo 16
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier

Translated using Weblate (Spanish)
  web_responsive/i18n/es.po
Due: none

[BUILD] web_responsive: resign as maintainer
  web_responsive/README.rst
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
Due: none

Revert "[FIX] web_responsive: Update z-index in apps menu.scss to fix overlapping issue:"
  web_responsive/static/src/components/apps_menu/apps_menu.scss
Due: prettier

[17.0][FIX] web_responsive: disable default file preview
  web_responsive/__manifest__.py
  web_responsive/static/description/index.html
  web_responsive/static/src/components/file_viewer/file_viewer.esm.js
  web_responsive/static/src/views/form/form_renderer.esm.js
  web_responsive/static/src/views/form/form_statusbar.scss
Due: prettier, eslint

[FIX] redundant padding on kanban card
  web_responsive/static/src/legacy/scss/kanban_view_mobile.scss
Due: prettier

[FIX] web_responsive: Click everywhere not working
  web_responsive/__manifest__.py
  web_responsive/static/src/clickbot/clickbot.esm.js
Due: prettier, eslint

Translated using Weblate (German)
  web_responsive/i18n/de.po
Due: none

[IMP] web_responsive: Remove z and x hotkeys
  web_responsive/static/src/components/hotkey/hotkey.xml
Due: prettier

web_responsive 16.0.1.0.1
  web_responsive/__manifest__.py
Due: none

[IMP] web_responsive: Remove unnecessary calendar optimisation
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

Added translation using Weblate (French (Belgium))
  web_responsive/i18n/fr_BE.po
Due: none

web_responsive 16.0.1.1.2
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: Fix blank screen on search (support menus w/o xmlid)
  web_responsive/static/src/components/menu_canonical_searchbar/searchbar.xml
Due: prettier

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/it.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/uk_UA.po
  web_responsive/i18n/zh_CN.po
Due: none

[FIX] web_responsive: Translation Button Position
  web_responsive/static/src/legacy/scss/web_responsive.scss
Due: prettier

web_responsive 15.0.1.1.6
  web_responsive/__manifest__.py
Due: none

[FIX] web_responsive: change code to be compatible upstream
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier

[FIX]-web_responsive module: Go to wrong action menu when user is set with Home Action menu
  web_responsive/static/src/components/apps_menu/apps_menu.xml
Due: prettier

[FIX] web_responsive: Fix test related to ir.actions.act_window
  web_responsive/tests/test_res_users.py
Due: none

[FIX] web_responsive: fix bug test ESLint
  web_responsive/static/src/components/apps_menu/apps_menu.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_responsive/README.rst
  web_responsive/static/description/index.html
Due: none

[UPD] Update web_responsive.pot
  web_responsive/i18n/web_responsive.pot
Due: none

Update translation files
  web_responsive/i18n/ar.po
  web_responsive/i18n/ca.po
  web_responsive/i18n/da.po
  web_responsive/i18n/de.po
  web_responsive/i18n/es.po
  web_responsive/i18n/fr.po
  web_responsive/i18n/fr_FR.po
  web_responsive/i18n/hr.po
  web_responsive/i18n/nl.po
  web_responsive/i18n/pl.po
  web_responsive/i18n/pt.po
  web_responsive/i18n/pt_BR.po
  web_responsive/i18n/ru.po
  web_responsive/i18n/tr.po
  web_responsive/i18n/uk_UA.po
  web_responsive/i18n/zh_CN.po
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

