Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_widget_x2many_2d_matrix: Remove unneeded code
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

Migration of web_widget_x2many_2d_matrix to 10.0
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/css/web_widget_x2many_2d_matrix.css
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[MIG] web_widget_x2_many_2d_matrix: Migration to 16.0
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.xml
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.xml
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_view.js
  web_widget_x2many_2d_matrix/static/src/js/abstract_view_matrix_limit_extend.js
  web_widget_x2many_2d_matrix/static/src/js/widget_x2many_2d_matrix.js
Due: prettier, eslint

[UPD] web_widget_x2many_2d_matrix dev status to Production/stable
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

[FIX] web_widget_x2many_2d_matrix: Padding in aggregate row
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/static/src/scss/web_widget_x2many_2d_matrix.scss
Due: prettier

Added translation using Weblate (Chinese (Simplified))
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

[FIX] Make matrix editable depending of the status of the parent
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

[IMP] use semantic css classes instead of element names
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

[FIX] web_widget_x2many_2d_matrix: Use existing value in load_views
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

Update translation files
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

Translated using Weblate (French)
  web_widget_x2many_2d_matrix/i18n/fr.po
Due: none

[11][MIG] web_widget_x2many_2d_matrix WIP
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__init__.py
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[12.0][FIX] web_widget_x2many_2d_matrix: README
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/readme/USAGE.rst
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[FIX]: web_widget_x2many_2d_matrix: Editable boolean
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/src/views/fields/boolean/boolean_field.esm.js
Due: prettier, eslint

[BOT] post-merge updates
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

Added translation using Weblate (Dutch)
  web_widget_x2many_2d_matrix/i18n/nl.po
Due: none

[IMP] web_widget_x2many_2d_matrix: Better options parsing
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[IMP] icon
  web_widget_x2many_2d_matrix/static/description/icon.png
Due: none

Translated using Weblate (Chinese (Simplified))
  web_widget_x2many_2d_matrix/i18n/zh_CN.po
Due: none

[IMP] web_widget_x2many_2d_matrix: center header cell
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/static/src/css/web_widget_x2many_2d_matrix.css
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
  web_widget_x2many_2d_matrix/static/src/scss/web_widget_x2many_2d_matrix.scss
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

[MIG] Rename manifest files
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

Translated using Weblate (Spanish)
  web_widget_x2many_2d_matrix/i18n/es.po
Due: none

[10.0] web_widget_x2many_2d_matrix: update README
  web_widget_x2many_2d_matrix/README.rst
Due: none

[UPD] Update web_widget_x2many_2d_matrix.pot
  web_widget_x2many_2d_matrix/i18n/web_widget_x2many_2d_matrix.pot
Due: none

web_widget_x2many_2d_matrix 15.0.1.0.1
  web_widget_x2many_2d_matrix/__manifest__.py
Due: none

[IMP] collapse whitespace in rows
  web_widget_x2many_2d_matrix/static/src/css/web_widget_x2many_2d_matrix.css
Due: prettier

Update translation files
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
Due: none

[FIX] web_widget_x2many_2d_matrix: Force render in list mode on mobile
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/readme/ROADMAP.rst
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_view.js
  web_widget_x2many_2d_matrix/views/assets.xml
Due: prettier, eslint

Translated using Weblate (Croatian)
  web_widget_x2many_2d_matrix/i18n/hr.po
Due: none

add OCA to author
  web_widget_x2many_2d_matrix/__openerp__.py
Due: none

[FIX] web_widget_x2many_2d_matrix: total cell calculation
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/static/src/js/2d_matrix_renderer.js
Due: prettier, eslint

[IMP+ web_widget_x2many_2d_matrix: Add roadmap
  web_widget_x2many_2d_matrix/README.rst
Due: none

Translated using Weblate (German)
  web_widget_x2many_2d_matrix/i18n/de.po
Due: none

[IMP] we don't need data-x and data-y on the input
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier

[IMP] web_widget_x2many_2d_matrix: New option field_att_<name>
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__openerp__.py
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
  web_widget_x2many_2d_matrix/static/src/xml/web_widget_x2many_2d_matrix.xml
Due: prettier, eslint

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/ar.po
  web_widget_x2many_2d_matrix/i18n/de.po
  web_widget_x2many_2d_matrix/i18n/es.po
  web_widget_x2many_2d_matrix/i18n/fi.po
  web_widget_x2many_2d_matrix/i18n/fr.po
  web_widget_x2many_2d_matrix/i18n/hr.po
  web_widget_x2many_2d_matrix/i18n/it.po
  web_widget_x2many_2d_matrix/i18n/lt.po
  web_widget_x2many_2d_matrix/i18n/nl_NL.po
  web_widget_x2many_2d_matrix/i18n/pt_BR.po
  web_widget_x2many_2d_matrix/i18n/sl.po
  web_widget_x2many_2d_matrix/i18n/tr.po
  web_widget_x2many_2d_matrix/static/description/index.html
Due: none

[FIX] update readonly value after editing
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

[MIG] web_widget_x2many_2d_matrix: Migration to 9.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__openerp__.py
  web_widget_x2many_2d_matrix/static/src/js/web_widget_x2many_2d_matrix.js
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

