Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)


Translated using Weblate (Italian)
  web_help/README.rst
  web_help/__manifest__.py
  web_help/i18n/it.po
  web_help/static/description/index.html
Due: none

Translated using Weblate (Slovenian)
  web_help/i18n/sl.po
Due: none

Added translation using Weblate (Spanish)
  web_help/i18n/es.po
Due: none

[FIX] web_help: Make it work for small screens
  web_help/README.rst
  web_help/i18n/web_help.pot
  web_help/readme/ROADMAP.rst
  web_help/static/description/icon.png
  web_help/static/description/index.html
  web_help/static/src/components/help_button/help_button.xml
  web_help/static/src/user_trip.esm.js
Due: prettier, eslint

web_help: Improve helpers
  web_help/static/src/components/help_button/help_button.esm.js
  web_help/static/src/components/help_button/help_button.xml
  web_help/static/src/helpers.esm.js
  web_help/static/src/trip.esm.js
  web_help/static/src/trip.xml
Due: prettier, eslint

[MIG] web_help: Migration to 19.0
  web_help/__manifest__.py
Due: none

[IMP] web_help: pre-commit auto fixes
  web_help/README.rst
  web_help/static/description/index.html
Due: none

Added translation using Weblate (Slovenian)
  web_save_discard_button/i18n/sl.po
Due: none

[MIG] web_save_discard_button: Migration to 18.0
  web_save_discard_button/README.rst
  web_save_discard_button/__manifest__.py
  web_save_discard_button/i18n/web_save_discard_button.pot
  web_save_discard_button/static/description/index.html
  web_save_discard_button/static/src/xml/template.xml
Due: prettier

Added translation using Weblate (Spanish)
  web_save_discard_button/i18n/es.po
Due: none

[IMP] web_save_discard_button: apply pre-commit auto fixes
  web_save_discard_button/README.rst
  web_save_discard_button/pyproject.toml
  web_save_discard_button/readme/CONTRIBUTORS.md
  web_save_discard_button/readme/CONTRIBUTORS.rst
  web_save_discard_button/readme/DESCRIPTION.md
  web_save_discard_button/readme/DESCRIPTION.rst
  web_save_discard_button/static/description/index.html
Due: prettier

[FIX] web_save_discard_button: readme
  web_save_discard_button/README.md
  web_save_discard_button/README.rst
  web_save_discard_button/__manifest__.py
  web_save_discard_button/static/description/index.html
Due: prettier

[MIG] web_save_discard_button: Migration to 17.0
  web_save_discard_button/README.rst
  web_save_discard_button/__manifest__.py
  web_save_discard_button/i18n/web_save_discard_button.pot
  web_save_discard_button/readme/CONTRIBUTORS.md
  web_save_discard_button/static/description/index.html
  web_save_discard_button/static/src/scss/indicator_button.scss
  web_save_discard_button/static/src/xml/template.xml
Due: prettier

Added translation using Weblate (Italian)
  web_save_discard_button/i18n/it.po
Due: none

[ADD] web_save_discard_button module
  web_save_discard_button/README.md
  web_save_discard_button/__init__.py
  web_save_discard_button/__manifest__.py
  web_save_discard_button/models/__init__.py
  web_save_discard_button/models/ir_http.py
  web_save_discard_button/readme/CONTRIBUTORS.rst
  web_save_discard_button/readme/DESCRIPTION.rst
  web_save_discard_button/static/description/icon.png
  web_save_discard_button/static/description/save_button.png
  web_save_discard_button/static/src/scss/indicator_button.scss
  web_save_discard_button/static/src/xml/template.xml
Due: prettier

Translated using Weblate (Slovenian)
  web_save_discard_button/i18n/sl.po
Due: none

[ADD] web_save_discard_button : french translation
  web_save_discard_button/README.rst
  web_save_discard_button/__manifest__.py
  web_save_discard_button/i18n/fr.po
  web_save_discard_button/i18n/web_save_discard_button.pot
  web_save_discard_button/static/description/index.html
Due: none

[IMP] web_save_discard_button: pre-commit auto fixes
  web_save_discard_button/README.rst
  web_save_discard_button/static/description/index.html
Due: none

[MIG] web_save_discard_button: Migration to 19.0
  web_save_discard_button/__init__.py
  web_save_discard_button/__manifest__.py
  web_save_discard_button/models/__init__.py
  web_save_discard_button/models/ir_http.py
Due: none

[IMP] web_save_discard_button: test Save/Discard button labels
  web_save_discard_button/__manifest__.py
  web_save_discard_button/static/tests/form_status_indicator.test.js
  web_save_discard_button/tests/__init__.py
  web_save_discard_button/tests/test_web_save_discard_button.py
Due: prettier, eslint

[FIX] web_help: render the help button in action dialogs
  web_help/__manifest__.py
  web_help/static/src/components/help_button/help_button.esm.js
  web_help/static/tests/help_button.test.js
  web_help/tests/__init__.py
  web_help/tests/test_web_help.py
Due: prettier, eslint

[IMP] web_help: refresh description screenshots + demo to 19.0
  web_help/static/description/changepassword.png
  web_help/static/description/demo.gif
  web_help/static/description/viewswitcher.png
Due: none

[16.0][ADD] web_sort_menu: Module web_sort_menu
  web_sort_menu/README.rst
  web_sort_menu/__init__.py
  web_sort_menu/__manifest__.py
  web_sort_menu/readme/CONTRIBUTORS.rst
  web_sort_menu/readme/DESCRIPTION.rst
  web_sort_menu/readme/USAGE.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
  web_sort_menu/static/src/js/sort_app_menu.esm.js
  web_sort_menu/static/src/xml/sort_app_menu.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_sort_menu/i18n/it.po
Due: none

[MIG] web_sort_menu: Migration to 18.0
  web_sort_menu/README.rst
  web_sort_menu/__manifest__.py
  web_sort_menu/i18n/web_sort_menu.pot
  web_sort_menu/pyproject.toml
  web_sort_menu/readme/CONTRIBUTORS.md
  web_sort_menu/readme/CONTRIBUTORS.rst
  web_sort_menu/readme/DESCRIPTION.md
  web_sort_menu/readme/DESCRIPTION.rst
  web_sort_menu/readme/USAGE.md
  web_sort_menu/readme/USAGE.rst
  web_sort_menu/static/description/icon.png
  web_sort_menu/static/description/index.html
  web_sort_menu/static/src/js/sort_app_menu.esm.js
  web_sort_menu/static/src/xml/sort_app_menu.xml
Due: prettier, eslint

[MIG] web_sort_menu: Migration to 19.0
  web_sort_menu/__manifest__.py
Due: none

[IMP] web_sort_menu: pre-commit auto fixes
  web_sort_menu/README.rst
  web_sort_menu/static/description/index.html
Due: none

[IMP] web_sort_menu: test apps menu is sorted
  web_sort_menu/__manifest__.py
  web_sort_menu/static/tests/sort_app_menu.test.js
  web_sort_menu/tests/__init__.py
  web_sort_menu/tests/test_web_sort_menu.py
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_toggle_chatter/i18n/it.po
Due: none

[ADD] web_toggle_chatter
  web_toggle_chatter/README.rst
  web_toggle_chatter/__init__.py
  web_toggle_chatter/__manifest__.py
  web_toggle_chatter/i18n/web_toggle_chatter.pot
  web_toggle_chatter/pyproject.toml
  web_toggle_chatter/readme/CONTRIBUTORS.md
  web_toggle_chatter/readme/DESCRIPTION.md
  web_toggle_chatter/static/description/icon.png
  web_toggle_chatter/static/description/index.html
  web_toggle_chatter/static/img/demo.gif
  web_toggle_chatter/static/src/js/web_toggle_chatter.esm.js
  web_toggle_chatter/static/src/scss/web_toggle_chatter.scss
  web_toggle_chatter/static/src/xml/web_toggle_chatter.xml
  web_toggle_chatter/static/tests/web_toggle_chatter.test.js
Due: prettier, eslint

[IMP] web_toggle_chatter: pre-commit auto fixes
  web_toggle_chatter/README.rst
  web_toggle_chatter/static/description/index.html
Due: none

[MIG] web_toggle_chatter: Migration to 19.0
  web_toggle_chatter/__manifest__.py
Due: none

[ADD] web_systray_button_init_action: New module to go to users defined action
  web_systray_button_init_action/README.rst
  web_systray_button_init_action/__init__.py
  web_systray_button_init_action/__manifest__.py
  web_systray_button_init_action/i18n/web_systray_button_init_action.pot
  web_systray_button_init_action/readme/CONFIGURE.rst
  web_systray_button_init_action/readme/CONTRIBUTORS.rst
  web_systray_button_init_action/readme/DESCRIPTION.rst
  web_systray_button_init_action/static/description/icon.png
  web_systray_button_init_action/static/description/index.html
  web_systray_button_init_action/static/src/button/button.esm.js
  web_systray_button_init_action/static/src/button/button.xml
  web_systray_button_init_action/static/src/tours/tour.esm.js
  web_systray_button_init_action/tests/__init__.py
  web_systray_button_init_action/tests/test_web_systray_button_init_action.py
Due: prettier, eslint

[IMP] web_systray_button_init_action: pre-commit auto fixes
  web_systray_button_init_action/README.rst
  web_systray_button_init_action/pyproject.toml
  web_systray_button_init_action/readme/CONFIGURE.md
  web_systray_button_init_action/readme/CONFIGURE.rst
  web_systray_button_init_action/readme/CONTRIBUTORS.md
  web_systray_button_init_action/readme/CONTRIBUTORS.rst
  web_systray_button_init_action/readme/DESCRIPTION.md
  web_systray_button_init_action/readme/DESCRIPTION.rst
  web_systray_button_init_action/static/description/index.html
Due: prettier

[MIG] web_systray_button_init_action: Migration to 18.0
  web_systray_button_init_action/README.rst
  web_systray_button_init_action/__manifest__.py
  web_systray_button_init_action/i18n/web_systray_button_init_action.pot
  web_systray_button_init_action/static/description/index.html
  web_systray_button_init_action/static/src/button/button.esm.js
  web_systray_button_init_action/static/src/button/button.scss
  web_systray_button_init_action/static/src/button/button.xml
  web_systray_button_init_action/static/src/tours/tour.esm.js
  web_systray_button_init_action/tests/test_web_systray_button_init_action.py
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_systray_button_init_action/i18n/it.po
Due: none

[FIX] web_systray_button_init_action: Add test: true to tours according to previous version
  web_systray_button_init_action/README.rst
  web_systray_button_init_action/__manifest__.py
  web_systray_button_init_action/static/description/index.html
  web_systray_button_init_action/static/src/tours/tour.esm.js
Due: prettier, eslint

Added translation using Weblate (Slovenian)
  web_systray_button_init_action/i18n/sl.po
Due: none

Translated using Weblate (Slovenian)
  web_systray_button_init_action/i18n/sl.po
Due: none

Translated using Weblate (Italian)
  web_systray_button_init_action/i18n/it.po
Due: none
