Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

Translated using Weblate (Slovenian)
  web_widget_pattern/i18n/sl.po
Due: none

Added translation using Weblate (Slovenian)
  web_time_range_menu_custom/i18n/sl.po
Due: none

Translated using Weblate (Slovenian)
  web_time_range_menu_custom/i18n/sl.po
Due: none

[IMP] web_copy_confirm: pre-commit stuff
  web_copy_confirm/__manifest__.py
Due: none

Added translation using Weblate (German)
  web_copy_confirm/i18n/de.po
Due: none

[IMP] web_copy_confirm: black, isort, prettier
  web_copy_confirm/__openerp__.py
  web_copy_confirm/static/src/js/web_copy_confirm.js
  web_copy_confirm/views/assets.xml
Due: prettier, eslint

[ADD] Ask for confirmation when copying records
  web_copy_confirm/README.rst
  web_copy_confirm/__init__.py
  web_copy_confirm/__openerp__.py
  web_copy_confirm/i18n/web_copy_confirm.pot
  web_copy_confirm/static/description/icon.png
  web_copy_confirm/static/src/js/web_copy_confirm.js
  web_copy_confirm/views/assets.xml
Due: prettier, eslint

[IMP] web_copy_confirm: pre-commit auto fixes
  web_copy_confirm/README.rst
  web_copy_confirm/pyproject.toml
  web_copy_confirm/readme/CONTRIBUTORS.md
  web_copy_confirm/readme/CONTRIBUTORS.rst
  web_copy_confirm/readme/DESCRIPTION.md
  web_copy_confirm/readme/DESCRIPTION.rst
  web_copy_confirm/readme/HISTORY.md
  web_copy_confirm/readme/HISTORY.rst
  web_copy_confirm/static/description/index.html
Due: prettier

Added translation using Weblate (French)
  web_copy_confirm/i18n/fr.po
Due: none

[MIG] web_copy_confirm: Migration to 14.0
  web_copy_confirm/README.rst
  web_copy_confirm/__manifest__.py
  web_copy_confirm/i18n/web_copy_confirm.pot
  web_copy_confirm/readme/CONTRIBUTORS.rst
  web_copy_confirm/readme/DESCRIPTION.rst
  web_copy_confirm/readme/HISTORY.rst
  web_copy_confirm/readme/newsfragments/.gitkeep
  web_copy_confirm/static/description/index.html
  web_copy_confirm/static/src/js/web_copy_confirm.js
  web_copy_confirm/static/tests/confirm_tests.js
  web_copy_confirm/views/assets.xml
Due: prettier, eslint

Added translation using Weblate (Italian)
  web_copy_confirm/i18n/it.po
Due: none

[MIG] web_copy_confirm: Migration to 18.0
  web_copy_confirm/README.rst
  web_copy_confirm/__manifest__.py
  web_copy_confirm/i18n/web_copy_confirm.pot
  web_copy_confirm/static/description/index.html
  web_copy_confirm/static/src/js/web_copy_confirm.esm.js
  web_copy_confirm/static/tests/confirm.test.js
  web_copy_confirm/static/tests/confirm_tests.js
Due: prettier, eslint

[MIG] web_copy_confirm: Migration to 16.0
  web_copy_confirm/README.rst
  web_copy_confirm/__manifest__.py
  web_copy_confirm/i18n/de.po
  web_copy_confirm/i18n/web_copy_confirm.pot
  web_copy_confirm/readme/CONTRIBUTORS.rst
  web_copy_confirm/readme/newsfragments/.gitkeep
  web_copy_confirm/static/description/index.html
  web_copy_confirm/static/src/js/web_copy_confirm.esm.js
  web_copy_confirm/static/src/js/web_copy_confirm.js
Due: prettier, eslint

[MIG] web_copy_confirm: Migration to 19.0
  web_copy_confirm/README.rst
  web_copy_confirm/__manifest__.py
  web_copy_confirm/readme/CONTRIBUTORS.md
  web_copy_confirm/static/description/index.html
  web_copy_confirm/static/src/js/web_copy_confirm.esm.js
Due: prettier, eslint

[MIG] web_copy_confirm: Migration to 15.0
  web_copy_confirm/README.rst
  web_copy_confirm/__manifest__.py
  web_copy_confirm/i18n/web_copy_confirm.pot
  web_copy_confirm/static/description/index.html
  web_copy_confirm/views/assets.xml
Due: prettier

[IMP] web_send_message_popup: pre-commit auto fixes
  web_send_message_popup/README.rst
  web_send_message_popup/static/description/index.html
Due: none

[MIG] web_send_message_popup: Migration to 19.0
  web_send_message_popup/__manifest__.py
  web_send_message_popup/readme/ROADMAP.md
  web_send_message_popup/static/src/chatter/web/chatter_patch.esm.js
Due: prettier, eslint

[IMP] web_send_message_popup: test full composer popup
  web_send_message_popup/static/tests/chatter_patch.test.js
  web_send_message_popup/tests/__init__.py
  web_send_message_popup/tests/test_web_send_message_popup.py
Due: prettier, eslint

[MIG] web_quick_start_screen: Migration to 19.0
  web_quick_start_screen/README.rst
  web_quick_start_screen/__manifest__.py
  web_quick_start_screen/demo/quick_screen_action_demo_data.xml
  web_quick_start_screen/i18n/es.po
  web_quick_start_screen/i18n/it.po
  web_quick_start_screen/i18n/web_quick_start_screen.pot
  web_quick_start_screen/models/quick_start_screen.py
  web_quick_start_screen/models/quick_start_screen_action.py
  web_quick_start_screen/readme/CONFIGURE.md
  web_quick_start_screen/security/security.xml
  web_quick_start_screen/static/description/index.html
  web_quick_start_screen/tests/__init__.py
  web_quick_start_screen/tests/test_web_quick_start_screen.py
  web_quick_start_screen/tests/test_web_quick_start_screen_common.py
  web_quick_start_screen/views/quick_start_screen_views.xml
  web_quick_start_screen/views/res_users_views.xml
Due: prettier

[UPD] Update web_quick_start_screen.pot
  web_quick_start_screen/i18n/web_quick_start_screen.pot
Due: none

[BOT] post-merge updates
  README.md
  setup/_metapackage/pyproject.toml
  web_quick_start_screen/README.rst
  web_quick_start_screen/static/description/index.html
Due: none

[MIG] web_form_view_resizable: Migration to 19.0
  web_form_view_resizable/README.rst
  web_form_view_resizable/__manifest__.py
  web_form_view_resizable/readme/CONTRIBUTORS.md
  web_form_view_resizable/static/description/index.html
  web_form_view_resizable/static/src/js/form_view_resizable.esm.js
  web_form_view_resizable/static/src/scss/form_view_resizable.scss
Due: prettier, eslint

[19.0][FIX] web_notify: env._t is not a function
  web_notify/static/src/js/services/notification_services.esm.js
Due: prettier, eslint

[IMP] web_timeline: Add date picker to jump at given date
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.xml
Due: prettier, eslint

[FIX] web_timeline: Better handling of multi group by fields
  web_timeline/static/src/views/timeline/timeline_arch_parser.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[IMP] web_timeline - support multi group by level
  web_timeline/README.rst
  web_timeline/readme/USAGE.md
  web_timeline/static/description/index.html
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[IMP] web_timeline - support group by date/datetime fields by year|quarter|month|week|day
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_model.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[IMP] web_timeline - set m2m group value as default when creating record
  web_timeline/static/src/views/timeline/timeline_controller.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[IMP] web_timeline: Add show_only_active_groups option to restrict visible groups to currently shown events
  web_timeline/readme/CONFIGURE.md
  web_timeline/static/src/views/timeline/timeline_arch_parser.esm.js
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

[FIX] web_timeline: Fix nested nested groups visibility (+ perf)
  web_timeline/static/src/views/timeline/timeline_renderer.esm.js
Due: prettier, eslint

Translated using Weblate (Italian)
  web_widget_x2many_2d_matrix/i18n/it.po
Due: none

Translated using Weblate (Slovenian)
  web_widget_x2many_2d_matrix/i18n/sl.po
Due: none

[18.0][FIX] web_widget_x2many_2d_matrix: fix sticky header/column overlap
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

[MIG] web_widget_x2many_2d_matrix: Migration to 19.0
  web_widget_x2many_2d_matrix/README.rst
  web_widget_x2many_2d_matrix/__manifest__.py
  web_widget_x2many_2d_matrix/demo/res_groups_views.xml
  web_widget_x2many_2d_matrix/static/description/index.html
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
Due: prettier, eslint

[18.0][FIX] web_widget_x2many_2d_matrix: monetary field display
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

[IMP] hide input border on monetary fields
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_field/x2many_2d_matrix_field.scss
Due: prettier

Translated using Weblate (Spanish)
  web_widget_x2many_2d_matrix/i18n/es.po
Due: none

[18.0][FIX] web_widget_x2many_2d_matrix: fix total updates
  web_widget_x2many_2d_matrix/static/src/components/x2many_2d_matrix_renderer/x2many_2d_matrix_renderer.esm.js
  web_widget_x2many_2d_matrix/static/tests/web_widget_x2many_2d_matrix.test.js
  web_widget_x2many_2d_matrix/tests/test_web_widget_x2many_2d_matrix.py
Due: prettier, eslint

Update translation files
  web_widget_numeric_step/i18n/de.po
  web_widget_numeric_step/i18n/es.po
  web_widget_numeric_step/i18n/fr.po
  web_widget_numeric_step/i18n/it.po
Due: none

[FIX] web_widget_numeric_step: list view column min width
  web_widget_numeric_step/README.rst
  web_widget_numeric_step/__manifest__.py
  web_widget_numeric_step/static/description/index.html
  web_widget_numeric_step/static/src/numeric_step.scss
Due: prettier

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

