Repository OCA/web: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, en-po-files, prettier, eslint

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

en-po-files:
  name: en.po files cannot exist
  entry: found a en.po file
  language: fail

prettier:
  name: prettier (with plugin-xml)
  entry: prettier
  args:
  - --write
  - --list-different
  - --ignore-unknown
  language: node
  additional_dependencies:
  - prettier@3.3.3
  - '@prettier/plugin-xml@3.4.1'

eslint:
  name: eslint
  entry: eslint
  args:
  - --color
  - --fix
  verbose: true
  language: node
  additional_dependencies:
  - eslint@9.12.0
  - eslint-plugin-jsdoc@50.3.1

[IMP] web_ir_actions_close_wizard_refresh_view: pre-commit stuff
  web_ir_actions_close_wizard_refresh_view/README.rst
  web_ir_actions_close_wizard_refresh_view/pyproject.toml
  web_ir_actions_close_wizard_refresh_view/readme/DESCRIPTION.md
  web_ir_actions_close_wizard_refresh_view/readme/DESCRIPTION.rst
  web_ir_actions_close_wizard_refresh_view/readme/USAGE.md
  web_ir_actions_close_wizard_refresh_view/static/description/index.html
Due: prettier

[MIG] web_ir_actions_close_wizard_refresh_view: Migration to 16.0
  web_ir_actions_close_wizard_refresh_view/__manifest__.py
Due: none

18.0 [ADD] web_hierarchy_list
  web_hierarchy_list/__init__.py
  web_hierarchy_list/__manifest__.py
  web_hierarchy_list/pyproject.toml
  web_hierarchy_list/static/description/icon.png
  web_hierarchy_list/static/src/hierarchy_list_arch_parser.esm.js
  web_hierarchy_list/static/src/hierarchy_list_arch_utils.esm.js
  web_hierarchy_list/static/src/hierarchy_list_breadcrumb.esm.js
  web_hierarchy_list/static/src/hierarchy_list_breadcrumb.xml
  web_hierarchy_list/static/src/hierarchy_list_breadcrumb_item.esm.js
  web_hierarchy_list/static/src/hierarchy_list_breadcrumb_item.xml
  web_hierarchy_list/static/src/hierarchy_list_controller.esm.js
  web_hierarchy_list/static/src/hierarchy_list_controller.xml
  web_hierarchy_list/static/src/hierarchy_list_model.esm.js
  web_hierarchy_list/static/src/hierarchy_list_renderer.esm.js
  web_hierarchy_list/static/src/hierarchy_list_renderer.scss
  web_hierarchy_list/static/src/hierarchy_list_renderer.xml
  web_hierarchy_list/static/src/hierarchy_list_view.esm.js
  web_hierarchy_list/static/src/hierarchy_list_x2many_field.esm.js
  web_hierarchy_list/static/src/hierarchy_list_x2many_field.xml
Due: prettier, eslint

[16.0][IMP] web_timeline - implement attribute group_edit to control group update
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[16.0][IMP] web_timeline: implementing readonly_field: a boolean field to mark the event as not editable in vis-timeline
  web_timeline/static/src/js/timeline_renderer.js
  web_timeline/static/src/js/timeline_view.js
Due: prettier, eslint

[12.0][ADD] web_translate_dialog: remove hidden field from wizzard
  web_translate_dialog/static/src/js/web_translate_dialog.js
Due: prettier, eslint

[FIX] Fixed issue of a options not working.
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[ADD] web_url_default_fields_values
  setup/web_url_default_fields_values/odoo/addons/web_url_default_fields_values
  setup/web_url_default_fields_values/setup.py
  web_url_default_fields_values/README.rst
  web_url_default_fields_values/__init__.py
  web_url_default_fields_values/__manifest__.py
  web_url_default_fields_values/readme/CONTRIBUTORS.md
  web_url_default_fields_values/readme/DESCRIPTION.md
  web_url_default_fields_values/static/description/index.html
  web_url_default_fields_values/static/img/sshot.png
  web_url_default_fields_values/static/src/components/action_service.esm.js
Due: prettier, eslint

[FIX] web_m2x_options: disable create button in search more dialog when create=False
  web_m2x_options/static/src/components/form.esm.js
Due: prettier, eslint

[ADD] web_kanban_groupby: new module
  setup/web_kanban_groupby/odoo/addons/web_kanban_groupby
  setup/web_kanban_groupby/setup.py
  web_kanban_groupby/README.rst
  web_kanban_groupby/__init__.py
  web_kanban_groupby/__manifest__.py
  web_kanban_groupby/readme/CONTRIBUTORS.md
  web_kanban_groupby/readme/DESCRIPTION.md
  web_kanban_groupby/readme/ROADMAP.md
  web_kanban_groupby/static/description/index.html
  web_kanban_groupby/static/src/js/kanban_column.esm.js
  web_kanban_groupby/static/src/js/kanban_renderer.esm.js
  web_kanban_groupby/static/src/js/kanban_view.esm.js
Due: prettier, eslint

[FIX] pre-commit
  web_tree_dynamic_colored_field/static/description/index.html
  web_tree_dynamic_colored_field/static/src/js/list_renderer.esm.js
Due: prettier, eslint

[IMP] web_theme_classic : Do not set border-bottom to required field, as the field has now a background-color
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[ADD] new module web_theme_classic to identify better buttons and fields in Odoo form views
  web_theme_classic/README.rst
  web_theme_classic/__init__.py
  web_theme_classic/__manifest__.py
  web_theme_classic/readme/CONTRIBUTORS.rst
  web_theme_classic/readme/DESCRIPTION.rst
  web_theme_classic/readme/ROADMAP.rst
  web_theme_classic/static/description/product_template_form_with_module.png
  web_theme_classic/static/description/product_template_form_without_module.png
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[MIG] web_theme_classic from 16.0 to 17.0
  web_theme_classic/README.rst
  web_theme_classic/__manifest__.py
  web_theme_classic/readme/DESCRIPTION.rst
  web_theme_classic/static/description/index.html
  web_theme_classic/static/description/product_template_form_with_module.png
  web_theme_classic/static/description/product_template_form_without_module.png
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[REF] use new readme conventions. (replace rst by md files)
  web_theme_classic/README.rst
  web_theme_classic/readme/CONTRIBUTORS.md
  web_theme_classic/readme/CONTRIBUTORS.rst
  web_theme_classic/readme/DESCRIPTION.md
  web_theme_classic/readme/DESCRIPTION.rst
  web_theme_classic/readme/ROADMAP.rst
  web_theme_classic/static/description/index.html
Due: none

[UPD] README.rst
  web_theme_classic/README.rst
  web_theme_classic/static/description/index.html
Due: none

Added translation using Weblate (French)
  web_theme_classic/i18n/fr.po
Due: none

Added translation using Weblate (Italian)
  web_theme_classic/i18n/it.po
Due: none

Deleted translation using Weblate (French)
  web_theme_classic/i18n/fr.po
Due: none

[IMP] web_theme_classic : Do not display required color on readonly fields
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[ADD] icon.png
  web_theme_classic/static/description/icon.png
Due: none

[IMP] web_theme_classic: black, isort, prettier
  web_theme_classic/pyproject.toml
Due: prettier

[UPD] Update web_theme_classic.pot
  web_theme_classic/i18n/web_theme_classic.pot
Due: none

add some pixels left/right on input fields
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[BOT] post-merge updates
  web_theme_classic/README.rst
  web_theme_classic/static/description/index.html
Due: none

[FIX] web_theme_classic : remove obsolete xml declaration.
  web_theme_classic/static/description/index.html
Due: none

web_theme_classic 16.0.1.0.2
  web_theme_classic/__manifest__.py
Due: none

[MIG] web_theme_classic: Migration to 18.0
  web_theme_classic/__manifest__.py
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[MIG] web_theme_classic: Migration to 18.0
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[MIG] web_theme_classic: Migration to 18.0
  web_theme_classic/README.rst
  web_theme_classic/static/description/index.html
  web_theme_classic/static/src/scss/web_theme_classic.scss
Due: prettier

[ADD] web_widget_many2many_binary_preview
  setup/web_widget_many2many_binary_preview/odoo/addons/web_widget_many2many_binary_preview
  setup/web_widget_many2many_binary_preview/setup.py
  web_widget_many2many_binary_preview/README.rst
  web_widget_many2many_binary_preview/__init__.py
  web_widget_many2many_binary_preview/__manifest__.py
  web_widget_many2many_binary_preview/readme/CONTRIBUTORS.md
  web_widget_many2many_binary_preview/readme/DESCRIPTION.md
  web_widget_many2many_binary_preview/readme/USAGE.md
  web_widget_many2many_binary_preview/static/description/icon.png
  web_widget_many2many_binary_preview/static/description/index.html
  web_widget_many2many_binary_preview/static/src/web_widget_many2many_binary_preview.esm.js
  web_widget_many2many_binary_preview/static/src/web_widget_many2many_binary_preview.xml
Due: prettier, eslint

[MIG] backport web_widget_many2many_binary_preview to v14
  web_widget_many2many_binary_preview/README.rst
  web_widget_many2many_binary_preview/__manifest__.py
  web_widget_many2many_binary_preview/static/description/index.html
  web_widget_many2many_binary_preview/static/src/web_widget_many2many_binary_preview.esm.js
  web_widget_many2many_binary_preview/static/src/web_widget_many2many_binary_preview.js
  web_widget_many2many_binary_preview/static/src/web_widget_many2many_binary_preview.xml
  web_widget_many2many_binary_preview/views/templates.xml
Due: prettier, eslint

[ADD] web_m2x_options: display last selected records at first when selecting a value in a many2one before the user types something
  web_m2x_options/README.rst
  web_m2x_options/__manifest__.py
  web_m2x_options/models/ir_config_parameter.py
  web_m2x_options/readme/USAGE.rst
  web_m2x_options/static/src/components/form.esm.js
  web_m2x_options/static/src/components/relational_utils.esm.js
  web_m2x_options/static/src/utils/mru.esm.js
Due: prettier, eslint

[IMP] web_responsive: Add search feature (#838)
  web_responsive/__manifest__.py
  web_responsive/readme/DESCRIPTION.rst
  web_responsive/readme/ROADMAP.rst
  web_responsive/static/lib/css/drawer.3.2.2.css
  web_responsive/static/lib/js/bililiteRange.2.6.js
  web_responsive/static/lib/js/drawer.3.2.2.js
  web_responsive/static/lib/js/jquery.sendkeys.4.js
  web_responsive/static/src/js/web_responsive.js
  web_responsive/static/src/less/app_drawer.less
  web_responsive/static/src/xml/app_drawer_menu_search.xml
  web_responsive/views/assets.xml
  web_responsive/views/web.xml
Due: prettier, eslint

[MIG] web_responsive test to 11.0
  web_responsive/static/tests/js/web_responsive.js
  web_responsive/tests/__init__.py
Due: prettier, eslint

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  en-po-files: any of: [a-zA-Z0-9_]*/i18n/en\.po$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  prettier: any of: \.(css|htm|html|js|json|jsx|less|md|scss|toml|ts|xml|yaml|yml)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

  eslint: any of: \.(js|mjs|cjs)$, but not: (?x)
# NOT INSTALLABLE ADDONS
# END NOT INSTALLABLE ADDONS
# Files and folders generated by bots, to avoid loops
^setup/|/static/description/index\.html$|
# We don't want to mess with tool-generated files
.svg$|/tests/([^/]+/)?cassettes/|^.copier-answers.yml$|^.github/|^eslint.config.cjs|^prettier.config.cjs|
# Maybe reactivate this when all README files include prettier ignore tags?
^README\.md$|
# Library files can have extraneous formatting (even minimized)
/static/(src/)?lib/|
# Repos using Sphinx to generate docs don't need prettying
^docs/_templates/.*\.html$|
# Don't bother non-technical authors with formatting issues in docs
readme/.*\.(rst|md)$|
# Ignore build and dist directories in addons
/build/|/dist/|
# Ignore test files in addons
/tests/samples/.*|
# You don't usually want a bot to modify your legal texts
(LICENSE.*|COPYING.*)

